{% extends "overall_layout.html" %}
{% macro character_color_macro() %}{% block character_color %}{% endblock %}{% endmacro %}
{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='round.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='character-round.css') }}">
    <style>
    body {
      background-image: url("{{ url_for('static', filename='PNG-export/map/repeating-fog.png') }}");
      background-color: {{ character_color_macro() }};
      background-blend-mode: overlay;
    }
    </style>
    <!--[if IE]>
    <style>
            body:before {
                 content: "";
                 position: fixed;
                 top: 0;
                 left: 0;
                 height: 100%;
                 min-height: 100vh;
                 width: 100%;
                 min-width: 100vw;
                 background: {{ character_color_macro() }};
                 opacity: 0.5;
                 z-index: -3000;
             }
     </style>
    <![endif]-->
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(round_id) }}">Check answer</a></div>
{% endblock %}

{% block overall_layout_body %}
<div id="round-container">
    <div id="header" class="standard-horizontal-scroll">
      <div class="horizontal-enscrolled-left"></div><div class="horizontal-enscrolled-middle">
        <div class="horizontal-enscrolled-text">{% block round_name %}{% endblock %}</div>
      </div><div class="horizontal-enscrolled-right"></div>
    </div>
    <div id="character-display">
      <div id="character-level-container">
        <img src="{{ url_for('static', filename='PNG-export/characters/%s-logo.png' % round_id) }}" style="width:80px;height:80px;"/>
        <span id="character-level-value">
          {{ team_properties.teamProperties.CharacterLevelsProperty.levels.get(round_id.upper(), 0) if team_properties else 'NA' }}
        </span>
      </div>
      <img id="character-image" src="{{ url_for('static', filename='PNG-export/characters/%s-full.png' % round_id) }}"/>
    </div>
    <div id="puzzle-list">
      <div class="parchmented">
        {% block round_puzzle_entries %}{% endblock %}
      </div>
    </div>
</div>
{% endblock %}

{% macro puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) %}
  {% set puzzle_link_action = 'full_puzzle' if full_access else 'puzzle' %}
  {% set link_puzzle_id = puzzle_properties.get(puzzle_id,{}).get('puzzleProperties',{}).get('DisplayIdProperty',{}).get('displayId',puzzle_id) %}
  {% if puzzle_visibilities.get(puzzle_id).status == 'UNLOCKED' %}
    <div class="puzzle-entry">
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span><img src="{{ url_for('static', filename='PNG-export/characters/%s-logo.png' % round_id) }}" style="width:24px;height:24px;vertical-align:bottom;"/></span>
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'SOLVED' %}
    <div class="puzzle-entry">
      <span><img src="{{ url_for('static', filename='PNG-export/icons/completion-logo.png') }}" style="width:24px;height:24px;vertical-align:bottom;"/></span>
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span>
        <span class="puzzle-solution">
          {% for answer in puzzle_properties.get(puzzle_id).puzzleProperties.AnswersProperty.answers %}
            {{ answer.get('canonicalAnswer','') }}
          {% endfor %}
        </span>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'VISIBLE' %}
    <div class="puzzle-entry">
      <span class="puzzle-name"><span class="fa fa-key"></span>
        {% set unlock_requirement = single_character_unlock_requirement(puzzle_properties.get(puzzle_id).puzzleProperties) %}
        {% if unlock_requirement.character %}
          <span>Unlock at <span class="level-requirement"><img src="{{ url_for('static', filename='PNG-export/characters/%s-logo.png' % (unlock_requirement.character)|lower) }}" style="width:24px;height:24px;vertical-align:bottom;"/> {{ unlock_requirement.levels }}</span></span>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endmacro %}