{% extends "overall_layout.html" %}
{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='character-round.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block overall_layout_body %}
<div id="round-container">
  <div id="left-sidebar">
    <div id="character-display">
      <img src="{{ asset_url_for('general/stock-%s-full-200px-wide.jpg' % round_id) }}">
      <div id="character-level-container" style="background-image: url({{ asset_url_for('general/icon-small-%s.png' % round_id) }})">{{ team_properties.teamProperties.CharacterLevelsProperty.levels.get(round_id.upper(), 0) }}</div>
    </div>
    <div id="navigation">
      <a href="{{ url_for('index') }}"><span class="enscrolled"><span>Back to World Map</span></span></a>
    </div>
  </div>
  <div id="puzzle-container">
    <div id="header">
      <span class="enscrolled"><span>{% block round_name %}{% endblock %}</span></span>
    </div>
    <div id="round-text">
      {% block round_flavortext %}{% endblock %}
    </div>
    <div id="puzzle-list">
      {% block round_puzzle_entries %}{% endblock %}
    </div>
  </div>
  <br class="clear-both">
</div>
{% endblock %}

{% macro puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) %}
  {% if puzzle_visibilities.get(puzzle_id).status == 'UNLOCKED' %}
    <div class="puzzle-entry">
      <a href="{{ url_for('puzzle', puzzle_id = puzzle_id) }}">
        <span class="prereq-reward-container">
          {% set solve_reward = single_character_reward(puzzle_properties.get(puzzle_id).puzzleProperties) %}
          <div class="prereq-reward-label">ON SOLVE</div>
          <div class="class-icon-container" style="background-image: url({{ asset_url_for ('general/icon-small-%s.png' % solve_reward.character.lower()) }})">+{{ solve_reward.levels }}</div>
        </span>
        <div class="puzzle-information">
          <div class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</div>
        </div>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'SOLVED' %}
    <div class="puzzle-entry">
      <a href="{{ url_for('puzzle', puzzle_id = puzzle_id) }}">
        <span class="prereq-reward-container">
          {% set solve_reward = single_character_reward(puzzle_properties.get(puzzle_id).puzzleProperties) %}
            <div class="prereq-reward-label">SOLVED</div>
            <div class="class-icon-container"><span class="fa fa-check"></span></div>
        </span>
        <div class="puzzle-information">
          <div class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</div>
          <div class="puzzle-solution">{{ puzzle_properties.get(puzzle_id).puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}</div>
        </div>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'VISIBLE' %}
    <div class="puzzle-entry">
        <span class="prereq-reward-container">
            <div class="prereq-reward-label">UNLOCK AT</div>
            {% set unlock_requirement = single_character_unlock_requirement(puzzle_properties.get(puzzle_id).puzzleProperties) %}
            <div class="class-icon-container" style="background-image: url({{ asset_url_for ('general/icon-small-' + unlock_requirement.character.lower() + '.png') }})">
              {{ unlock_requirement.levels }}
            </div>
        </span>
        <div class="puzzle-information">
        </div>
    </div>
  {% endif %}
{% endmacro %}