{% extends "rounds/character_round_layout.html" %}
{% block round_name %}
The Chemist
{% endblock %}

{% block round_flavortext %}
Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... Chemist text... 
{% endblock %}