{% extends "rounds/character_round_layout.html" %}
{% block title_block %}The Cleric{% endblock %}
{% block round_name %}The Cleric{% endblock %}

{% block round_flavortext %}
Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... Cleric text... 
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column" id="puzzle-list-column-left">
  {% for puzzle_id in ['cl-l1','cl-l2','cl-l3','cl-l4','cl-l5'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
<div class="puzzle-list-column" id="puzzle-list-column-right">
  {% for puzzle_id in ['cl-r1','cl-r2','cl-r3','cl-r4','cl-r5'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}