{% extends "rounds/character_round_layout.html" %}
{% block character_color %}#853e3e{% endblock %}
{% block title_block %}The Cleric{% endblock %}
{% block round_name %}The Cleric{% endblock %}

{% block puzzle_head_block %}
<style>
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  width: 50%;
  border-top: 3px solid #665F4F;
  border-bottom: 3px solid #665F4F;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
}
table tr:first-child td {
  border-top: 0 solid #665F4F;
}
table tr:last-child td {
  border-bottom: 0 solid #665F4F;
}
</style>
{% endblock %}

{% block round_puzzle_entries %}
<div>
<table>
{% for i in ['1','2','3','4','5'] %}
<tr>
<td>
  {{ puzzle_entry('cl-l' + i, puzzle_properties, puzzle_visibilities) }}
</td>
<td>
  {{ puzzle_entry('cl-r' + i, puzzle_properties, puzzle_visibilities) }}
</td>  
</tr>
</div>
{% endfor %}
</table>
{% endblock %}