{% extends "rounds/character_round_layout.html" %}
{% block title_block %}The Cleric{% endblock %}
{% block round_name %}The Cleric{% endblock %}

{% block puzzle_head_block %}
<style>
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  width: 50%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
}
</style>
{% endblock %}

{% block round_puzzle_entries %}
<table>
{% for i in ['1','2','3','4','5'] %}
<tr>
<td>
  {{ puzzle_entry('cl-l' + i, puzzle_properties, puzzle_visibilities) }}
</td>
<td>
  {{ puzzle_entry('cl-r' + i, puzzle_properties, puzzle_visibilities) }}
</td>  
</tr>
{% endfor %}
</table>
{% endblock %}