{% extends "rounds/quest_round_layout.html" %}
{% block title_block %}The Curious Cube{% endblock %}
{% block round_name %}The Curious Cube{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-list {
  min-width: 451px;
}

.cube-link-caption {
  display: none;
}

.cube-puzzle-link:hover .cube-link-caption {
  display: block;
}

.cube-puzzle-link .cube-link-caption {
  text-align: initial;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1200;
  padding: 3px 3px;
  border: 3px solid black;
  background-color: navajowhite;
  min-width: initial;
  min-height: initial;
  width: auto;
  height: auto;
  white-space: nowrap;
}

</style>
{% endblock %}

{% block round_flavortext %}
<p>After exploring an abandoned castle, you arrive at the only exit, but what appears to be an icy blue wall blocks your way. Curiously, one of you reaches toward it and find that your hand penetrates the surface and begins to burn; you quickly recoil. This is no ice wall; it's a gelatinous cube, blocking the way!</p>

<p>The fighter draws his sword and smoothly cuts the cube down the middle, but within seconds, the two resulting smaller cubes merge back into one and continue to block your path. The creature seems equally impervious to magic and to all of your other anti-cube schemes. This is going to be a problem.</p>

<p><span class="round_question">What can you use to defeat the cube?</span></p>
{% endblock %}

{% block puzzle_content %}
<div id="puzzle-content">
  <div id="cube-map-container" style="width: 451px; height: 451px; margin: 0 auto; position: relative;">
    <div id="cube-map" style="content: url({{ asset_url_for('curious-cube/curious-cube.png') }}); width: 451px; height: 451px; margin: 0 auto;"></div>
    {% for (puzzle_id, x, y) in [('cube1',3,0),('cube2',0,1),('cube3',2,1),('cube4',3,3),('cube5',6,3),('cube6',1,4),('cube7',5,5),('cube8',2,6)] %}
      {% set puzzle_link_action = 'full_puzzle' if full_access else 'puzzle' %}
      {% set link_puzzle_id = puzzle_properties.get(puzzle_id,{}).get('puzzleProperties',{}).get('DisplayIdProperty',{}).get('displayId',puzzle_id) %}
      {% if puzzle_visibilities.get(puzzle_id, {}).get('status','') == 'SOLVED' or puzzle_visibilities.get(puzzle_id, {}).get('status','') == 'UNLOCKED' %}
        <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
          <div class="cube-puzzle-link" style="width:50px; height: 50px; position:absolute; top:{{ 1+50*y }}px; left:{{ 1+50*x }}px; z-index:200; text-align:left;">
            *
            <div class="cube-link-caption">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</div>
          </div>
        </a>
      {% else %}
        <div class="cube-puzzle-link" style="width:50px; height: 50px; position:absolute; top:{{ 1+50*y }}px; left:{{ 1+50*x }}px; z-index:200; text-align:left;">
          *
        </div>
      {% endif %}
      
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column">
  {% for puzzle_id in ['cube1','cube2','cube3','cube4','cube5','cube6','cube7','cube8'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}