{% extends "rounds/quest_round_layout.html" %}
{% block title_block %}The Dismal Dungeon{% endblock %}
{% block round_name %}The Dismal Dungeon{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-list {
  min-width: 650px;
}

td {
  font-size: 28px;
  height: 50px;
  width: 50px;
  align: center;
  vertical-align: center;
  border: 1px solid black;
  background-image: url("{{ asset_url_for('general/quests/dungeon-tile.png')|safe }}");
  background-position: center;
}

td.not-unlocked {
  background-color: gray; 
  background-blend-mode: multiply; 
}

</style>
{% endblock %}

{% block round_flavortext %}
<p>A fair maiden, to whom you were once betrothed, has been captured and imprisoned in a dark and dismal dungeon! You have a map of your surroundings, but the map is partially obscured, and is not immediately obvious how to use the parts you can see.</p>

<p><span class="round_question">How can you safely traverse the dungeon?</span></p>
{% endblock %}

{% block puzzle_content %}
<div id="puzzle-content">
  <div id="dungeon-map-container" style="width: 550px; margin: 0 auto;">
    <table id="dungeon-map" style="border-collapse: collapse;">
      {% for i in range(6) %}
        <tr>
          {% for puzzle_data in [('dungeon1','F','U','P','B','G','R'),('dungeon2','A','D','T','R','H','U'),('dungeon3','T','D','K','T','L','A'),('dungeon4','A','T','O','L','H','J'),('dungeon5','C','P','I','T','R','V'),('dungeon6','Y','L','A','R','C','T'),('dungeon7','D','O','V','I','D','V'),('dungeon8','R','H','O','B','R','L'),('dungeon9','H','O','I','R','D','A'),('dungeon10','R','F','C','I','R','I'),('dungeon11','R','I','L','A','R','O')] %}
            {% set puzzle_link_action = 'full_puzzle' if full_access else 'puzzle' %}
            {% set puzzle_id = puzzle_data[0] %}
            {% set link_puzzle_id = puzzle_properties.get(puzzle_id,{}).get('puzzleProperties',{}).get('DisplayIdProperty',{}).get('displayId',puzzle_id) %}
            <td{% if puzzle_visibilities.get(puzzle_data[0]).status != 'SOLVED' and puzzle_visibilities.get(puzzle_data[0]).status != 'UNLOCKED' %} class=" not-unlocked"{% else %} data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}"{% endif %}>
              {% if puzzle_visibilities.get(puzzle_data[0]).status == 'SOLVED' or puzzle_visibilities.get(puzzle_data[0]).status == 'UNLOCKED' %}
                {% if puzzle_visibilities.get(puzzle_data[0]).status == 'SOLVED' %}
                  {{ puzzle_data[i+1] }}
                {% else %}
                  &nbsp;
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}


{% block round_puzzle_entries %}
<div class="puzzle-list-column">
  {% for puzzle_id in ['dungeon1','dungeon2','dungeon3','dungeon4','dungeon5','dungeon6','dungeon7','dungeon8','dungeon9','dungeon10','dungeon11'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}