{% extends "rounds/quest_round_layout.html" %}
{% block title_block %}The Despondent Dynast{% endblock %}
{% block round_name %}The Despondent Dynast{% endblock %}

{% block round_flavortext %}
<p>The emperor of the Sparrow Kingdom, once a cheerful and playful man, has become despondent ever since his elder son left to seek his fortune. A strange magic keeps the land in perpetual winter while its ruler remains melancholy, with the usual sequence of seasons halted. You agree to meet with the emperor and determine what troubles him.</p>

<p>Upon entering the emperor&rsquo;s palace, you are struck by its opulence. The place is covered with elaborate tiles, some decorated with flowers and dragons and others with characters that you don't recognize. You discover the heartbroken emperor, seated at a square table with his wife and younger son, and ask him why he is so sad. He pleads, &ldquo;There's just one more thing I need—just one thing. Until I have it, my happiness will be incomplete.&rdquo; And he buries his head in his hands and resumes his sobbing, as the frigid wintry winds continue to howl outside.</p>

<p><span class="round_question">What can you do to win happiness for the emperor and his land?</span></p>
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column">
  {% for puzzle_id in ['dynast1','dynast2','dynast3','dynast4','dynast5','dynast6','dynast7','dynast8','dynast9','dynast10','dynast11'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}