{% extends "rounds/character_round_layout.html" %}
{% block title_block %}The Fighter{% endblock %}
{% block round_name %}The Fighter{% endblock %}
{% block round_flavortext %}
Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... Fighter text... 
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column" id="puzzle-list-column-left">
  {% for puzzle_id in ['f1','f2','f3','f4','f5','f6'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
<div class="puzzle-list-column" id="puzzle-list-column-right">
  {% for puzzle_id in ['f7','f8','f9','f10','f11'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}