{% extends "rounds/quest_round_layout.html" %}

{% block title_block %}The Modest Minstrels{% endblock %}
{% block round_name %}The Modest Minstrels{% endblock %}

{% block round_flavortext %}
<p>Entering an unfamiliar village, you and your fellow travelers hear some music. Following the sound, you arrive at the town square where a group of minstrels is playing.</p>

<p>One of the townsfolk whispers to you, &ldquo;Millius Vanillius may seem like a decent, modest band, but they harbor a secret.&rdquo; You inquire further into the nature of this secret, but the townsman says, &ldquo;Go ask the woman playing the finger cymbals&mdash;perhaps she will tell you what you want to know.&rdquo;</p>

<p>After they finish playing their tunes, the band hands out pie with ice cream to the listeners. As you enjoy your dessert, you strike up a conversation with the cymbal player and ask her what deep secret the band is hiding. She is reluctant to tell you, but eventually confesses.</p>

<p><span class="round_question">What does she tell you about the modest minstrels?</span></p>
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column">
  {% for (puzzle_id, audio_id) in [('minstrels2','audio02.mp3'),('minstrels3','audio03.mp3'),('minstrels1','audio01.mp3'),('minstrels4','audio05.mp3'),('minstrels5','audio04.mp3'),('minstrels6','audio06.mp3'),('minstrels7','audio07.mp3')] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities, audio_id=audio_id) }}
  {% endfor %}
</div>
{% endblock %}
