{% extends "overall_layout.html" %}
{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='round.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quest-round.css') }}">
    <style>
    body {
      background-image: url("{{ url_for('static', filename='PNG-export/quests/%s-background.png' % round_id) }}");
    }
    </style>
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(round_id) }}">Check answer</a></div>
{% endblock %}

{% block overall_layout_body %}
<div id="round-container">
  <div id="header" class="standard-horizontal-scroll">
    <div class="horizontal-enscrolled-left"></div><div class="horizontal-enscrolled-middle">
      <div class="horizontal-enscrolled-text">{% block round_name %}{% endblock %}</div>
    </div><div class="horizontal-enscrolled-right"></div>
  </div>
  <div id="round-text">
    <div class="vertically-enscrolled">
      <div class="vertically-enscrolled-text">
        {% block round_flavortext %}{% endblock %}
      </div>
    </div>
  </div>
  <div id="puzzle-list">
    <div class="parchmented">
      {% block puzzle_content %}{% endblock %}
      {% block round_puzzle_entries %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% macro puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities, audio_id=None) %}
  {% set puzzle_link_action = 'full_puzzle' if full_access else 'puzzle' %}
  {% set link_puzzle_id = puzzle_properties.get(puzzle_id,{}).get('puzzleProperties',{}).get('DisplayIdProperty',{}).get('displayId',puzzle_id) %}
  {% if puzzle_visibilities.get(puzzle_id).status == 'UNLOCKED' %}
    <div class="puzzle-entry">
      <span><img src="{{ url_for('static', filename='PNG-export/icons/chest.png') }}" style="width:24px;height:24px;vertical-align:bottom;"/>/<img src="{{ url_for('static', filename='PNG-export/icons/coin.png') }}" style="width:24px;height:24px;vertical-align:bottom;"/></span>
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span>
      </a>
      {% if audio_id %}
        <br/>
        <audio controls>
          <source src="{{ asset_url_for('modest_minstrels/' + audio_id) }}" type="audio/mpeg"/>
        </audio>
      {% endif %}
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'SOLVED' %}
    <div class="puzzle-entry">
      <span><img src="{{ url_for('static', filename='temp/art/Maps/complete-logo-color.png') }}" style="width:24px;height:24px;vertical-align:bottom;"/></span>
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span>
        <span class="puzzle-solution">
          {% for answer in puzzle_properties.get(puzzle_id).puzzleProperties.AnswersProperty.answers %}
            {{ answer.get('canonicalAnswer','') }}
          {% endfor %}
        </span>
      </a>
      {% if audio_id %}
        <br/>
        <audio controls>
          <source src="{{ asset_url_for('modest_minstrels/' + audio_id) }}" type="audio/mpeg"/>
        </audio>
      {% endif %}
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'VISIBLE' %}
    <div class="puzzle-entry">
      <span class="puzzle-name"><span class="fa fa-key"></span>
        {% set unlock_requirement = single_character_unlock_requirement(puzzle_properties.get(puzzle_id).puzzleProperties) %}
        {% if unlock_requirement.character %}
          <span>Unlock at <span class="level-requirement"><img src="{{ url_for('static', filename='PNG-export/characters/%s-logo.png' % (unlock_requirement.character)|lower) }}" style="width:24px;height:24px;vertical-align:bottom;"/> {{ unlock_requirement.levels }}</span></span>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endmacro %}