{% extends "rounds/quest_round_layout.html" %}

{% macro minstrels_puzzle_entry(puzzle_id, audio_id, puzzle_properties, puzzle_visibilities) %}
  {% set puzzle_link_action = 'full_puzzle' if full_access else 'puzzle' %}
  {% set link_puzzle_id = puzzle_properties.get(puzzle_id,{}).get('puzzleProperties',{}).get('DisplayIdProperty',{}).get('displayId',puzzle_id) %}
  {% if puzzle_visibilities.get(puzzle_id).status == 'UNLOCKED' %}
    <div class="puzzle-entry">
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span><br/>
        <audio controls>
          <source src="{{ asset_url_for('modest_minstrels/' + audio_id) }}" type="audio/mpeg"/>
        </audio>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'SOLVED' %}
    <div class="puzzle-entry">
      <a href="{{ url_for(puzzle_link_action, puzzle_id = link_puzzle_id) }}">
        <span class="puzzle-name">{{ puzzle_properties.get(puzzle_id).puzzleProperties.DisplayNameProperty.displayName }}</span>
        <span class="puzzle-solution">{{ puzzle_properties.get(puzzle_id).puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}</span><br/>
        <audio controls>
          <source src="{{ asset_url_for('modest_minstrels/' + audio_id) }}" type="audio/mpeg"/>
        </audio>
      </a>
    </div>
  {% elif puzzle_visibilities.get(puzzle_id).status == 'VISIBLE' %}
    <div class="puzzle-entry">
      <span class="puzzle-name"><span class="fa fa-key"></span>
        {% set unlock_requirement = single_character_unlock_requirement(puzzle_properties.get(puzzle_id).puzzleProperties) %}
        {% if unlock_requirement.character %}
          <span>{{ unlock_requirement.character.capitalize() }} {{ unlock_requirement.levels }}</span>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endmacro %}

{% block title_block %}The Modest Minstrels{% endblock %}
{% block round_name %}The Modest Minstrels{% endblock %}

{% block round_flavortext %}
<p>Entering an unfamiliar village, you and your fellow travelers hear some music. Following the sound, you arrive at the town square where a group of minstrels is playing.</p>

<p>One of the townsfolk whispers to you, "Millius Vanillius may seem like a decent, modest band, but they harbor a secret." You inquire further into the nature of this secret, but the townsman says "Go ask the woman playing the finger cymbals--perhaps she will tell you what you want to know".</p>

<p>After they finish playing their tunes, the band hands out pie with ice cream to the listeners. As you enjoy your dessert, you strike up a conversation with the cymbal player and ask her what deep secret the band is hiding. She is reluctant to tell you, but eventually confesses.</p>

<p><span class="round_question">What does she tell you about the modest minstrels?</span></p>
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column">
  {% for (puzzle_id, audio_id) in [('minstrels1','audio01.mp3'),('minstrels2','audio02.mp3'),('minstrels3','audio03.mp3'),('minstrels4','audio04.mp3'),('minstrels5','audio05.mp3'),('minstrels6','audio06.mp3'),('minstrels7','audio07.mp3')] %}
    {{ minstrels_puzzle_entry(puzzle_id, audio_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}