{% extends "rounds/quest_round_layout.html" %}
{% block title_block %}The Woeful Warlord{% endblock %}
{% block round_name %}The Woeful Warlord{% endblock %}

{% block puzzle_head_block %}
<style>
#round-text {
  margin-right: 20px;
}
#puzzle-list {
  min-width: 600px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  width: 33%;
  border: 3px solid #665F4F;
  padding: 7px;
  vertical-align: middle;
}

</style>
{% endblock %}

{% block round_flavortext %}
<p>The warlord looks sadly at his map of the battlefield. &ldquo;Thank goodness you&rsquo;re here,&rdquo; he exclaims. &ldquo;I need a combat strategy. My enemy and I have exhausted every angle, every avenue for attack. It&rsquo;s all so complicated: Where should I attack next? How will my enemy respond?&rdquo; He collapses in a heap, overwhelmed by the pressure. It doesn&rsquo;t look like he&rsquo;ll be able to win this war on his own.</p>

<p><span class="round_question">Whom can you recruit to help the warlord?</span></p>
{% endblock %}

{% block round_puzzle_entries %}
<table>
  {% for row in ['n','c','s'] %}
    <tr>
      {% for col in ['w','c','e'] %}
        <td>
          {{ puzzle_entry('warlord-' + row + col, puzzle_properties, puzzle_visibilities) }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}  
</table>
{% endblock %}