{% extends "rounds/character_round_layout.html" %}
{% block title_block %}The Wizard{% endblock %}
{% block round_name %}The Wizard{% endblock %}

{% block round_flavortext %}
Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... Wizard text... 
{% endblock %}

{% block round_puzzle_entries %}
<div class="puzzle-list-column" id="puzzle-list-column-left">
  {% for puzzle_id in ['w1','w2','w3','w4','w5','w6'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
<div class="puzzle-list-column" id="puzzle-list-column-right">
  {% for puzzle_id in ['w7','w8','w9','w10','w11'] %}
    {{ puzzle_entry(puzzle_id, puzzle_properties, puzzle_visibilities) }}
  {% endfor %}
</div>
{% endblock %}