{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'chemist' %}
{% block title_block %}12 Step Program: Solution{% endblock %}
{% block puzzle_name_block %}12 Step Program: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}BHOPA{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    The circular image at the bottom of the page is an outline of the Bhavacakra—the Buddhist Wheel of Life. Traditional representations of the bhavacakra include the twelve nidanas around the outer rim.
  </p>
  <p>
    Each of the movie stills aligns with one of the images traditionally associated with the nidanas. (The traditional images do have several variations, but the set of images chosen should have only one set of associations that places all 12 in one of the outer rim locations.)
  </p>
  <p>
    The numbers in the outer rim are used to index into the associated movie title, as shown in the table below.
  </p>
  <table>
    <tr>
      <th>NO.</th>
      <th>NIDANA</th>
      <th>INDEX</th>
      <th>MOVIE</th>
      <th>BIGRAM</th>
      <th>YEAR</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Ignorance - An old blind person groping for his way with a cane</td>
      <td>3,6</td>
      <td>IT'S A GIFT</td>
      <td>SI</td>
      <td>1934</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Karmic formations - A potter shaping a vase on a wheel</td>
      <td>4,9</td>
      <td>THE NAKED GUN 2-1/2 THE SMELL OF FEAR </td>
      <td>NG</td>
      <td>1991</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Consciousness - A monkey swinging from a tree</td>
      <td>5,7</td>
      <td>THE LION KING</td>
      <td>IN</td>
      <td>1994</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Name and form - A person (or people) on a boat</td>
      <td>8,11</td>
      <td>FORREST GUMP</td>
      <td>GP</td>
      <td>1994</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Six sense organs - A house with five windows and a door</td>
      <td>2,19</td>
      <td>MR. BLANDINGS BUILDS HIS DREAM HOUSE</td>
      <td>RI</td>
      <td>1948</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Contact - A couple embracing</td>
      <td>5,6</td>
      <td>SHAKESPEARE IN LOVE</td>
      <td>ES</td>
      <td>1998</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Sensation - A person with an arrow in their eye</td>
      <td>18,25</td>
      <td>THE LORD OF THE RINGS: THE FELLOWSHIP OF THE RING</td>
      <td>TO</td>
      <td>2001</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Craving - A woman offering a drink to a man</td>
      <td>12,14</td>
      <td>DIAMONDS ARE FOREVER</td>
      <td>FR</td>
      <td>1971</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Grasping - A man plucking fruit from a tree</td>
      <td>18,12</td>
      <td>THE LEGEND OF JOHNNY APPLESEED</td>
      <td>AJ</td>
      <td>1948 (short)</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Becoming - A beautiful bride (sometimes depicted as a couple making love or a pregnant woman)</td>
      <td>8,11</td>
      <td>BRIDESMAIDS</td>
      <td>AS</td>
      <td>2011</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Birth - A woman giving birth </td>
      <td>8,9</td>
      <td>NINE MONTHS</td>
      <td>TH</td>
      <td>1995</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Old age and death - Bearers with a corpse</td>
      <td>3,11</td>
      <td>DEATH AT A FUNERAL</td>
      <td>AN</td>
      <td>2010</td>
    </tr>
  </table>
  <p>
    The bigrams spell the clue phrase SINGING PRIEST OF RAJASTHAN, which gives the answer <b>BHOPA</b>.
  </p>
</div>
{% endblock %}
