{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}790.06 Crossword puzzles and other word games: Solution{% endblock %}
{% block puzzle_name_block %}790.06 Crossword puzzles and other word games: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}RAPIER WIT{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 30px;
    }
    table.g {
      border: 2px solid #aaa;
      border-collapse: collapse;
      width: 450px;
      height: 450px;
    }
    table.g td {
      border: 1px solid #aaa;
      box-sizing: border-box;
      padding: 0.1em;
      width: 2rem;
      height: 2rem;
    }
    table.g td {
      border: 1px solid #aaa;
      box-sizing: border-box;
      padding: 0;
      width: 30px;
      height: 30px;
      vertical-align: top;
      position: relative;
    }
    table.g td:not(.b) {
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
    }
    table.g td.b::before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAAHklEQVR42mNc8J+BbMA4qnlU86jmUc2jmkc1D2fNANA/MMHBYys8AAAAAElFTkSuQmCC");
      position: absolute;
    }
    table.g td.r {
      color: #ff0000;
    }
    table.g td.bg {
      background-color: #a0a0a0;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      790.06 is not, in fact, the Dewey Decimal code for crossword
      puzzles. Rather, it is the number of Florida's concealed weapons
      statute. The names of nine weapons are concealed in the grid, crossing one
      grey square each. The letters in those grey squares spell <b>RAPIER
      WIT</b>, the answer to this puzzle.
    </p>
    <table class="g">
      <tr>
        <td>A</td>
        <td>S</td>
        <td>E</td>
        <td>A</td>
        <td class="b"></td>
        <td>O</td>
        <td>M</td>
        <td class="r">A</td>
        <td class="r">R</td>
        <td class="r bg">R</td>
        <td class="r">O</td>
        <td class="r">W</td>
        <td>I</td>
        <td>E</td>
        <td>S</td>
      </tr>
      <tr>
        <td>S</td>
        <td class="r">K</td>
        <td class="r">A</td>
        <td class="r">T</td>
        <td class="r bg">A</td>
        <td class="r">N</td>
        <td class="r">A</td>
        <td>M</td>
        <td>O</td>
        <td class="b"></td>
        <td>P</td>
        <td>E</td>
        <td>N</td>
        <td>T</td>
        <td>E</td>
      </tr>
      <tr>
        <td>H</td>
        <td>I</td>
        <td>S</td>
        <td>T</td>
        <td class="b"></td>
        <td>A</td>
        <td>D</td>
        <td>A</td>
        <td>M</td>
        <td class="b"></td>
        <td>E</td>
        <td>L</td>
        <td>T</td>
        <td>O</td>
        <td>N</td>
      </tr>
      <tr>
        <td>E</td>
        <td>N</td>
        <td>Y</td>
        <td>A</td>
        <td class="b"></td>
        <td>L</td>
        <td>E</td>
        <td class="r">H</td>
        <td class="r">A</td>
        <td class="r">R</td>
        <td class="r bg">P</td>
        <td class="r">O</td>
        <td class="r">O</td>
        <td class="r">N</td>
        <td>A</td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>C</td>
        <td>O</td>
        <td>L</td>
        <td>O</td>
        <td class="b"></td>
        <td>N</td>
        <td>A</td>
        <td>I</td>
        <td>V</td>
        <td>E</td>
        <td>S</td>
        <td>T</td>
      </tr>
      <tr>
        <td>R</td>
        <td>O</td>
        <td>C</td>
        <td class="r">K</td>
        <td class="r">N</td>
        <td class="r bg">I</td>
        <td class="r">F</td>
        <td class="r">E</td>
        <td>T</td>
        <td>T</td>
        <td>L</td>
        <td>E</td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>A</td>
        <td>G</td>
        <td>L</td>
        <td>E</td>
        <td>A</td>
        <td>M</td>
        <td class="b"></td>
        <td>L</td>
        <td>I</td>
        <td class="r">S</td>
        <td class="r">P</td>
        <td class="r bg">E</td>
        <td class="r">A</td>
        <td class="r">R</td>
        <td>T</td>
      </tr>
      <tr>
        <td>G</td>
        <td>R</td>
        <td>A</td>
        <td>D</td>
        <td class="b"></td>
        <td>A</td>
        <td>M</td>
        <td>I</td>
        <td class="r">C</td>
        <td class="r">A</td>
        <td class="r bg">R</td>
        <td class="r">B</td>
        <td class="r">I</td>
        <td class="r">N</td>
        <td class="r">E</td>
      </tr>
      <tr>
        <td>S</td>
        <td>E</td>
        <td>W</td>
        <td class="b"></td>
        <td>P</td>
        <td>L</td>
        <td>O</td>
        <td>T</td>
        <td class="b"></td>
        <td>T</td>
        <td>W</td>
        <td>O</td>
        <td>D</td>
        <td>A</td>
        <td>Y</td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>T</td>
        <td>E</td>
        <td>A</td>
        <td>S</td>
        <td>E</td>
        <td>R</td>
        <td class="b"></td>
        <td>M</td>
        <td>R</td>
        <td>A</td>
        <td>S</td>
        <td>S</td>
      </tr>
      <tr>
        <td>B</td>
        <td>E</td>
        <td class="r">L</td>
        <td class="r">O</td>
        <td class="r">N</td>
        <td class="r">G</td>
        <td class="r">S</td>
        <td class="r bg">W</td>
        <td class="r">O</td>
        <td class="r">R</td>
        <td class="r">D</td>
        <td>O</td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>A</td>
        <td>R</td>
        <td>E</td>
        <td>S</td>
        <td class="b"></td>
        <td>A</td>
        <td>L</td>
        <td>U</td>
        <td>T</td>
        <td>E</td>
        <td class="b"></td>
        <td>D</td>
        <td>I</td>
        <td>N</td>
        <td>G</td>
      </tr>
      <tr>
        <td>R</td>
        <td>A</td>
        <td>T</td>
        <td>S</td>
        <td>O</td>
        <td class="b"></td>
        <td>I</td>
        <td>T</td>
        <td>I</td>
        <td>S</td>
        <td class="b"></td>
        <td>I</td>
        <td>D</td>
        <td>E</td>
        <td>A</td>
      </tr>
      <tr>
        <td>A</td>
        <td class="r">S</td>
        <td class="r">H</td>
        <td class="r">U</td>
        <td class="r">R</td>
        <td class="r bg">I</td>
        <td class="r">K</td>
        <td class="r">E</td>
        <td class="r">N</td>
        <td>T</td>
        <td class="b"></td>
        <td>N</td>
        <td>Y</td>
        <td>E</td>
        <td>T</td>
      </tr>
      <tr>
        <td>K</td>
        <td>E</td>
        <td>E</td>
        <td>P</td>
        <td>S</td>
        <td class="b"></td>
        <td>E</td>
        <td class="r">P</td>
        <td class="r">I</td>
        <td class="r">S</td>
        <td class="r bg">T</td>
        <td class="r">O</td>
        <td class="r">L</td>
        <td>D</td>
        <td>S</td>
      </tr>
    </table>
  </div>
{% endblock %}
