{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}A Turn of Phrase: Solution{% endblock %}
{% block puzzle_name_block %}A Turn of Phrase: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
    font-size:16px;
  }
  li {
    padding-top: 2px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>Each of these is a clue for a two-word phrase. When you solve as many of them as you can, you see they are all odd phrases, BUT if you spoonerize each phrase, it gives a word and a number.</p>
  <ul>
    <li>A propulsion unit for an apian insect = BEE THRUSTER = BUSTER THREE = S</li>
    <li>A dandy who loves doing household tasks = CHORE FOP = CHOP FOUR = P</li>
    <li>A toss of some soft surface-ripened French cheese = BRIE THROW = BRO THREE = O</li>
    <li>A military upheaval over a hard, buttery sweet = TOFFEE COUP = COFFEE TWO = O</li>
    <li>A young unweaned animal from Exeter's county = DEVON SUCKLING = DUCKLING SEVEN = N</li>
    <li>An open land area along the water = SHORE FIELD = SHIELD FOUR = E</li>
    <li>One who puts 'have a formal meal' into the choices for voting = DINE NOMINATOR = DOMINATOR NINE = R</li>
    <li>Visualize a twisted filament for sewing = SEE THREAD = SAID THREE = I</li>
    <li>Create ennui for some lint = BORE FUZZ = BUZZ FOUR = Z</li>
    <li>Get former IAEA head Hans drunk = SOUSE BLIX = BLOUSE SIX = E</li>
    <li>"Sonnet X/Death Be Not Proud", e.g. = DONNE WORK = DIRK ONE = D</li>
    <li>Greyish green yellow tiny arachnids = SALLOW TICKS = TALLOW SIX = W</li>
    <li>A pointless sound coming from a lion = FUTILE ROAR = RUTILE FOUR - I</li>
    <li>A ring-shaped sewer covering lattice = ANNULAR GRATE = GRANULAR EIGHT = R</li>
    <li>Famed Roman general and leader's candy bar of biscuit and caramel = CAESAR TWIX = TWEEZER SIX = E</li>
    <li>A ballroom dance in 3/4 time done to the music of the "Some Nights" band = FUN. WALTZ = FAULTS ONE = F</li>
    <li>An expression intending to cause injury that costs no money = FREE THREAT = FRET THREE = E</li>
    <li>A way to raise money for charity by collecing cellulars from people = PHONE DRIVE = DRONE FIVE = E </li>
    <li>An onion-related herb that has been placed in the proper folder = FILED CHIVE = CHILD FIVE = D</li>
  </ul>
  <p> Then if you take each of the letters in order that you get from indexing with the number into the other word, you get "SPOONERIZED WIREFEED" which gives the answer, <b>FIREWEED</b>.</p>
</div>
{% endblock %}
