{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'bridge' %}
{% block title_block %}Advisor's Nightmare: Solution{% endblock %}
{% block puzzle_name_block %}Advisor's Nightmare: Solution{% endblock %}
{% block byline %}By Dan Katz{% endblock %}

{% block puzzle_head_block %}
  <style>
    table.t, table.t th, table.t td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 4px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      In catalog order, the Disclaimer Codes spell "COURSE TITLES CAN BE IGNORED
      WHEN SOLVING." Indeed they can be.
    </p>
    <p>
      There is a unique way to schedule all of the courses (including ENGM 145
      twice) to satisfy the given constraints. One possible logical path to the
      solution is given at the bottom of this page.
    </p>
    <p>
      TypNum stands for Typical Enrollment Renewal Number After Registration
      Year, which could also be abbreviated as TERNARY. For each semester, the
      TypNums of the three courses can be read, ordered by course time, as a
      three-digit ternary (base three) number. These numbers can then be
      converted to letters (A=1, B=2, etc.) to form the phrase COURSE MOD SIX.
    </p>
    <p>
      If the course numbers are reduced modulo six (that is, replaced with their
      remainder after dividing by six), the results are all 0's, 1's, or
      2's. Reading these numbers as base three digits again (in the same order)
      gives the phrase TS IN PROF NAME. Each course professor's name has 0, 1,
      or 2 T's in it, and when these digits are read one more time as base three
      digits, it results in the answer to the puzzle, <b>PREREQUISITE</b>.
    </p>
    <table class="t">
      <tr><th>Semester</th><th>Year</th><th>Time</th><th>Course</th><th>TypNum</th><th></th><th>Course Mod 6</th><th></th><th>T's in Prof</th><th></th></tr>
      <tr><td>Fall</td><td>2017</td><td>1pm</td><td>ENGM 332</td><td>0</td><td>C</td><td>2</td><td>T</td><td>1</td><td>P</td></tr>
      <tr><td>Fall</td><td>2017</td><td>3pm</td><td>ENGM 402</td><td>1</td><td>.</td><td>0</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Fall</td><td>2017</td><td>4pm</td><td>ENGM 308</td><td>0</td><td>.</td><td>2</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Winter</td><td>2017-2018</td><td>1pm</td><td>ENGM 440</td><td>1</td><td>O</td><td>2</td><td>S</td><td>2</td><td>R</td></tr>
      <tr><td>Winter</td><td>2017-2018</td><td>2pm</td><td>ENGM 390</td><td>2</td><td>.</td><td>0</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2017-2018</td><td>5pm</td><td>ENGM 373</td><td>0</td><td>.</td><td>1</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Spring</td><td>2018</td><td>3pm</td><td>ENGM 289</td><td>2</td><td>U</td><td>1</td><td>I</td><td>0</td><td>E</td></tr>
      <tr><td>Spring</td><td>2018</td><td>4pm</td><td>ENGM 516</td><td>1</td><td>.</td><td>0</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Spring</td><td>2018</td><td>5pm</td><td>ENGM 438</td><td>0</td><td>.</td><td>0</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Fall</td><td>2018</td><td>1pm</td><td>ENGM 397</td><td>2</td><td>R</td><td>1</td><td>N</td><td>2</td><td>R</td></tr>
      <tr><td>Fall</td><td>2018</td><td>3pm</td><td>ENGM 421</td><td>0</td><td>.</td><td>1</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Fall</td><td>2018</td><td>5pm</td><td>ENGM 176</td><td>0</td><td>.</td><td>2</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2018-2019</td><td>2pm</td><td>ENGM 205</td><td>2</td><td>S</td><td>1</td><td>P</td><td>0</td><td>E</td></tr>
      <tr><td>Winter</td><td>2018-2019</td><td>3pm</td><td>ENGM 128</td><td>0</td><td>.</td><td>2</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Winter</td><td>2018-2019</td><td>4pm</td><td>ENGM 145</td><td>1</td><td>.</td><td>1</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Spring</td><td>2019</td><td>1pm</td><td>ENGM 512</td><td>0</td><td>E</td><td>2</td><td>R</td><td>1</td><td>Q</td></tr>
      <tr><td>Spring</td><td>2019</td><td>2pm</td><td>ENGM 234</td><td>1</td><td>.</td><td>0</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Spring</td><td>2019</td><td>4pm</td><td>ENGM 426</td><td>2</td><td>.</td><td>0</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Fall</td><td>2019</td><td>1pm</td><td>ENGM 145</td><td>1</td><td>M</td><td>1</td><td>O</td><td>2</td><td>U</td></tr>
      <tr><td>Fall</td><td>2019</td><td>3pm</td><td>ENGM 272</td><td>1</td><td>.</td><td>2</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Fall</td><td>2019</td><td>5pm</td><td>ENGM 156</td><td>1</td><td>.</td><td>0</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2019-2020</td><td>2pm</td><td>ENGM 468</td><td>1</td><td>O</td><td>0</td><td>F</td><td>1</td><td>I</td></tr>
      <tr><td>Winter</td><td>2019-2020</td><td>4pm</td><td>ENGM 344</td><td>2</td><td>.</td><td>2</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2019-2020</td><td>5pm</td><td>ENGM 180</td><td>0</td><td>.</td><td>0</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Spring</td><td>2020</td><td>3pm</td><td>ENGM 115</td><td>0</td><td>D</td><td>1</td><td>N</td><td>2</td><td>S</td></tr>
      <tr><td>Spring</td><td>2020</td><td>4pm</td><td>ENGM 475</td><td>1</td><td>.</td><td>1</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Spring</td><td>2020</td><td>5pm</td><td>ENGM 530</td><td>1</td><td>.</td><td>2</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Fall</td><td>2020</td><td>1pm</td><td>ENGM 474</td><td>2</td><td>S</td><td>0</td><td>A</td><td>1</td><td>I</td></tr>
      <tr><td>Fall</td><td>2020</td><td>3pm</td><td>ENGM 102</td><td>0</td><td>.</td><td>0</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Fall</td><td>2020</td><td>5pm</td><td>ENGM 199</td><td>1</td><td>.</td><td>1</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2020-2021</td><td>1pm</td><td>ENGM 361</td><td>1</td><td>I</td><td>1</td><td>M</td><td>2</td><td>T</td></tr>
      <tr><td>Winter</td><td>2020-2021</td><td>2pm</td><td>ENGM 253</td><td>0</td><td>.</td><td>1</td><td>.</td><td>0</td><td>.</td></tr>
      <tr><td>Winter</td><td>2020-2021</td><td>5pm</td><td>ENGM 265</td><td>0</td><td>.</td><td>1</td><td>.</td><td>2</td><td>.</td></tr>
      <tr><td>Spring</td><td>2021</td><td>1pm</td><td>ENGM 504</td><td>2</td><td>X</td><td>0</td><td>E</td><td>0</td><td>E</td></tr>
      <tr><td>Spring</td><td>2021</td><td>3pm</td><td>ENGM 343</td><td>2</td><td>.</td><td>1</td><td>.</td><td>1</td><td>.</td></tr>
      <tr><td>Spring</td><td>2021</td><td>4pm</td><td>ENGM 428</td><td>0</td><td>.</td><td>2</td><td>.</td><td>2</td><td>.</td></tr>
    </table>
    <p>
      Here's one way to logically reconstruct the course schedule:
    </p>
    <p>
      516, 397, 145 (the first time), 145 (the second time), 344, 199, and 343
      must be taken in that order. Because of the semesters they are available,
      516 must be taken in S18, 397 in F18, 145 in W18-19 and F19, 344 in
      W19-20, 199 in F20, and 343 in S21.
    </p>
    <p>
      504, 512, and 530 are only offered in the Spring and can only be taken one
      a time, so they are taken in S19, S20, and S21 in some order. 512 must be
      taken before 272, and 272 conflicts with 199 in F20, so 512 is taken in
      S19 and 272 in F19. 253 must be taken in the Winter after 530, so 530 is
      taken in S20, 253 in W20-21, and 504 in S21.
    </p>
    <p>
      390 and 373 must be taken in the same trimester, at least nine trimesters
      before 361. 373 cannot be taken F17, and 361 conflicts with 504 in S21, so
      390 and 373 must be taken in W17-18 and 361 in W20-21.
    </p>
    <p>
      128 and 205 must be taken in the same trimester which can't be Fall or
      Spring, so it must be Winter. Only W18-19 and W19-20 have room for two
      more classes, and 128 conflicts with 344 in W19-20, so 128 and 205 must be
      taken in W18-19. 156 must be taken the trimester before or after 512, and
      since W18-19 is now full, 156 must be taken in F19.
    </p>
    <p>
      102 must be taken in a trimester that is consecutive with the trimesters
      of both 115 and 265 (which must be different). Since there is no trimester
      before F17, the trimester after F18 is full, and F19 is full, 102 must be
      taken in F20. 265 conflicts with 530 in S20, so 115 must be taken in S20
      and 265 in W20-21.
    </p>
    <p>
      The nine Sudoku Seminars must be taken in different trimesters, and since
      W18-19, F19, and W20-21 are now full, the Sudoku Seminars must be taken in
      the other nine trimesters. 308 and 332 must be taken in the same
      trimester, and taking the Sudoku slot into account, the only trimester
      with two vacancies is F17, so 308 and 332 must be taken in F17.
    </p>
    <p>
      The remaining non-Sudoku vacancies are in S18, F18, S19, and W19-20. 289
      has to be taken in a trimester immediately before and after Sudoku
      seminars. Since there are no Sudoku seminars in W18-19 or F19, 289 must be
      taken in S18. Furthermore, since 176 must be taken the semester
      immediately after 438, 176 must be taken in F18 and 438 in S18 (and 468
      must be taken five semesters after 438 in W19-20). Since 234 must be taken
      before 180, they are taken in S19 and W19-20 respectively.
    </p>
    <p>
      440 must be taken in Winter, and three Winter semesters are full, so 440
      must be taken in W17-18. 475 must be taken in Spring; S18 is full, 475
      conflicts with 234 in S19 and with 504 in S21, so it must be taken in S20.
    </p>
    <p>
      474 is not offered in the Spring and conflicts with 332 in F17 and with
      176 in F18, and so 474 must be taken in F20. 426 and 421 must be taken in
      the same academic year, so they must be taken in F18 and S19; since 426
      conflicts with 397 in F18, it must be taken in S19 and 421 in F18. The
      only trimesters left for 402 and 428 are F17 and S21, and since 402 must
      be taken before 428, 402 and 428 must be taken in F17 and S21
      respectively.
    </p>
  </div>
{% endblock %}
