{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Asymmetry: Solution{% endblock %}
{% block puzzle_name_block %}Asymmetry: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}BINAURAL{% endblock %}

{% block solution_content_block %}
<div>
  <p>Two sets of clues are given, one in the left channel, the other in the right. Each clue is phonetically ambiguous.
  </p>
  <p>Answers to the corresponding left-right clues, in the order given, form letter-change pairs.</p>
  <table>
    <tr>
      <th>LEFT CLUE</th>
      <th>LEFT WORD</th>
      <th>LEFT</th>
      <th>RIGHT</th>
      <th>RIGHT WORD</th>
      <th>RIGHT CLUE</th>
    </tr>
    <tr>
      <td>Taut</td>
      <td>TIGHT</td>
      <td>T</td>
      <td>R</td>
      <td>RIGHT</td>
      <td>A common turn</td>
    </tr>
    <tr>
      <td>Feat seen in a film</td>
      <td>STUNT</td>
      <td>U</td>
      <td>I</td>
      <td>STINT</td>
      <td>Allot sparingly</td>
    </tr>
    <tr>
      <td>Kernel</td>
      <td>CORE</td>
      <td>R</td>
      <td>V</td>
      <td>COVE</td>
      <td>Bight's kin</td>
    </tr>
    <tr>
      <td>Presence opposite</td>
      <td>LACK</td>
      <td>K</td>
      <td>E</td>
      <td>LACE</td>
      <td>Knot home, maybe</td>
    </tr>
    <tr>
      <td>Like a gorilla</td>
      <td>HAIRY</td>
      <td>I</td>
      <td>R</td>
      <td>HARRY</td>
      <td>Prince in England</td>
    </tr>
    <tr>
      <td>Maid in Scotland</td>
      <td>LASS</td>
      <td>S</td>
      <td>B</td>
      <td>LABS</td>
      <td>Laser sites at MIT, usually</td>
    </tr>
    <tr>
      <td>Mix suits, after a fashion</td>
      <td>SHUFFLE</td>
      <td>H</td>
      <td>O</td>
      <td>SOUFFLE</td>
      <td>Airy food item</td>
    </tr>
    <tr>
      <td>Ate up </td>
      <td>CARFED</td>
      <td>F</td>
      <td>R</td>
      <td>SCARRED</td>
      <td>Not well healed</td>
    </tr>
    <tr>
      <td>Rowed</td>
      <td>OARED</td>
      <td>O</td>
      <td>D</td>
      <td>DARED</td>
      <td>Was bold</td>
    </tr>
    <tr>
      <td>Gnu’s group</td>
      <td>HERD</td>
      <td>R</td>
      <td>E</td>
      <td>HEED</td>
      <td>Bear in mind</td>
    </tr>
    <tr>
      <td>Eight, for example</td>
      <td>CUBE</td>
      <td>B</td>
      <td>R</td>
      <td>CURE</td>
      <td>Use a balm effectively on</td>
    </tr>
    <tr>
      <td>Heel</td>
      <td>LOUT</td>
      <td>U</td>
      <td>F</td>
      <td>LOFT</td>
      <td>Raised part of a barn</td>
    </tr>
    <tr>
      <td>One in the Kentucky Derby, perhaps</td>
      <td>FILLY</td>
      <td>I</td>
      <td>O</td>
      <td>FOLLY</td>
      <td>Word for a 19th century purchase that had no sense</td>
    </tr>
    <tr>
      <td>Cereal killer</td>
      <td>BLIGHT</td>
      <td>L</td>
      <td>R</td>
      <td>BRIGHT</td>
      <td>Like a sun</td>
    </tr>
    <tr>
      <td>Like a meat sometimes held at lunchtime</td>
      <td>CORNED</td>
      <td>D</td>
      <td>A</td>
      <td>CORNEA</td>
      <td>Lens protection</td>
    </tr>
    <tr>
      <td>It holds the bearing straight</td>
      <td>POISE</td>
      <td>I</td>
      <td>S</td>
      <td>POSSE</td>
      <td>Band in the west</td>
    </tr>
    <tr>
      <td>Maker's marque</td>
      <td>BRAND</td>
      <td>N</td>
      <td>I</td>
      <td>BRAID</td>
      <td>Plait of locks</td>
    </tr>
    <tr>
      <td>Kamen two-wheelers</td>
      <td>SEGWAYS</td>
      <td>G</td>
      <td>A</td>
      <td>SEAWAYS</td>
      <td>Mediterranean routes</td>
    </tr>
  </table>
  <p>The two sets of changed letters spell two clues: TURKISH FOR BUILDING and RIVER BORDER FOR ASIA. The answers to those clues are BINA and URAL, which combine to spell <b>BINAURAL</b>, the answer to the puzzle.</p>
</div>
{% endblock %}
