{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}Before and After MASH: Solution{% endblock %}
{% block puzzle_name_block %}Before and After MASH: Solution{% endblock %}
{% block byline %}By Dan Katz{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each of the sound clips is sung to the tune of a relatively well-known theme song from a TV show. The subject matter of each song is a title or phrase that overlaps the TV show title, so they can be combined into a single mashup answer in the style of
    the "Before and After" categories on Jeopardy! and Wheel of Fortune. (The title of the puzzle is a similar combination of the term "before and after" and the TV show title "After MASH.") The sound clips are alphabetized by answer (with "the" counting
    since it's entered into the grid).
  </p>
  <p>
    Each combined answer fits into one of the rows of squares. In all of the answers before the question marks, the TV show appears "after," and in all of the answers after the question marks, the TV show appears "before," suggesting we need something that
    appears between the two sets. The blue squares before spell CHANDLER CAN'T CRY, and the ones after spell UNAGI. The One Where Chandler Can't Cry and The One With Unagi are both sixth-season Friends episodes, and the single episode between them
    is a two-parter called The One That Could Have Been. Since the word after "One" was left out of both of the blue-square phrases, it also should be for the puzzle answer, which is COULD HAVE BEEN.
  </p>
  <hr/>
  <p>3 - ANDREW WKRP IN CIN[C]INNATI</p>
  <p>20 - ZERO DARK T[H]IRTY ROCK</p>
  <p>14 - NEW YORK STOCK EXCH[A]NGEL</p>
  <p>6 - CIN[N]ABONANZA</p>
  <p>2 - ALEXAN[D]ER THE GREATEST AMERICAN HERO</p>
  <p>10 - HALF [L]IFE THREES COMPANY</p>
  <p>5 - CEL[E]BRITY DEATHMATCH GAME</p>
  <p>1 - AGENT O[R]ANGE IS THE NEW BLACK</p>
  <p>4 - [C]ALVINBALL IN THE FAMILY</p>
  <p>8 - GENERAL [A]DMISSION IMPOSSIBLE</p>
  <p>15 - OPE[N] SESAME STREET</p>
  <p>9 - GORILLAS IN THE MIS[T]ER ED</p>
  <p>19 - WORDPERFE[C]T STRANGERS</p>
  <p>13 - MIRACLE G[R]OWING PAINS</p>
  <p>18 - TRIGGER HAPP[Y] DAYS</p>
  <br/>
  <p>7 - FAMILY G[U]Y FIERI</p>
  <p>16 - THE BRADY BU[N]CHARTED</p>
  <p>12 - MAD MEN IN BL[A]CK</p>
  <p>17 - THE [G]OLDEN GIRLS ON FILM</p>
  <p>11 - LAVERNE AND SHIRLEY MACLA[I]NE</p>
</div>
{% endblock %}
