{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cleric' %}
{% block title_block %}CHINA KILNS: Solution{% endblock %}
{% block puzzle_name_block %}CHINA KILNS: Solution{% endblock %}
{% block byline %}By Guy Jacobson{% endblock %}
{% block solution %}BREAM{% endblock %}

{% block puzzle_head_block %}
  <style>
    td.y {
      width: 250px;
      text-align: right;
      padding-right: 25px;
    }
    td.x {
      width: 15px;
      text-align: center;
    }
    td.z {
      width: 15px;
      color: red;
      text-align: center;
    }
    td.w {
      width: 30px;
      color: red;
      text-align: center;
      font-size: 150%;
      padding-right: 15px;
    }
    tr.s {
      height: 10px;
      line-height: 10px;
      color: red;
      transform: translate(0px,-3px);
      font-size: 60%;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The puzzle's title CHINA KILNS anagrams word-wise to CHAIN LINKS,
      suggesting that anagramming and creating a chain of some kind are
      involved.
    </p>
    <p>
      Each of the phrases is a clue for an answer that solvers need to enter in
      the blanks to its right. (These answers do not always have "dictionary
      nature".) The clues are ordered such that their answers are
      alphabetical. Each answer has one red blank, selecting a single letter,
      with some letters being shifted in alphabetic position when marked with
      small signed integers below.
    </p>
    <p>
      Here are the answers and selected letters for each clue phrase:
    </p>
    <table>
      <tr>
        <td class="w">R</td>
        <td class="y">ETHYNE INFIDELS</td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">Y</td>
        <td class="x">L</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">E</td>
        <td class="x"></td>
        <td class="x">H</td>
        <td class="x">E</td>
        <td class="z">R</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">S</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">S</td>
        <td class="y">TIGER BASKET</td>
        <td class="x">A</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">R</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="z">T</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">D</td>
        <td class="x">U</td>
        <td class="x">N</td>
        <td class="x">K</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">GIRL'S POTENTIAL</td>
        <td class="x">C</td>
        <td class="x">H</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">K'</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">V</td>
        <td class="x">O</td>
        <td class="x">L</td>
        <td class="z">T</td>
        <td class="x">A</td>
        <td class="x">G</td>
        <td class="x">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">F</td>
        <td class="y">BIDDIES FOR SURE</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="z">F</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">Y</td>
        <td class="x"></td>
        <td class="x">H</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">S</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">N</td>
        <td class="y">USE SCORN</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="x">S</td>
        <td class="z">P</td>
        <td class="x">I</td>
        <td class="x">S</td>
        <td class="x">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">GIVE SACKCLOTH</td>
        <td class="x">D</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x">A</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x"></td>
        <td class="x">B</td>
        <td class="x">U</td>
        <td class="x">R</td>
        <td class="x">L</td>
        <td class="x">A</td>
        <td class="x">P</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">ANTI-POSITRONS</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="z">E</td>
        <td class="x">C</td>
        <td class="x">T</td>
        <td class="x">R</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x">S</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">TIP-TOP CEREAL</td>
        <td class="x">G</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">M</td>
        <td class="x">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">F</td>
        <td class="y">POLLOCK TECHNIQUE</td>
        <td class="x">O</td>
        <td class="x">I</td>
        <td class="x">L</td>
        <td class="x"></td>
        <td class="x">S</td>
        <td class="x">P</td>
        <td class="x">L</td>
        <td class="x">A</td>
        <td class="x">T</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x">R</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">G</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">+1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">NEUTRON BARD</td>
        <td class="x">P</td>
        <td class="x">A</td>
        <td class="z">R</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">L</td>
        <td class="x">E</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">O</td>
        <td class="x">E</td>
        <td class="x">T</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">O</td>
        <td class="y">HASTEN ELECTRIC EYE</td>
        <td class="x">Q</td>
        <td class="x">U</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">K</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">H</td>
        <td class="z">O</td>
        <td class="x">T</td>
        <td class="x">O</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">L</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">M</td>
        <td class="y">RAVI SHANKAR</td>
        <td class="x">R</td>
        <td class="x">A</td>
        <td class="x">G</td>
        <td class="x">A</td>
        <td class="x"></td>
        <td class="z">M</td>
        <td class="x">A</td>
        <td class="x">N</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">B</td>
        <td class="y">PLUNDER A BOAT</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">V</td>
        <td class="x">I</td>
        <td class="x">S</td>
        <td class="x">H</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">R</td>
        <td class="x">K</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">+1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">I</td>
        <td class="y">DRUNKEN PONTIAC</td>
        <td class="x">S</td>
        <td class="x">O</td>
        <td class="x">U</td>
        <td class="x">S</td>
        <td class="x">E</td>
        <td class="x">D</td>
        <td class="x"></td>
        <td class="x">F</td>
        <td class="z">I</td>
        <td class="x">R</td>
        <td class="x">E</td>
        <td class="x">B</td>
        <td class="x">I</td>
        <td class="x">R</td>
        <td class="x">D</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">G</td>
        <td class="y">SOL CENTER</td>
        <td class="x">S</td>
        <td class="x">U</td>
        <td class="x">N'</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">C</td>
        <td class="x">O</td>
        <td class="x">R</td>
        <td class="z">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">+2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">H</td>
        <td class="y">AIMS AT CYCLE</td>
        <td class="x">T</td>
        <td class="x">A</td>
        <td class="x">R</td>
        <td class="x">G</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">B</td>
        <td class="z">I</td>
        <td class="x">K</td>
        <td class="x">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">CIGAR NAME</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x">&mdash;</td>
        <td class="x">A</td>
        <td class="x">M</td>
        <td class="x">O</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">ANAGRAM</td>
        <td class="x">T</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">N</td>
        <td class="x">S</td>
        <td class="x">P</td>
        <td class="x">O</td>
        <td class="x">S</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">O</td>
        <td class="x">N</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">CITY VOLE</td>
        <td class="x">U</td>
        <td class="z">R</td>
        <td class="x">B</td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">R</td>
        <td class="x">O</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">T</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">IS SPEED</td>
        <td class="x">V</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">O</td>
        <td class="z">C</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">Y</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">A TOME</td>
        <td class="x">W</td>
        <td class="x">A</td>
        <td class="z">R</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x">D</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">E</td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">E</td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
    </table>
    <p>
      Note that each answer is also an anagram of another clue phrase. Starting
      with the first capitalized phrase in the flavortext (A PREDAWN ACE),
      solvers can proceed to the answer that is an anagram of that (WAR AND
      PEACE), and from there go to the answer that is an anagram of the clue for
      WAR AND PEACE (A TOME, which anagrams to TE-AMO). Tracing through the
      clues and answers in this way produces a single chain, and ordering the
      answers using this chain produces this:
    </p>
    <table>
      <tr>
        <td class="w">R</td>
        <td class="y">A TOME</td>
        <td class="x">W</td>
        <td class="x">A</td>
        <td class="z">R</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x">D</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">E</td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">E</td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">CIGAR NAME</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x">&mdash;</td>
        <td class="x">A</td>
        <td class="x">M</td>
        <td class="x">O</td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">TIP-TOP CEREAL</td>
        <td class="x">G</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">M</td>
        <td class="x">E</td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">NEUTRON BARD</td>
        <td class="x">P</td>
        <td class="x">A</td>
        <td class="z">R</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">L</td>
        <td class="x">E</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">O</td>
        <td class="x">E</td>
        <td class="x">T</td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">CITY VOLE</td>
        <td class="x">U</td>
        <td class="z">R</td>
        <td class="x">B</td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">R</td>
        <td class="x">O</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">T</td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">IS SPEED</td>
        <td class="x">V</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">O</td>
        <td class="z">C</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">Y</td>
      </tr>
      <tr>
        <td class="w">N</td>
        <td class="y">USE SCORN</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="x">S</td>
        <td class="z">P</td>
        <td class="x">I</td>
        <td class="x">S</td>
        <td class="x">E</td>
      </tr>
      <tr>
        <td class="w">G</td>
        <td class="y">SOL CENTER</td>
        <td class="x">S</td>
        <td class="x">U</td>
        <td class="x">N'</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">C</td>
        <td class="x">O</td>
        <td class="x">R</td>
        <td class="z">E</td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">ANTI-POSITRONS</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="z">E</td>
        <td class="x">C</td>
        <td class="x">T</td>
        <td class="x">R</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x">S</td>
      </tr>
      <tr>
        <td class="w">A</td>
        <td class="y">ANAGRAM</td>
        <td class="x">T</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">N</td>
        <td class="x">S</td>
        <td class="x">P</td>
        <td class="x">O</td>
        <td class="x">S</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">O</td>
        <td class="x">N</td>
      </tr>
      <tr>
        <td class="w">M</td>
        <td class="y">RAVI SHANKAR</td>
        <td class="x">R</td>
        <td class="x">A</td>
        <td class="x">G</td>
        <td class="x">A</td>
        <td class="x"></td>
        <td class="z">M</td>
        <td class="x">A</td>
        <td class="x">N</td>
      </tr>
      <tr>
        <td class="w">B</td>
        <td class="y">PLUNDER A BOAT</td>
        <td class="x">R</td>
        <td class="z">A</td>
        <td class="x">V</td>
        <td class="x">I</td>
        <td class="x">S</td>
        <td class="x">H</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">A</td>
        <td class="x">R</td>
        <td class="x">K</td>
      </tr>
      <tr>
        <td class="w">E</td>
        <td class="y">GIVE SACKCLOTH</td>
        <td class="x">D</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x">A</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x"></td>
        <td class="x">B</td>
        <td class="x">U</td>
        <td class="x">R</td>
        <td class="x">L</td>
        <td class="x">A</td>
        <td class="x">P</td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">GIRL'S POTENTIAL</td>
        <td class="x">C</td>
        <td class="x">H</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">K'</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">V</td>
        <td class="x">O</td>
        <td class="x">L</td>
        <td class="z">T</td>
        <td class="x">A</td>
        <td class="x">G</td>
        <td class="x">E</td>
      </tr>
      <tr>
        <td class="w">F</td>
        <td class="y">POLLOCK TECHNIQUE</td>
        <td class="x">O</td>
        <td class="x">I</td>
        <td class="x">L</td>
        <td class="x"></td>
        <td class="x">S</td>
        <td class="x">P</td>
        <td class="x">L</td>
        <td class="x">A</td>
        <td class="x">T</td>
        <td class="x">T</td>
        <td class="z">E</td>
        <td class="x">R</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">G</td>
      </tr>
      <tr>
        <td class="w">O</td>
        <td class="y">HASTEN ELECTRIC EYE</td>
        <td class="x">Q</td>
        <td class="x">U</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">K</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">H</td>
        <td class="z">O</td>
        <td class="x">T</td>
        <td class="x">O</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">L</td>
      </tr>
      <tr>
        <td class="w">R</td>
        <td class="y">ETHYNE INFIDELS</td>
        <td class="x">A</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">Y</td>
        <td class="x">L</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">E</td>
        <td class="x"></td>
        <td class="x">H</td>
        <td class="x">E</td>
        <td class="z">R</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">I</td>
        <td class="x">C</td>
        <td class="x">S</td>
      </tr>
      <tr>
        <td class="w">F</td>
        <td class="y">BIDDIES FOR SURE</td>
        <td class="x">D</td>
        <td class="x">E</td>
        <td class="z">F</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">I</td>
        <td class="x">T</td>
        <td class="x">E</td>
        <td class="x">L</td>
        <td class="x">Y</td>
        <td class="x"></td>
        <td class="x">H</td>
        <td class="x">E</td>
        <td class="x">N</td>
        <td class="x">S</td>
      </tr>
      <tr>
        <td class="w">I</td>
        <td class="y">DRUNKEN PONTIAC</td>
        <td class="x">S</td>
        <td class="x">O</td>
        <td class="x">U</td>
        <td class="x">S</td>
        <td class="x">E</td>
        <td class="x">D</td>
        <td class="x"></td>
        <td class="x">F</td>
        <td class="z">I</td>
        <td class="x">R</td>
        <td class="x">E</td>
        <td class="x">B</td>
        <td class="x">I</td>
        <td class="x">R</td>
        <td class="x">D</td>
      </tr>
      <tr>
        <td class="w">S</td>
        <td class="y">TIGER BASKET</td>
        <td class="x">A</td>
        <td class="x"></td>
        <td class="x">P</td>
        <td class="x">R</td>
        <td class="x">I</td>
        <td class="x">N</td>
        <td class="x">C</td>
        <td class="x">E</td>
        <td class="z">T</td>
        <td class="x">O</td>
        <td class="x">N</td>
        <td class="x"></td>
        <td class="x">D</td>
        <td class="x">U</td>
        <td class="x">N</td>
        <td class="x">K</td>
      </tr>
      <tr>
        <td class="w">H</td>
        <td class="y">AIMS AT CYCLE</td>
        <td class="x">T</td>
        <td class="x">A</td>
        <td class="x">R</td>
        <td class="x">G</td>
        <td class="x">E</td>
        <td class="x">T</td>
        <td class="x">S</td>
        <td class="x"></td>
        <td class="x">B</td>
        <td class="z">I</td>
        <td class="x">K</td>
        <td class="x">E</td>
      </tr>
    </table>
    <p>
      Note that the final clue phrase anagrams to the second capitalized phrase
      in the flavortext (MYSTICAL ACE), ending the chain. With this chain
      ordering, the selected letters spell out the message "REARRANGE AMBER FOR
      FISH", which clues <b>BREAM</b>, this puzzle's answer.
    </p>
  </div>
{% endblock %}
