{% extends "solutions/solution_layout.html" %}
{% block title_block %}Crossing Your Arms: Solution{% endblock %}
{% block puzzle_name_block %}Crossing Your Arms: Solution{% endblock %}

{% block puzzle_head_block %}
<style>
.fixed-width-font {
  font-family: monospace;
  font-size: 16px;
}
</style>
{% endblock %}

{% block solution_content_block %}
<div>
<p>Each of the given letter strings can be separated into two separate clues (the clues are interwoven, but the letters within each clue are given in the correct order). Each clue has an answer which is also the name of a weapon. The two answers for each string can be filled into one of the pairs of crossing sets of squares; the position of the corresponding grid is given below for each clue pair.</p>

<div class="fixed-width-font">
<p>INTERSTATE NINETY LOCALLY = PIKE<br/>
ANARCHY DEODORANT BRAND = AXE [3rd]</p>

<p>COMMAND DETONATED LANDMINE = CLAYMORE<br/>
SYMBOL ALSO CALLED AN OBELISK = DAGGER [6th]</p>

<p>COLLECTION OF EMPLOYEES = STAFF<br/>
VOLCANO IN NEW BRITAIN = BOLA [1st]</p>

<p>HIGH TAPERING SHOE HEEL = STILETTO<br/>
NIGHT SPOT FOR DANCING = CLUB [7th]</p>

<p>MOVE QUICKLY AND SUDDENLY = DART<br/>
DOPING CYCLIST ARMSTRONG = LANCE [2nd]</p>

<p>PIECE OF ASPARAGUS = SPEAR<br/>
TWENTY ONE IN A CASINO = BLACKJACK [5th]</p>

<p>SPRAY USED FOR DEFENSE = MACE<br/>
SUGAR FREE CHEWING GUM = TRIDENT [4th]</p>

<p>THIN ALUMINUM WRAPPING = FOIL<br/>
EITHER VENUS OR LUCIFER = MORNING STAR [10th]</p>

<p>JAMES TAWNEY FOR EXAMPLE = WHIP<br/>
TOO LEGIT TO QUIT ARTIST = HAMMER [8th]</p>

<p>THRASH ABOUT WILDLY = FLAIL<br/>
STRAP FOR A BROKEN ARM = SLING [9th]</p>
</div>

<p>Once the grids are completed, the blue letters spell STIMPY'S PAL, and the yellow letters spell BEATLE BEST. The answers to these clues are REN and PETE respectively, and interweaving these answers as shown by the seven colored squares gives the puzzle's answer, PRETEEN.</p>
</div>
{% endblock %}