{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Dot Matrix: Solution{% endblock %}
{% block puzzle_name_block %}Dot Matrix: Solution{% endblock %}
{% block byline %}By Roger Barkan{% endblock %}
{% block solution %}STAPH{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The answer to each grid-adjacent clue can be entered into the
      corresponding row in Morse code. Treating Morse dots as bumps and dashes
      as non-bumps, this will cause another word to be read in each grid using
      Braille. These words correspond to the clues in the box above. Reading the
      shaded letters spells CAST RACE ROAM. Writing these three words in Morse
      and converting to Braille as before spells the answer, <b>STAPH</b>.
    </p>
    <p>In words:</p>
    <p>
      DICK, JINX, WORK &rarr; SCHOOL<br>
      ARDENT, NEWMAN, ROMEO &rarr; ORACLE<br>
      DELVED, WACKY, ALMOND &rarr; SNUFFBOX<br>
      CARAFE, ARMENIAN, JAMAAL &rarr; SILENTLY
    </p>
    <p>
      VENICE, SLAVE, MAMMAL &rarr; GREGORY<br>
      VALET, MEATIER, TOMATO &rarr; CHARGE<br>
      AVERTS, DOMAIN, ROOTED &rarr; OPACITY<br>
      RUNTS, DEMETER, MENACE &rarr; EQUITY
    </p>
    <p>
      STATURE, ANSWER, AMAZED &rarr; PERJURY<br>
      AWAITED, ATHLETE, ENCORE &rarr; LOTTERY<br>
      PARTIED, STAGGER, JOYCE &rarr; RIBALDRY<br>
      TUFTS, WACO, JUNK &rarr; SEXISM
    </p>
    <p>In dots:</p>
    <pre>SCHOOL
-....-.-.-.- DICK
.---..-.-..- JINX
.-----.-.-.- WORK

ORACLE
.-.-.-...-.- ARDENT
-...----.--. NEWMAN
.-.-----.--- ROMEO

SNUFFBOX
-....-.....-.-.. DELVED
.--.--.-.-.--.-- WACKY
.-.-..------.-.. ALMOND

SILENTLY
-.-..-.-..-..-.. CARAFE
.-.-.--.-....--. ARMENIAN
.---.---.-.-.-.. JAMAAL

GREGORY
...-.-...-.-.. VENICE
....-...-...-. SLAVE
--.-----.-.-.. MAMMAL

CHARGE
...-.-.-...- VALET
--..--....-. MEATIER
------.----- TOMATO

OPACITY
.-...-..-.-... AVERTS
-..-----.-..-. DOMAIN
.-.-------.-.. ROOTED

EQUITY
.-...--.-... RUNTS
-...--.-..-. DEMETER
--.-..--.-.. MENACE

PERJURY
...-.--..-.-.. STATURE
.--.....--..-. ANSWER
.---.---...-.. AMAZED

LOTTERY
.-.--.-..-.-.. AWAITED
.--.....-...-. ATHLETE
.-.-.-.---.-.. ENCORE

RIBALDRY
.--..-.-.-...-.. PARTIED
...-.---.--...-. STAGGER
.-------.---.-.. JOYCE

SEXISM
-..-..-.-... TUFTS
.--.--.-.--- WACO
.---..--.-.- JUNK</pre>
  </div>
{% endblock %}
