{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'dungeon' %}
{% block title_block %}The Dismal Dungeon: Solution{% endblock %}
{% block puzzle_name_block %}The Dismal Dungeon: Solution{% endblock %}
{% block byline %}By Roger Barkan{% endblock %}
{% block solution %}CARRY A TORCH{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content ul {
    list-style-type: none;
    padding-left: 0px;
  }
  #puzzle-content li {
    padding-bottom: 3px;
  }
  #puzzle-content td, #puzzle-content th {
    padding: 4px;
    text-align: center;
  }
  #puzzle-content td.answer-listing {
    font-family: monospace;
  }
  #puzzle-content span.highlight-group {
    font-weight: bold;
    color: blue;
  }
  #puzzle-content span.highlight-letter {
    font-weight: bold;
    color: red;
  }
  #puzzle-content img#solved-grid {
    max-width: 900px;
    margin-top: 1em;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each puzzle answer can be spelled out in the grid by starting at an appropriate cell, moving E, N, S, and W when those letters are encountered. The letters not used in any path spell A THRU L, a hint that the paths begin on the letters A through L (minus E), providing an ordering. Taking the cells that each path ends on, in this order, spells the answer <b>CARRY A TORCH</b>.
  </p>
  <table>
    <tr><th>Start Letter</th><th>Answer</th><th>End Letter</th></tr>
    <tr><td>A</td><td class="answer-listing">STEPSISTERS</td><td>C</td></tr>
    <tr><td>B</td><td class="answer-listing">ERNIE ELS</td><td>A</td></tr>
    <tr><td>C</td><td class="answer-listing">SINN FEIN</td><td>R</td></tr>
    <tr><td>D</td><td class="answer-listing">NINE ONE ONE</td><td>R</td></tr>
    <tr><td>F</td><td class="answer-listing">SUSPENDED SENTENCE</td><td>Y</td></tr>
    <tr><td>G</td><td class="answer-listing">NEWBERN TENNESSEE</td><td>A</td></tr>
    <tr><td>H</td><td class="answer-listing">SEAN LENNON</td><td>T</td></tr>
    <tr><td>I</td><td class="answer-listing">WANDERERS</td><td>O</td></tr>
    <tr><td>J</td><td class="answer-listing">EVEN STEVEN</td><td>R</td></tr>
    <tr><td>K</td><td class="answer-listing">ST ELSEWHERE</td><td>C</td></tr>
    <tr><td>L</td><td class="answer-listing">SEVEN WONDERS</td><td>H</td></tr>
  </table>
  <img id="solved-grid" src="{{ asset_url_for('general/quests/solutions/dungeon-solved.png') }}"/>
</div>
{% endblock %}
