{% extends "solutions/solution_layout.html" %}
{% block title_block %}Epic Raft Battles of History: Solution{% endblock %}
{% block puzzle_name_block %}Epic Raft Battles of History: Solution{% endblock %}

{% block puzzle_head_block %}
  <style>
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 4px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each of the puzzle's ten images features a famous Viking, some rap lyrics,
      and a map. The lyrics feature clues to identify:
    </p>
    <ul>
      <li>The Viking (the enumeration is also provided)
      <li>A Viking River Cruise (www.vikingrivercruises.com; these are
        explicitly named in the lyrics)
      <li>Two locations that are stops on the named cruise (these are also marked on the map with the Viking Cruise Line ship logos)
    </ul>
    <p>
      The maps show the river routes of the cruises. The words START and FINISH
      are included to indicate the direction of the cruise, as some Viking River
      Cruises can start at either end of their route. The two locations clued in
      each set of lyrics are stops that occur on particular days of the cruise's
      itinerary. Indexing the days into the name of the Viking produces two
      letters. The indexed letters spell the phrase BOAT POLES OR HAS A
      FIGHT. This clues the answer <b>SPARS</b>.
    </p>
    <table>
      <tr>
        <th>Viking</th>
        <th>Cruise</th>
        <th>First Stop</th>
        <th>Second Stop</th>
        <th>Letters</th>
      </tr>
      <tr>
        <td>Ragnar Lothbrok (from the History Channel drama "Vikings")</td>
        <td>Myanmar Explorer</td>
        <td>Salé Monasteries (day 11)</td>
        <td>Myint Mu (day 13)</td>
        <td>BO</td>
      </tr>
      <tr>
        <td>Tarvold (from the fictional series "Viking Quest" featured on "Entourage")</td>
        <td>Heart of Germany</td>
        <td>Heidelberg (day 2)</td>
        <td>Frankfort (day 1)</td>
        <td>AT</td>
      </tr>
      <tr>
        <td>Hiccup Horrendous Haddock III</td>
        <td>Pathways of the Pharaohs</td>
        <td>Edfu (day 6)</td>
        <td>Abu Simbel (day 8)</td>
        <td>PO</td>
      </tr>
      <tr>
        <td>Hagar the Horrible</td>
        <td>Grand European Tour & Belgium</td>
        <td>Melk (day 15)</td>
        <td>Koblenz (day 8)</td>
        <td>LE</td>
      </tr>
      <tr>
        <td>Leif Erikson (note that enumeration disambiguates spelling variants)</td>
        <td>Castles & Legends</td>
        <td>Vienna (day 9)</td>
        <td>Bratislava (day 10)</td>
        <td>SO</td>
      </tr>
      <tr>
        <td>Viktor the Viking</td>
        <td>Portugal's River of Gold</td>
        <td>Barca a'Alva (day 6)</td>
        <td>Pinhao (day 8)</td>
        <td>RH</td>
      </tr>
      <tr>
        <td>Ashildr (from Doctor Who)</td>
        <td>Rhine Getaway</td>
        <td>Amsterdam (day 1)</td>
        <td>Kinderdijk (day 2)</td>
        <td>AS</td>
      </tr>
      <tr>
        <td>Olaf Timandahaf</td>
        <td>Elegant Elbe</td>
        <td>Decin/Prague (day 8)</td>
        <td>Wittenberg (day 4)</td>
        <td>AF</td>
      </tr>
      <tr>
        <td>Noggin the Nog</td>
        <td>France's Finest</td>
        <td>Normandy (day 5)</td>
        <td>Vernon (day 3)</td>
        <td>IG</td>
      </tr>
      <tr>
        <td>Erik the Viking</td>
        <td>Waterways of the Tsars</td>
        <td>Yaroslavl (day 6)</td>
        <td>Uglich (day 5)</td>
        <td>HT</td>
      </tr>
    </table>
  </div>
{% endblock %}
