{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'economist' %}
{% block title_block %}Fashionable Friends: Solution{% endblock %}
{% block puzzle_name_block %}Fashionable Friends: Solution{% endblock %}
{% block byline %}By Amanda O'Connor{% endblock %}
{% block solution %}HORSEBACKRIDE{% endblock %}

{% block puzzle_head_block %}
<style>
  table,
  th,
  td {
    border: 1px solid;
  }

  table {
    border-collapse: collapse;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>This puzzle’s theme is based on My Little Pony: Friendship is Magic. In the MLP world, all problems are solved through friendship, and ponies all have cutie marks on their hindquarters that depict their life talents. Cutie marks are branded (in a really
    friendly way, of course) on ponies’ flanks once they figure out their purpose/mission in life, and can be anything from a trophy to an apple to a dollar sign to a butterfly to a sun, etc. The puzzle is set up as a fashion show, in which specific ponies
    from the MLP world are showing off new fashion styles. Solvers are supposed to figure out a) that the puzzle is about My Little Pony and b) which specific ponies are doing the modeling, all based on text clues cluing horses/ponies in general and then
    cluing the specific ponies who are modeling the fashions, either by name, appearance, or speech patterns. Once solvers know which ponies are which, they can ascertain each pony’s cutie mark; since the name of each cutie mark is open to some interpretation
    (e.g., “butterflies” vs “three butterflies” vs “pink butterflies”), the length of the name of the cutie mark is given in the description of each pony’s runway catwalk. Once the cutie marks are determined, clues indicating win, place, or show appear
    in each pony’s description and tell the solver to take the first, second, or third letter in the cutie mark’s name. When placed in the order they appear in the fashion show, the letters spell out <b>HORSEBACKRIDE</b>.</p>
  <table>
    <tr>
      <th>Order of Appearance</th>
      <th>Pony</th>
      <th>Pony Clued By</th>
      <th>Cutie Mark</th>
      <th>Win/Place/Show</th>
      <th>Extracted Letter</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Shining Armour</td>
      <td>Sentinel, reference to wife</td>
      <td>SHIELD</td>
      <td>Place, 2</td>
      <td>H</td>
    </tr>
    <tr>
      <td>2</td>
      <td>DJ Pon-3</td>
      <td>Musical genius, sunglasses, headphones</td>
      <td>NOTES</td>
      <td>Place, 2</td>
      <td>O</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lyra Heartstrings</td>
      <td>Being a background pony, tug on your heartstrings</td>
      <td>LYRE/HARP</td>
      <td>Show, 3</td>
      <td>R</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Twilight Sparkle</td>
      <td>Glittering literary friend, reference to big brother</td>
      <td>STAR</td>
      <td>Win, 1</td>
      <td>S</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Granny Smith</td>
      <td>White hair, reference to granddaughter</td>
      <td>PIE</td>
      <td>Show, 3</td>
      <td>E</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Pinkie Pie</td>
      <td>Bouncing, excited speech, magenta</td>
      <td>BALLOONS</td>
      <td>Win, 1</td>
      <td>B</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Applejack</td>
      <td>Western drawl, cereal, reference to grandmother</td>
      <td>APPLES</td>
      <td>Win, 1</td>
      <td>A</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Daring Do</td>
      <td>Adventurer, safari, travels</td>
      <td>COMPASS</td>
      <td>Win, 1</td>
      <td>C</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Mr. Cake</td>
      <td>Reference to employee, sweet, bowtie</td>
      <td>CAKE</td>
      <td>Show, 3</td>
      <td>K</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Fancy Pants</td>
      <td>Celebrity, monocle, trend-setter, entourage</td>
      <td>CROWNS</td>
      <td>Place, 2</td>
      <td>R</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Rainbow Dash</td>
      <td>High flyer, sporting, prismatic, clearing clouds</td>
      <td>LIGHTNING</td>
      <td>Place, 2</td>
      <td>I</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Rarity</td>
      <td>Uncommon, boutique owner and designer (throughout puzzle)</td>
      <td>DIAMONDS</td>
      <td>Win, 1</td>
      <td>D</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Princess Cadence</td>
      <td>Royal Highness, reference to husband and baby</td>
      <td>HEART</td>
      <td>Place, 2</td>
      <td>E</td>
    </tr>
  </table>
</div>
{% endblock %}
