{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}Fill in the ______: Solution{% endblock %}
{% block puzzle_name_block %}Fill in the <span class="answer-blank">______</span>: Solution{% endblock %}
{% block byline %}By Guy Jacobson and Greg Pliska{% endblock %}
{% block solution %}KHAGAN BEK{% endblock %}

{% block puzzle_head_block %}
  <style>
    .u {
      text-decoration: underline;
    }
    #puzzle-content table td {
      padding: 0.3em;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      (with grateful thanks to Andrew Chaikin for the idea and inspiration!)
    </p>
    <p>
      Each trivia clue contains blanks which can be filled in with words that
      start with the same letter, and the 25 sets of blanks include all of the
      alphabet except for the letter G.
    </p>
    <p>
      Answers to the trivia can be sorted alphabetically by these clue blank
      letters, and the initital letters of these answers, in this order, spell a
      final clue. Three of the answers are the word &ldquo;BLANK&rdquo;, and these indicate
      a blank ( <span class="answer-blank">________</span> ) in the final clue.
    </p>
    <table>
      <tr>
        <th>Blank<br>letter</th>
        <th>Clue</th>
        <th>Answer word</th>
        <th>Answer<br>start</th>
      </tr>
      <tr><td class='c'><b>A<b></td><td>John Cusak&rsquo;s title character in the
          film directed by George <span class='u'>ARMITAGE</span>, co-starring <span class='u'>ALAN</span> <span class='u'>ARKIN</span> <span class='u'>AND</span> Dan <span class='u'>ACKROYD</span></td><td>[BLANK]</td><td class='c'>_
      </td></tr>
      <tr><td class='c'><b>B<b></td><td>Cartridge that goes &ldquo;<span class='u'>BANG</span>!&rdquo;, <span class='u'>BUT</span> contains no <span class='u'>BULLET</span></td><td>[BLANK]</td><td class='c'>_
      </td></tr>
      <tr><td class='c'><b>C<b></td><td>State whose largest <span class='u'>CITIES</span> are, in order, <span class='u'>COLUMBUS</span> (its <span class='u'>CAPITAL</span>), <span class='u'>CLEVELAND</span> and <span class='u'>CINCINNATI</span></td><td>OHIO</td><td class='c'>O
      </td></tr>
      <tr><td class='c'><b>D<b></td><td><span class='u'>DUNGEONS</span> & <span class='u'>DRAGONS</span> Starter Set monster created from a <span class='u'>DEAD</span> wizard</td><td>FLAMESKULL</td><td class='c'>F
      </td></tr>
      <tr><td class='c'><b>E<b></td><td><span class='u'>ELIA</span> who directed <i><span class='u'>EAST</span> of <span class='u'>EDEN</span></i> in 1955</td><td>KAZAN</td><td class='c'>K
      </td></tr>
      <tr><td class='c'><b>F<b></td><td><span class='u'>FOUNDING</span> <span class='u'>FATHER</span> whose <span class='u'>FACE</span> is on the ten</td><td>HAMILTON</td><td class='c'>H
      </td></tr>
      <tr><td class='c'><b>G<b></td><tr>
        <tr><td class='c'><b>H<b></td><td><span class='u'>HE</span> succeeded <span class='u'>HUBERT</span> <span class='u'>HORATIO</span> <span class='u'>HUMPHREY</span> as Vice President</td><td>AGNEW</td><td class='c'>A
        </td></tr>
        <tr><td class='c'><b>I<b></td><td><span class='u'>IRVING</span> Howe <span class='u'>IS</span> one of the people <span class='u'>INTERVIEWED</span> <span class='u'>IN</span> this mockumentary from the director of <i><span class='u'>INTERIORS</span></i> and <i><span class='u'>IRRATIONAL</span> Man</i></td><td>ZELIG</td><td class='c'>Z
        </td></tr>
        <tr><td class='c'><b>J<b></td><td>The primary followers of <span class='u'>JESUS</span>, this group includes <span class='u'>JOHN</span>, his brother <span class='u'>JAMES</span>, another <span class='u'>JAMES</span>, and <span class='u'>JUDAS</span></td><td>APOSTLES</td><td class='c'>A
        </td></tr>
        <tr><td class='c'><b>K<b></td><td>First name of the brother of <span class='u'>KHLOE</span>, <span class='u'>KIM</span>, and <span class='u'>KOURNTEY</span> <span class='u'>KARDASHIAN</span> (and step-brother to <span class='u'>KENDALL</span> and <span class='u'>KYLIE</span>)</td><td>ROBERT</td><td class='c'>R
        </td></tr>
        <tr><td class='c'><b>L<b></td><td>State whose slogan is &ldquo;<span class='u'>LAND</span> of <span class='u'>LINCOLN</span>&rdquo; </td><td>ILLINOIS</td><td class='c'>I
        </td></tr>
        <tr><td class='c'><b>M<b></td><td>The <span class='u'>MOST</span> abundant <span class='u'>METALLIC</span> element in the earth&rsquo;s crust, it follows <span class='u'>MAGNESIUM</span> in the periodic table</td><td>ALUMINUM</td><td class='c'>A
        </td></tr>
        <tr><td class='c'><b>N<b></td><td><span class='u'>NINE</span>-letter adjective describing the square root of any <span class='u'>NEGATIVE</span> <span class='u'>NUMBER</span></td><td>IMAGINARY</td><td class='c'>I
        </td></tr>
        <tr><td class='c'><b>O<b></td><td>In part an account of the <span class='u'>OLD</span> <span class='u'>ONES</span>, this book is said to have been translated into Latin by <span class='u'>OLAUS</span> Wormius</td><td>NECRONOMICON</td><td class='c'>N
        </td></tr>
        <tr><td class='c'><b>P<b></td><td>He <span class='u'>PAINTED</span> the <i><span class='u'>PORTRAIT</span> of <span class='u'>POPE</span> <span class='u'>PAUL</span> III</i> in 1543</td><td>TITIAN</td><td class='c'>T
        </td></tr>
        <tr><td class='c'><b>Q<b></td><td>First name shared by the author who created Captain <span class='u'>QUEEG</span> and the one who created the harpooner <span class='u'>QUEEQUEG</span></td><td>HERMAN</td><td class='c'>H
        </td></tr>
        <tr><td class='c'><b>R<b></td><td>Fictional <span class='u'>RHODE</span> Island town in the title of two novels by the author of <i><span class='u'>RABBIT</span>, <span class='u'>RUN</span></i>,  <i><span class='u'>RABBIT</span> <span class='u'>REDUX</span></i>,  <i><span class='u'>RABBIT</span> is <span class='u'>RICH</span></i>, and <i><span class='u'>RABBIT</span> at <span class='u'>REST</span></i></td><td>EASTWICK</td><td class='c'>E
        </td></tr>
        <tr><td class='c'><b>S<b></td><td>Tile in <span class='u'>SCRABBLE</span> that can <span class='u'>STAND</span> for any other, but <span class='u'>SCORES</span> zero</td><td>[BLANK]</td><td class='c'>_
        </td></tr>
        <tr><td class='c'><b>T<b></td><td>AL division in which each <span class='u'>TEAM</span>, including <span class='u'>THE</span> <span class='u'>TWINS</span> and <span class='u'>THE</span> <span class='u'>TIGERS</span>, has won at least <span class='u'>TWO</span> championship <span class='u'>TITLES</span></td><td>CENTRAL</td><td class='c'>C
        </td></tr>
        <tr><td class='c'><b>U<b></td><td><span class='u'>UNIT</span> of length <span class='u'>USED</span> in the <span class='u'>UNITED</span> States whose name comes from the Latin &ldquo;<span class='u'>UNCIA</span>&rdquo; </td><td>INCH</td><td class='c'>I
        </td></tr>
        <tr><td class='c'><b>V<b></td><td>Ghostbuster who delivered a humorous paraphrase of the classical quote &ldquo;<span class='u'>VENI</span>, <span class='u'>VIDI</span>, <span class='u'>VICI</span>&rdquo; </td><td>VENKMAN</td><td class='c'>V
        </td></tr>
        <tr><td class='c'><b>W<b></td><td>Group of undead led by Sylvanas <span class='u'>WINDRUNNER</span> in <i><span class='u'>WORLD</span> of <span class='u'>WARCRAFT</span></i></td><td>FORSAKEN</td><td class='c'>F
        </td></tr>
        <tr><td class='c'><b>X<b></td><td>Modern-day name of the country formerly ruled by <span class='u'>XERXES</span> I and II, Arsaces <span class='u'>X</span>, Arsaces <span class='u'>XI</span>, Arsaces <span class='u'>XII</span>,&nbsp;.&nbsp;.&nbsp;.&nbsp;, and many others</td><td>IRAN</td><td class='c'>I
        </td></tr>
        <tr><td class='c'><b>Y<b></td><td>State with a former governor who received his BA degree from <span class='u'>YALE</span> University in Connecticut and his MD from <span class='u'>YESHIVA</span> University in New <span class='u'>YORK</span></td><td>VERMONT</td><td class='c'>V
        </td></tr>
        <tr><td class='c'><b>Z<b></td><td>Direction in which the <span class='u'>ZAMBEZI</span> River, which forms part of the border between <span class='u'>ZAMBIA</span> and <span class='u'>ZIMBABWE</span>, flows</td><td>EAST</td><td class='c'>E
        </td></tr>
    </table>
    <p>
      Reading the first letters of the answer words, plus the blanks, gives the
      final clue:
    </p>
    <blockquote>
      <span class="answer-blank">________</span> <span class="answer-blank">________</span> OF KHAZARIA IN THE <span class="answer-blank">________</span> CIV FIVE
    </blockquote>
    <p>
      Using the hitherto unused G, solvers need to fill this final clue in to
      get:
    </p>
    <blockquote>
      <span class="u">GREAT</span> <span class="u">GENERAL</span> OF KHAZARIA IN THE <span class="u">GAME</span> CIV FIVE
    </blockquote>
    <p>
      (Searching for &ldquo;Khazaria&rdquo; and &ldquo;Civilization V&rdquo; will reveal the existence of a user-created mod to the game, in which this is the only alliterative GG phrase.) The puzzle&rsquo;s answer is <b>KHAGAN
      BEK</b>.
    </p>
  </div>
{% endblock %}
