{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cleric' %}
{% block title_block %}Four-Part Harmony: Solution{% endblock %}
{% block puzzle_name_block %}Four-Part Harmony: Solution{% endblock %}
{% block byline %}By Tanis O'Connor and Guy Jacobson{% endblock %}
{% block solution %}WAITERS{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each quatrain in the verse (all of which have rhyme scheme ABBA)
      indicates a song by the group ABBA. Reading the first words in each
      line gives these instructions:
    </p>
    <blockquote>
      SWEDISH POP FOUR SOME<br>
      EACH FOUR LINES INDICATES<br>
      ONE OF THEIR HITS<br>
      LOOK AT LAST WORDS<br>
      FIND WHERE THEY&rsquo;RE FROM<br>
      WHAT&rsquo;S THE RHYME SCHEME<br>
      THAT GIVES THE GROUP
    </blockquote>
    <p>
      The last words in each quatrain are rhymes taken from a particular
      ABBA song. In order, these are:
    </p>
    <blockquote>
      &ldquo;Waterloo&rdquo;: more/war, refuse/lose<br>
      &ldquo;Angeleyes&rdquo;: way/say, river/shiver<br>
      &ldquo;I Have a Dream&rdquo;: fail/tale, me/see<br>
      &ldquo;Take a Chance on Me&rdquo;: try/lie, line/mind<br>
      &ldquo;Eagle&rdquo;: spell/tell, wing/everything<br>
      &ldquo;Ring Ring&rdquo;: right/night, call/all<br>
      &ldquo;SOS&rdquo;: near/fear, understood/good
    </blockquote>
    <p>
      The first letters of these song titles spell <b>WAITERS</b>, the
      answer to this puzzle.
    </p>
  </div>
{% endblock %}
