{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'economist' %}
{% block title_block %}Fruitless: Solution{% endblock %}
{% block puzzle_name_block %}Fruitless: Solution{% endblock %}
{% block byline %}By Sarah Bagby and Ben Monreal{% endblock %}
{% block solution %}SCHOONER{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    padding-bottom: 3px;
  }

</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>The story mentions a number of English desserts---some common, some obscure, but all normally made with fruit. Here, not so much. The desserts are modified by the only adjectives in the text, all unappetizing. Alphabetize by dessert (&ldquo;I only came here to ORDER DESSERT&rdquo;) and read off the first letters of the unappetizing adjectives</p>
  <ul>
    <li>s smug betty</li>
    <li>c crooked buckle</li>
    <li>h hapless cobbler</li>
    <li>o officious fool</li>
    <li>o odd grunt</li>
    <li>n nervous slump</li>
    <li>e execrable sponge</li>
    <li>r reprehensible tart</li>
  </ul>
  <div>to get <b>SCHOONER</b>.</div>
</div>
{% endblock %}
