{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}General Aviation: Solution{% endblock %}
{% block puzzle_name_block %}General Aviation: Solution{% endblock %}
{% block byline %}By Ben Monreal{% endblock %}
{% block solution %}PAMPAS CAT{% endblock %}

{% block puzzle_head_block %}
<style>
  .left-col {
    padding-right: 45px;
  }
  .left-head {
    margin-left:-150px;
  }
  table {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    border-collapse: collapse;
  }
  .header-row {
    border-bottom: 1px solid #B0B0B0;
  }
  td {
    padding: 5px;
  }
  #puzzle-content span.highlight-letter {
    font-weight: bold;
    color: red;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>Most publicly-accessible airports worldwide are formally assigned both a three-letter IATA code and a four-letter ICAO code. Logan Airport&mdash;formally General Edward Lawrence Logan International Airport&mdash;is BOS in the IATA system and KBOS in the ICAO.</p>
  <p>All known species of living things can be formally assigned a name in binomial nomenclature, like <i>Homo sapiens</i>, by genus and species. (Note that the adjectival form of &ldquo;genus&rdquo; is &ldquo;general&rdquo;&mdash;hence &ldquo;General aviation.&rdquo;)</p>
  <p>There are a handful of lucky coincidences between airport names and zoological and botanical genuses&mdash;where a plant or animal genus happens to also be an IATA or ICAO code. That's what happens in this puzzle&mdash;we&rsquo;ve got a round-the-world itinerary
    in which each leg&rsquo;s origin is named by clueing their airport, and each destination is named by clueing an animal or plant. If you identify all of the clues and pictures, you&rsquo;ve got a whole itinerary. The clues are narrow but inexact, the photos are
    ... well, if you can tell Kentucky bluegrass from a picture of sod you&rsquo;re a better botanist than I am. But the <i>correspondence</i> between clues and pictures should make everything unambiguous. The photos are all of an extremely common member of
    the genus; the enumeration should break any major ambiguity when needed.</p>

  <table>
    <tr class="header-row">
      <th><span class='left-head'>Departure Airport</span></th>
      <th>Arrival Organism</th>
    </tr>
    <tr>
      <td class='left-col'>Phoenix Mesa Ga<span class="highlight-letter">T</span>eway Airport (KIWA)</td>
      <td><i>Pan troglod<span class="highlight-letter">Y</span>tes</i>, the common chimp</td>
    </tr>
    <tr>
      <td class='left-col'>Patta<span class="highlight-letter">N</span>i Airport (PAN)</td>
      <td><i>Musa &times; para<span class="highlight-letter">D</span>isiaca</i>, the Linnaean edible banana</td>
    </tr>
    <tr>
      <td class='left-col'>S<span class="highlight-letter">A</span>n Antonio de los Banos Airfield (MUSA)</td>
      <td><i>Ka<span class="highlight-letter">L</span>i tragus</i>, the common Western tumbleweed</td>
    </tr>
    <tr>
      <td class='left-col'>A<span class="highlight-letter">L</span>ice International Airport (KALI)</td>
      <td><i>Sus scrof<span class="highlight-letter">A</span></i>, the pig</td>
    </tr>
    <tr>
      <td class='left-col'>Spirit O<span class="highlight-letter">F</span> St Louis Airport (SUS)</td>
      <td><i><span class="highlight-letter">B</span>oa constrictor</i>, the&nbsp;.&nbsp;.&nbsp;. uh&nbsp;.&nbsp;.&nbsp;. boa constrictor</td>
    </tr>
    <tr>
      <td class='left-col'>Boma Air<span class="highlight-letter">P</span>ort (BOA)</td>
      <td><i>Ar<span class="highlight-letter">A</span> macao</i>, the scarlet macaw</td>
    </tr>
    <tr>
      <td class='left-col'>Acadiana <span class="highlight-letter">R</span>egional Airport (ARA)</td>
      <td><i>Hus<span class="highlight-letter">O</span> huso</i>, the Beluga sturgeon</td>
    </tr>
    <tr>
      <td class='left-col'><span class="highlight-letter">S</span>oroti Airport (HUSO)</td>
      <td><i>Mus mus<span class="highlight-letter">C</span>ulus</i>, the house mouse</td>
    </tr>
    <tr>
      <td class='left-col'>Min<span class="highlight-letter">A</span>mi Airport (MUS)</td>
      <td><i>Bos tauru<span class="highlight-letter">S</span></i>, the domestic cow</td>
    </tr>
    <tr>
      <td class='left-col'>General Edward Lawren<span class="highlight-letter">C</span>e Logan International Airport (BOS)</td>
      <td><i>Po<span class="highlight-letter">A</span> pratensis</i>, Kentucky bluegrass</td>
    </tr>
    <tr>
      <td class='left-col'>Salgado F<span class="highlight-letter">I</span>lho International Airport (POA)</td>
      <td><i>Kiwa hir<span class="highlight-letter">S</span>uta</i>, the furry lobster</td>
    </tr>
  </table>

  <p>Other than the clue and picture, the only other information that varies from one pass to another are the departure gate and arrival gate. Those are your indexes. Index into the airport&rsquo;s full name by the departure gate. Index into the species name by
    the arrival gate. Follow the itinerary from gate to gate&mdash;as the flavortext indicates, this is a round trip starting in Phoenix&mdash;and you'll get</p>
  <p>TYNDALLAFBPAROSCASCAIS</p>
  <p>That's TYNDALL AFB, PAROS, CASCAIS, three airports whose IATA codes spell PAM PAS CAT.</p>
  <p>The answer is <b>PAMPAS CAT</b>. This is a pampas cat:<br></p>
  <img src="{{ asset_url_for('general_aviation/Leopardus_pajeros_20101006.jpg') }}">
</div>
{% endblock %}
