{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}General Aviation: Solution{% endblock %}
{% block puzzle_name_block %}General Aviation: Solution{% endblock %}
{% block byline %}By Ben Monreal{% endblock %}
{% block solution %}PAMPAS CAT{% endblock %}

{% block puzzle_head_block %}
<style>
  .left-col {
    padding-right: 45px;
  }
  .left-head {
    margin-left:-150px;
  }
  table {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    border-collapse: collapse;
  }
  .header-row {
    border-bottom: 1px solid #B0B0B0;
  }
  td {
    padding: 5px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>Most publicly-accessible airports worldwide are formally assigned both a three-letter IATA code and a four-letter ICAO code. Logan Airport&mdash;formally General Edward Lawrence Logan International Airport&mdash;is BOS in the IATA system and KBOS in the ICAO.</p>
  <p>All known species of living things can be formally assigned a name in binomial nomenclature, like <i>Homo sapiens</i>, by genus and species. (Note that the adjectival form of "genus" is "general"&mdash;hence "General aviation.")</p>
  <p>There are a handful of lucky coincidences between airport names and zoological and botanical genuses&mdash;where a plant or animal genus happens to also be an IATA or ICAO code. That's what happens in this puzzle&mdash;we've got a round-the-world itinerary
    in which each leg's origin is named by clueing their airport, and each destination is named by clueing an animal or plant. If you identify all of the clues and pictures, you've got a whole itinerary. The clues are narrow but inexact, the photos are
    ... well, if you can tell Kentucky bluegrass from a picture of sod you're a better botanist than I am. But the <i>correspondence</i> between clues and pictures should make everything unambiguous. The photos are all of an extremely common member of
    the genus; the enumeration should break any major ambiguity when needed.</p>

  <table>
    <tr class="header-row">
      <th><span class='left-head'>departure airport</span></th>
      <th>arrival organism</th>
    </tr>
    <tr>
      <td class='left-col'>phoenix mesa ga<b>T</b>eway airport (kiwa)</td>
      <td>pan troglod<b>Y</b>tes, the common chimp</td>
    </tr>
    <tr>
      <td class='left-col'>patta<b>N</b>i airport (pan)</td>
      <td>musa x para<b>D</b>isiaca, the Linnaean edible banana</td>
    </tr>
    <tr>
      <td class='left-col'>s<b>A</b>n antonio de los banos airfield (musa)</td>
      <td>ka<b>L</b>i tragus, the common Western tumbleweed</td>
    </tr>
    <tr>
      <td class='left-col'>a<b>L</b>ice international airport (kali)</td>
      <td>sus scrof<b>A</b>, the pig</td>
    </tr>
    <tr>
      <td class='left-col'>spirit o<b>F</b> st louis airport (sus)</td>
      <td><b>B</b>oa constrictor, the ... uh ... boa constrictor</td>
    </tr>
    <tr>
      <td class='left-col'>boma air<b>P</b>ort (boa)</td>
      <td>ar<b>A</b> macao, the scarlet macaw</td>
    </tr>
    <tr>
      <td class='left-col'>acadiana <b>R</b>egional airport (ara)</td>
      <td>hus<b>O</b> huso, the Beluga sturgeon</td>
    </tr>
    <tr>
      <td class='left-col'><b>S</b>oroti airport (huso)</td>
      <td>mus mus<b>C</b>ulus, the house mouse</td>
    </tr>
    <tr>
      <td class='left-col'>min<b>A</b>mi airport (mus)</td>
      <td>bos tauru<b>S</b>, the domestic cow</td>
    </tr>
    <tr>
      <td class='left-col'>general edward lawren<b>C</b>e logan international airport (bos)</td>
      <td>po<b>A</b> pratensis, Kentucky bluegrass</td>
    </tr>
    <tr>
      <td class='left-col'>salgado f<b>I</b>lho international airport (poa)</td>
      <td>kiwa hir<b>S</b>uta, the furry lobster</td>
    </tr>
  </table>

  <p>Other than the clue and picture, the only other information that varies from one pass to another are the departure gate and arrival gate. Those are your indexes. Index into the airport's full name by the departure gate. Index into the species name by
    the arrival gate. Follow the itinerary from gate to gate&mdash;as the flavortext indicates, this is a round trip starting in Phoenix&mdash;and you'll get</p>
  <p>TYNDALLAFBPAROSCASCAIS</p>
  <p>That's TYNDALL AFB, PAROS, CASCAIS, three airports whose IATA codes spell PAM PAS CAT.</p>
  <p>The answer is <b>PAMPAS CAT</b>. This is a pampas cat:<br></p>
  <img src="{{ asset_url_for('general_aviation/Leopardus_pajeros_20101006.jpg') }}">
</div>
{% endblock %}
