{% extends "solutions/solution_layout.html" %}
{% block title_block %}Get Her! Together!: Solution{% endblock %}
{% block puzzle_name_block %}Get Her! Together!: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}BOBBY HENDRICKS{% endblock %}

{% block puzzle_head_block %}
  <style>
    table.a th {
      text-align: left;
    }
    table.a th td {
      padding: 4px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The clues all yield two-word phrases where the second word has an added
      bigram at the front.
    </p>
    <table class="a">
      <tr>
        <th>Definition</th>
        <th>Word 1</th>
        <th>Word 2</th>
        <th>Bigram</th>
      </tr>
      <tr><td>Crullers for the farmhands, chicken feed, Dorothy's washing, etc.</td><td>EM'S</td><td>ITEMS</td><td>IT</td></tr>
      <tr><td>It can turn a frown upside-down</td><td>ANGER</td><td>CHANGER</td><td>CH</td></tr>
      <tr><td>Fusion of elements 65 and 70</td><td>TERBIUM</td><td>YTTERBIUM</td><td>YT</td></tr>
      <tr><td>Electrical circuit in a boxing arena</td><td>RING</td><td>WIRING</td><td>WI</td></tr>
      <tr><td>Right-angled thymic lymphocyte</td><td>ELL</td><td>T-CELL</td><td>TC</td></tr>
      <tr><td>Subject of the song &ldquo;Don't Cry for Me, Types of Baryons&rdquo;</td><td>PERON'S</td><td>HYPERONS</td><td>HY</td></tr>
      <tr><td>Hat adorned with an Explorer</td><td>DORA</td><td>FEDORA</td><td>FE</td></tr>
      <tr><td>Small Croatian island &ldquo;King&rdquo;</td><td>VIS</td><td>ELVIS</td><td>EL</td></tr>
      <tr><td>Downpayment on an alb, e.g.</td><td>VESTMENT</td><td>INVESTMENT</td><td>IN</td></tr>
      <tr><td>AFL-CIO member who spawns by moonlight</td><td>UNION</td><td>GRUNION</td><td>GR</td></tr>
      <tr><td>The sounds of a garden implement being thrown into a canyon</td><td>HOE'S</td><td>ECHOES</td><td>EC</td></tr>
      <tr><td>Where some leafy greens are grown</td><td>CHARD</td><td>ORCHARD</td><td>OR</td></tr>
      <tr><td>Problem with a supporting theorem</td><td>LEMMA</td><td>DILEMMA</td><td>DI</td></tr>
      <tr><td>Tiny Zambian coin</td><td>WEE</td><td>NGWEE</td><td>NG</td></tr>
      <tr><td>Secrets of a Biblical wedding</td><td>CANA</td><td>ARCANA</td><td>AR</td></tr>
      <tr><td>A little break for oneself</td><td>ME</td><td>TIME</td><td>TI</td></tr>
      <tr><td>14 pounds</td><td>ONE</td><td>STONE</td><td>ST</td></tr>
    </table>
    <p>
      The bigrams, in clue order, spell the clue phrase ITCHY TWITCHY FEELING RECORDING ARTIST.
    </p>
    <p>
      <b>BOBBY HENDRICKS</b> is the answer to this puzzle.
    </p>
  </div>
{% endblock %}
