{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'wizard' %}
{% block title_block %}Getting Out of Line: Solution{% endblock %}
{% block puzzle_name_block %}Getting Out of Line: Solution{% endblock %}
{% block byline %}By Trip Payne and Scott Purdy{% endblock %}
{% block solution %}REPRESS MEMORIES{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style: none;
    }
    .grid {
      margin-left: 40px;
    }
  </style>
{% endblock %}


{% block solution_content_block %}
  <div>
    <p>The answers to the acrostic clues are:</p>
    <ul>
      <li>A: NAPHTHA
      <li>B: OCHOCINCO
      <li>C: WEIGHT
      <li>D: IMPASSE
      <li>E: TABULA RASA
      <li>F: SPEAKEASY
      <li>G: TRIFLE
      <li>H: IMPALA
      <li>I: MINT
      <li>J: EAGLES
      <li>K: TAKE OFF
      <li>L: OPERATED
      <li>M: BLITZEN
      <li>N: UNSEASONED
      <li>O: ITERATING
      <li>P: LAKE ST CLAIR
      <li>Q: DAMASCUS
      <li>R: TOAST
      <li>S: HAWKING
      <li>T: EGALITE
      <li>U: GROVER NORQUIST
      <li>V: RATTLESNAKE
      <li>W: ISOTOPE
      <li>X: DETEST
    </ul>
    <p>
      The first letters of those answers spell NOW IT&rsquo;S TIME TO BUILD THE
      GRID. Put the letters, in numerical order, into a 15&times;15 crossword grid:
    </p>
    <pre class="grid">GANGS COBS ASPS
AGORA HARE STET
PERIL ITAL TOTE
   FILCH FIACRE
SPUTNIK FIN KID
WON EZEKIEL HES
ARIA ANON EGO
TENTH SAG TELLS
  HMO OLEG EDAM
TEA SQUARES EMU
ORB TUT PACKRAT
   MAITAI AARON
ASTI LEVI PASTA
TEEN TWIN ECLAT
ODDS SEAT SKYPE</pre>
    <p>
      For the most part, the crossword clues give definitions for the down entries, in
      random order.
    </p>
    <ul>
      <li>Sitcom role for Van Dyke: PETRIE
      <li>Like contact lens solution: SALINE
      <li>Nike competitor: AVIA
      <li>Ratatouille vegetable: TOMATO
      <li>Had ratatouille, maybe: ATE
      <li>Ripen: AGE
      <li><i>Leave It to Beaver</i> exclamation: GEE
      <li>Shot from a stick, sometimes: SELFIE
      <li>Spam containers: TINS
      <li>Defendant in a 1925 trial: SCOPES
      <li>Pornography: SMUT
      <li>Negative conjunction: NOR
      <li>Spigot: TAP
      <li>Place to put in a PIN: ATM
      <li>Wiped clean: ERASED
      <li>Terrier of whodunits: ASTA
      <li>She played Sally in <i>Cabaret</i>: LIZA
      <li>Queensland tree-dweller: KOALA
      <li>Discontinuity: GAP
      <li>She might get sheared: EWE
      <li>Maidenform product: BRA
      <li>Underhanded: SLY
    </ul>
    <p>
      However, in 15 cases (one in each column of the puzzle), the clue is for an entry that
      is one letter off:
    </p>
    <ul>
      <li><i>Doctor Zhivago</i> role: LARA, not LAMA
      <li>Candidate&rsquo;s goal: SEAT, not SWAT
      <li>Cold remedy, supposedly: CHICKEN SOUP, not CHICKENS OUT
      <li>Handy identification?: FINGERPRINT, not FINGERPAINT
      <li>Calms down: QUIETS, not QUILTS
      <li>Small key: ISLET, not INLET
      <li>Grain for grinding: GRIST, not GRIFT
      <li>Oliver Twist&rsquo;s request: MORE, not PORE
      <li><i>The Waltons</i> actor Will: GEER, not GEAR
      <li>Resident of a certain European capital: STOCKHOLMER, not STOCKHOLDER
      <li>Bad engine sound: KNOCK, not KNACK
      <li>Takes the helm: STEERS, not STEEDS
      <li>Shameless, in a way: UNINHIBITED, not UNINHABITED
      <li>Book before Joel: HOSEA, not HOSTA
      <li>Quaker product: OATS, not OATH
    </ul>
    <p>
      Taking the correct letters in clue order, rather than the letters in the
      grid, spells the answer <b>REPRESS MEMORIES</b>.
    </p>
  </div>
{% endblock %}
