{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Half and Half: Solution{% endblock %}
{% block puzzle_name_block %}Half and Half: Solution{% endblock %}
{% block byline %}By Trip Payne, Tom Lamar, and Connor Stokes{% endblock %}
{% block solution %}MANGE{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content ul {
    list-style-type: none;
    padding-left: 0;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>The first and last columns of the grid tell you to GO TO DOGBREEDINFO DOT COM / SEE THE LIST OF HYBRID DOGS. Every line of this grid, except one, contains a dog from that list once a letter is added into the blank column:</p>
  <ul>
    <li>MAS(P)YR: Mastiff / Great Pyrenees</li>
    <li>D(U)ALANESE: Bolognese / Havanese</li>
    <li>BOUBE(R)MAN: Bouvier des Flandres / Doberman Pinscher</li>
    <li>MALAN(E)ES: Alaskan Malamute / Great Pyrenees</li>
    <li>DO(B)ERDANE: Doberman Pinscher / Great Dane</li>
    <li>WEIMA(R)ROTT: Weimaraner / Rottweiler</li>
    <li>POODL(E)</li>
    <li>WOLA(D)OR: Timber Wolf / Labrador Retriever</li>
    <li>BRU(S)SALIER: Brussels Griffon / Cavalier King Charles Spaniel</li>
    <li>(T)IBECOT: Coton de Tulear / Tibetan Terrier</li>
    <li>C(A)VAPOM: Cavalier King Charles Spaniel / Pomeranian</li>
    <li>LABMA(R)ANER: Labrador Retriever / Weimaraner</li>
    <li>KOBE(T)AN: Cocker Spaniel / Tibetan Terrier</li>
    <li>E(S)KIFON: American Eskimo / Brussels Griffon</li>
    <li>WOLAMU(T)E: Timber Wolf / Alaskan Malamute</li>
    <li>GLEC(H)ON: Beagle / Bichon Frise</li>
    <li>(E)WOKIAN: Havanese / Pomeranian</li>
    <li>BOLOG(C)O: Bolognese / Cocker Spaniel</li>
    <li>BIC(H)OMO: American Eskimo / Bichon Frise</li>
    <li>RE(A)GLE: Rottweiler / Beagle</li>
    <li>DAN(I)FF: Great Dane / Mastiff</li>
    <li>FLA(N)DOODLE: Bouvier des Flandres / Poodle</li>
  </ul>
  <p>The letters in the central column spell PUREBRED STARTS THE CHAIN. Starting with the only purebred in the list, POODLE, you can form the following chain, with the numbers indicating which letters to extract:</p>
  <ul>
    <li>POODLE</li>
    <li>FLANDOODLE (3): A</li>
    <li>BOUBERMAN</li>
    <li>DOBERDANE (8): N</li>
    <li>DANIFF</li>
    <li>MASPYR (3): S</li>
    <li>MALANEES</li>
    <li>WOLAMUTE (1): W</li>
    <li>WOLADOR</li>
    <li>LABMARANER (9): E</li>
    <li>WEIMARROTT</li>
    <li>REAGLE (1): R</li>
    <li>GLECHON</li>
    <li>BICHOMO (6): M</li>
    <li>ESKIFON</li>
    <li>BRUSSALIER (6): A</li>
    <li>CAVAPOM</li>
    <li>EWOKIAN (7): N</li>
    <li>DUALANESE</li>
    <li>BOLOGCO (5): G</li>
    <li>KOBETAN</li>
    <li>TIBECOT (4): E</li>
  </ul>
  <p>The answer to the puzzle is therefore <b>MANGE</b>.</p>
</div>
{% endblock %}
