{% extends "solutions/solution_layout.html" %}
{% block title_block %}Hopping Lock: Solution{% endblock %}
{% block puzzle_name_block %}Hopping Lock: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}EVIL{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each sentence describes a “crime” for which its perpetrator was
      beheaded. Appropriately, every word in the sentence has itself been
      “beheaded” by having the first letter removed.
    </p>
    <p>
      The unaltered descriptions, with their answers, are:
    </p>
    <ul>
      <li>Sheltered a Christian priest.  Saint ALBAN</li>
      <li>Killed his party guest with a piece of birch firewood. Tahvo PUTKONEN</li>
      <li>Turned people to stone. MEDUSA</li>
      <li>Sold adulterated tobacco. Antoine LAVOISIER</li>
      <li>Tried to kill a crew member with a magazine.  ASH (android from Alien)</li>
      <li>Distributed anti-war leaflets with her brother Hans.  Sophie SCHOLL</li>
      <li>Rebuked Herod for marrying Herodias. JOHN THE BAPTIST</li>
      <li>Charged with treason for naming Stannis as heir. Eddard STARK</li>
      <li>He was about to destroy Bethulia. HOLOFERNES</li>
      <li>Posthumously convicted of the regicide that made him Lord Protector. Oliver CROMWELL</li>
      <li>Led peasant uprising of 1525. Thomas MÜNTZER</li>
      <li>A monk, he opposed Ieyasu in 1600.  Ankokuji EKEI</li>
      <li>Fought Mace Windu in the Battle of Geonosis. Jango FETT</li>
    </ul>
    <p>
      The answer names must themselves be beheaded to acrostically spell out LUE
      ASCOT OR UKE, which is itself a beheaded clue: BLUE MASCOT FOR
      DUKE. Duke’s mascot is the Blue DEVIL.
    </p>
    <p>
      Beheading DEVIL gives the answer: <b>EVIL</b>.
    </p>
  </div>
{% endblock %}
