{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'warlord' %}
{% block title_block %}Hopping Lock: Solution{% endblock %}
{% block puzzle_name_block %}Hopping Lock: Solution{% endblock %}
{% block byline %}By Greg Pliska{% endblock %}
{% block solution %}EVIL{% endblock %}

{% block puzzle_head_block %}
  <style>
    #puzzle-content ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each sentence describes a &ldquo;crime&rdquo; for which its perpetrator was
      beheaded. Appropriately, every word in the sentence has itself been
      &ldquo;beheaded&rdquo; by having the first letter removed.
    </p>
    <p>
      The unaltered descriptions, with their answers, are:
    </p>
    <ul>
      <li>Sheltered a Christian priest = Saint ALBAN</li>
      <li>Killed his party guest with a piece of birch firewood = Tahvo PUTKONEN</li>
      <li>Turned people to stone = MEDUSA</li>
      <li>Sold adulterated tobacco = Antoine LAVOISIER</li>
      <li>Tried to kill a crew member with a magazine = ASH (android from <i>Alien</i>)</li>
      <li>Distributed anti-war leaflets with her brother Hans = Sophie SCHOLL</li>
      <li>Rebuked Herod for marrying Herodias = JOHN THE BAPTIST</li>
      <li>Committed treason by naming Stannis as heir = Eddard STARK</li>
      <li>Was about to destroy Bethulia = HOLOFERNES</li>
      <li>Was posthumously convicted of the regicide that made him Lord Protector = Oliver CROMWELL
</li>
      <li>Led peasant uprising of 1525 = Thomas MÜNTZER</li>
      <li>As a monk, opposed Ieyasu in 1600 = Ankokuji EKEI</li>
      <li>Fought Mace Windu in the Battle of Geonosis = Jango FETT</li>
    </ul>
    <p>
      The answer names must themselves be beheaded to acrostically spell out LUE
      ASCOT OR UKE, which is itself a beheaded clue: BLUE MASCOT FOR
      DUKE. Duke&rsquo;s mascot is the Blue DEVIL.
    </p>
    <p>
      Beheading DEVIL gives the answer: <b>EVIL</b>.
    </p>
  </div>
{% endblock %}
