{% extends "solutions/solution_layout.html" %}
{% block title_block %}Housekeeping: Solution{% endblock %}
{% block puzzle_name_block %}Housekeeping: Solution{% endblock %}

{% block puzzle_head_block %}
<style>
  table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
  }

  table,
  th,
  td {
    border: 1px solid #808080;
  }

  table caption {
    caption-side: bottom;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Images reference sigils of Noble Houses in Game of Thrones. Number of chimneys on each house indicates what letter to index to. PRESTER ANIMAL PLURAL refers to the House Prester sigil, which features an ox. Giving the answer: <b>OXEN</b>.
  </p>
  <table>
    <tr>
      <th>ORDER</th>
      <th>LETTER</th>
      <th>INDEX</th>
      <th>HOUSE</th>
      <th>IMAGE</th>
    </tr>
    <tr>
      <td>1</td>
      <td>P</td>
      <td>1</td>
      <td>POOLE</td>
      <td>Blue plate</td>
    </tr>
    <tr>
      <td>2</td>
      <td>R</td>
      <td>2</td>
      <td>FREY</td>
      <td>Twin towers</td>
    </tr>
    <tr>
      <td>3</td>
      <td>E</td>
      <td>1</td>
      <td>ESTERMONT</td>
      <td>Green sea turtle</td>
    </tr>
    <tr>
      <td>4</td>
      <td>S</td>
      <td>1</td>
      <td>STARK</td>
      <td>Direwolf</td>
    </tr>
    <tr>
      <td>5</td>
      <td>T</td>
      <td>1</td>
      <td>TARGARYEN</td>
      <td>Three-headed dragon (Ghidorah)</td>
    </tr>
    <tr>
      <td>6</td>
      <td>E</td>
      <td>2</td>
      <td>CERWYN</td>
      <td>Battleaxe</td>
    </tr>
    <tr>
      <td>7</td>
      <td>R</td>
      <td>2</td>
      <td>GREYJOY</td>
      <td>Kraken (Clash of the Titans)</td>
    </tr>
    <tr>
      <td>8</td>
      <td>A</td>
      <td>2</td>
      <td>GAUNT</td>
      <td>3 lances</td>
    </tr>
    <tr>
      <td>9</td>
      <td>N</td>
      <td>3</td>
      <td>HUNT</td>
      <td>Deer on pole</td>
    </tr>
    <tr>
      <td>10</td>
      <td>I</td>
      <td>5</td>
      <td>LANNISTER</td>
      <td>Golden lion</td>
    </tr>
    <tr>
      <td>11</td>
      <td>M</td>
      <td>1</td>
      <td>MORMONT</td>
      <td>Black bear</td>
    </tr>
    <tr>
      <td>12</td>
      <td>A</td>
      <td>1</td>
      <td>ARRYN</td>
      <td>Blue falcon</td>
    </tr>
    <tr>
      <td>13</td>
      <td>L</td>
      <td>3</td>
      <td>BOLTON</td>
      <td>Flayed man</td>
    </tr>
    <tr>
      <td>14</td>
      <td>P</td>
      <td>1 </td>
      <td>PENROSE</td>
      <td>Quills</td>
    </tr>
    <tr>
      <td>15</td>
      <td>L</td>
      <td>2</td>
      <td>CLEGANE</td>
      <td>Three dogs</td>
    </tr>
    <tr>
      <td>16</td>
      <td>U</td>
      <td>1</td>
      <td>UMBER</td>
      <td>Giant in chains</td>
    </tr>
    <tr>
      <td>17</td>
      <td>R</td>
      <td>2</td>
      <td>BRAX</td>
      <td>Purple unicorn (Twilight Sparkle)</td>
    </tr>
    <tr>
      <td>18</td>
      <td>A </td>
      <td>2</td>
      <td>MARTELL</td>
      <td>Spear and sun</td>
    </tr>
    <tr>
      <td>19</td>
      <td>L</td>
      <td>3</td>
      <td>TULLY</td>
      <td>Leaping trout</td>
    </tr>
    <caption>SOURCE: <a href='http://awoiaf.westeros.org/index.php/List_of_house'>http://awoiaf.westeros.org/index.php/List_of_houses</a></caption>
  </table>
</div>
{% endblock %}
