{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'dungeon' %}
{% block title_block %}How I Spent My Pre/Post-Apocalyptic Vacation: Solution{% endblock %}
{% block puzzle_name_block %}How I Spent My Pre/Post-Apocalyptic Vacation: Solution{% endblock %}
{% block byline %}By Dan Katz{% endblock %}
{% block solution %}WANDERERS{% endblock %}

{% block puzzle_head_block %}
<style>
  .standard-horizontal-scroll {
    font-size: 34px;
  }

  .g {
    font-weight: bold;
    color: green;
  }

  .r {
    font-weight: bold;
    color: red;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Half of the segments of this journey take place in modern-day Boston and its surrounding suburbs. The others take place in The Commonwealth, the post-nuclear-war version of the Boston area that appears in the video game <i>Fallout 4</i>. This is clued
    in several ways:
  </p>
  <ul>
    <li>The first paragraph references The Commonwealth and SPECIAL (the trait system used in the <i>Fallout</i> games).</li>
    <li>The date 98910 days in the future from January 1, 2017 is October 23, 2287, which is the date on which the events of <i>Fallout 4</i> begin.</li>
    <li>The puzzle ends with the phrase &ldquo;War never changes,&rdquo; the first words of every <i>Fallout</i> game.</li>
    <li>The articles mentioned throughout the journey are cover articles from magazines in the game.</li>
    <li>At one point the narrator gratuitously mentions, &ldquo;I&rsquo;m kind of into video games.&rdquo;</li>
  </ul>
  <p>
    The future portions of the journey are accurate within the game, but they can be traced out on a free online map such as
    <a href="http://fallout4map.com/">this one</a>, and most of the references about location details can be verified at <a href="http://fallout.wikia.com/wiki/Fallout_Wiki">Nukapedia</a>. Whenever the narrator sneezes, they switch to a corresponding
    location in the game or in real-life (for example, from Harvard Square in modern-day Cambridge to the equivalent College Square in the Commonwealth).
  </p>
  <p>
    During the journey, the narrator encounters who he refers to as his nine best friends (the &ldquo;first-best&rdquo; friend is referred to as the &ldquo;number one&rdquo; best friend, because &ldquo;first-best&rdquo; is a weird thing to say). Each of these friends are one of the companions
    the player can recruit to travel with them in the game. They are each reading a cover article from a magazine that can be found in the game. The magazine issue number (the magazines are all issues of <i>Hot Rodder</i>, <i>Picket Fences</i>, or
    <i>U.S. Covert Operations Manual</i>, each of which have issue numbers on their covers and thus a canonical ordering) as an index into the character&rsquo;s name. (Each name is the single-word version of the name that appears above the character during
    gameplay, which is one reason that Nick Valentine didn&rsquo;t make it into this puzzle. Sorry, Nick.) Sorted in order from best friend to ninth-best friend, these letters spell the answer, <b>WANDERERS</b>. In addition to the puzzle narrator being a wanderer,
    the protagonist in <i>Fallout 3</i> is called the Lone Wanderer, and the song &ldquo;The Wanderer&rdquo; was used extensively in advertising for <i>Fallout 4</i>.
  </p>
  <hr>
  <p>
    I was stuck at MIT over this past holiday break, and I don&rsquo;t get off campus much, so on New Year&rsquo;s Day I decided to take a special trip around the good old Commonwealth of Massachusetts. I started where the Mystery Hunt used to kick off (before it became
    too big)
    <span class="g">[Lobby 7]</span> and then walked down a hall that seemed to go on forever.
    <span class="g">[The Infinite Corridor]</span> At the end I was about to go outside, but it was too cold, so I hung a left and then a right, then walking straight until I reached a triangular building.
    <span class="g">[Building 66]</span> At that point I bit the bullet and went outside, but I was getting tired of walking so I proceeded to the nearest subway station.
    <span class="g">[Kendall]</span> I took the train two stops outbound, emerged from the station,
    <span class="g">[Harvard]</span> and seeing the sun made me sneeze.
  </p>
  <p>
    I probably should have mentioned that I have a weird condition; when I sneeze, I teleport to roughly the same location 98910 days into the future, and then when I sneeze again, I teleport back. It&rsquo;s pretty inconvenient. This part of town looked a lot
    different in the future; the name was more generic, the stores were all closed, and there were significantly more radioactive zombies trying to murder me.
    <span class="g">[College Square, feral ghouls]</span> So I ran southward to a barricaded building where it seemed likely I&rsquo;d find trained people to help.
    <span class="g">[Cambridge Police Station]</span> I didn&rsquo;t get the best response (one of the people inside tried to recruit me to kill the zombies myself), but I did meet my ninth-best friend, who was reading an article titled &ldquo;Not the Soldiers You&rsquo;re
    Looking For.&rdquo;
    <span class="r">[Danse, <i>U.S. Covert Operations Manual #4</i>: 9th letter of answer = S]</span> I left the building and went north (walking a bit west first to get around the zombies), passing under a high overpass before I reached a large automobile
    factory.
    <span class="g">[Corvega Assembly Plant]</span> I made my way around the factory and continued to a town.
    <span class="g">[Lexington]</span> It was pretty quiet, but at least they had a big store.
    <span class="g">[Super Duper Mart]</span> Rummaging through the foodstuffs, I stirred up some pepper and sneezed.
  </p>
  <p>
    Back in the present, I was still in a grocery store in the same town, though it had a different name (albeit one that started with the same letter).
    <span class="g">[Stop & Shop in Lexington]</span> I went out the front door and jacked a car. You know, like in Grand Theft Auto. I&rsquo;m kind of into video games. Anyway, I left the parking lot, turned left onto the road, and immediately passed a restaurant
    on my left with a name starting with Q.
    <span class="g">[Qdoba]</span> I drove in that direction for about three and a half miles, passing up a chance to get onto I-95, and then found myself in another town.
    <span class="g">[Bedford]</span> I guess given the name of the street I was on,
    <span class="g">[Bedford St]</span> my destination shouldn&rsquo;t have been surprising. And then I sneezed.
  </p>
  <p>
    Finding myself in the same town (though it seemed significantly smaller now) but no longer in a car, I started trudging west, reaching another town boasting a sense of history and a charming museum.
    <span class="g">[Concord]</span> It also boasted a gang of violent bandits; I did my best to avoid them, but they looked kind of jittery, as if there had been a terrifying beast in this town not long ago.
    <span class="g">[Raiders, you battle a Deathclaw here early in the game]</span> In the distance I could see a futuristic-looking red tower, so I followed the main road out of town toward it. I was disappointed to find the tower was just a gimmicky
    sign for a gas station,
    <span class="g">[Red Rocket Truck Stop]</span> though I did meet my fourth-best friend here, who was reading an article titled &ldquo;Flame Job!&rdquo;
    <span class="r">[Dog (or Dogmeat), <i>Hot Rodder #1</i>: 4th letter of answer = D]</span> I kept going in the same general direction, passing a statue of a colonial soldier and crossing a stream to reach a suburban ruin, inhabited by, among other
    people, a kindly old drug-addicted psychic.
    <span class="g">[Sanctuary]</span> This is where I met my number-one best friend, who was reading an article titled &ldquo;Welcome Home.&rdquo;
    <span class="r">[Codsworth, <i>Picket Fences #5</i>: 1st letter of answer = W]</span> There was another fellow there also willing to be my friend, but he wouldn&rsquo;t stop asking me to check on settlements for him,
    <span class="g">[Preston Garvey, who is the worst]</span> so eventually I got exasperated and ventured south. After a while, I saw a large body of water ahead to the left and a smaller one ahead to the right. The radioactive water I&rsquo;d previously waded
    through wasn&rsquo;t treating me well, so I headed for the smaller body
    <span class="g">[Walden Pond]</span> and was about to check out the cabin near the water when I sneezed.
  </p>
  <p>
    Now instead of a cabin there were a bunch of stones noting where a cabin used to be, which seemed kind of backwards, but okay.
    <span class="g">[Walden Pond Cabin Site]</span> I hiked north until I reached a major road, borrowed another car (which was challenging) and headed eastward, following signs mentioning the city in which I began my journey.
    <span class="g">[MA-2 E]</span> I went almost five miles and then took an exit onto a major southbound highway.
    <span class="g">[I-95 S]</span> After another six and a half miles of travel, I came very close to a river and the highway intersected a toll road.
    <span class="g">[I-90]</span> I was trying to decide which direction to go, and my stress over making the decision caused me to sneeze right where one road passed over the other.
  </p>
  <p>
    I was very high above the ground now,
    <span class="g">[Mass Pike Interchange]</span> and there were a bunch of hostile people with guns nearby (they even had a name to reflect that&nbsp;.&nbsp;.&nbsp;. gun guys, or something like that)
    <span class="g">[Gunners]</span> and an aggressive robot lady.
    <span class="g">[Assaultron]</span> I wanted nothing to do with any of that, so I found an elevator and took it to ground level, and then I headed east, staying under the shade of the broken highway overhead. I crossed some water, and when I reached
    a set of railroad tracks that pointed northwest, I went north instead. I found a gateway leading underground.
    <span class="g">[Vault 81]</span> I would have needed a wrist device to enter, but that&rsquo;s where I once met my eighth-best friend, who was reading an article titled &ldquo;Hot Pink!&rdquo;
    <span class="r">[Curie, <i>Hot Rodder #3</i>: 8th letter of answer = R]</span> I headed east, making my way around a small body of water (given its purpose I expected it to be clean, but nope, more radioactivity)
    <span class="g">[Chestnut Hillock Reservoir]</span> and then on the other side, I briefly navigated a much more urban area, passing a rooftop firefight on the top of an apartment complex
    <span class="g">[Parkview Apartments]</span> to reach a large building. This appeared to be a major settlement, patrolled by armed guards in weird outfits.
    <span class="g">[Diamond City]</span> I was getting a closer look at some graffiti on the outer wall, appropriately extolling the protection of &ldquo;the wall,&rdquo; when I remembered I&rsquo;m allergic to paint.
  </p>
  <p>
    Finding myself at a corner of the building
    <span class="g">[Fenway Park]</span> where two roads with seven-letter names intersected,
    <span class="g">[Ipswich and Van Ness]</span> I set off in the direction that took me past a bowling alley
    <span class="g">[Lucky Strike]</span> before the road curved to the right. I took a left when the name of the road I was following was about to change,
    <span class="g">[left on Boylston]</span> and then continued for a little over half a mile, taking a solemn moment to pay my respects.
    <span class="g">[the Marathon finish line]</span> Shortly after that I turned right to reach the front of the stately building that had been to my right for some time.
    <span class="g">[Boston Public Library]</span> On the front I could see a collection of American flags. Ah, patriotism. It tickles my nose.
  </p>
  <p>
    I looked inside the building briefly, but since I didn&rsquo;t have any of the items the machine was bribing me to return,
    <span class="g">[Book Return Machine]</span> I left and headed east. I stopped once there was a tall building on my right, which had been taken over by humans mutated by some sort of virus.
    <span class="g">[Trinity Tower, super mutants]</span> That building was where I met my sixth-best friend, who was reading an article titled &ldquo;Facepaint Fundamentals.&rdquo;
    <span class="r">[Strong, <i>U.S. Covert Operations Manual #3</i>: 6th letter of answer = R]</span> I continued in the opposite direction of the building and then took my first right, passing a specialty bookstore on my left.
    <span class="g">[Hubris Comics]</span> Ahead and to the left was a park which looked pretty peaceful, despite all of the scrawled messages urging people to stay away.
    <span class="g">[Boston Common]</span> I shrugged, approached the pond
    <span class="g">[Swan&rsquo;s Pond]</span> to get a closer look, and OH MY GOD WHAT IS THAT THING?!
    <span class="g">[It&rsquo;s Swan. Run.]</span>
  </p>
  <p>
    I didn&rsquo;t know until just then that I could will myself to sneeze out of pure fear, but I guess you learn something new every day. I stopped cowering and found I was still knee deep in a pond, although things were a bit awkward now because the pond was
    covered in ice and I was surrounded by recreational skaters.
    <span class="g">[Boston Common Frog Pond]</span> I pulled myself out, slid to shore, and walked northward to an intersection of a major road and a road named for a tree.
    <span class="g">[Beacon and Walnut]</span> If I had gone one way on the major road, I would have encountered another road named for a tree,
    <span class="g">[Spruce]</span> but instead I went the other direction toward a much happier street.
    <span class="g">[toward Joy St]</span> I turned left when I reached a chapel
    <span class="g">[King&rsquo;s Chapel]</span> (as the name of the street I was following was about to change) and then took my next right.
    <span class="g">[onto Court St]</span> After about 28% of a mile, I turned left, passing a business with a name named after about 37% of the length of my time jumps.
    <span class="g">[Century Bank, onto Chatham Row]</span> I cut through a commercial building in front of me and beheld a historic building on the other side,
    <span class="g">[Faneuil Hall]</span> and that&rsquo;s right around when I realized I might be catching a cold.
  </p>
  <p>
    I headed directly north toward an art gallery,
    <span class="g">[Pickman Gallery]</span> but before I found the entrance I remembered that I don&rsquo;t find art very interesting. So I turned right and approached the tall building in front of me,
    <span class="g">[Old North Church]</span> but then I remembered I don&rsquo;t find religion very interesting. (Though I remembered from another occasion that there was a lot more space in there than it appeared from the outside, and that deep within I&rsquo;d
    met my fifth-best friend, who was reading an article titled &ldquo;Modern Hearth.&rdquo;)
    <span class="r">[Deacon, <i>Picket Fences #2</i>: 5th letter of answer = E]</span> So I proceeded in the direction implied by the name of that building <span class="g">[north]</span> and swam across the water to a financial building. Exploring the
    building, since money is something I do find interesting, I found myself in a vessel that wasn&rsquo;t really where it should be.
    <span class="g">[USS Constitution, which is embedded above the ground in a savings and loan building]</span> A craft like that is nothing to sneeze at, but I did anyway.
  </p>
  <p>
    Okay, this seems like a much more reasonable setting for this thing. I disembarked and cut southwest across a park, eventually merging with a road named after the vessel I&rsquo;d just been on.
    <span class="g">[Constitution Rd]</span> The road curved around toward the water (appropriately),
    <span class="g">[it becomes Water Rd]</span> and I walked for about a mile along the water, passing through two parks
    <span class="g">[Paul Revere, North Point]</span> and approaching a large domed building.
    <span class="g">[Museum of Science]</span> But I figured that I learn enough when school is in session, so instead of turning left toward the building&rsquo;s entrance, I turned right and then left.
    <span class="g">[Charles River Dam Rd, Edwin H Land Rd]</span> After crossing the water, I came upon a large shopping center to my right.
    <span class="g">[Cambridgeside Galleria]</span> I was trying to remember how much cash I&rsquo;d brought with me, when I felt another sneeze coming on.
  </p>
  <p>
    I was definitely in the same part of town, but the name of the shopping center was different now (it was still two words but both had changed).
    <span class="g">[Monsignor Plaza, modeled after the Galleria]</span> I headed southeast and was thrilled that there was a bridge so I wouldn&rsquo;t have to swim again&nbsp;.&nbsp;.&nbsp;. then I realized it was an open drawbridge, and so I had to swim again. On the other
    side of the water, I kept heading southeast until I reached a publication&rsquo;s headquarters.
    <span class="g">[Boston Bugle Building]</span> From there I went south toward a building emblazoned with a science-fictiony logo and a two-letter abbreviation that didn&rsquo;t seem polite.
    <span class="g">[Mass Fusion building, which has an atom logo and &ldquo;MF&rdquo;]</span> I passed that building on my left, took a right when the path ended, and went through a door into what I suppose was technically a gated community?
    <span class="g">[Goodneighbor]</span> It certainly wasn&rsquo;t fancy inside, but the name was friendly enough. Inside I found an underground establishment that reminded me of a warning I saw on the first leg of my journey;
    <span class="g">[The Third Rail]</span> in there I met my seventh-best friend, who was reading an article titled &ldquo;Squeaky Floorboard, Sudden Death.&rdquo;
    <span class="r">[MacCready, <i>U.S. Covert Operations Manual #6</i>: 7th letter of answer = E]</span> I left that place and went to explore the brick building directly above it.
    <span class="g">[Old State House]</span> That&rsquo;s where I met my third-best friend, who was reading an article titled &ldquo;Essential Upgrades!&rdquo;
    <span class="r">[Hancock, <i>Picket Fences #3</i>: 3rd letter of answer = N]</span> Two friends in such a short period of time&nbsp;.&nbsp;.&nbsp;. it brings a tear to your eye. No, never mind, just allergies.
  </p>
  <p>
    I followed a street sharing its name with a US state,
    <span class="g">[Washington St]</span> and after a short distance I came upon a transit station.
    <span class="g">[State]</span> My feet were pretty exhausted at this point, so I descended into the station and took a train one stop,
    <span class="g">[Downtown Crossing]</span> and at the next station I went through an underground passage leading to a third station.
    <span class="g">[Park Street]</span> I tried very very hard not to sneeze while I was underground, since I didn&rsquo;t want to end up in some kind of subterranean future hell. I managed to control my nose until I reached that third station, but then all
    of a sudden&nbsp;.&nbsp;.&nbsp;.
  </p>
  <p>
    Thankfully there was still a station here in the future (though it seemed extensively remodeled and possibly used for an entirely new purpose).
    <span class="g">[in the Commonwealth, Park Street Station contains a vault]</span> I made my way to the surface and ventured southward, taking care to avoid the location I was passing on the right, given my terrifying experience from earlier.
    <span class="g">[Boston Common]</span> I didn&rsquo;t take the first road branching off to the right, and then I immediately passed a location on the right
    <span class="g">[Combat Zone]</span> where I once met my second-best friend, who was reading an article titled &ldquo;Shark Paint Schemes!&rdquo;
    <span class="r">[Cait, <i>Hot Rodder #2</i>: 2nd letter of answer = A]</span> I took my next left and approached a health care facility.
    <span class="g">[Mass Bay Medical Center]</span> I&rsquo;d been doing a lot of bathing in tainted water and could use a doctor&nbsp;.&nbsp;.&nbsp;. but of course, this place had been taken over by the gun guys.
    <span class="g">[More Gunners]</span> Honestly, the future kind of sucks. It makes me appreciate my nine friends; they each insist on going by a one-word name, and they&rsquo;ve got their issues, but at least we all get along. I wish everyone would stop
    fighting, but I guess war never changes.
  </p>
</div>
{% endblock %}
