{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'dungeon' %}
{% block title_block %}Hum A Few (More) Bars: Solution{% endblock %}
{% block puzzle_name_block %}Hum A Few (More) Bars: Solution{% endblock %}
{% block byline %}By Brian Tivol{% endblock %}
{% block solution %}NINE ONE ONE{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The songs are all by The Police:
    </p>
    <ul>
      <li>07, 22, 13: Spirits in the Material World</li>
      <li>08, 06, 13: Every Breath You Take</li>
      <li>11, 14, 04: Voices Inside My Head</li>
      <li>07, 13, 13: Don&rsquo;t Stand So Close to Me</li>
      <li>12, 05, 11: Synchronicity</li>
      <li>12, 14, 18: Can&rsquo;t Stand Losing You</li>
      <li>01, 07, 05: Murder by Numbers</li>
      <li>13, 09, 11: Tea in the Sahara</li>
      <li>02, 01, 10: Walking on the Moon</li>
      <li>10, 14, 08: Walking in Your Footsteps</li>
      <li>02, 10, 01: Bring on the Night</li>
      <li>11, 09, 12: Wrapped Around Your Finger</li>
      <li>02, 03, 04: King of Pain</li>
      <li>12, 09, 14: Message in a Bottle</li>
      <li>06, 12, 17: Truth Hits Everybody</li>
      <li>27, 15, 30: Every Little Thing She Does Is Magic</li>
      <li>12, 11, 09: Hole in My Life</li>
      <li>02, 02, 01: Roxanne</li>
    </ul>
    <p>
      The indicated letters spell &ldquo;Somebody call THIS NUMBER, shawty fire
      burning on the dance floor.&rdquo;  That&rsquo;s from a song absolutely not by The
      Police, and it&rsquo;s not even about the police, but such is life in this
      treacherous dungeon.
    </p>
    <p>
      Your answer is the missing lyric, but make sure you spell it out as
      directed: <b>NINE ONE ONE</b>.
    </p>
  </div>
{% endblock %}
