{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}It Takes Two: Solution{% endblock %}
{% block puzzle_name_block %}It Takes Two: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}DODD-FRANK{% endblock %}

{% block puzzle_head_block %}
<style>
  table {
    font-size: 15px;
  }
  .centered {
    text-align: center;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each row contains a pair of clues. One of these clues yields a
    name; the other yields a word that is a transdeletion of another
    name. (The transdeleted name clue may come either first or
    second.) Linking these two names in order with a hyphen forms a
    well-known duo from the world of Math / Science / Business /
    Politics, such as &ldquo;Hewlett-Packard.&rdquo; Reading the
    transdeleted letters in the given order spells NOT EVEN / CANDID
    OR OPEN, which clues ODD / FRANK. Applying the same principle used
    throughout the puzzle leads to the answer <b>DODD-FRANK</b>.
  </p>
  <table>
    <tr>
      <th colspan='2'>&nbsp;</th>
      <th class="centered">First Clue</th>
      <th class="centered">Second Clue</th>
      <th class="centered">One Not There</th>
      <th class="centered">Missing Letter</th>
      <th class="centered">Pair</th>
    </tr>
    <tr>
      <td>Capital of Okinawa</td>
      <td>Red Italian wine grape</td>
      <td class="centered">Naha</td>
      <td class="centered">Barbera</td>
      <td class="centered">Hanna</td>
      <td class="centered">N</td>
      <td class="centered">Hanna-Barbera</td>
    </tr>
    <tr>
      <td>Prion disease that affects cows, for short</td>
      <td>Original surname of Albert Brooks</td>
      <td class="centered">BSE</td>
      <td class="centered">Einstein</td>
      <td class="centered">Bose</td>
      <td class="centered">O</td>
      <td class="centered">Bose-Einstein</td>
    </tr>
    <tr>
      <td>Obese</td>
      <td>Rogers, the late MIT math professor</td>
      <td class="centered">Fat</td>
      <td class="centered">Hartley</td>
      <td class="centered">Taft</td>
      <td class="centered">T</td>
      <td class="centered">Taft-Hartley</td>
    </tr>
    <tr>
      <td>Five-season Fox sitcom named after its title character and star</td>
      <td>Sound from a dog</td>
      <td class="centered">Martin</td>
      <td class="centered">Bark</td>
      <td class="centered">Baker</td>
      <td class="centered">E</td>
      <td class="centered">Martin-Baker</td>
    </tr>
    <tr>
      <td>Cobbler</td>
      <td>Ron who played Tarzan</td>
      <td class="centered">Shoemaker</td>
      <td class="centered">Ely</td>
      <td class="centered">Levy</td>
      <td class="centered">V</td>
      <td class="centered">Shoemaker-Levy</td>
    </tr>
    <tr>
      <td>Small upright piano</td>
      <td>Comedienne Roseanne</td>
      <td class="centered">Spinet</td>
      <td class="centered">Barr</td>
      <td class="centered">Epstein</td>
      <td class="centered">E</td>
      <td class="centered">Epstein-Barr</td>
    </tr>
    <tr>
      <td>Amber&rsquo;s <i>Glee</i> role</td>
      <td>Lasat who manned the starship <i>Ghost</i></td>
      <td class="centered">Mercedes</td>
      <td class="centered">Zeb</td>
      <td class="centered">Benz</td>
      <td class="centered">N</td>
      <td class="centered">Mercedes-Benz</td>
    </tr>
    <tr>
      <td>Tosses some dice</td>
      <td>Partner of terminer</td>
      <td class="centered">Rolls</td>
      <td class="centered">Oyer</td>
      <td class="centered">Royce</td>
      <td class="centered">C</td>
      <td class="centered">Rolls-Royce</td>
    </tr>
    <tr>
      <td>Cobb, &ldquo;the Georgia Peach&rdquo;</td>
      <td>Follower of Goldman in finance</td>
      <td class="centered">Ty</td>
      <td class="centered">Sachs</td>
      <td class="centered">Tay</td>
      <td class="centered">A</td>
      <td class="centered">Tay-Sachs</td>
    </tr>
    <tr>
      <td>Namesake of Northwestern&rsquo;s Business School</td>
      <td>Afflicted with hydrophobia</td>
      <td class="centered">Kellogg</td>
      <td class="centered">Rabid</td>
      <td class="centered">Briand</td>
      <td class="centered">N</td>
      <td class="centered">Kellogg-Briand</td>
    </tr>
    <tr>
      <td>Hawaiian floral garlands</td>
      <td>Tree that comes as speckled, Manchurian or seaside varieties</td>
      <td class="centered">Leis</td>
      <td class="centered">Alder</td>
      <td class="centered">Diels</td>
      <td class="centered">D</td>
      <td class="centered">Diels-Alder</td>
    </tr>
    <tr>
      <td>Original or recently picked</td>
      <td>The marked cost of something</td>
      <td class="centered">Fresh</td>
      <td class="centered">Price</td>
      <td class="centered">Fisher</td>
      <td class="centered">I</td>
      <td class="centered">Fisher-Price</td>
    </tr>
    <tr>
      <td>What R-O-L-A-I-D-S spells?</td>
      <td>Partner of arts</td>
      <td class="centered">Relief</td>
      <td class="centered">Crafts</td>
      <td class="centered">Friedel</td>
      <td class="centered">D</td>
      <td class="centered">Friedel-Crafts</td>
    </tr>
    <tr>
      <td>More than half</td>
      <td>Town bordering Plainfield, Buckland, and Charlemont</td>
      <td class="centered">Most</td>
      <td class="centered">Hawley</td>
      <td class="centered">Smoot</td>
      <td class="centered">O</td>
      <td class="centered">Smoot-Hawley</td>
    </tr>
    <tr>
      <td>One who cripples or mutilates</td>
      <td>Emmanuel Lewis&rsquo;s TV series</td>
      <td class="centered">Maimer</td>
      <td class="centered">Webster</td>
      <td class="centered">Merriam</td>
      <td class="centered">R</td>
      <td class="centered">Merriam-Webster</td>
    </tr>
    <tr>
      <td>Famed race track, with &ldquo;Le&rdquo;</td>
      <td>Police Constable of Dock Green</td>
      <td class="centered">Mans</td>
      <td class="centered">Dixon</td>
      <td class="centered">Mason</td>
      <td class="centered">O</td>
      <td class="centered">Mason-Dixon</td>
    </tr>
    <tr>
      <td>In good health and shape</td>
      <td>Style of Jazz often played rapidly</td>
      <td class="centered">Hale</td>
      <td class="centered">Bop</td>
      <td class="centered">Bopp</td>
      <td class="centered">P</td>
      <td class="centered">Hale-Bopp</td>
    </tr>
    <tr>
      <td>Barely expandable alloy of iron and nickel</td>
      <td>Prods, stirs up, and fuels a fire</td>
      <td class="centered">Invar</td>
      <td class="centered">Stokes</td>
      <td class="centered">Navier</td>
      <td class="centered">E</td>
      <td class="centered">Navier-Stokes</td>
    </tr>
    <tr>
      <td>Blatch on <i>Sex and the City</i></td>
      <td>Sink your teeth into</td>
      <td class="centered">Stanford</td>
      <td class="centered">Bite</td>
      <td class="centered">Binet</td>
      <td class="centered">N</td>
      <td class="centered">Stanford-Binet</td>
    </tr>
  </table>
</div>
{% endblock %}
