{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}Let's Get Physical!: Solution{% endblock %}
{% block puzzle_name_block %}Let's Get Physical!: Solution{% endblock %}
{% block byline %}By Jeff Roberts{% endblock %}

{% block puzzle_head_block %}
  <style>
    .r {
      color: red;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each clue points to a specific class in the MIT Physical Education Course
      Catalog. Enumeration is given to help narrow down the possible clue
      answers and to confirm the exact course title. The first letters of the
      clues suggest that you need to use the course numbers. When you subtract
      the given number from the PE course number, you get a series of numbers
      that convert easily to letters, spelling ANSWER IS <b>LOLL</b>.
    </p>
    <p>
      <span class="r">C</span>artilaginous fish, in the middle? (5, 12) <span class="r">Skate, Intermediate</span><br>
      <span class="r">PE.0613</span> minus 612 = <span class="r">1 (A)</span>
    </p>
    <p>
      <span class="r">O</span>scillating playground apparatus (5) <span class="r">Swing</span><br>
      <span class="r">PE.0317</span> minus 303 = <span class="r">14 (N)</span>
    </p>
    <p>
      <span class="r">U</span>nification of rhythmic movement? (5 6) <span class="r">Dance Fusion</span><br>
      <span class="r">PE.0318</span> minus 299 = <span class="r">19 (S)</span>
    </p>
    <p>
      <span class="r">R</span>ummage (through) (5) <span class="r">Rifle</span><br>
      <span class="r">PE.0626</span> minus 603 = <span class="r">23 (W)</span>
    </p>
    <p>
      <span class="r">S</span>pherical fermented vegetable? (10) <span class="r">Pickleball</span><br>
      <span class="r">PE.0646</span> minus 641 = <span class="r">5 (E)</span>
    </p>
    <p>
      <span class="r">E</span>uropean Car of the Year in 1992 and 2013 (4) <span class="r">Golf</span><br>
      <span class="r">PE.0604</span> minus 586 = <span class="r">18 (R)</span>
    </p>
    <p>
      <span class="r">N</span>et travel metasearch site (5) <span class="r">Kayak</span><br>
      <span class="r">PE.0907</span> minus 898 = <span class="r">9 (I)</span>
    </p>
    <p>
      <span class="r">U</span>nrepresented legal response AWESOME? (4-7 3) <span class="r">Self-Defense RAD</span><br>
      <span class="r">PE.0611</span> minus 592 = <span class="r">19 (S)</span>
    </p>
    <p>
      <span class="r">M</span>exican condiment (5) <span class="r">Salsa</span><br>
      <span class="r">PE.0308</span> minus 296 = <span class="r">12 (L)</span>
    </p>
    <p>
      <span class="r">B</span>ahraini or Israeli, e.g. (6 7) <span class="r">Middle Eastern</span><br>
      <span class="r">PE.0306</span> minus 291 = <span class="r">15 (O)</span>
    </p>
    <p>
      <span class="r">E</span>longated starchy vegetable, as a starter? (6, 8) <span class="r">Squash, Beginner</span><br>
      <span class="r">PE.0616</span> minus 604 = <span class="r">12 (L)</span>
    </p>
    <p>
      <span class="r">R</span>eselling stolen goods, like food wrap? (7, 4) <span class="r">Fencing, Foil</span><br>
      <span class="r">PE.0602</span> minus 590 = <span class="r">12 (L)</span>
    </p>
  </div>
{% endblock %}
