{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'thespians' %}
{% block title_block %}Listicle: Solution{% endblock %}
{% block puzzle_name_block %}Listicle: Solution{% endblock %}
{% block byline %}By Dan Katz and Kiran Kedlaya{% endblock %}
{% block solution %}ALLEGORICAL{% endblock %}

{% block solution_content_block %}
<div>
  <p>The key discoveries needed to solve this puzzle are that this listicle actually represents a list of &ldquo;icals,&rdquo; and that these aren't just any lolcats... they're Jellicle Lolcats. Each of the singing cat captions suggests an adjective ending in &ldquo;ICAL&rdquo;
    (or in one case, because T.S. Eliot hates consistency, a two-word phrase ending in &ldquo;ACLE&rdquo;):
  </p>
  <table cellpadding="2">
    <tr>
      <th>Caption</th>
      <th>Descriptor</th>
    </tr>
    <tr>
      <td>2 B OR NOT 2 B / DATZ DA QUESHTUN</td>
      <td>DRAMATICAL</td>
    </tr>
    <tr>
      <td>BWAHAHAHAHAHA / I CANT EEVIN</td>
      <td>HYSTERICAL</td>
    </tr>
    <tr>
      <td>CGI IS OVERR8ED / ALL MAI SPESHL FX R 4 REEL</td>
      <td>PRACTICAL</td>
    </tr>
    <tr>
      <td>DEY CALL ME PYTHIA / I KNOWS DA FUTUR</td>
      <td>DELPHIC ORACLE</td>
    </tr>
    <tr>
      <td>HOW I LUV LE POISSON / TEH DISTRO NOT DA FISHEE</td>
      <td>STATISTICAL</td>
    </tr>
    <tr>
      <td>I DONT UZE "AS" OR "LAIK" / SIMILEEZ R 4 DUM DOGZ</td>
      <td>METAPHORICAL</td>
    </tr>
    <tr>
      <td>I BIN REEDIN CHARLS SANDRS PEIRCE / HE MAKEZ HIS IDEAZ CLEER</td>
      <td>PRAGMATICAL</td>
    </tr>
    <tr>
      <td>I CAN HAZ PRESIDENCY? / MAI PARTEE IZ DEMEOWCRAT</td>
      <td>POLITICAL</td>
    </tr>
    <tr>
      <td>I GIVZ A SPEACH BOUT MICE / I STUDEED PUBLIK SQUEAKIN</td>
      <td>ORATORICAL</td>
    </tr>
    <tr>
      <td>I HAD IDEALS B4 DEY NOOTERED ME / NOW I R JADED</td>
      <td>CYNICAL</td>
    </tr>
    <tr>
      <td>I HAZ MAGIC POWERZ / I GIVS THE PAGE 2 ACHENAR</td>
      <td>MYSTICAL</td>
    </tr>
    <tr>
      <td>I R HOLY WARRIORRR! / BUT NO SHARP EDGES PLZ</td>
      <td>CLERICAL</td>
    </tr>
    <tr>
      <td>I ROTE U A REVYU / UR MOVIE SUX</td>
      <td>CRITICAL</td>
    </tr>
    <tr>
      <td>IM IN UR BODY / EATIN UP UR LIFE FORZ</td>
      <td>PARASITICAL</td>
    </tr>
    <tr>
      <td>O HAI QT / I BROT U ROZES</td>
      <td>ROMANTICAL</td>
    </tr>
    <tr>
      <td>O RLY? / I DONT THINK DATS TROO</td>
      <td>SKEPTICAL</td>
    </tr>
    <tr>
      <td>OMG OMG OMG OMG / UR MAI ALLTIME FAVE!!!1!</td>
      <td>FANATICAL</td>
    </tr>
    <tr>
      <td>OOOOOOOG / I 8 WAY 2 MUCH</td>
      <td>DYSPEPTICAL</td>
    </tr>
    <tr>
      <td>TODAI U R A MAN / MOUSEL TOV</td>
      <td>RABBINICAL</td>
    </tr>
    <tr>
      <td>U SHUD DRINK LESS / OOH MILK! GLUG GLUG GLUG</td>
      <td>HYPOCRITICAL</td>
    </tr>
    <tr>
      <td>UR SENTINZ ENDS IN A PREPOZISHN / FIX IT PLZ KTHX</td>
      <td>PEDANTICAL</td>
    </tr>
  </table>
  <p>
    Each of these descriptors appears before &ldquo;cats&rdquo; in the <a href="http://www.metrolyrics.com/jellicle-songs-for-jellicle-cats-lyrics-cats.html">last verse</a> of &ldquo;Jellicle Songs for Jellicle Cats,&rdquo; the opening number from the musical <i>Cats</i>. The
    verse lists 22 descriptors, 21 of which are hinted in the puzzle, and the remaining word (corresponding to the cast member who hasn't shown up yet) is <b>ALLEGORICAL</b>, the solution to this puzzle. (Some of the captions can almost certainly clue
    alternate &ldquo;-ical&rdquo; words... the solver is intended to identify enough answers to discover the relevant verse, and then use the verse to narrow down the rest.)
  </p>
</div>
{% endblock %}
