{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'wizard' %}
{% block title_block %}Master Pieces: Solution{% endblock %}
{% block puzzle_name_block %}Master Pieces: Solution{% endblock %}
{% block byline %}By Marcy Tivol, Brian Tivol, Violet Tivol and Colin Tivol{% endblock %}
{% block solution %}ILLUMINATE{% endblock %}

{% block solution_content_block %}
<div>
  <p>In this museum, the Lego figures are looking at not-yet-assembled Lego versions of famous works of art. Identify the artists, take the nth letter where n is the number of figures in the scene, spell the answer: <b>ILLUMINATE</b>.</p>

  <p>(In some cases, like the Magritte and Matisse, a specific famous piece of art was chosen, specifically because of its fame. In other cases, like the Mondrian and Rothko, it's the artist who has a distinctive style or color palette or use of shape. For
    them, the artwork in this museum may not be so famous, but it was chosen to show off that style in as few Lego pieces as possible.)</p>
  <ol>
    <li>Kl(i)mt ["Portrait of Adele Bloch-Bauer I", 1907]</li>
    <li>Warho(l) ["Campbell's Soup I", 1962]</li>
    <li>Ca(l)der [Untitled, 1963]</li>
    <li>Chih(u)ly [Untitled, 2012; Chihuly Garden and Glass, Seattle]</li>
    <li>(M)ondrian ["Composition II in Red, Blue, and Yellow", 1930]</li>
    <li>Lichtenste(i)n ["Girl with Hair Ribbon", 1965]</li>
    <li>Joh(n)s ["Flag", 1954]</li>
    <li>M(a)tisse ["Jazz Icarus", 1947]</li>
    <li>Ro(t)hko ["Orange and Yellow", 1961]</li>
    <li>Magritt(e) ["Son of Man", 1964]</li>
  </ol>
</div>
{% endblock %}
