{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}Mentally Stimulating Diversions: Solution{% endblock %}
{% block puzzle_name_block %}Mentally Stimulating Diversions: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}

{% block puzzle_head_block %}
<style>
  .grid {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <div> The title of the puzzle, which happens to be the motto/slogan of the Sporcle website, and the word trivia all clue to get to there, as there is really nothing to put into the grids in the puzzle. On the Friday afternoon of the Mystery Hunt (approximately
    5PM), under the account SetecAstronomy, Sporcle published a quiz entitled 'M' 'H' People, with the tagline 'These people are no Mystery if you Hunt around your brain for them.'</div>
  <div class="grid">
    <img src="{{ asset_url_for('mentally_stimulating_diversions/QuizSolution.png') }}" width='900' /><br/>
  </div>
  <div>When you place all the M first names in one grid and all the H second names in the second grid, each grid yields a clue.</div>
  <div>Grid M gives 'SNL Actor Tracy' = Morgan</div>
  <div>Grid H gives 'NBA's Grant or Lawyer Anita' = Hill</div>
  <div>Which put together gives the answer: <b>MORGAN HILL</b></div>
  <div class="grid">
    <img src="{{ asset_url_for('mentally_stimulating_diversions/AnswerGrid1.png') }}" width='600' /><br/>
  </div>
  <div class="grid">
    <img src="{{ asset_url_for('mentally_stimulating_diversions/AnswerGrid2.png') }}" width='680' /><br/>
  </div>
</div>
{% endblock %}
