{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'chemist' %}
{% block title_block %}Merriweather Post Pavilion: Solution{% endblock %}
{% block puzzle_name_block %}Merriweather Post Pavilion: Solution{% endblock %}
{% block byline %}By Tom Lamar{% endblock %}
{% block solution %}CROW{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content ul {
    list-style-type: none;
    padding: 0;
  }

  .r {
    color: #E00000;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>This puzzle is about collective nouns for animals. This is suggested by the title, which is an album by Animal Collective. For each kind of animal pictured in the pavilion, one image has an enumeration underneath it to disambiguate animals with multiple
    collective nouns. The number of pictures of each animal is an index into the collective noun. The letters are then ordered based on numbers on the backs of some of the pictures.</p>
  <ul>
    <li>O <span class="r">O</span>stentation of peacocks</li>
    <li>N ba<span class="r">N</span>d of gorillas</li>
    <li>E parliam<span class="r">E</span>nt of owls</li>
    <li>O col<span class="r">O</span>ny of bats</li>
    <li>F <span class="r">F</span>lamboyance of flamingoes</li>
    <li>A dr<span class="r">A</span>y of squirrels</li>
    <li>M <span class="r">M</span>ess of iguanas</li>
    <li>U intr<span class="r">U</span>sion of cockroaches</li>
    <li>R ar<span class="r">R</span>ay of hedgehogs</li>
    <li>D pan<span class="r">D</span>emonium of parrots</li>
    <li>E c<span class="r">E</span>te of badgers</li>
    <li>R scou<span class="r">R</span>ge of mosquitoes</li>
    <li>F <span class="r">F</span>amily of otters</li>
    <li>O c<span class="r">O</span>alition of cheetahs</li>
    <li>U tro<span class="r">U</span>bling of goldfish</li>
    <li>R ca<span class="r">R</span>avan of camels</li>
  </ul>
  <p>Indexing into the collective nouns gives ONEOFAMURDERFOUR, which clues the answer <b>CROW</b> (with an enumeration).</p>
</div>
{% endblock %}
