{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'bridge' %}
{% block title_block %}Modern Journalism: Solution{% endblock %}
{% block puzzle_name_block %}Modern Journalism: Solution{% endblock %}
{% block byline %}By Roger Ford and Jennifer Berk{% endblock %}
{% block solution %}TIME MAGAZINE{% endblock %}

{% block puzzle_head_block %}
  <style>
    #puzzle-content ul {
      list-style-type: none;
    }
    #puzzle-content span.highlight-letter {
      font-weight: bold;
      color: red;
    }
    #puzzle-content table th {
      text-align: left;
      padding: 5px;
    }
    #puzzle-content table td {
      padding: 5px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <blockquote>
      <em>
        &ldquo;Shut up, alright? Both of you! This is my job now.&rdquo;<br>
        &ldquo;Your job? Jimmy, you&rsquo;re not writing recaps, are you?&rdquo;<br>
        &ldquo;Oh, Jimmy. Are you grading this episode?&rdquo;<br>
        &ldquo;No! I am writing the official novelization of the show.&rdquo;
      </em>
      <br>
      &ndash; <em>You&rsquo;re The Worst,</em> season 2, episode 5
    </blockquote>
    <p>
      Since everyone from Buzzfeed to the <em>New York Times</em> is publishing
      TV episode recaps now, this puzzle imagines recaps by a bunch of niche
      publications. Identify each recapped episode and arrange the titles into
      the blanks provided, in alphabetical order by episode title. Take the
      indicated letters and they spell <b>TIME MAGAZINE,</b> the answer to the
      puzzle.
    </p>
    <p>
      The recapped episodes, in the order given, which is alphabetical by show:
    </p>
    <table>
      <tr>
        <th>Magazine</th>
        <th>Show</th>
        <th>Episode</th>
      </tr>
      <tr>
        <td>Page Six</td>
        <td>30 Rock</td>
        <td>MILF Isl<span class="highlight-letter">a</span>nd</td>
      </tr>
      <tr>
        <td>Popular Mechanics</td>
        <td>The Americans</td>
        <td>Do <span class="highlight-letter">M</span>ail Robots Dream of Electric Sheep?</td>
      </tr>
      <tr>
        <td>Dogster</td>
        <td>The Blacklist</td>
        <td>Alis<span class="highlight-letter">t</span>air Pitt (No. 103)</td>
      </tr>
      <tr>
        <td>Fast Company</td>
        <td>Community</td>
        <td>App Development and Condi<span class="highlight-letter">m</span>ents</td>
      </tr>
      <tr>
        <td>Us Weekly</td>
        <td>House</td>
        <td>Livin<span class="highlight-letter">g</span> the Dream</td>
      </tr>
      <tr>
        <td>The Chronicle of Higher Education</td>
        <td>How I Met Your Mother</td>
        <td>D<span class="highlight-letter">e</span>finitions</td>
      </tr>
      <tr>
        <td>AVN</td>
        <td>Party Down</td>
        <td>Sin Say Shu<span class="highlight-letter">n</span> Awards Afterparty</td>
      </tr>
      <tr>
        <td>Psychology Today</td>
        <td>Seinfeld</td>
        <td>The Pe<span class="highlight-letter">z</span> Dispenser</td>
      </tr>
      <tr>
        <td>Cosmopolitan</td>
        <td>Sex and the City</td>
        <td>Thr<span class="highlight-letter">e</span>e&rsquo;s a Crowd</td>
      </tr>
      <tr>
        <td>The Nation</td>
        <td>The Simpsons</td>
        <td>L<span class="highlight-letter">a</span>st Exit to Springfield</td>
      </tr>
      <tr>
        <td>2600</td>
        <td>The X-Files</td>
        <td>Anasaz<span class="highlight-letter">i</span></td>
      </tr>
      <tr>
        <td>Spin</td>
        <td>You&rsquo;re The Worst</td>
        <td>A R<span class="highlight-letter">i</span>ght Proper Story</td>
      </tr>
    </table>
  </div>
{% endblock %}
