{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'bridge' %}
{% block title_block %}Modern Journalism: Solution{% endblock %}
{% block puzzle_name_block %}Modern Journalism: Solution{% endblock %}
{% block byline %}By Roger Ford and Jennifer Berk{% endblock %}
{% block solution %}TIME MAGAZINE{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <blockquote>
      <em>
        &ldquo;Shut up, alright? Both of you! This is my job now.&rdquo;<br>
        &ldquo;Your job? Jimmy, you&rsquo;re not writing recaps, are you?&rdquo;<br>
        &ldquo;Oh, Jimmy. Are you grading this episode?&rdquo;<br>
        &ldquo;No! I am writing the official novelization of the show.&rdquo;
      </em>
      <br>
      &ndash; <em>You&rsquo;re The Worst,</em> season 2, episode 5
    </blockquote>
    <p>
      Since everyone from Buzzfeed to the <em>New York Times</em> is publishing
      TV episode recaps now, this puzzle imagines recaps by a bunch of niche
      publications. Identify each recapped episode and arrange the titles into
      the blanks provided, in alphabetical order by episode title. Take the
      indicated letters and they spell <b>TIME MAGAZINE,</b> the answer to the
      puzzle.
    </p>
    <p>
      The recapped episodes, in the order given, which is alphabetical by show:
    </p>
    <ul>
      <li>Page Six / 30 Rock / MILF Isl<u>a</u>nd</li>
      <li>Popular Mechanics / The Americans / Do <u>M</u>ail Robots Dream of Electric Sheep?</li>
      <li>Dogster / The Blacklist / Alis<u>t</u>air Pitt (No. 103)</li>
      <li>Fast Company / Community / App Development and Condi<u>m</u>ents</li>
      <li>Us Weekly / House / Livin<u>g</u> the Dream</li>
      <li>The Chronicle of Higher Education / How I Met Your Mother / D<u>e</u>finitions</li>
      <li>AVN / Party Down / Sin Say Shu<u>n</u> Awards Afterparty</li>
      <li>Psychology Today / Seinfeld / The Pe<u>z</u> Dispenser</li>
      <li>Cosmopolitan / Sex and the City / Thr<u>e</u>e&rsquo;s a Crowd</li>
      <li>The Nation / The Simpsons / L<u>a</u>st Exit to Springfield</li>
      <li>2600 / The X-Files / Anasaz<u>i</u></li>
      <li>Spin / You&rsquo;re The Worst / A R<u>i</u>ght Proper Story</li>
    </ul>
  </div>
{% endblock %}
