{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'minstrels' %}
{% block title_block %}More Merry Wives: Beyond Windsor: Solution{% endblock %}
{% block puzzle_name_block %}More Merry Wives: Beyond Windsor: Solution{% endblock %}
{% block byline %}By Jeff Roberts{% endblock %}
{% block solution %}JOCASTA{% endblock %}

{% block puzzle_head_block %}
<style>
#header {
  font-size: 36px;
}
</style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      As hinted, these "Shakespearean" quotes are actually taglines from cast
      members in the Real Housewives franchise on Bravo.
    </p>
    <p>
      The "character" names, which are made up, are the same length as the
      actual Housewife names, and they share one letter in common in the same
      position. If the clues are ordered by city name alphabetically, as
      suggested by the final line (from Atlanta to Potomac), the letters spell
      out the phrase LADY LAIUS, cluing the answer, another famous "wife" from
      drama, <b>JOCASTA</b>.
    </p>
    <table>
      <tr>
        <th>Character Name</th>
        <th>Housewife Name</th>
        <th>Housewife City</th>
        <th>Tagline</th>
        <th>Common Letter</th>
      </tr>
      <tr>
        <td>AULA</td>
        <td>DINA Manzo</td>
        <td>New Jersey</td>
        <td>"I'm back to bring the zen. Namaste, bitches!"</td>
        <td>A</td>
      </tr>
      <tr>
        <td>BLOVIET</td>
        <td>CLAUDIA Jordan</td>
        <td>Atlanta</td>
        <td>"Don't hate me because I'm beautiful. Hate me because I'm here to stay."</td>
        <td>L</td>
      </tr>
      <tr>
        <td>CYUNA</td>
        <td>LAURI Waring Peterson</td>
        <td>Orange County</td>
        <td>"I was poor, I was rich, I was poor again and you know what? Having money is easier."</td>
        <td>U</td>
      </tr>
      <tr>
        <td>DOSY</td>
        <td>MARY Schmidt Amons</td>
        <td>D.C.</td>
        <td>"I don't make money, I spend money."</td>
        <td>Y</td>
      </tr>
      <tr>
        <td>ELYRDA</td>
        <td>BRANDI Redmond</td>
        <td>Dallas</td>
        <td>"I was a Cowboys cheerleader, but in Dallas I'm never on the sidelines."</td>
        <td>D</td>
      </tr>
      <tr>
        <td>FLIASTA</td>
        <td>KRISTEN Taekman</td>
        <td>New York</td>
        <td>"I may not be the sharpest tool in the shed, but I'm pretty!"</td>
        <td>I</td>
      </tr>
      <tr>
        <td>GLIELE</td>
        <td>ALEXIA Echevarria</td>
        <td>Miami</td>
        <td>"Beauty is power, if you know how to use it."</td>
        <td>L</td>
      </tr>
      <tr>
        <td>HANNORY</td>
        <td>KATHRYN Edwards</td>
        <td>Beverly Hills</td>
        <td>"My advice: Speak your mind and carry a good handbag."</td>
        <td>A</td>
      </tr>
      <tr>
        <td>ISLIDA</td>
        <td>ASHLEY Darby</td>
        <td>Potomac</td>
        <td>"Throw this spring chicken into the cougar's den and let the games begin."</td>
        <td>S</td>
      </tr>
    </table>
  </div>
{% endblock %}
