{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'dynast' %}
{% block title_block %}Motion Picture: Solution{% endblock %}
{% block puzzle_name_block %}Motion Picture: Solution{% endblock %}
{% block byline %}By Greg Pliska<br/>Animation by Kennedy Shine{% endblock %}
{% block solution %}FANTASMAGORIE{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content table th {
  text-align: left;
}
#puzzle-content table th, #puzzle-content table td {
  padding: 4px;
}
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    The animation shows various &ldquo;firsts,&rdquo; along with the enumeration of the desired answer&mdash;the person/place that is credited with the particular first. In video order, these are:
  </p>
  <table>
    <tr>
      <th>First</th><th>Answer</th><th>Year</th>
    </tr>
    <tr>
      <td>Drive-in movie theater</td>
      <td><b>CAMDEN</b>, NJ</td>
      <td>1933</td>
    </tr>
    <tr>
      <td>Woman to swim the English Channel</td>
      <td>Gertrude <b>EDERLE</b></td>
      <td>1926</td>
    </tr>
    <tr>
      <td>Calculation of the circumference of the Earth</td>
      <td><b>ERATOSTHENES</b></td>
      <td>c. 240 BC</td>
    </tr>
    <tr>
      <td>Person on the cover of <i>People</i> magazine</td>
      <td>Mia <b>FARROW</b></td>
      <td>1974</td>
    </tr>
    <tr>
      <td>(Non-sherpa) to summit Mt. Everest</td>
      <td>Sir Edmund <b>HILLARY</b></td>
      <td>1953</td>
    </tr>
    <tr>
      <td>Musical guest on <i>Saturday Night Live</i></td>
      <td>Janis <b>IAN</b></td>
      <td>1975</td>
    </tr>
    <tr>
      <td>Person crowned Tsar of Russia</td>
      <td><b>IVAN</b> IV</td>
      <td>1547</td>
    </tr>
    <tr>
      <td>Animal to orbit the Earth</td>
      <td><b>LAIKA</b></td>
      <td>1957</td>
    </tr>
    <tr>
      <td>Flying trapeze act</td>
      <td>Jules <b>LEOTARD</b></td>
      <td>1859</td>
    </tr>
    <tr>
      <td>Electronic cigarette (inventor of)</td>
      <td>Hon <b>LIK</b></td>
      <td>2003</td>
    </tr>
    <tr>
      <td>State to legalize same-sex marriage</td>
      <td><b>MASSACHUSETTS</b></td>
      <td>2004</td>
    </tr>
    <tr>
      <td>Novel (author of)</td>
      <td><b>MURASAKI</b></td>
      <td>11th century</td>
    </tr>
    <tr>
      <td>Parking meters</td>
      <td><b>OKLAHOMA CITY</b></td>
      <td>1935</td>
    </tr>
  </table>
  <p>
    Reordering these events chronologically, the first letters spell EMILE COHL FILM.
  </p>
  <p>
    Emile Cohl created the first animated film, <b><i>FANTASMAGORIE</i></b> (which is the answer to this puzzle).
  </p>
</div>
{% endblock %}
