{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'economist' %}
{% block title_block %}Non-Local Anesthetic: Solution{% endblock %}
{% block puzzle_name_block %}Non-Local Anesthetic: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}PEACH{% endblock %}


{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The title of the puzzle is a reference to anesthetics which are numbers,
      and the non-local clues the languages that are reclued by the languages at
      the bottom of the puzzle. The top set of clues yield answers that are in
      alphabetical order by answer. Each of these is a number in exactly one of
      the number systems listed below, each of which is written in its native
      transliterated language.
    </p>
    <ul>
      <li>9-11 terrorist Mohamed = ATTA (Icelandic)</li>
      <li>Animal in the title of a Strauss operetta = BAT (Basque) </li>
      <li>Take a nap or demolish a building = DOZE (Portuguese)</li>
      <li>Legolas or Galadriel, e.g. = ELF (German)</li>
      <li>Bambi's aunt = ENA (Slovene)</li>
      <li>Microscale sheet of film used for storing rows of images of pages = FICHE (Irish)</li>
      <li>Ponyta is this type = FIRE (Danish)</li>
      <li>Sombrero, beret, or kepi, e.g. = HAT (Hungarian)</li>
      <li>South American capital that's the same length as its country name = LIMA (Indonesian)</li>
      <li>Darling dog = Nana (Japanese)</li>
      <li>Kevin Kline in &quot;A Fish Called Wanda&quot; = OTTO (Italian)</li>
      <li>Album with &quot;Love in an Elevator&quot; = PUMP (Welsh)</li>
      <li>Fruit that shares its name with a Shakespearean character = QUINCE (Spanish)</li>
      <li>Capture or take possession of, usually with force = SEIZE (French)</li>
      <li>IRA plan used by small businesses = SEP (Esperanto)</li>
      <li>Plantation of the O'Hara family = TARA = (Hausa)</li>
      <li>Duo that sang &quot;All the Things She Said&quot; = t.A.T.u. (Swahili)</li>
      <li>Excessively cute = TWEE (Afrikaans)</li>
      <li>Untouchable Marvel character = UNUS (Latin)</li>
    </ul>
    <ul>
      <li>Latin = unus (1) = A</li>
      <li>Esperanto and Japanese = sep (7) + nana (7) = 14 = N</li>
      <li>Danish and Spanish = fire (4) + quince (15) = 19 = S</li>
      <li>Irish and Swahili = fiche (20) + tatu (3) = 23 = W</li>
      <li>Welsh = pump (5) = E</li>
      <li>Hungarian and Portuguese = hat (6) + doze (12) = 18 = R</li>
      <li>Hausa = tara (9) = I</li>
      <li>German and Italian = elf (11) + otto (8) = 19 = S</li>
      <li>French = seize (16) = P</li>
      <li>Indonesian = lima (5) = E</li>
      <li>Basque = bat (1) = A</li>
      <li>Afrikaans and Slovene = twee (2) +  ena (1) = 3 = C</li>
      <li>Icelandic = atta (8) = H</li>
    </ul>
    <p>
      Now, take each of the numbers, and replace them with the unique lanugage
      they match with, and add when there is an and between the languages. These
      will give numbers that fall between 1 and 23 and each can then be
      converted to a letter. The message spelled out is ANSWER IS PEACH and the
      answer is <b>PEACH</b>.
    </p>
  </div>
{% endblock %}
