{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}Oh, You!: Solution{% endblock %}
{% block puzzle_name_block %}Oh, You!: Solution{% endblock %}
{% block byline %}By Dan Katz{% endblock %}
{% block solution %}PACKED ICE{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each of the phrases below the grid has been encrypted using a Caesar shift cipher; when decrypted, each is a phrase that clues a word beginning with OVER or UNDER. (The puzzle's title is a homophone for "O/U," an abbreviation for an "over/under" sports
    bet.) For each phrase, if the shift that decrypts the phrase is also applied to the grid above the list of phrases, the part of the clued word after OVER/UNDER can be found in the transformed grid word-search style. It is then natural to extract the
    letters that appear immediately OVER or UNDER that word (reading in the same direction as the hidden word). In the grids below, the hidden word is highlighted in red, and the extracted letters are highlighted in blue.
  </p>
  <p>
    The lengths of the shifts are all different, forming a complete set of numbers from one to ten. Ordering the extracted letters from each shifted grid by the length of shift gives the string DIDNO/TBRI/NGSU/FFICI/ENTL/UGGAG/ESERV/EDONT/HERO/CKS. DID NOT
    BRING SUFFICIENT LUGGAGE clues the word UNDERPACKED, and SERVED ON THE ROCKS clues the phrase OVER ICE. The answer to this puzzle is <b>PACKED ICE</b>. (This is related to the word "block" in the flavortext, since packed ice is a type of block
    in the game
    <i>Minecraft</i>.)
  </p>
  <hr/>
  <pre style="font-size:18px">
  QVGJWZPHKTH
  NSCGG<b><font color="blue">D</font></b>BLMCA
  SDHNC<b><font color="red">B</font></b><b><font color="blue">I</font></b>WYUD
  EMIQNG<b><font color="red">O</font></b><b><font color="blue">D</font></b>NMQ
  CVYOAVO<b><font color="red">A</font></b><b><font color="blue">N</font></b>UY
  XSQELSFB<b><font color="red">R</font></b><b><font color="blue">O</font></b>Q
  MCKGRERZH<b><font color="red">D</font></b>K
  YTDWMXTJFXO
  SONGVBCSZCQ
  UMHPJAHANIC
  LWZNKHRJMGY
  XZOIYZPBBVB

  BGHO CTMGZL BNLHB RSQHO ZANTS OHQZSDR
  CHIP DUNHAM COMIC STRIP ABOUT PIRATES = OVERBOARD
  </pre>
  <hr/>
  <pre style="font-size:18px">
  RWHKXAQILUI
  OT<b><font color="red">D</font></b>HHECMNDB
  TE<b><font color="blue">I</font></b><b><font color="red">O</font></b>DCJXZVE
  FNJ<b><font color="blue">R</font></b><b><font color="red">O</font></b>HPEONR
  DWZP<b><font color="blue">B</font></b><b><font color="red">W</font></b>PBOVZ
  YTRFM<b><font color="blue">T</font></b>GCSPR
  NDLHSFSAIEL
  ZUEXNYUKGYP
  TPOHWCDTADR
  VNIQKBIBOJD
  MXAOLISKNHZ
  YAPJZAQCCWC

  NPCQGBCLR NJYWCB ZW QNYACW ML LCRDJGV
  PRESIDENT PLAYED BY SPACEY ON NETFLIX = UNDERWOOD
  </pre>
  <hr/>
  <pre style="font-size:18px">
  SXILYBRJMVJ
  PUEIIFDNOEC
  UFJPEDKYAWF
  GOKSPIQFPOS
  EXAQCXQCPWA
  Z<b><font color="blue">USGN</font></b>UHDTQS
  O<b><font color="red">EMIT</font></b>GTBJFM
  AVFYOZVLHZQ
  UQPIXDEUBES
  WOJRLCJCPKE
  NYBPMJTLOIA
  ZBQKABRDDXD

  MBOFLA MIXVBA QL OBPLISB QFBP FK YXPHBQYXII
  PERIOD PLAYED TO RESOLVE TIES IN BASKETBALL = OVERTIME
  </pre>
  <hr/>
  <pre style="font-size:18px">
  TYJMZCSKNWK
  QVFJJGEOPFD
  VGKQFELZBXG
  HPLTQJRGQPT
  FYBRDY<b><font color="red">R</font></b>DQXB
  AVTHOV<b><font color="blue">I</font></b><b><font color="red">E</font></b>URT
  PFNJUHU<b><font color="blue">C</font></b><b><font color="red">K</font></b>GN
  BWGZPAWM<b><font color="blue">I</font></b><b><font color="red">A</font></b>R
  VRQJYEFVC<b><font color="blue">F</font></b><b><font color="red">T</font></b>
  XPKSMDKDQL<b><font color="blue">F</font></b>
  OZCQNKUMPJB
  ACRLBCSEEYE

  SNAOPHAN SDKOA OPNAWG SWO XNKGAJ XU XNKYG HAOJWN
  WRESTLER WHOSE STREAK WAS BROKEN BY BROCK LESNAR = UNDERTAKER
  </pre>
  <hr/>
  <pre style="font-size:18px">
  UZKNADTLOXL
  RWGKKHFPQGE
  WHLRGFMACYH
  IQMURKSHRQU
  GZCSEZSERYC
  BWUIPWJFVSU
  QGOKVIVDLHO
  CXHAQBXNJBS
  WSRKZFGWDGU
  YQ<b><font color="blue">LTNE</font></b>LERMG
  PA<b><font color="red">DROL</font></b>VNQKC
  BDSMCDTFFZF

  OMVINAJMHZM VGNJ FIJRI VN BDBVOMJI
  TRANSFORMER ALSO KNOWN AS GIGATRON = OVERLORD
  </pre>
  <hr/>
  <pre style="font-size:18px">
  VALOBEUMPYM
  SXHLLIGQRHF
  XIMSHGNBDZI
  JRNVSLTISRV
  HADTFATFSZD
  CXVJQXKGWTV
  RHPLWJWEMIP
  DYIBRCYOKCT
  XTSLAGHXEHV
  ZRMUOFMFSNH
  QBESPM<b><font color="red">WORLD</font></b>
  CETNDE<b><font color="blue">UGGAG</font></b>

  ZCFG MYLCYM UVION FSWUHM UHX PUGJCLYM
  FILM SERIES ABOUT LYCANS AND VAMPIRES = UNDERWORLD
  </pre>
  <hr/>
  <pre style="font-size:18px">
  WBMPCF<b><font color="blue">V</font></b>NQZN
  TYIMMJ<b><font color="red">H</font></b><b><font color="blue">R</font></b>SIG
  YJNTIHO<b><font color="red">C</font></b><b><font color="blue">E</font></b>AJ
  KSOWTMUJ<b><font color="red">T</font></b><b><font color="blue">S</font></b>W
  IBEUGBUGT<b><font color="red">A</font></b><b><font color="blue">E</font></b>
  DYWKRYLHXU<b><font color="red">W</font></b>
  SIQMXKXFNJQ
  EZJCSDZPLDU
  YUTMBHIYFIW
  ASNVPGNGTOI
  RCFTQNXPSME
  DFUOEFVHHBH

  OBWXH ZTFX YXTMNKBGZ LHFUKT TGW CNGDKTM
  VIDEO GAME FEATURING SOMBRA AND JUNKRAT = OVERWATCH
  </pre>
  <hr/>
  <pre style="font-size:18px">
  XCNQDGWORAO
  UZJNNKISTJH
  ZKOUJIPDFBK
  LTPXUNVKUTX
  JCFVHCVHUBF
  EZXLSZMIYVX
  TJRN<b><font color="red">Y</font></b>LYGOKR
  FAK<b><font color="red">D</font></b><b><font color="blue">T</font></b>EAQMEV
  ZV<b><font color="red">U</font></b><b><font color="blue">N</font></b>CIJZGJX
  B<b><font color="red">T</font></b><b><font color="blue">O</font></b>WQHOHUPJ
  <b><font color="red">S</font></b><b><font color="blue">D</font></b>GUROYQTNF
  <b><font color="blue">E</font></b>GVPFGWIICI

  JWHDSUWEWFL OZWF SF SULGJ USFFGL HWJXGJE
  REPLACEMENT WHEN AN ACTOR CANNOT PERFORM = UNDERSTUDY
  </pre>
  <hr/>
  <pre style="font-size:18px">
  YD<b><font color="blue">OREH</font></b>XPSBP
  VA<b><font color="red">KOOL</font></b>JTUKI
  ALPVKJQEGCL
  MUQYVOWLVUY
  KDGWIDWIVCG
  FAYMTANJZWY
  UKSOZMZHPLS
  GBLEUFBRNFW
  AWVODJKAHKY
  CUPXRIPIVQK
  TEHVSPZRUOG
  FHWQGHXJJDJ

  YFKVC NYVIV ARTB KFIIRETV NRJ TRIVKRBVI
  HOTEL WHERE JACK TORRANCE WAS CARETAKER = OVERLOOK
  </pre>
  <hr/>
  <pre style="font-size:18px">
  ZEPSFIYQTCQ
  WBLPPMKUVLJ
  BMQWLKRFHDM
  NVRZWPXMWVZ
  LEHXJEXJWDH
  GBZNUBOKAXZ
  VLTPAN<b><font color="red">A</font></b>IQMT
  HCMFV<b><font color="red">G</font></b><b><font color="blue">C</font></b>SOGX
  BXWP<b><font color="red">E</font></b><b><font color="blue">K</font></b>LBILZ
  DVQY<b><font color="blue">S</font></b>JQJWRL
  UFIWTQASVPH
  GIXRHIYKKEK

  DEJ OUJ HUQTO JE BUWQBBO RKO QBSEXEB
  NOT YET READY TO LEGALLY BUY ALCOHOL = UNDERAGE
  </pre>
</div>
{% endblock %}
