{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'chemist' %}
{% block title_block %}Out of the Mouths of Babes: Solution{% endblock %}
{% block puzzle_name_block %}Out of the Mouths of Babes: Solution{% endblock %}
{% block byline %}By Greg Pliska and Roger Barkan{% endblock %}
{% block solution %}BOY{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each clip is (supposed to be) a quote from the lyrics of a song with the
      word "baby" in the title. Each title matches one set of blanks, although
      with the word "baby" removed. Matching the songs in the clips to the
      blanks (which are presented alphabetically by full song title) and taking
      the red letter from each in clip order spells out "FULFILL MY FANTASIES",
      a quote from the Beyonce ft. Sean Paul song, "Baby Boy". Again removing
      "baby" from the title gives the answer, <b>BOY</b>.
    </p>
    <p>In clip order:</p>
    <table>
      <tr><td>F</td><td>01</td><td>Can't Get Enough of You Baby - Smash Mouth</td></tr>
      <tr><td>U</td><td>02</td><td>Love to Love You Baby - Donna Summer</td></tr>
      <tr><td>L</td><td>03</td><td>Baby Love - The Supremes</td></tr>
      <tr><td>F</td><td>04</td><td>Baby Don't Forget My Number - Milli Vanilli</td></tr>
      <tr><td>I</td><td>05</td><td>Ice Ice Baby - Vanilla Ice</td></tr>
      <tr><td>L</td><td>06</td><td>Baby, It's Cold Outside - Dean Martin</td></tr>
      <tr><td>L</td><td>07</td><td>Baby, I Love Your Way - Peter Frampton</td></tr>
      <tr><td>M</td><td>08</td><td>Come Baby Come - K7</td></tr>
      <tr><td>Y</td><td>09</td><td>Baby I Need Your Lovin' - Four Tops</td></tr>
      <tr><td>F</td><td>10</td><td>You Must Have Been a Beautiful Baby - Bing Crosby</td></tr>
      <tr><td>A</td><td>11</td><td>Always Be My Baby - Mariah Carey</td></tr>
      <tr><td>N</td><td>12</td><td>(You're) Having My Baby - Paul Anka</td></tr>
      <tr><td>T</td><td>13</td><td>Baby One More Time - Britney Spears</td></tr>
      <tr><td>A</td><td>14</td><td>Baby Got Back - Sir Mix-A-Lot</td></tr>
      <tr><td>S</td><td>15</td><td>Christmas (Baby Please Come Home) - Darlene Love</td></tr>
      <tr><td>I</td><td>16</td><td>I'm Your Baby Tonight - Whitney Houston</td></tr>
      <tr><td>E</td><td>17</td><td>Come On Over Baby (All I Want Is You) - Christina Aguilera</td></tr>
      <tr><td>S</td><td>18</td><td>Santa Baby - Eartha Kitt</td></tr>
    </table>
    <p>
      <b>Blanks order (alphabetical by title): Clip - (Attempted) Lyric; Song - Artist</b><br>
      11 - You'll always be a part of me / I'm part of you indefinitely; Always Be My Baby - Mariah Carey<br>
      04 - I've been searching high / I've been searching low; Baby Don't Forget My Number - Milli Vanilli<br>
      14 - But Fonda ain't got a motor in the back of her Honda; Baby Got Back - Sir Mix-A-Lot<br>
      07 - Shadows grow so long before my eyes/ and they're moving across the page; Baby, I Love Your Way - Peter Frampton<br>
      09 - Some say it's a sign of weakness / For a man to beg; Baby I Need Your Lovin' - Four Tops<br>
      06 - At least I'm gonna say that I tried / What's the sense in hurtin' my pride?; Baby, It's Cold Outside - Dean Martin<br>
      03 - Instead of breaking up / Let's do some kissing and making up; Baby Love - The Supremes<br>
      13 - My loneliness is killing me / I must confess I still believe; Baby One More Time - Britney Spears<br>
      01 - It feels so nice I want your arms to wrap around me twice; Can't Get Enough of You Baby - Smash Mouth<br>
      15 - The snow's coming down / I'm watching it fall; Christmas (Baby Please Come Home) Darlene Love<br>
      08 - You gotta give me lovin' and you gotta give me some; Come Baby Come - K7<br>
      17 - Don't you keep me waiting all night long; Come On Over Baby (All I Want Is You) - Christina Aguilera<br>
      05 - If there was a problem Yo I'll solve it; Ice Ice Baby - Vanilla Ice<br>
      16 - Whatever you want from me / I'm giving you everything; I'm Your Baby Tonight - Whitney Houston<br>
      02 - When you're laying so close to me / There's no place I'd rather you be than with me; Love to Love You Baby - Donna Summer<br>
      18 - Next year I could be just as good / If you'll check off my Christmas list; Santa Baby - Eartha Kitt<br>
      10 - Does your mother realize / The stork delivered quite a prize; You Must Have Been a Beautiful Baby - Bing Crosby<br>
      12 - And I love what's goin through ya; (You're) Having My Baby - Paul Anka
    </p>
  </div>
{% endblock %}
