{% extends "solutions/solution_layout.html" %}
{% block title_block %}Precipice: Solution{% endblock %}
{% block puzzle_name_block %}Precipice: Solution{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each of the given scenes is partially from the last season of the sitcom
      Cheers, but each has been altered in that the lines for Cliff, played by
      John Ratzenberger, have been replaced by lines that might be delivered by
      one of Ratzenberger's many characters in Pixar films.
    </p>
    <p>
      The Cheers characters' names have been replaced by first initials, while
      the Pixar characters' lines are given as a sequence of question marks,
      with one question mark replaced by an exclamation point. The number of
      question marks indicates the length of the character's name (helping to
      disambiguate, for example, Tom from Foreman Tom and Yeti from The
      Abominable Snowman, as his character was listed differently in two
      movies), and the exclamation point indicates which letter should be
      extracted. The characters and episodes are, in the order given (which is
      chronological by Pixar movie):
    </p>
    <ul>
      <li>Episode 8 - [P]T FLEA (A Bug's Life)
      <li>Episode 3 - Y[E]TI (Monsters Inc. / Monsters University)
      <li>Episode 2 - [U]NDERMINER (The Incredibles)
      <li>Episode 4 - MU[S]TAFA (Ratatouille)
      <li>Episode 7 - J[O]HN (WALL-E)
      <li>Episode 5 - [T]OM (Up)
      <li>Episode 1 - [G]ORDON (Brave)
      <li>Episode 6 - F[R]ITZ (Inside Out)
      <li>Episode 9 - [E]ARL (The Good Dinosaur)
    </ul>
    <p>
      Ordering the extracted letters by episode title forms the phrase <b>GUEST
      ROPE</b>, the answer to this puzzle.
    </p>
  </div>
{% endblock %}
