{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'warlord' %}
{% block title_block %}Radio Alphabet: Solution{% endblock %}
{% block puzzle_name_block %}Radio Alphabet: Solution{% endblock %}
{% block byline %}By Jeff Roberts{% endblock %}
{% block solution %}AXLE{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each "radio" is a clip from a specific song by a specific artist
      (though some songs share the same title). There are 72 "radios"
      total, each playing one of 26 distinct clips. The images at the
      bottom clue the artists that are used, obliquely in some cases,
      but assigning a particular letter to each artist. Using the
      images as a "key" allows the audio clip "cyphertext" to be
      decoded.
    </p>
    <p>
      The key matches letters to artists/songs as follows:
    </p>
    <ul>
      <li>A [auto van] - Van Morrison, Brown Eyed Girl</li>
      <li>B [diagram of eye movements] - REM, Radio Free Europe</li>
      <li>C [Lisa Simpson] - Lisa Loeb, Stay (I Missed You)</li>
      <li>D [map of Florida/Georgia border] - Florida Georgia Line, Girl on the Radio</li>
      <li>E [playing card queen] - Queen, Radio Ga Ga</li>
      <li>F [Elizabeth Regina symbol] - Regina Spektor, On the Radio</li>
      <li>G [signature] - Autograph, Turn Up the Radio</li>
      <li>H [gym class cartoon] - Gym Class Heroes, Stereo Hearts</li>
      <li>I [Jurassic Park logo] - Jurassic 5, Radio</li>
      <li>J [carpenters cartoon] - The Carpenters, Yesterday Once More</li>
      <li>K [cook cartoon] - Sam Cooke, Having a Party</li>
      <li>L [Elvis Presley] - Elvis Costello, Radio Radio</li>
      <li>M [scissors] - Scissor Sisters, Tits on the Radio</li>
      <li>N [train locomotive] - Train, Hey Soul Sister</li>
      <li>O [symbol for wang] - Wang Chung, Everybody Have Fun Tonight</li>
      <li>P [voodoo doll] - Wall of Voodoo, Mexican Radio</li>
      <li>Q [Razor Ramon] - The Ramones, Do You Remember Rock N Roll Radio</li>
      <li>R [calendars of summer months] - Donna Summer, On the Radio</li>
      <li>S [head with word bubble] - Talking Heads, Radio Head</li>
      <li>T [bugs] - The Buggles, Video Killed the Radio Star</li>
      <li>U [madonna figure] - Madonna, Turn Up the Radio</li>
      <li>V [kissing lovers] - Jonathan Richman and the Modern Lovers - Roadrunner</li>
      <li>W [Charlotte's Web image] - Good Charlotte, Sex on the Radio</li>
      <li>X [roman numeral twenty-one] - Twenty-One Pilots, Car Radio</li>
      <li>Y [beach ball cartoon] - The Beach Boys, Fun Fun Fun</li>
      <li>Z [bowling cartoon] - Bowling for Soup, 1985</li>
    </ul>
    <p>
      Using the key, the clips decode to the following:
      WOLFPACKLEADEREXAHERTZFREQUENCYBEAMPERUVIANCAPITALGREEKNYMPHCURSEDBYJUNO
    </p>
    <p>
      That sequence of letters parses into clues leading to words used to code
      letters in the NATO Phonetic Alphabet (i.e., the actual "Radio Alphabet").
    </p>
    <ul>
      <li>WOLF PACK LEADER = Alpha</li>
      <li>EXAHERTZ FREQUENCY BEAM = X-Ray</li>
      <li>PERUVIAN CAPITAL = Lima</li>
      <li>GREEK NYMPH CURSED BY JUNO = Echo</li>
    </ul>
    <p>The letters spell the answer, <b>AXLE</b>.</p>
  </div>
{% endblock %}
