{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'wizard' %}
{% block title_block %}Replenish the Treasury: Solution{% endblock %}
{% block puzzle_name_block %}Replenish the Treasury: Solution{% endblock %}
{% block byline %}By Trip Payne and Todd McClary{% endblock %}
{% block solution %}SUMMON{% endblock %}

{% block solution_content_block %}
<div>
  <p>When teams successfully present their required items, they are given the puzzle&rsquo;s answer, <b>SUMMON</b>.</p>
</div>
{% endblock %}
