{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cleric' %}
{% block title_block %}Running Mates: Solution{% endblock %}
{% block puzzle_name_block %}Running Mates: Solution{% endblock %}
{% block byline %}By Jennifer Braun and Christopher Morse{% endblock %}
{% block solution %}BREEZE{% endblock %}

{% block puzzle_head_block %}
  <style>
  #puzzle-content ol>li {
    border-bottom: 3px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #puzzle-content ol>li>ul {
    padding-bottom: 0.75em;
  }
  #puzzle-content .explanation {
    padding-top: 0.75em;
    margin-left: 20px;
  }
  </style>
{% endblock %}

{% block solution_content_block %}
<div class="instruction-set">
	<h2>Instructions for Person A</h2>
	<ol start="0">
		<li>If you are not familiar with MIT, pick up a campus map from outside the MIT Information Center, 7-121. In any case, <b>start in Lobby 7.</b></li>
		<li>
			<ul>
				<li>Find a prominent display nearby that is the title of a Stephen King novel. Call the number of letters in the title X<sub>1</sub>, and give that to Person B.</li>
				<li>Go to building Y<sub>1</sub> (which you&rsquo;ll get from Person B).</li>
			</ul>
      <div class="explanation">The book is <i>Under The Dome</i>, so X<sub>1</sub>&nbsp;=&nbsp;12. Y<sub>1</sub>&nbsp;=&nbsp;1.</div>
		</li>
		<li>
			<ul>
				<li>Stand under a sign on the second floor that represents the name of the course that matches the building number you&rsquo;re in.</li>
				<li>Stand facing the sign, then turn around and find the nearest room that has the exact same text as the sign that you&rsquo;re standing under (and no other words) painted on the door. Call the last digit of that room number X<sub>2</sub>. Go back to under the sign.</li>
				<li>Walk back under the sign and to the Y<sub>2</sub>nd door on the left after passing under the sign. Take the first initial of the name on that door.</li>
				<li>Go to building X<sub>2</sub>&nbsp;-&nbsp;Y<sub>2</sub>.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 1. The room is 1-215 and both say &ldquo;The Department of Civil and Environmental Engineering&rdquo; so X<sub>2</sub>&nbsp;=&nbsp;5. The door&rsquo;s first initial is a C which comes from Prof. C. Orsorio.</div>
		</li>
		<li>
			<ul>
				<li>Find a wall with a section of faculty photos on the first floor.</li>
				<li>Call X<sub>3</sub> the number of women faculty pictured in these photos.</li>
				<li>Take the Y<sub>3</sub>rd letter of the Y<sub>3</sub>rd surname of the faculty as listed in alphabetical order on the wall.</li>
				<li>Go to building X<sub>3</sub>&nbsp;+&nbsp;Y<sub>3</sub>.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 2. There are 4 women faculty (Bonnie, Ju-Lee, Emmy, Gigliola), so X<sub>3</sub>&nbsp;=&nbsp;4. The 6th faculty member is ALEXEI BORODIN, and his 6th letter gives us an I.</div>
		</li>
		<li>
			<ul>
				<li>Go to the 3rd floor.</li>
				<li>Find the nearest painted portrait. In the text below it, all people with middle names have the same number of letters in their middle name. Call this number of letters X<sub>4</sub>.</li>
				<li>Find a door with one line of text across the door only (other than the room number) that contains 4 punctuation marks. Take the Y<sub>4</sub>th letter on the door.</li>
				<li>Go to building 3X<sub>4</sub>&nbsp;-&nbsp;Y<sub>4</sub>.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 10. The middle names are Barton and Savage so X<sub>4</sub>&nbsp;=&nbsp;6. The door says &ldquo;The M.I.T Women&rsquo;s League&rdquo; and the 11th letter gives us an N.</div>
		</li>
		<li>
			<ul>
        <li>Go to room 434.</li>
				<li>Find the largest panel of the relief sculpture nearby. Let X<sub>5</sub> be the number of humans on just this panel.</li>
				<li>Find a nearby recognition plaque. Take the Y<sub>5</sub>th letter of the 3rd corporate sponsor on the plaque.</li>
				<li>Go to building 5X<sub>5</sub>&nbsp;-&nbsp;2Y<sub>5</sub>&nbsp;&nbsp;.&nbsp;.&nbsp;. <b>On your way to the next building stay on your current floor&nbsp;.&nbsp;.&nbsp;. enthusiastically high-five Person B! </b></li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 7. There are 16 peple on the longest panel (the third) of the relief so X<sub>5</sub>&nbsp;=&nbsp;16. The company is ACER INC and its 7th letter is a C. The high five probably takes place around the 4th floor of Building 10 or 3.</div>
		</li>
		<li>
			<ul>
        <li>Go to the 4th floor of your new building.</li>
				<li>Let X<sub>6</sub> be the number of pendant lights hanging in its upper central stairwell.</li>
				<li>Find two pieces of art near the bottom of the pendant lights. On the label for the art, take the 4th letter of the Y<sub>6</sub>th word of the second sentence.</li>
				<li>Go to building 10(X<sub>6</sub>&nbsp;-&nbsp;Y<sub>6</sub>).</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 66. There are 13 lamps having from the ceiling so X<sub>6</sub>&nbsp;=&nbsp;13. The word is LIGHT, which gives us an H.</div>
		</li>
		<li>
			<ul>
				<li>As you walk to your next building, enter the door closest to the northwest corner of the building.</li>
				<li>Find a rodent on the floor. Let X<sub>7</sub> be the number of visible claws/nails that you see it has.</li>
				<li>Enter the large room adjacent to the one you are in. Find the plaque for the person that room is named for. Take the last letter of the word on the plaque that is the Y<sub>7</sub>th word from the end.</li>
				<li>Go to building (X<sub>7</sub>&nbsp;+&nbsp;Y<sub>7</sub>)/2.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 50 (Walker Memorial). TIM the Beaver is on the floor, and he has 15 claws (5+4+3+3) so X<sub>7</sub>&rsquo;=&rsquo;15. The space is named Morss Hall and the 13th word from the end is TO which gives us an O.</div>
		</li>
		<li>
			<ul>
				<li>Go to room 118.</li>
				<li>Find a nearby display of old students. Subtract the class year of the German student from the class year of the Armenian student and call that X<sub>8</sub>.</li>
				<li>Walk to the nearby named hall. Take the Y<sub>8</sub>th letter of the full name of the person the hall is named after.</li>
				<li>Go to building X<sub>8</sub>&nbsp;-&nbsp;Y<sub>8</sub>.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 14. There is a display of old international students, and the years are 1917 and 1902, so X<sub>8</sub>&nbsp;=&nbsp;15. The nearby hall is the ELIZABETH PARKS KILLIAN HALL and its 12th letter is an R.</div>
		</li>
		<li>
			<ul>
				<li>Find room 221.</li>
				<li>Facing 221, turn right and walk until you are between two opposing doors, each of which has the same 9-letter word on it. Let X<sub>9</sub> be the the length of the word that appears immediately before the repeated word on one of the doors.</li>
				<li>Back at 221, on the panels across from this room, look at the Y<sub>9</sub>th column of donors. Then find the Y<sub>9</sub>th donor from the top of that list and take the Y<sub>9</sub>th letter of that donor&rsquo;s first name.</li>
			</ul>
      <div class="explanation">You&rsquo;re in Building 3. The VICE PRESIDENT door is across from the PRESIDENT PROVOST. Vice has 4 letters so X<sub>9</sub>&nbsp;=&nbsp;4. On the 4th column, the 4th entry is JOEL W. CAMPBELL and the 4th letter of his first name is L.</div>
		</li>
		<li>
			<div><b>Meet up with Person B and you&rsquo;re done!</b></div>
      <div class="explanation">You have spelled &ldquo;CINCHORL.&rdquo;</div>
		</li>
	</ol>
</div>
<div class="instruction-set">
	<h2>Instructions for Person B</h2>
	<ol start="0">
		<li>If you are not familiar with MIT, pick up a campus map from outside the MIT Information Center, 7-121. In any case, <b>start in Lobby 7.</b></li>
		<li>
			<ul>
				<li>Find the largest Roman Numeral, convert it to a four digit number, and call the last digit Y<sub>1</sub> and give that to Person A.</li>
  			<li> Get X<sub>1</sub> from Person A and then go to building X<sub>1</sub>&nbsp;+&nbsp;Y<sub>1</sub>.</li>
      </ul>
      <div class="explanation">The Roman Numeral is MDCCCLXI, which is 1861, so Y<sub>1</sub>&nbsp;=&nbsp;1. X<sub>1</sub>&nbsp;=&nbsp;12.</div>
		</li>
		<li>
			<ul>
				<li>Go to the lobby and find the Fire Alarm Annunciator.</li>
				<li>Find the Certificate of Inspection to the right. The 3rd digit of the Certificate Number is Y<sub>2</sub>.</li>
				<li>On the Annunciator, find the right panel, look at the middle rectangle, locate the second block from the top in the left column, and take the X<sub>2</sub>nd letter of the label.</li>
				<li>Go to building X<sub>2</sub>&nbsp;+&nbsp;Y<sub>2</sub>.</li>
			</ul>
      <div class="explanation">You are in Building 13. The certificate number is 4230920-3020, so Y<sub>2</sub>&nbsp;=&nbsp;3. The second block down on the left is labeled MOCVD FLAME DETECTOR and its 5th letter is D.</div>
		</li>
		<li>
			<ul>
				<li>Find room 211.</li>
				<li>Turn around and look at the board behind you. The number of large photos on the board is Y<sub>3</sub>.</li>
				<li>Look at the list of names next to room 211. Take the X<sub>3</sub>rd letter from the final surname on the list.</li>
				<li>Go to building (X<sub>3</sub>)(Y<sub>3</sub>).</li>
			</ul>
      <div class="explanation">You are in Building 8. There are six large photos on the board behind you, so Y<sub>3</sub>&nbsp;=&nbsp;6. The last name on the list besides the door is BERNHARDT J. WUENSCH, so the 4th letter of his last name gives us an N.</div>
		</li>
		<li>
			<ul>
				<li>Find the orange hallway.</li>
				<li>Count the number of diagonal lights and make that Y<sub>4</sub>.</li>
				<li>Find the memorial for an awesome professor no longer with us. Take the X<sub>4</sub>th letter of their last name.</li>
				<li>Go to building (X<sub>4</sub>&nbsp;+&nbsp;Y<sub>4</sub>&nbsp;+&nbsp;3)/5.</li>
			</ul>
      <div class="explanation">You are in Building 24, on the second floor. There are 11 diagonal lights lining the ceiling, so Y<sub>4</sub>&nbsp;=&nbsp;11. The memorial is for MUJID KAZIMI, and the 6th letter of his last name is an I.</div>
		</li>
		<li>
			<ul>
				<li>Go to the 4th floor.</li>
				<li>Find the interactive box with a wheel inside. The third digit of the Showcase number is Y<sub>5</sub>.</li>
				<li>Find the photo of a football. In the caption beneath, take the first letter of the X<sub>5</sub>th word (not counting numbers).</li>
				<li>Go to building X<sub>5</sub>&nbsp;-&nbsp;Y<sub>5</sub>&nbsp;.&nbsp;.&nbsp;. <b>On your way to the next building stay on your current floor and go through building (X<sub>5</sub>&nbsp;+&nbsp;2Y<sub>5</sub>)/10, not building X<sub>5</sub>/2&nbsp;+&nbsp;Y<sub>5</sub>&nbsp;-&nbsp;2&nbsp;.&nbsp;.&nbsp;. enthusiastically high five Person A!</b></li>
			</ul>
      <div class="explanation">You are in Building 4 by the Egerton Center. The experiment with a wheel is Showcase Number 107 so Y<sub>5</sub>&nbsp;=&nbsp;7. The 16th word in the caption below the football is WENT, and the 1st letter is a W. You are being told to go through Building 3, not Building 13. The high five probably takes place around the 4th floor of Building 10 or 3.</div>
		</li>
		<li>
			<ul>
				<li>Go to room 357.</li>
				<li>The number of illuminated rectangles behind you is Y<sub>6</sub>.</li>
				<li>On the rightmost rectangle, take the middle initial of the X<sub>6</sub>th alumni.</li>
				<li>Go to building X<sub>6</sub>&nbsp;-&nbsp;Y<sub>6</sub>.</li>
			</ul>
      <div class="explanation">You are in Building 9 by the Alumni Appreciation Wall. There are eight illuminated rectangles on the display, so Y<sub>6</sub>&nbsp;=&nbsp;8. On the farthest right rectangle, the 13th alumni listed is Joshua T. Anderson, which gives us a T.</div>
		</li>
		<li>
			<ul>
				<li>Go to the room to the right of room 122.</li>
				<li>The number of prominent objects in the back row is Y<sub>7</sub>.</li>
				<li>Take the X<sub>7</sub>th letter of the full name of the person this place is named after.</li>
				<li>Go to building 2Y<sub>7</sub>.</li>
			</ul>
      <div class="explanation">You are in Building 5 by the Nautical Gallery. In the back row of displays there are eleven ships, so Y<sub>7</sub>&nbsp;=&nbsp;13. The Gallery is named for FRANCIS RUSSEL HART, and the 15th letter is H.</div>
		</li>
		<li>
			<ul>
				<li>Go to the biggest room in this building.</li>
				<li>The total number of electrical sockets in the back two tables is Y<sub>8</sub>.</li>
				<li>Take the letter of the X<sub>8</sub>th row down from the top of the room in the center section.</li>
				<li>Go to building 2(X<sub>8</sub>&nbsp;-&nbsp;Y<sub>8</sub>).</li>
			</ul>
      <div class="explanation">You are in 26-100. There are six electrical sockets in each of two tables so Y<sub>8</sub>&nbsp;=&nbsp;12. The 15th row down is row G.</div>
		</li>
		<li>
			<ul>
				<li>Find room 327. If you arrive at a locked door on your way here, don&rsquo;t worry! There are other ways around.</li> 
				<li>The number of creepy black arms is Y<sub>9</sub>.</li>
				<li>Below the leftmost room number plaque, take the X<sub>9</sub>th letter of the largest word (font size, not length).</li>
			</ul>
      <div class="explanation">You are in Building 6. There are four heavy duty black gloves attached to an apparatus inside room 327, so Y<sub>9</sub> = 4. On the sign under the door number the largest word is NOTICE, and the 4th letter is I.</div>
		</li>
		<li>
      <div><b>Reverse everything you have, meet up with Person A and you're done!</b></div>
      <div class="explanation">You have spelled DNIWTHGI. Reverse that and add it to the answer from Person A to get:<br><br>
				CINCH OR LIGHT WIND<br><br>and the answer to the puzzle is <b>BREEZE</b>.</div>
    </li>
	</ol>
</div>
{% endblock %}
