{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'minstrels' %}
{% block title_block %}Schoolhouse Rock: Solution{% endblock %}
{% block puzzle_name_block %}Schoolhouse Rock: Solution{% endblock %}
{% block byline %}By Brian Tivol{% endblock %}
{% block solution %}ENTROPY{% endblock %}

{% block puzzle_head_block %}
<style>
  .puz {
    border: 0;
    width: 900px;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <p>This puzzle is just what it looks like, a terrifying mix of sentence diagramming and sheet music.</p>
  <p>Identify the song, using cues like its length, range, rhythm, tortured syntax, or short runs of notes. It's &ldquo;The Star-Spangled Banner.&rdquo;</p>
  <a href="{{ asset_url_for('schoolhouse_rock/solution.png') }}">
    <p>
      (Click to enlarge.)
    </p>
    <img class="puz" src="{{ asset_url_for('schoolhouse_rock/solution.png') }}" />
  </a>
  <p>Identify the lyrics labeled with red numbers, either by decoding the whole thing, or by making some good guesses based on pitch, duration, and likely part of speech. Each labelled note is the first syllable of a word:</p>
  <ol>
    <li>EARLY</li>
    <li>NIGHT</li>
    <li>THE</li>
    <li>RED</li>
    <li>O'ER</li>
    <li>PERILOUS</li>
    <li>YOU</li>
  </ol>
  <p>The first letters of those words spell the answer: <b>ENTROPY</b>.</p>
</div>
{% endblock %}
