{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'warlord' %}
{% block title_block %}Senior Superlatives: Solution{% endblock %}
{% block puzzle_name_block %}Senior Superlatives: Solution{% endblock %}
{% block byline %}By Matt McGann{% endblock %}
{% block solution %}XBOX{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style: none;
    }
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: center;
      border: 1px solid black;
      padding: 4px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      In this puzzle, you identify celebrity high school yearbook photos and
      match them to a &ldquo;senior superlative&rdquo; (e.g., &ldquo;most likely to succeed&rdquo;).
    </p>
    <p>
      As clued by the 6 blanks for each answer, the flavortext &ldquo;fill out the SAT
      forms,&rdquo; and the high school theme, you must identify each of the high
      schools of the celebrities, and then find the school&rsquo;s 6-digit CEEB code
      (which is used in taking the SAT and in college admissions). Many CEEB
      code lookups are available on the web; one can be found here:
      <a href="https://collegereadiness.collegeboard.org/k-12-school-code-search">
        https://collegereadiness.collegeboard.org/k-12-school-code-search
      </a>
    </p>
    <p>
      The shaded number in the CEEB code tells you how to index into the notable
      person&rsquo;s surname.
    </p>
    <p>
      The 25 celebrity photos are presented – as they would be in a yearbook –
      alphabetically:
    </p>
    <ul>
      <li>Tyra Banks</li>
      <li>Sandra Bullock</li>
      <li>Mariah Carey</li>
      <li>John Cho</li>
      <li>Bradley Cooper</li>
      <li>Matt Damon</li>
      <li>Zooey Deschanel</li>
      <li>Cameron Diaz</li>
      <li>Peter Dinklage</li>
      <li>Jimmy Fallon</li>
      <li>Bill Gates</li>
      <li>Ariana Grande</li>
      <li>John Kerry</li>
      <li>Avril Lavigne</li>
      <li>Lucy Liu</li>
      <li>Rachel Maddow</li>
      <li>Bill Murray</li>
      <li>Sheryl Sandberg</li>
      <li>Blake Shelton</li>
      <li>Bruce Springsteen</li>
      <li>Neil deGrasse Tyson</li>
      <li>Carrie Underwood</li>
      <li>Anthony Weiner</li>
      <li>Oprah Winfrey</li>
      <li>Tiger Woods</li>
    </ul>
    <p>
      Matching the celebrity with the clue and the CEEB code, and indexing in by
      the appropriate number, you get:
    </p>
    <table>
      <tbody><tr>
        <th>Celeb</th>
        <th>CEEB</th>
        <th>Shaded CEEB Position</th>
        <th>Index</th>
        <th>Letter</th>
        <th>High School</th>
      </tr>
        <tr><td>Peter DINKLAGE</td><td>310835</td><td>6</td><td>5</td><td>L</td><td>Delbarton School, NJ</td></tr>
        <tr><td>Mariah CAREY</td><td>332182</td><td>3</td><td>2</td><td>A</td><td>Harborfields High School, NY</td></tr>
        <tr><td>John KERRY</td><td>300110</td><td>4</td><td>1</td><td>K</td><td>St. Paul&rsquo;s School, NH</td></tr>
        <tr><td>Bill GATES</td><td>481120</td><td>1</td><td>4</td><td>E</td><td>Lakeside School, WA</td></tr>
        <tr><td>Bruce SPRINGSTEEN</td><td>310405</td><td>2</td><td>1</td><td>S</td><td>Freehold High School, NJ</td></tr>
        <tr><td>Anthony WEINER</td><td>330630</td><td>5</td><td>3</td><td>I</td><td>Brooklyn Technical High School, NY</td></tr>
        <tr><td>Cameron DIAZ</td><td>051480</td><td>3</td><td>1</td><td>D</td><td>Long Beach Polytechnic High School, CA</td></tr>
        <tr><td>Blake SHELTON</td><td>370003</td><td>1</td><td>3</td><td>E</td><td>Ada High School, OK</td></tr>
        <tr><td>Matt DAMON</td><td>220493</td><td>2</td><td>2</td><td>A</td><td>Cambridge Rindge &amp; Latin School, MA</td></tr>
        <tr><td>Sandra BULLOCK</td><td>470125</td><td>1</td><td>4</td><td>L</td><td>Washington-Lee High School, VA</td></tr>
        <tr><td>Lucy LIU</td><td>334070</td><td>1</td><td>3</td><td>U</td><td>Stuyvesant High School, NY</td></tr>
        <tr><td>Bill MURRAY</td><td>144403</td><td>1</td><td>1</td><td>M</td><td>Loyola Academy, IL</td></tr>
        <tr><td>Tiger WOODS</td><td>050092</td><td>2</td><td>5</td><td>S</td><td>Western High School, CA</td></tr>
        <tr><td>John CHO</td><td>051060</td><td>3</td><td>1</td><td>C</td><td>Herbert Hoover High School, CA</td></tr>
        <tr><td>Bradley COOPER</td><td>393321</td><td>5</td><td>2</td><td>O</td><td>Germantown Academy, PA</td></tr>
        <tr><td>Zooey DESCHANEL</td><td>053307</td><td>6</td><td>7</td><td>N</td><td>Crossroads School, CA</td></tr>
        <tr><td>Neil deGrasse TYSON</td><td>333480</td><td>2</td><td>3</td><td>S</td><td>Bronx High School of Science, NY</td></tr>
        <tr><td>Rachel MADDOW</td><td>050500</td><td>4</td><td>5</td><td>O</td><td>Castro Valley High School, CA</td></tr>
        <tr><td>Jimmy FALLON</td><td>335055</td><td>2</td><td>3</td><td>L</td><td>Saugerties Senior High School, NY</td></tr>
        <tr><td>Sheryl SANDBERG</td><td>101236</td><td>6</td><td>6</td><td>E</td><td>North Miami Beach Senior High School, FL</td></tr>
        <tr><td>Tyra BANKS</td><td>051625</td><td>3</td><td>1</td><td>B</td><td>Immaculate Heart High School, CA</td></tr>
        <tr><td>Ariana GRANDE</td><td>100249</td><td>4</td><td>2</td><td>R</td><td>North Broward Preparatory School, FL</td></tr>
        <tr><td>Avril LAVIGNE</td><td>826362</td><td>2</td><td>2</td><td>A</td><td>Napanee District Secondary School, ON</td></tr>
        <tr><td>Oprah WINFREY</td><td>431660</td><td>2</td><td>3</td><td>N</td><td>East Nashville Magnet High School, TN</td></tr>
        <tr><td>Carrie UNDERWOOD</td><td>370690</td><td>1</td><td>3</td><td>D</td><td>Checotah High School, OK</td></tr>
    </tbody></table>

    <p>
      This provides the cluephrase LAKESIDE ALUMS CONSOLE BRAND.
    </p>
    <p>
      In this puzzle, solvers found that Bill Gates attended the Lakeside School
      in Seattle. Of course, Gates went on to found Microsoft, whose video games
      consoles are marketed with the brand <b>XBOX</b>.
    </p>
  </div>
{% endblock %}
