{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cube' %}
{% block title_block %}Slay All Day: Solution{% endblock %}
{% block puzzle_name_block %}Slay All Day: Solution{% endblock %}
{% block byline %}By Jackie Anderson{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      There are seventeen circles (medals) colored gold, silver, and
      bronze. Each one links to an audio file. The audio files are extracted
      from videos Leslie Jones posted on Twitter as she live-tweeted the 2016
      Olympics. From the clip, identify the event she is discussing. Identify
      the country that won the indicated medal for each event and find that
      country on the map, where each country is labeled with a letter. The
      letters spell out SCHULHOF BIRTH CITY. Swimmer Lary Schulhof, who competed
      in the 1964 Summer Games, was born in <b>MUNCIE</b>.
    </p>
    <table>
      <tr>
        <th> Number </th>
        <th> Medal </th>
        <th> Event </th>
        <th> Country </th>
        <th> Letter </th>
      </tr>
      <tr>
        <td> 1 </td>
        <td> Gold </td>
        <td> Women's 100m </td>
        <td> Jamaica </td>
        <td> S </td>
      </tr>
      <tr>
        <td> 2 </td>
        <td> Gold </td>
        <td> Men's 4x200m Freestyle </td>
        <td> USA </td>
        <td> C </td>
      </tr>
      <tr>
        <td> 3 </td>
        <td> Bronze </td>
        <td> Synchronized Swimming </td>
        <td> Japan </td>
        <td> H </td>
      </tr>
      <tr>
        <td> 4 </td>
        <td> Bronze </td>
        <td> Women's Triple Jump </td>
        <td> Kazakhstan </td>
        <td> U </td>
      </tr>
      <tr>
        <td> 5 </td>
        <td> Gold </td>
        <td> Women's Road Cycling </td>
        <td> Netherlands </td>
        <td> L </td>
      </tr>
      <tr>
        <td> 6 </td>
        <td> Silver </td>
        <td> Women's Water Polo </td>
        <td> Italy </td>
        <td> H </td>
      </tr>
      <tr>
        <td> 7 </td>
        <td> Bronze </td>
        <td> Men's 200m Butterfly </td>
        <td> Hungary </td>
        <td> O </td>
      </tr>
      <tr>
        <td> 8 </td>
        <td> Silver </td>
        <td> Women's Beach Volleyball </td>
        <td> Brazil </td>
        <td> F </td>
      </tr>
      <tr>
        <td> 9 </td>
        <td> Gold </td>
        <td> Men's 400m </td>
        <td> South Africa </td>
        <td> B </td>
      </tr>
      <tr>
        <td> 10 </td>
        <td> Silver </td>
        <td> Women's 100m Breaststroke </td>
        <td> Russia </td>
        <td> I </td>
      </tr>
      <tr>
        <td> 11 </td>
        <td> Bronze </td>
        <td> Women's 4x100m </td>
        <td> Great Britain </td>
        <td> R </td>
      </tr>
      <tr>
        <td> 12 </td>
        <td> Silver </td>
        <td> Men's 100m Backstroke </td>
        <td> China </td>
        <td> T </td>
      </tr>
      <tr>
        <td> 13 </td>
        <td> Bronze </td>
        <td> Women's Field Hockey </td>
        <td> Germany </td>
        <td> H </td>
      </tr>
      <tr>
        <td> 14 </td>
        <td> Gold </td>
        <td> Women's 100m Hurdles </td>
        <td> USA </td>
        <td> C </td>
      </tr>
      <tr>
        <td> 15 </td>
        <td> Bronze </td>
        <td> Women's Doubles Tennis </td>
        <td> Czech Republic </td>
        <td> I </td>
      </tr>
      <tr>
        <td> 16 </td>
        <td> Bronze </td>
        <td> Women's 100m Freestyle </td>
        <td> Sweden </td>
        <td> T </td>
      </tr>
      <tr>
        <td> 17 </td>
        <td> Bronze </td>
        <td> Women's 400m Medley </td>
        <td> Spain </td>
        <td> Y </td>
      </tr>
    </table>
  </div>
{% endblock %}
