{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'bridge' %}
{% block title_block %}Snap Story: Solution{% endblock %}
{% block puzzle_name_block %}Snap Story: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}ASA BUTTERFIELD{% endblock %}

{% block puzzle_head_block %}
  <style>
    #puzzle-content ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The title of this puzzle refers to the fact that all of these images are
      created using Snapchat filters and add-ons. A snap story is just a series
      of images someone can post on their own personal Snapchat. Clearly, this
      is a &ldquo;cute boys&rdquo; puzzle.
    </p>
    <p>
      The images are shown in a grid ordered left to right, top to bottom, and
      they are alphabetized by the last name of the pictured boy.  Looking at
      all the images, there are 16 different and distinct adaptations done to
      the 70 images. Each one is used between 3 and 7 times. Each of these forms
      a set, where a set is a group of men who were all on the same TV series,
      in the same movie (series), or in the same musical group without overlaps.
      However, each group has a member that doesn&rsquo;t belong in it, and one of its
      members can be found in another group. These missing members form a 16
      group loop.  Using the size of the group as an index into the SURNAME of
      the member in the wrong set spells out a message.
    </p>
    <ul>
      <li>Beverly Hills 90210 - Brian (Austin) Green - Group Size = 4 - E</li>
      <li>One Direction - Liam Payne - Group Size = 4 - N</li>
      <li>Buffy the Vampire Slayer - Nicholas Brendon - Group Size = 5 - D</li>
      <li>School Ties - Chris  O&rsquo;Donnell - Group Size = 6 - E</li>
      <li>Magic Mike - Adam Rodriguez - Group Size = 4 - R</li>
      <li>Gossip Girl - Chase Crawford - Group Size = 4 - W</li>
      <li>The Vampire Diaries - Matt Trevino - Group Size = 5 - I</li>
      <li>Harry Potter Series - Sean Biggerstaff - Group Size = 4 - G</li>
      <li>The Wanted - Jay McGuinnes - Group Size = 3 - G</li>
      <li>Teen Wolf - Dylan O&rsquo;Brien - Group Size = 4 - I</li>
      <li>X-Men Rebooted Series - Michael Fassbender - Group Size = 7 - N</li>
      <li>True Blood - Ryan Kwanten - Group Size = 3 - A</li>
      <li>Hunger Games Series - Josh Hutcherson - Group Size = 4 - C</li>
      <li>Backstreet Boys - Nick Carter - Group Size = 4 - T</li>
      <li>Dawson&rsquo;s Creek - Joshua  Jackson - Group Size = 6 - O</li>
      <li>Westlife - Nicky Byrne - Group Size = 3 - R</li>
    </ul>
    <p>
      Since it forms a loop, you have to find the starting point which is
      Beverly Hills 90210.  Reading the letters in order gives ENDER WIGGIN
      ACTOR which, with only one film version of <i>Ender&rsquo;s Game</i> yields a
      final answer of <b>ASA BUTTERFIELD</b> for the puzzle.
    </p>
    <p>
      Shown below are all of the actors in order, with their set and a
      description of the filter or add-on that was used. An asterisk (*) at the
      end indicates that this was the person that was placed in the wrong group
      Snapchat add-on.
    </p>
    <ol>
      <li>Penn Badgley - Gossip Girl - Sing Your Best*</li>
      <li>Randall  Batinkoff - School Ties - Flower Garland</li>
      <li>Sean Biggerstaff - Harry Potter Series - A few bubbles*</li>
      <li>Marc Blucas - Buffy - Holly + Snow</li>
      <li>Matt Bomer - Magic Mike - Snow + eyes</li>
      <li>David Boreanaz - Buffy - Holly + Snow</li>
      <li>Nicholas Brendon - Buffy - Flower Garland</li>
      <li>Nicky Byrne - Westlife - Yellow Butterflies*</li>
      <li>Nick Carter - Backstreet Boys - Reindeer</li>
      <li>Sam Claflin - Hunger Games Series - Speed</li>
      <li>Chace Crawford - Gossip Girl - Puppy Dog Ears</li>
      <li>Matt Damon - School Ties - Flower Garland*</li>
      <li>Howie Dorough - Backstreet Boys - Geometric Shapes</li>
      <li>Michael Fassbender - X-Men Reboot - Snow and Stars</li>
      <li>Tom Felton - Harry Potter Series - Davis Square Boston</li>
      <li>Shane Filan - Westlife - Altitude</li>
      <li>Brendan Fraser - School Ties - Flower Garland</li>
      <li>Brian Green - 90210 - Falling Feathers*</li>
      <li>Seth Green - Buffy - Holly + Snow*</li>
      <li>Ben Hardy - X-Men Reboot - B+W + Sunglasses</li>
      <li>Cole Hauser - School Ties - Flower Garland</li>
      <li>Colton Haynes - Teen Wolf - Temperature</li>
      <li>Liam Hemsworth - Hunger Games Series - Speed</li>
      <li>Niall Horan - 1D - Falling Feathers*</li>
      <li>Nicholas Hoult - X-Men Reboot - B+W + Sunglasses</li>
      <li>Josh Hutcherson - Hunger Games Series - Geometric Shapes</li>
      <li>Joshua Jackson - Dawson&rsquo;s Creek - Altitude</li>
      <li>Siva Kaneswaran - The Wanted - A few bubbles*</li>
      <li>Ryan Kwanten - True Blood - Speed</li>
      <li>Tom Lenk - Buffy - Holly + Snow</li>
      <li>Matthew Lewis - Harry Potter Series - Davis Square Boston</li>
      <li>Brian Littrell - Backstreet Boys - Geometric Shapes</li>
      <li>Alexander Ludwig - Hunger Games Series - Speed</li>
      <li>Mark Matkevich - Dawson&rsquo;s Creek - Reindeer</li>
      <li>James McAvoy - X-Men Reboot - B+W + Sunglasses</li>
      <li>Brian McFadden - Westlife - Altitude</li>
      <li>Jay McGuinness - The Wanted - Temperature*</li>
      <li>Steven McQueen - Vampire Diaries - Puppy Dog Ears</li>
      <li>Dylan Neal - Dawson&rsquo;s Creek - Reindeer</li>
      <li>Dylan O&rsquo;Brien - Teen Wolf - B+W + Sunglasses</li>
      <li>Chris O&rsquo;Donnell - School Ties - Snow + eyes</li>
      <li>Connor Paolo - Gossip Girl - Sing Your Best*</li>
      <li>Liam Payne - 1D - Holly + Snow*</li>
      <li>Luke Perry - 90210 - Yellow Butterflies</li>
      <li>Evan Peters - X-Men Reboot - B+W + Sunglasses*</li>
      <li>Alex Pettyfer - Magic Mike - Snow + eyes</li>
      <li>Michael Pitt - Dawson&rsquo;s Creek - Reindeer</li>
      <li>Tyler Posey - Teen Wolf - Temperature</li>
      <li>Jason Priestley - 90210 - Yellow Butterflies</li>
      <li>Daniel Radcliffe - Harry Potter Series - Davis Square Boston*</li>
      <li>Anthony Rapp - School Ties - Flower Garland</li>
      <li>Kevin Richardson - Backstreet Boys - Geometric Shapes</li>
      <li>Adam Rodriguez - Magic Mike - Sing Your Best*</li>
      <li>Zach Roerig - Vampire Diaries - Puppy Dog Ears</li>
      <li>Alexander Skarsgård - True Blood - Snow and Stars</li>
      <li>Kerr Smith - Dawson&rsquo;s Creek - Reindeer</li>
      <li>Kodi Smit-McPhee - X-Men Reboot - B+W + Sunglasses</li>
      <li>Ian Somerhalder - Vampire Diaries - Puppy Dog Ears</li>
      <li>Dylan Sprayberry - Teen Wolf - Temperature</li>
      <li>Harry Styles - 1D - Falling Feathers*</li>
      <li>Nathan Sykes - The Wanted - A few bubbles</li>
      <li>Channing Tatum - Magic Mike - Snow + eyes</li>
      <li>Lucas Till - X-Men Reboot - B+W + Sunglasses</li>
      <li>Louis Tomlinson - 1D - Falling Feathers</li>
      <li>Sam Trammell - True Blood - Snow and Stars</li>
      <li>Michael Trevino - Vampire Diaries - Davis Square Boston</li>
      <li>James Van Der Beek - Dawson&rsquo;s Creek - Reindeer*</li>
      <li>Paul Wesley - Vampire Diaries - Puppy Dog Ears</li>
      <li>Ed Westwick - Gossip Girl - Sing Your Best</li>
      <li>Ian Ziering - 90210 - Yellow Butterflies</li>
    </ol>
  </div>
{% endblock %}
