{% extends "overall_layout.html" %}

{% macro generate_background(round_id) %}
  {% set character_colors = {'fighter': '#b49674', 'wizard': '#3079bd', 'cleric': '#853e3e',
          'linguist': '#594366', 'chemist': '#8ac664', 'economist':'#696969' } %}
  {% if round_id in ['fighter','wizard','cleric','linguist','chemist','economist'] %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/map/repeating-fog.png')|safe }}");
      background-color: {{ character_colors.get(round_id) }};
      background-blend-mode: overlay;
    }
    </style>
    <!--[if IE]>
    <style>
            body:before {
                 content: "";
                 position: fixed;
                 top: 0;
                 left: 0;
                 height: 100%;
                 min-height: 100vh;
                 width: 100%;
                 min-width: 100vw;
                 background: {{ character_colors.get(round_id) }};
                 opacity: 0.5;
                 z-index: -3000;
             }
     </style>
    <![endif]-->
  {% elif round_id in ['dynast','dungeon','thespians','bridge','criminal','minstrels','cube','warlord'] %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/quests/%s-background.png' % round_id)|safe }}");
    }
    </style>
  {% else %}
    <style>
    body {
      background-color: navajowhite;
    }
    </style>
  {% endif %}
{% endmacro %}

{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puzzle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='solution.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block overall_layout_body %}
  {{ generate_background(puzzle_round_id) }}
  <div id="puzzle-container">
    <div id="header" class="standard-horizontal-scroll">
      {% block puzzle_name_block %}{% endblock %}
    </div>
    <div id="byline">
      {% block byline %}{% endblock %}
    </div>
    <div id="solution">
      <span class="puzzle-reward-solution-label">Answer:</span> <span class="puzzle-solution">{% block solution %}{% endblock %}</span>
    </div>
    <div id="puzzle-content">
      {% block solution_content_block %}{% endblock %}
    </div>
  </div>
{% endblock %}