{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}Special OPS: Solution{% endblock %}
{% block puzzle_name_block %}Special OPS: Solution{% endblock %}
{% block byline %}By TK Focht{% endblock %}
{% block solution %}TAMPER WITH{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each of the "stats" is a picture of a player whose last name is used as a madeup pseudo-sabermetric statistic in a leaderboard. The stat players are shown in alphabetical order by last name, and each leaderboard has the enumeration of its stat, matching
    the set of enumerations of the pictured players' last names. The leaderboards also show that a stat with name of length N is the sum of N other stats, just as OPS is calculated by adding together two base stats.
  </p>
  <p>
    The fourth leaderboard's fourth column has values given. This leaderboard has a unique enumeration and must be ARCIA, so the fourth column is I. The values provided are each player's ISO for the season. This provides a clue that each letter pairs with
    a base statistic that is associated with that letter. Using this as a hypothesis allows solving for the rest of ARCIA = At bats + Runs + Caught stealing + ISO + At bats, starting the puzzle's combination of cryptogram, math, and logic problem. All
    values for base statistics are taken from Fangraphs leaderboards, as noted in the instructions.
  </p>
  <p>
    One possible solve path is:
  </p>
  <p>
    1) Start with ARCIA, which has a unique enumeration and is short. ISO is given and matches the decimal components of all of the listed players. This means A, R, and C are all whole numbers. C narrows down to Caught Stealing. There are a couple valid A's
    (At Bats, Assists) and valid R's (Runs, Runs Batted In) that are whole numbers but you need At Bats to get into the right magnitude of numbers. Then Runs is the R that works.
  </p>
  <p>
    2) Two of the four four-letter stats use I (AOKI, DIFO). These can be picked out with the hundredths and thousandths places matching ISO - they are leaderboard #8 and #9. Both of them need something added in the tenths place. This is easier to work with
    on AOKI, because A is already known and must be on #8 (because #9 doesn't have values large enough). O = offense and K = strikeouts are derivable from here. On DIFO, both D and F are whole numbers, which is restricts to find D = doubles and F = flyballs.
  </p>
  <p>
    3) For the remaining two four-letter stats (BELT, BAEZ), BAEZ is #12 because A is large. BELT is #2. BAEZ contains three decimal values but doesn't have any known stats that have decimals. However, there aren't a lot of options for B, E, and Z, and Z-Swing%
    for Z matches the decimal places shown. The values for B and E probably aren't fully workable yet without trial and error.
  </p>
  <p>
    4) I, O, and Z are known to be fractional, and the six-letter stats are full of different combinations of those letters. Based on the decimal places, this allows the identification of #1 as DOZIER, #5 as COZART, #11 as WRIGHT, #13 as CORREA, and #16 as
    SCHOOP. SEAGER and SEGURA are still ambiguous, but one has decimal values and the other doesn't. Most of these letters are already defined, and from here everything starts falling.
  </p>
  <p>
    5) DOZIER and CORREA are all defined except for E, so find that. COZART gets you T. With E and T known, ESCOBAR and BAEZ give B, then BELT gives L. DESCALSO gives S, then BOGAERTS gives G.
  </p>
  <p>
    6) SEAGER is now fully defined and identifiable. The last six-letter stat is SEGURA, which gives U as the last fractional stat.
  </p>
  <p>
    7) With U, TULOWITZKI gives W. WRIGHT gives H, then SCHOOP gives P to finish things out.
  </p>
  <p>
    Some of the letter-stat pairs would be mysterious without baseball context but make sense with it. For example, singles are listed on Fangraphs as 1B and are used as S in this puzzle. Strikeouts are listed as SO and are used as K. The full list of letters and stats used is below.
  </p>
  <table>
    <tr>
      <td>A</td>
      <td>AB (at bats)</td>
    </tr>
    <tr>
      <td>B</td>
      <td>BU (bunts)</td>
    </tr>
    <tr>
      <td>C</td>
      <td>CS (caught stealing)</td>
    </tr>
    <tr>
      <td>D</td>
      <td>2B (doubles)</td>
    </tr>
    <tr>
      <td>E</td>
      <td>E (errors)</td>
    </tr>
    <tr>
      <td>F</td>
      <td>FB (flyballs)</td>
    </tr>
    <tr>
      <td>G</td>
      <td>G (games)</td>
    </tr>
    <tr>
      <td>H</td>
      <td>H (hits)</td>
    </tr>
    <tr>
      <td>I</td>
      <td>ISO (isolated power)</td>
    </tr>
    <tr>
      <td>K</td>
      <td>SO (strikeouts)</td>
    </tr>
    <tr>
      <td>L</td>
      <td>LD (line drives)</td>
    </tr>
    <tr>
      <td>O</td>
      <td>Off (Fangraphs offense rating)</td>
    </tr>
    <tr>
      <td>P</td>
      <td>PA (plate appearances)</td>
    </tr>
    <tr>
      <td>R</td>
      <td>R (runs)</td>
    </tr>
    <tr>
      <td>S</td>
      <td>1B (singles)</td>
    </tr>
    <tr>
      <td>T</td>
      <td>3B (triples)</td>
    </tr>
    <tr>
      <td>U</td>
      <td>UBR (ultimate base running)</td>
    </tr>
    <tr>
      <td>W</td>
      <td>BB (walks)</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Z-Swing% (percentage swing in zone)</td>
    </tr>
  </table>
  <p>
    One important source of difficulty solvers may encounter is in handling E (errors). While offensive stats are listed online by player-season, fielding statistics are listed by player-position-season: the same player will be separately listed at each position, and sometimes for all outfield versus all infield. Additionally, default fielding statistic leaderboards only use player-positions with a qualifying number of innings, which would lead to inconsistencies when added to the offensive statistics if the puzzle's rules did not specify how to handle this. For example, Jean Segura needs to be credited with ten errors, which includes his error at shortstop, instead of just the nine he committed at second base. This also addresses anomalies such as Kris Bryant not having any default fielding statistics due to splitting time between the infield and outfield.
  </p>
  <p>
    With the stats defined, finding the missing players from the leaderboards is accomplishable by building a custom leaderboard of the base stats and exporting to CSV, then adding additional sortable columns using the base stats.
  </p>
  <p>
    The flavortext indicates that "the shirt off your back" is important - this is the players' jersey numbers. The players missing from the leaderboards generally have numbers that are too large for use as an index, but the stat players all have jersey numbers
    from 1 to 9. Once the stats and leaderboards have been matched up and the missing players from the leaderboards determined, we have:
  </p>
  <table>
    <tr>
      <th>Leaderboard</th>
      <th>Stat name</th>
      <th>Stat player jersey</th>
      <th>Missing player</th>
      <th>Extracted letter</th>
    </tr>
    <tr>
      <td>1</td>
      <td>DOZIER</td>
      <td>2</td>
      <td>Eaton, Adam</td>
      <td>A</td>
    </tr>
    <tr>
      <td>2</td>
      <td>BELT</td>
      <td>9</td>
      <td>Dickerson, Corey</td>
      <td>N</td>
    </tr>
    <tr>
      <td>3</td>
      <td>SEAGER</td>
      <td>5</td>
      <td>Goldschmidt, Paul</td>
      <td>S</td>
    </tr>
    <tr>
      <td>4</td>
      <td>ARCIA</td>
      <td>3</td>
      <td>Fowler, Dexter</td>
      <td>W</td>
    </tr>
    <tr>
      <td>5</td>
      <td>COZART</td>
      <td>2</td>
      <td>Cespedes, Yoenis</td>
      <td>E</td>
    </tr>
    <tr>
      <td>6</td>
      <td>TULOWITZKI</td>
      <td>2</td>
      <td>Crawford, Brandon</td>
      <td>R</td>
    </tr>
    <tr>
      <td>7</td>
      <td>ESCOBAR</td>
      <td>2</td>
      <td>Utley, Chase</td>
      <td>T</td>
    </tr>
    <tr>
      <td>8</td>
      <td>AOKI</td>
      <td>8</td>
      <td>Bautista, Jose</td>
      <td>A</td>
    </tr>
    <tr>
      <td>9</td>
      <td>DIFO</td>
      <td>1</td>
      <td>Markakis, Nick</td>
      <td>M</td>
    </tr>
    <tr>
      <td>10</td>
      <td>BOGAERTS</td>
      <td>2</td>
      <td>Upton Jr., Melvin</td>
      <td>P</td>
    </tr>
    <tr>
      <td>11</td>
      <td>WRIGHT</td>
      <td>5</td>
      <td>Hosmer, Eric</td>
      <td>E</td>
    </tr>
    <tr>
      <td>12</td>
      <td>BAEZ</td>
      <td>9</td>
      <td>Hechavarria, Adeiny</td>
      <td>R</td>
    </tr>
    <tr>
      <td>13</td>
      <td>CORREA</td>
      <td>1</td>
      <td>Werth, Jayson</td>
      <td>W</td>
    </tr>
    <tr>
      <td>14</td>
      <td>SEGURA</td>
      <td>2</td>
      <td>Kipnis, Jason</td>
      <td>I</td>
    </tr>
    <tr>
      <td>15</td>
      <td>DESCALSO</td>
      <td>3</td>
      <td>Ortiz, David</td>
      <td>T</td>
    </tr>
    <tr>
      <td>16</td>
      <td>SCHOOP</td>
      <td>6</td>
      <td>Yelich, Christian</td>
      <td>H</td>
    </tr>
  </table>
  <p>
    The extracted letters read ANSWER <b>TAMPER WITH</b>, which is something the criminal is doing if he's spitballing.
  </p>
</div>
{% endblock %}
