{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cleric' %}
{% block title_block %}State Dinners: Solution{% endblock %}
{% block puzzle_name_block %}State Dinners: Solution{% endblock %}
{% block byline %}By Tom Buehler{% endblock %}
{% block solution %}BORE{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each clue suggests the name of a business on Mass Ave between Harvard and
      MIT.
    </p>
    <br>
    <p>
      A good place to get a square meal.  Thirty seven of them, in fact.
      - 1369 COFFEE HOUSE
    </p>
    <p>
      As I dined, I felt like I was on a plane coming in to Sky Harbor airport.
      - THE PHOENIX LANDING
    </p>
    <p>
      Be sure to come back often.  The menu is always evolving.
      - DARWIN'S LTD
    </p>
    <p>
      Chef Andhrimnir's place is heavenly. Try the Saehrimnir.
      - ASGARD IRISH PUB & RESTAURANT
    </p>
    <p>
      Given the chef, I expected to see whale on the menu.  Or Cylon.
      - STARBUCKS
    </p>
    <p>
      Here every table is a chef's table, since she cooks right in the middle of the restaurant.
      - CENTRAL KITCHEN
    </p>
    <p>
      The drinks were K is for Killer! I got totally W is for Wasted.
      - GRAFTON STREET
    </p>
    <p>
      The Mexican food here is so inauthentic, even the word "burrito" is Americanized.
      - LITTLE DONKEY
    </p>
    <p>
      Their signature dessert is the "Blueberry Hill." It was so big, I almost toppled over into the person next to me when I was done!
      - DOMINO'S PIZZA
    </p>
    <p>
      They accept many alternative forms of payments, even those things you pull to open a soda.
      - THE CANTAB LOUNGE
    </p>
    <p>
      They served me an intriguing mix of wine and beer. (I would have called it a Heinfandel, but their name for it was good too.)
      - ZINNEKEN'S
    </p>
    <p>
      This place goes far beyond molecular gastronomy, and into biological gastronomy, physical gastronomy, geological gastronomy, and astronomical gastronomy. Hallelujah!
      - MIRACLE OF SCIENCE
    </p>
    <p>
      This restaurant is truly farm-to-table -- the waiter kept disappearing to till the fields out back. Apparently a lot of celebrities eat here, too.
      - THE PLOUGH AND STARS
    </p>
    <p>
      While you dine, you are entertained by the finest aquatic jazz.
      - THELONIOUS MONKFISH
    </p>
    <br>
    <p>
      Order the businesses by their address on Mass Ave, then index into the name using the number of stars associated with that position.
    </p>
    <br>
    <p>1. 313 <b>D</b>ARWIN'S LTD</p>
    <p>2. 321 MI<b>R</b>ACLE OF SCIENCE</p>
    <p>3. 350 ASGARD <b>I</b>RISH PUB & RESTAURANT</p>
    <p>4. 505 <b>L</b>ITTLE DONKEY</p>
    <p>5. 512 THE PHOENIX <b>L</b>ANDING</p>
    <p>6. 524 THEL<b>O</b>NIUS MONKFISH</p>
    <p>7. 567 CENT<b>R</b>AL KITCHEN</p>
    <p>8. 655 <b>S</b>TARBUCKS</p>
    <p>9. 738 THE CA<b>N</b>TAB LOUNGE</p>
    <p>10. 757 1369 C<b>O</b>FFEEHOUSE</p>
    <p>11. 912 THE PL<b>O</b>UGH AND STARS</p>
    <p>12. 1033 DOMINOS PI<b>Z</b>ZA</p>
    <p>13. 1154 ZINN<b>E</b>KEN's</p>
    <p>14. 1230 G<b>R</b>AFTON STREET</p>
    <br>
    <p>
      The letters spell DRILL OR SNOOZER, which is a clue for the answer <b>BORE</b>.
    </p>
  </div>
{% endblock %}
