{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'warlord' %}
{% block title_block %}Subservient Chicken vs Tim the Beaver: Solution{% endblock %}
{% block puzzle_name_block %}Subservient Chicken vs Tim the Beaver: Solution{% endblock %}
{% block byline %}
  Puzzle By Trip Payne<br>
  Production by Jennifer Braun and Todd Radford<br>
  Videography by Chris Morse<br>
  Audio by Tanis O&rsquo;Connor<br>
  Video Editing by Jennifer Braun<br>
  Guest appearances by Chris Morse, Alex Rosenthal, Dan Katz, Tom Buehler, Scott Purdy and Jackie Anderson<br>
  And starring Chuckie Chicken and Tim the Beaver as themselves
{% endblock %}
{% block solution %}FOXY{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 42px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Each of these videos is a reenactment of an excerpt from a notable &ldquo;Lip
      Sync for Your Life&rdquo; performance from <i>RuPaul&rsquo;s Drag
      Race</i>. (Textual clues to this: &ldquo;.&nbsp;.&nbsp;.for your life&rdquo; and
      &ldquo;[mess] it up&rdquo; in the flavortext, and a mention of
      Chuckie&rsquo;s &ldquo;charisma&rdquo; and &ldquo;talent.&rdquo;)
      &ldquo;Winner&rdquo; represents the name of the winning drag queen,
      &ldquo;loser&rdquo; the name of the losing drag queen, and
      &ldquo;singer&rdquo; the artist who performed the song they danced
      to. Solvers must identify these and index according to the
      &ldquo;scores.&rdquo;
    </p>
    <p>
      Video 1<br>
      Winner: Jinkx Monsoon (J)<br>
      Loser: Detox (O)<br>
      Singer: Yma Sumac (S)
    </p>
    <p>
      Video 2<br>
      Singer: Jennifer Holliday (L)<br>
      Loser: Thorgy Thor (Y)<br>
      Winner: Chi Chi DeVayne (N)
    </p>
    <p>
      Video 3<br>
      Winner: Coco Montese (S)<br>
      Singer: Paula Abdul (A)<br>
      Loser: Alyssa Edwards (Y)
    </p>
    <p>
      Video 4<br>
      Loser: Kenya Michaels (S)<br>
      Singer: Aretha Franklin (K)<br>
      Winner: Latrice Royale (E)
    </p>
    <p>
      Video 5<br>
      Singer: Natalie Cole (E)<br>
      Loser: The Princess (P)<br>
      Winner: Dida Ritz (I)
    </p>
    <p>
      Video 6<br>
      Singer: Faith Evans (T)<br>
      Winner: Robbie Turner (B)<br>
      Loser: Cynthia Lee Fontaine (L)
    </p>
    <p>
      Video 7<br>
      Loser: Katya (A)<br>
      Winner: Kennedy Davenport (N)<br>
      Singer: Katy Perry (K)
    </p>
    <p>
      The indexed letters spell out the phrase JOSLYN SAYS KEEP IT
      BLANK. Contestant Joslyn Fox had the catchphrase &ldquo;Keep it
      foxy,&rdquo; so <b>FOXY</b> is the answer to the puzzle.
    </p>
  </div>
{% endblock %}
