{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}Swifties: Solution{% endblock %}
{% block puzzle_name_block %}Swifties: Solution{% endblock %}
{% block byline %}By Roger Barkan{% endblock %}
{% block solution %}OBSESS{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      These are TAYLOR Swifties, not Tom Swifties.  The answer to each is the
      name of a Taylor Swift single (like "Mean", "Fearless", "Red", or "White
      Horse" in the flavortext.)
    </p>
    <ul>
      <li>(MA) TIM MCGRAW [like a man of faith]</li>
      <li>(KE) BLANK SPACE [vacuously]</li>
      <li>(US) OURS [unselfishly]</li>
      <li>(AV) WE ARE NEVER EVER GETTING BACK TOGETHER [irreconcilably]</li>
      <li>(ID) WILDEST DREAMS [most fantastically]</li>
      <li>(EO) LOVE STORY [romantically]</li>
      <li>(OF) TODAY WAS A FAIRYTALE [once upon a time]</li>
      <li>(YO) YOU BELONG WITH ME [correspondingly]</li>
      <li>(UR) I KNEW YOU WERE TROUBLE [forebodingly]</li>
      <li>(TE) BACK TO DECEMBER [on New Year's Eve]</li>
      <li>(AM) TEARDROPS ON MY GUITAR [bluesily]</li>
      <li>(SW) SWEETER THAN FICTION [scrumdiddlyumptiously]</li>
      <li>(IF) SHAKE IT OFF [taillessly]</li>
      <li>(TL) STYLE [fashionably]</li>
      <li>(YS) EYES OPEN [alertly]</li>
      <li>(IN) MINE [selfishly]</li>
      <li>(GI) BEGIN AGAIN [from the top]</li>
      <li>(NG) CHANGE [inconsistently]</li>
    </ul>
    <p>
      The indicated bigrams spell MAKE US A VIDEO OF YOUR TEAM SWIFTLY SINGING.
      When teams do, they get the answer, <b>OBSESS</b>.
    </p>
  </div>
{% endblock %}
