{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'cleric' %}
{% block title_block %}The Sacred and the Mundane: Solution{% endblock %}
{% block puzzle_name_block %}The Sacred and the Mundane: Solution{% endblock %}
{% block byline %}By Tom Buehler{% endblock %}
{% block solution %}FANNY{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  span.highlight-letter {
    font-weight: bold;
  }
</style>
{% endblock %}

{% block solution_content_block %}
<div>
<p>Each clue has an answer that sounds like a dirty word or phrase, but actually isn&rsquo;t.  They are:</p>

<ul>
  <li>Type of mushroom  -  S<span class="highlight-letter">H</span>IITAKE</li>
  <li>Planet in our Solar System  -  UR<span class="highlight-letter">A</span>NUS</li>
  <li>Hershey Cubs player  -  HA<span class="highlight-letter">R</span>RY DICK</li>
  <li>Seabird  -  B<span class="highlight-letter">O</span>OBY</li>
  <li>Town in Warren County, New Jersey  -  BUTTZVI<span class="highlight-letter">L</span>LE</li>
  <li>Chicago Bears Hall of Famer  -  <span class="highlight-letter">D</span>ICK BUTKUS</li>
  <li>Banking family  -  FUGGE<span class="highlight-letter">R</span></li>
  <li>Toilet component  -  BALLC<span class="highlight-letter">O</span>CK</li>
  <li>Bird (that&rsquo;s not a rodent)  -  TIT<span class="highlight-letter">M</span>OUSE</li>
  <li>Human ancestor  -  HOMO <span class="highlight-letter">E</span>RECTUS</li>
  <li>Small citrus fruit  -  KU<span class="highlight-letter">M</span>QUAT</li>
  <li>American Chinese appetizer sampler  -  P<span class="highlight-letter">U</span> PU PLATTER</li>
  <li>Neckwear  -  A<span class="highlight-letter">S</span>COT</li>
  <li>German conglomerate  -  S<span class="highlight-letter">I</span>EMENS</li>
  <li>Member of the subfamily Melolonthinae  -  <span class="highlight-letter">C</span>OCKCHAFER</li>
  <li>Orkney village  -  TW<span class="highlight-letter">A</span>TT</li>
  <li>Related to punishment  -  PENA<span class="highlight-letter">L</span></li>
</ul>

<p>Index into each answer using the number next to the clue, giving letters (bolded) which spell the phrase HAROLD ROME MUSICAL.  <i>Fanny</i> is a musical by Harold Rome.  Using the same logic of the puzzle, the answer is <b>FANNY</b>.</p>
</div>
{% endblock %}