{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'chemist' %}
{% block title_block %}The Most Interesting Puzzle in the World: Solution{% endblock %}
{% block puzzle_name_block %}The Most Interesting Puzzle in the World: Solution{% endblock %}
{% block byline %}By Brian Tivol{% endblock %}
{% block solution %}CROC{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 36px;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      Pairs of words are clued, and you need to pair them and order them.
    </p>
    <p>
      The top halves appear in alphabetical order: ATARI, BRIBE, EATON, FLUNG,
      FOOT, GIBBER, HERO, KIER, LEON, THE MAYO, MOJO, MR. MIME, OURO, TRACE.
    </p>
    <p>
      The Most Interesting Man in the World doesn&rsquo;t always spell those
      words and phrases, but when he does, he prefers to spell them <i>con dos
      equis</i>.  The bottom halves appear in this order: THE MAXX, OXXO, MOXX,
      GIXXER, ATAXX, FLUXX, MR. MIXX, HEXX, FOXX, BRIXX, KIXX, EXXON, LEXX,
      TRAXX.
    </p>
    <p>
      In the bottom half order, read out the top half letters that were replaced
      with two X&rsquo;s, and you get &ldquo;YO UR JO BB RI NG ME RO OT BE ER AT ON
      CE.&rdquo;  Once you bring us root beer, you get the answer, which
      is <b>CROC</b>.
    </p>
  </div>
{% endblock %}
