{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}The Gods Must Be Crazy: Solution{% endblock %}
{% block puzzle_name_block %}The Gods Must Be Crazy: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}PATERSON{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content ul {
  list-style-type: none;
  margin-bottom: 20px;
}
#puzzle-content .clue-section {
  margin-bottom: 20px;
  border-top: 2px solid black;
}
#puzzle-content .clue-section:last-child {
  border-bottom: 2px solid black;
}
#puzzle-content li.highlighted-entry {
  font-weight: bold;
}
</style>
{% endblock %}

{% block solution_content_block %}
<div>
  <div>
    <p>Each of these is a mostly straightforward clue to a word, though in each set of clues the final clue is highlighted/bolded to indicate that it is different than the other clues in the set. If you take the answers to the clues, and sound them out together, you get the name of a demigod from the original Percy Jackson and the Olympians set of books. The final bolded clue is always at word that begins with a Greek numerical prefix. You can then use that number to index into the god parent that that demigod has. This sets are already in the needed order.</p>
  </div>
  <div id="clue-listing">
    <div class="clue-section">
      <ul>
          <li>Joaqu&#237;n Phoenix, formerly = LEAF</li>
          <li>Language spoken in Riga, or a person who lives there = LETT</li>
          <li>Short, trilled insect sound, like that of a cicada = CHIRR</li>
          <li class="highlighted-entry">Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> ion = DICHROMATE</li>
      </ul>
      <ul>
        <li>LEAF-LETT-CHIRR = Lee Fletcher</li>
        <li>DICHROMATE = 2</li>
        <li>His godly parent is Apollo.</li>
        <li>The second letter of Apollo is <b>P</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
          <li>It borders Galway, Tipperary, and Limerick = CLARE</li>
          <li>Second oldest of Lois and Hal = REESE</li>
          <li>Disparaging remark, often racially tinged = SLUR</li>
          <li>Cooked mixture of flour and butter for thickening = ROUX</li>
          <li class="highlighted-entry">Introductory talk given by Fallon or Letterman at the start of his show = MONOLOGUE</li>
      </ul>
      <ul>
        <li>CLARE-REESE-SLUR-ROUX = Clarisse LaRue</li>
        <li>MONOLOGUE = 1</li>
        <li>Her godly parent is Ares.</li>
        <li>The first letter of Ares is <b>A</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
        <li>Horizontal portion at the bottom of a window = SILL</li>
        <li>What Jack Sprat's wife avoided = LEAN</li>
        <li>Lump or something small and imperfectly formed = NUB</li>
        <li>Bauxite or hematite, e.g. = ORE</li>
	      <li>Pay attention to or hold in high esteem = REGARD</li>
        <li class="highlighted-entry"># = OCTOTHORP(E)</li>
      </ul>
      <ul>
        <li>SILL-LEAN-NUB-ORE-REGARD = Silena Beauregarde</li>
        <li>OCTOTHORP = 8</li>
        <li>Her godly parent is Aphrodite.</li>
        <li>The eighth letter of Aphrodite is <b>T</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
        <li>Son of Ector and foster brother to Arthur = KAY</li>
        <li>Jeff the Pacer who used to be a Hawk = TEAGUE</li>
        <li>Difficult = HARD</li>
        <li>Evening meal = DINNER</li>
        <li class="highlighted-entry">Platonic solid with the fewest faces = TETRAHEDRON</li>
      </ul>
      <ul>
        <li>KAY-TEAGUE-HARD-DINNER = Katie Gardner</li>
        <li>TETRAHEDRON = 4</li>
        <li>Her godly parent is Demeter.</li>
        <li>The fourth letter of Demeter is <b>E</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
        <li>Foe in <i>Star Trek II</i> = KHAN </li>
        <li>Mythology with Odin and Thor = NORSE</li>
        <li>Tin sheet metal that is often elaborately decorated = TOLE</li>
        <li class="highlighted-entry">Valve between the right atrium and right ventricle = TRICUSPID</li><br>
      </ul>
      <ul>
        <li>KHAN-NORSE-TOLE = Connor Stoll</li>
        <li>TRICUSPID = 3</li>
        <li>His godly parent is Hermes.</li>
        <li>The third letter of Hermes is <b>R</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
        <li>Apian insect = BEE </li>
        <li>Egyptian symbol for life = ANKH</li>
        <li>Carrier for bricks = HOD</li>
        <li>Fleming who created <i>Chitty Chitty Bang Bang</i> = IAN</li>
        <li>Brand used to make &ldquo;shots&rdquo; and instant pudding = JELL-O</li>
        <li class="highlighted-entry">Building there the US Department of Defense is located = PENTAGON</li>
      </ul>
      <ul>
        <li>BEE-ANKH-HOD-IAN-JELL-O = Bianca Di Angelo</li>
        <li>PENTAGON = 5</li>
        <li>Her godly parent is Hades.</li>
        <li>The fifth letter of Hades is <b>S</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
        <li>Happy sound from a cat = PURR</li>
        <li>Military blockade of a city to get it to surrender = SIEGE</li>
        <li>Tree-choppping tool = AX(E)</li>
        <li>Currently running, like a refrigerator = ON</li>
        <li class="highlighted-entry">Current Olympic Event featuring the 800 meters and the shot put = HEPTATHLON</li>
      </ul>
      <ul>
        <li>PURR-SIEGE-AXE-ON = Percy Jackson</li>
        <li>HEPTATHLON = 7</li>
        <li>His godly parent is Poseidon.</li>
        <li>The seventh letter of Poseidon is <b>O</b>.</li>
      </ul>
    </div>
    <div class="clue-section">
      <ul>
      	<li>Limit of (1+1/<i>n</i>)<sup><i>n</i></sup> as <i>n</i> approaches infinity = e</li>
        <li>Slender = THIN</li>
        <li>Rap on the door = KNOCK</li>
        <li>Defunct GM brand from 1992 to 2010 including a former military vehicle = HUMMER</li>
        <li>Egyptian sun god = RA</li>
        <li class="highlighted-entry">Board game featuring Marvin Gardens = MONOPOLY</li>
      </ul>
      <ul>
        <li>E-THIN-KNOCK-HUMMER-RA = Ethan Nakamura</li>
        <li>MONOPOLY = 1</li>
        <li>His godly parent is Nemesis.</li>
        <li>The first letter of Nemesis is <b>N</b>.</li>
      </ul>
    </div>
  </div>
  <div>
    <p>Those letters taken in order spell out the answer, <b>PATERSON</b>.</p>
  </div>
</div>
{% endblock %}
