{% extends "solutions/solution_layout.html" %}
{% block title_block %}Tricks with Bricks: Solution{% endblock %}
{% block puzzle_name_block %}Tricks with Bricks: Solution{% endblock %}

{% block solution_content_block %}
<div>
  <p>
    Each image is of a collection of one or more identical LEGO bricks, connected together. Each brick type and color can be identified through online Lego sites like <a href="http://bricklink.com">Bricklink</a> or <a href="http://brickset.com">Brickset</a>.
    Once identified, you can find that each brick is part of only one official LEGO set.
  </p>
  <table border="2" cellspacing="0" cellpadding="6" align="center">
    <tr>
      <th scope="col" class="left">Bricklink Part Description</th>
      <th scope="col" class="right">Part No</th>
      <th scope="col" class="left">Color</th>
      <th scope="col" class="right">Count</th>
      <th scope="col" class="left">Set</th>
      <th scope="col" class="left">Letter</th>
    </tr>
    <tr>
      <td class="left">Plate 6x8</td>
      <td class="right">3036</td>
      <td class="left">sand green</td>
      <td class="right">8</td>
      <td class="left">Hogwarts Castle</td>
      <td class="left">S</td>
    </tr>
    <tr>
      <td class="left">Door 1 x 3 x 2 Left</td>
      <td class="right">92262</td>
      <td class="left">white</td>
      <td class="right">4</td>
      <td class="left">Kwik-E-Mart</td>
      <td class="left">K</td>
    </tr>
    <tr>
      <td class="left">Slope 33 3x3 Double Concave</td>
      <td class="right">99301</td>
      <td class="left">white</td>
      <td class="right">2</td>
      <td class="left">Sydney Opera House</td>
      <td class="left">Y</td>
    </tr>

    <tr>
      <td class="left">Brick 1x3</td>
      <td class="right">3622</td>
      <td class="left">olive green</td>
      <td class="right">5</td>
      <td class="left">Parisian Restaurant</td>
      <td class="left">S</td>
    </tr>
    <tr>
      <td class="left">Brick Modified Facet 3x3</td>
      <td class="right">2462</td>
      <td class="left">lime</td>
      <td class="right">1</td>
      <td class="left">Construct-a-Buzz</td>
      <td class="left">C</td>
    </tr>
    <tr>
      <td class="left">Plate Modified 4x6 with Trap Door Hinge</td>
      <td class="right">92099</td>
      <td class="left">blue</td>
      <td class="right">3</td>
      <td class="left">Earth Defense HQ</td>
      <td class="left">R</td>
    </tr>
    <tr>
      <td class="left">Slope Inverted 3x1</td>
      <td class="right">4287</td>
      <td class="left">bright light orange</td>
      <td class="right">2</td>
      <td class="left">Wall-E</td>
      <td class="left">A</td>
    </tr>
    <tr>
      <td class="left">Wedge, Plate 4 x 6</td>
      <td class="right">47407</td>
      <td class="left">dark blue</td>
      <td class="right">4</td>
      <td class="left">Deep Sea Predators</td>
      <td class="left">P</td>
    </tr>
    <tr>
      <td class="left">Brick Round Corner 10x10 with Slope Edge</td>
      <td class="right">58846</td>
      <td class="left">dark red</td>
      <td class="right">5</td>
      <td class="left">Slave I</td>
      <td class="left">E</td>
    </tr>
    <tr>
      <td class="left">Brick, Modified 1x4 Log</td>
      <td class="right">30137</td>
      <td class="left">medium lavender</td>
      <td class="right">4</td>
      <td class="left">Heartlake Riding Club</td>
      <td class="left">R</td>
    </tr>
    <tr>
      <td class="left">Bracket 1x2 Inverted</td>
      <td class="right">99780</td>
      <td class="left">sand green</td>
      <td class="right">5</td>
      <td class="left">Maersk Line Triple-E</td>
      <td class="left">S</td>
    </tr>
  </table>
  <p>
    The number of bricks in each image serves as an index to that set name, to yield the answer <b>SKYSCRAPERS</b>.
  </p>
</div>
{% endblock %}
