{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'economist' %}
{% block title_block %}Upon Reflection: Solution{% endblock %}
{% block puzzle_name_block %}Upon Reflection: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}RACECAR{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The title of the puzzle alludes to the fact that each of these is a
      picture with only half of it showing, and the other half is reflected, to
      clue that each of these pictures represents a word or phrase that contains
      a palindrome. Below are all the answers with the palindromes in capital
      letters.
    </p>
    <ul>
      <li>J. D. TIPPIT</li>
      <li>Addis ABABA</li>
      <li>Monica SELES</li>
      <li>TIT</li>
      <li>HANNAH Montana</li>
      <li>IDI Amin</li>
      <li>ARA</li>
      <li>High NOON</li>
      <li>EMME</li>
      <li>PIP</li>
      <li>ECCE Homo</li>
      <li>OSSO Buco</li>
      <li>PEEP</li>
      <li>Honda CIVIC</li>
      <li>Robb NEN</li>
      <li>Jeremy RENNER</li>
      <li>ELLE MacPherson</li>
      <li>TET Offensive</li>
      <li>OTTO Mann</li>
      <li>Princess ATTA</li>
      <li>DEED</li>
      <li>George SOROS</li>
      <li>NAAN or NAN</li>
      <li>NUN</li>
      <li>ROTOR</li>
      <li>Hop on POP</li>
    </ul>
    <p>
      Now, each palindrome has a central letter, whether the unique letter in
      the middle of odd length ones, or the pair of letters in the even length
      ones. Now, reading in order the central letters of each palindrome you
      get the cluephrase PALINDROMIC SEVEN LETTER AUTO which clues <b>RACECAR</b> or
      <b>RACE CAR</b>.
    </p>
  </div>
{% endblock %}
