{% extends "solutions/solution_layout.html" %}
{% set puzzle_round_id = 'economist' %}
{% block title_block %}Upon Reflection: Solution{% endblock %}
{% block puzzle_name_block %}Upon Reflection: Solution{% endblock %}
{% block byline %}By Chris Morse{% endblock %}
{% block solution %}RACECAR{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block solution_content_block %}
  <div>
    <p>
      The title of the puzzle alludes to the fact that each of these is a picture with only one half reflected down the middle. This clues that each of these pictures represents a word or phrase that contains a palindrome. Below are all of the answers with the palindromes in capital letters.
    </p>
    <ul>
      <li>J. D. <b>TIPPIT</b></li>
      <li>Addis <b>ABABA</b></li>
      <li>Monica <b>SELES</b></li>
      <li><b>TIT</b></li>
      <li><b>HANNAH</b> Montana</li>
      <li><b>IDI</b> Amin</li>
      <li><b>ARA</b></li>
      <li>High <b>NOON</b></li>
      <li><b>EMME</b></li>
      <li><b>PIP</b></li>
      <li><b>ECCE</b> Homo</li>
      <li><b>OSSO</b> Buco</li>
      <li><b>PEEP</b></li>
      <li>Honda <b>CIVIC</b></li>
      <li>Robb <b>NEN</b></li>
      <li>Jeremy <b>RENNER</b></li>
      <li><b>ELLE</b> Macpherson</li>
      <li><b>TET</b> Offensive</li>
      <li><b>OTTO</b> Mann</li>
      <li>Princess <b>ATTA</b></li>
      <li><b>DEED</b></li>
      <li>George <b>SOROS</b></li>
      <li><b>NAAN</b> or <b>NAN</b></li>
      <li><b>NUN</b></li>
      <li><b>ROTOR</b></li>
      <li>Hop on <b>POP</b></li>
    </ul>
    <p>
      Each palindrome has a central letter or a pair of central letters, depending on if it is an odd- or even-length word. Reading the central letters of each palindrome in order, you get PALINDROMIC SEVEN LETTER AUTO which clues <b>RACECAR</b> or <b>RACE CAR</b>.
    </p>
  </div>
{% endblock %}
