body {
    margin: 0;
    font-family: Helvetica;
}

form {
    display: inline;
}

.ha-navbar {
    display: flex;
    background-color: #cccccc;
}

.ha-navbar * {
    padding: 0.5em;
}

.ha-navbar a {
    color: black;
    text-decoration: none;
}

.ha-navbar a.active {
    background-color: #aaaaaa;
}

.ha-navbar-title {
    margin-left: auto;
}

.ha-page-section {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.ha-error-bar {
    border: 2px solid red;
    background-color: #ffcccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ha-error-bar-title {
    font-weight: bold;
}

.ha-error-bar * {
    margin: 0.5em;
}

.ha-control-boxes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ha-control-box {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    background-color: #cccccc;
}

.ha-control-box * + * {
    margin-left: 0.5em;
}

.ha-column-control-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    background-color: #cccccc;
}

.ha-column-control-box * + * {
    margin-top: 0.5em;
}

.ha-control-box-title {
    font-weight: bold;
}

.ha-labeled-input-form {
    display: flex;
    flex-direction: column;
}

.ha-table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #888888;
}

.ha-table thead {
    background-color: #cccccc;
}

.ha-table td {
    text-align: center;
}

.ha-table tr {
    height: 1.5em;
}

.ha-table tr:nth-child(even) {
    background-color: #eeeeee;
}

@media (max-width: 600px) {
    .ha-table-responsive table,
    .ha-table-responsive tbody,
    .ha-table-responsive td,
    .ha-table-responsive tr {
        display: block;
    }

    .ha-table-responsive thead,
    .ha-table-responsive th {
        display: none;
    }

    .ha-table-responsive tr {
        height: auto;
        padding: 0.5em;
    }

    .ha-table-responsive td {
        border: none;
        position: relative;
    }
}

.ha-button-row button + button {
    margin-left: 0.5em;
}

.ha-call-queue-correct-answer {
    font-size: 0.75em;
}
