{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}790.06 Crossword puzzles and other word games{% endblock %}
{% block puzzle_name_block %}790.06 Crossword puzzles and other word games{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 36px;
    }
    div.c {
      font-size: 13px;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      margin-top: 8px;
    }
    table.g {
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #aaa;
      border-collapse: collapse;
      width: 450px;
      height: 450px;
      page-break-after: always;
    }
    table.g td {
      border: 1px solid #aaa;
      box-sizing: border-box;
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 10px;
      vertical-align: top;
    }
    table.g td:not(.b) {
      padding: 1px;
    }
    table.g td.b::before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAAHklEQVR42mNc8J+BbMA4qnlU86jmUc2jmkc1D2fNANA/MMHBYys8AAAAAElFTkSuQmCC");
      position: absolute;
    }
    td.n {
      vertical-align: top;
      width: 16px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Crafty criminals are always hiding something.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <table class="g">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td class="b"></td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td class="b"></td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>15</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>16</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>17</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>18</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>19</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>20</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>21</td>
        <td></td>
        <td></td>
        <td></td>
        <td>22</td>
        <td class="b"></td>
        <td>23</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>24</td>
        <td>25</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>26</td>
        <td></td>
        <td>27</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>31</td>
        <td>32</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>33</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>34</td>
        <td class="b"></td>
        <td>35</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>36</td>
        <td>37</td>
        <td>38</td>
      </tr>
      <tr>
        <td>39</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>40</td>
        <td>41</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>43</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>44</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>45</td>
        <td>46</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>47</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>48</td>
        <td class="b"></td>
        <td>49</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>50</td>
        <td>51</td>
        <td>52</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>53</td>
        <td>54</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>55</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>56</td>
        <td></td>
        <td>57</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>58</td>
        <td>59</td>
        <td>60</td>
        <td>61</td>
      </tr>
      <tr>
        <td>62</td>
        <td></td>
        <td></td>
        <td></td>
        <td>63</td>
        <td class="b"></td>
        <td>64</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>65</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>66</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>67</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>68</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>69</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>70</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>71</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="c">
      <h3>Across</h3>
      <table class="c"><tr><td class="n">1</td><td>How piracy takes place, often</td></tr></table>
      <table class="c"><tr><td class="n">5</td><td>Al-Bashir accused of genocide by the International Criminal Court</td></tr></table>
      <table class="c"><tr><td class="n">9</td><td>Boo-boos</td></tr></table>
      <table class="c"><tr><td class="n">14</td><td>32-card game</td></tr></table>
      <table class="c"><tr><td class="n">15</td><td>Indian PM, for short</td></tr></table>
      <table class="c"><tr><td class="n">16</td><td>1991 inductee to the Games Hall of Fame</td></tr></table>
      <table class="c"><tr><td class="n">17</td><td>Sch. subj.</td></tr></table>
      <table class="c"><tr><td class="n">18</td><td><i>Criminal Minds</i> actor Rodriguez</td></tr></table>
      <table class="c"><tr><td class="n">19</td><td>John who wrote “Have Mercy on the Criminal”</td></tr></table>
      <table class="c"><tr><td class="n">20</td><td>She left Clannad in 1981 to pursue a solo career</td></tr></table>
      <table class="c"><tr><td class="n">21</td><td>Hungarian operetta composer</td></tr></table>
      <table class="c"><tr><td class="n">23</td><td>Chaplin who played Talisa Stark on <i>Game of Thrones</i></td></tr></table>
      <table class="c"><tr><td class="n">24</td><td>Home to “The Alcatraz of the Rockies” (abbr.)</td></tr></table>
      <table class="c"><tr><td class="n">26</td><td>Least crafty</td></tr></table>
      <table class="c"><tr><td class="n">28</td><td><span class="answer-blank">_____</span> Roll</td></tr></table>
      <table class="c"><tr><td class="n">31</td><td>It is often fine</td></tr></table>
      <table class="c"><tr><td class="n">33</td><td>Shining, like a treasure</td></tr></table>
      <table class="c"><tr><td class="n">35</td><td>Language invented in 1958</td></tr></table>
      <table class="c"><tr><td class="n">36</td><td>“<span class="answer-blank">_____</span> Crimes,” graffiti website</td></tr></table>
      <table class="c"><tr><td class="n">39</td><td>Former senior, for short</td></tr></table>
      <table class="c"><tr><td class="n">40</td><td>Mascagni opera</td></tr></table>
      <table class="c"><tr><td class="n">42</td><td>Plant, like hops, that climbs helically around its support</td></tr></table>
      <table class="c"><tr><td class="n">43</td><td>Darn things</td></tr></table>
      <table class="c"><tr><td class="n">44</td><td>Criminal conspiracy, e.g.</td></tr></table>
      <table class="c"><tr><td class="n">45</td><td>FedEx shipping option</td></tr></table>
      <table class="c"><tr><td class="n">47</td><td>Short trailer</td></tr></table>
      <table class="c"><tr><td class="n">49</td><td>Nickname sometimes used by wrestler Billy Gunn</td></tr></table>
      <table class="c"><tr><td class="n">50</td><td>Fits in, as to a gang</td></tr></table>
      <table class="c"><tr><td class="n">53</td><td>Fictional software from <i>Cryptonomicon</i> whose name is taken from the Great Seal of the US</td></tr></table>
      <table class="c"><tr><td class="n">55</td><td>Character played by Kevin Smith on <i>Xena</i></td></tr></table>
      <table class="c"><tr><td class="n">56</td><td>“I never learned how to tune a harp, or play upon <span class="answer-blank">_____</span>” (Themistocles)</td></tr></table>
      <table class="c"><tr><td class="n">58</td><td>Blemish seen at a body shop</td></tr></table>
      <table class="c"><tr><td class="n">62</td><td>Con man Rizzo</td></tr></table>
      <table class="c"><tr><td class="n">64</td><td>Inflammatory suffix</td></tr></table>
      <table class="c"><tr><td class="n">65</td><td>Plan or scheme</td></tr></table>
      <table class="c"><tr><td class="n">66</td><td>Zeus:Greece::<span class="answer-blank">_____</span>:Assyria</td></tr></table>
      <table class="c"><tr><td class="n">67</td><td>Brand with the “famous micronite filter” that contained asbestos</td></tr></table>
      <table class="c"><tr><td class="n">68</td><td>No, to the Solntsevskaya Bratva</td></tr></table>
      <table class="c"><tr><td class="n">69</td><td>Playing for <span class="answer-blank">_____</span></td></tr></table>
      <table class="c"><tr><td class="n">70</td><td><span class="answer-blank">_____</span> de maïs (corncobs)</td></tr></table>
      <table class="c"><tr><td class="n">71</td><td>Ransom, in the auto industry</td></tr></table>
      <br>
      <h3>Down</h3>
      <table class="c"><tr><td class="n">1</td><td>US Open stadium eponym</td></tr></table>
      <table class="c"><tr><td class="n">2</td><td>Graft source, possibly</td></tr></table>
      <table class="c"><tr><td class="n">3</td><td>Like a grifter’s mark</td></tr></table>
      <table class="c"><tr><td class="n">4</td><td>Committed battery</td></tr></table>
      <table class="c"><tr><td class="n">5</td><td>Fours or cylinders preceder</td></tr></table>
      <table class="c"><tr><td class="n">6</td><td><i><span class="answer-blank">_____</span> Honor</i> (2008 rom-com)</td></tr></table>
      <table class="c"><tr><td class="n">7</td><td>Nursemaid, in Nanking</td></tr></table>
      <table class="c"><tr><td class="n">8</td><td>Like the portrayal of Butch Cassidy and other criminals, perhaps</td></tr></table>
      <table class="c"><tr><td class="n">9</td><td>Unlock, old-style</td></tr></table>
      <table class="c"><tr><td class="n">10</td><td>“<span class="answer-blank">_____</span> You, Conrad”</td></tr></table>
      <table class="c"><tr><td class="n">11</td><td>Gait known as metatarsus varus</td></tr></table>
      <table class="c"><tr><td class="n">12</td><td>Certain collars</td></tr></table>
      <table class="c"><tr><td class="n">13</td><td>Upper house, in Paris</td></tr></table>
      <table class="c"><tr><td class="n">22</td><td>Mass simulator used on SpaceX Falcon 1</td></tr></table>
      <table class="c"><tr><td class="n">25</td><td>Words before par or platter</td></tr></table>
      <table class="c"><tr><td class="n">27</td><td>MIT initiative headed by Karl Koster</td></tr></table>
      <table class="c"><tr><td class="n">28</td><td>Attire for Fagin’s gang, perhaps</td></tr></table>
      <table class="c"><tr><td class="n">29</td><td>Hop-o’-My-Thumb antagonist</td></tr></table>
      <table class="c"><tr><td class="n">30</td><td>Gadget's villainous nemesis</td></tr></table>
      <table class="c"><tr><td class="n">32</td><td>With “The,” DC Comics anti-hero group that merged with the Justice League</td></tr></table>
      <table class="c"><tr><td class="n">34</td><td>Picasso’s birthplace</td></tr></table>
      <table class="c"><tr><td class="n">36</td><td>It premiered in Cairo in 1871</td></tr></table>
      <table class="c"><tr><td class="n">37</td><td>Messenger, ribosomal, and transfer, e.g.</td></tr></table>
      <table class="c"><tr><td class="n">38</td><td>Mystery novelist Josephine and namesakes</td></tr></table>
      <table class="c"><tr><td class="n">41</td><td>Lichenous</td></tr></table>
      <table class="c"><tr><td class="n">42</td><td>Site of the deadliest battle of the Napoleonic Wars</td></tr></table>
      <table class="c"><tr><td class="n">44</td><td>Criminal’s cooler</td></tr></table>
      <table class="c"><tr><td class="n">46</td><td>2002 ADS WotY</td></tr></table>
      <table class="c"><tr><td class="n">47</td><td>It could go either way</td></tr></table>
      <table class="c"><tr><td class="n">48</td><td>Fusilli relative</td></tr></table>
      <table class="c"><tr><td class="n">50</td><td>Former Israeli PM</td></tr></table>
      <table class="c"><tr><td class="n">51</td><td>Rub out</td></tr></table>
      <table class="c"><tr><td class="n">52</td><td>River of forgetfulness</td></tr></table>
      <table class="c"><tr><td class="n">54</td><td>Concludes, as a court argument</td></tr></table>
      <table class="c"><tr><td class="n">57</td><td>Educational inst. in view of Ciudad Juarez</td></tr></table>
      <table class="c"><tr><td class="n">59</td><td>Pastoral poem</td></tr></table>
      <table class="c"><tr><td class="n">60</td><td>Lawyer, eventually, for a criminal</td></tr></table>
      <table class="c"><tr><td class="n">61</td><td>Gangster’s guns</td></tr></table>
      <table class="c"><tr><td class="n">63</td><td>Some gates</td></tr></table>
    </div>
  </div>
{% endblock %}
