{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'criminal' %}
{% block title_block %}790.06 Crossword puzzles and other word games{% endblock %}
{% block puzzle_name_block %}790.06 Crossword puzzles and other word games{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 36px;
    }
    table.g {
      border: 2px solid #aaa;
      border-collapse: collapse;
    }
    table.g td {
      border: 1px solid #aaa;
      box-sizing: border-box;
      padding: 0.1em;
      width: 2rem;
      height: 2rem;
      font-size: 0.5em;
      vertical-align: top;
    }
    table.g td.b {
      outline: 1px solid #aaa;
      outline-offset: -1px;
      box-shadow: 0 0 0 1000px #aaa inset;
    }
    span.n {
      display: inline-block;
      min-width: 1.5em;
    }
    span.blank {
      text-decoration: underline;
    }
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Crafty criminals are always hiding something.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <table class="g">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td class="b"></td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td class="b"></td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>15</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>16</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>17</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>18</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>19</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>20</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>21</td>
        <td></td>
        <td></td>
        <td></td>
        <td>22</td>
        <td class="b"></td>
        <td>23</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>24</td>
        <td>25</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>26</td>
        <td></td>
        <td>27</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>31</td>
        <td>32</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>33</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>34</td>
        <td class="b"></td>
        <td>35</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>36</td>
        <td>37</td>
        <td>38</td>
      </tr>
      <tr>
        <td>39</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>40</td>
        <td>41</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>42</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>43</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>44</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>45</td>
        <td>46</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td>47</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>48</td>
        <td class="b"></td>
        <td>49</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>50</td>
        <td>51</td>
        <td>52</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>53</td>
        <td>54</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
      </tr>
      <tr>
        <td>55</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>56</td>
        <td></td>
        <td>57</td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>58</td>
        <td>59</td>
        <td>60</td>
        <td>61</td>
      </tr>
      <tr>
        <td>62</td>
        <td></td>
        <td></td>
        <td></td>
        <td>63</td>
        <td class="b"></td>
        <td>64</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>65</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>66</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>67</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>68</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>69</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>70</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="b"></td>
        <td>71</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <h3>Across</h3>
    <ul>
      <li><span class="n">1</span> How piracy takes place, often</li>
      <li><span class="n">5</span> Al-Bashir accused of genocide by the International Criminal Court</li>
      <li><span class="n">9</span> Boo-boos</li>
      <li><span class="n">14</span> 32-card game</li>
      <li><span class="n">15</span> Indian PM, for short</li>
      <li><span class="n">16</span> 1991 inductee to the Games Hall of Fame</li>
      <li><span class="n">17</span> Sch. subj.</li>
      <li><span class="n">18</span> <i>Criminal Minds</i> actor Rodriguez</li>
      <li><span class="n">19</span> John who wrote “Have Mercy on the Criminal”</li>
      <li><span class="n">20</span> She left Clannad in 1981 to pursue a solo career</li>
      <li><span class="n">21</span> Hungarian operetta composer</li>
      <li><span class="n">23</span> Chaplin who played Talisa Stark on <i>Game of Thrones</i></li>
      <li><span class="n">24</span> Home to “The Alcatraz of the Rockies” (abbr.)</li>
      <li><span class="n">26</span> Least crafty</li>
      <li><span class="n">28</span> <span class="blank">&emsp;&emsp;&emsp;</span> Roll</li>
      <li><span class="n">31</span> It is often fine</li>
      <li><span class="n">33</span> Shining, like a treasure</li>
      <li><span class="n">35</span> Language invented in 1958</li>
      <li><span class="n">36</span> “<span class="blank">&emsp;&emsp;&emsp;</span> Crimes”, graffiti website</li>
      <li><span class="n">39</span> Former senior, for short</li>
      <li><span class="n">40</span> Mascagni opera</li>
      <li><span class="n">42</span> Plant, like hops, that climbs helically around its support</li>
      <li><span class="n">43</span> Any of the Keating Five (abbr.)</li>
      <li><span class="n">44</span> Criminal conspiracy, e.g.</li>
      <li><span class="n">45</span> FedEx shipping option</li>
      <li><span class="n">47</span> Short trailer</li>
      <li><span class="n">49</span> Nickname sometimes used by wrestler Billy Gunn</li>
      <li><span class="n">50</span> Fits in, as to a gang</li>
      <li><span class="n">53</span> Fictional software from <i>Cryptonomicon</i> whose name is taken from the Great Seal<li>
      <li><span class="n">&nbsp;</span> of the U.S.</li>
      <li><span class="n">55</span> Character played by Kevin Smith on <i>Xena</i></li>
      <li><span class="n">56</span> “I never learned how to tune a harp, or play upon <span class="blank">&emsp;&emsp;&emsp;</span>” (Themistocles)</li>
      <li><span class="n">58</span> Blemish seen at a body shop</li>
      <li><span class="n">62</span> Con man Rizzo</li>
      <li><span class="n">64</span> Inflammatory suffix</li>
      <li><span class="n">65</span> Plan or scheme</li>
      <li><span class="n">66</span> Zeus:Greece::<span class="blank">&emsp;&emsp;&emsp;</span>:Assyria</li>
      <li><span class="n">67</span> Brand with the “famous micronite filter” that contained asbestos</li>
      <li><span class="n">68</span> No, to the Solntsevskaya Bratva</li>
      <li><span class="n">69</span> Playing for <span class="blank">&emsp;&emsp;&emsp;</span></li>
      <li><span class="n">70</span> <span class="blank">&emsp;&emsp;&emsp;</span> de maïs (corncobs)</li>
      <li><span class="n">71</span> Ransom, in the auto industry</li>
    </ul>
    <h3>Down</h3>
    <ul>
      <li><span class="n">1</span> U.S. Open stadium eponym</li>
      <li><span class="n">2</span> Graft source, possibly</li>
      <li><span class="n">3</span> Like a grifter’s mark</li>
      <li><span class="n">4</span> Committed battery</li>
      <li><span class="n">5</span> Fours or cylinders preceder</li>
      <li><span class="n">6</span> <i><span class="blank">&emsp;&emsp;&emsp;</span> Honor</i> (2008 rom-com)</li>
      <li><span class="n">7</span> Nursemaid, in Nanking</li>
      <li><span class="n">8</span> Like the portrayal of Butch Cassidy and other criminals, perhaps</li>
      <li><span class="n">9</span> Unlock, old-style</li>
      <li><span class="n">10</span> “<span class="blank">&emsp;&emsp;&emsp;</span> You, Conrad”</li>
      <li><span class="n">11</span> Gait known as metatarsus varus</li>
      <li><span class="n">12</span> Certain collars</li>
      <li><span class="n">13</span> Upper house, in Paris</li>
      <li><span class="n">22</span> Mass simulator used on SpaceX Falcon 1</li>
      <li><span class="n">25</span> Words before par or platter</li>
      <li><span class="n">27</span> MIT initiative headed by Karl Koster</li>
      <li><span class="n">28</span> Attire for Fagin’s gang, perhaps</li>
      <li><span class="n">29</span> Hop-o’-My-Thumb antagonist</li>
      <li><span class="n">30</span> Crime family</li>
      <li><span class="n">32</span> With “The”, DC Comics anti-hero group that merged with the Justice League</li>
      <li><span class="n">34</span> Picasso’s birthplace</li>
      <li><span class="n">36</span> It premiered in Cairo in 1871</li>
      <li><span class="n">37</span> Messenger, ribosomal and transfer</li>
      <li><span class="n">38</span> Mystery novelist Josephine and namesakes</li>
      <li><span class="n">41</span> Lichenous</li>
      <li><span class="n">42</span> Site of the deadliest battle of the Napoleonic Wars</li>
      <li><span class="n">44</span> Criminal’s cooler</li>
      <li><span class="n">46</span> 2002 ADS WotY</li>
      <li><span class="n">47</span> It could go either way</li>
      <li><span class="n">48</span> Fusilli relative</li>
      <li><span class="n">50</span> Former Israeli PM</li>
      <li><span class="n">51</span> Rub out</li>
      <li><span class="n">52</span> River of forgetfulness</li>
      <li><span class="n">54</span> Concludes, as a court argument</li>
      <li><span class="n">57</span> Educational inst. in view of Ciudad Juarez</li>
      <li><span class="n">59</span> Pastoral poem</li>
      <li><span class="n">60</span> Lawyer, eventually, for a criminal</li>
      <li><span class="n">61</span> Gangster’s guns</li>
      <li><span class="n">63</span> Some gates</li>
    </ul>
  </div>
{% endblock %}
