{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'dynast' %}
{% block title_block %}A Lengthy Journey{% endblock %}
{% block puzzle_name_block %}A Lengthy Journey{% endblock %}

{% block puzzle_head_block %}
<style>
  .p {
    font-size: 16px;
    font-family: monospace;
  }
  li {
    padding-top: 8px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The emperor wistfully reminisces about his younger days, when he would travel throughout the country.
{% endblock %}

{% block puzzle_content_block %}
<div class="p">
  <ol>
  <li>4-2 4 5 4 5'1 3</li>
  <li>5 4 2 4 4 7</li>
  <li>3 5 2 4 10</li>
  <li>5 9 2 4 6</li>
  <li>4 4'1 7 6 5</li>
  <li>5 2 4 6</li>
  <li>9 4 4 4</li>
  <li>3 7 3 6 4 8</li>
  <li>7 2 4 6</li>
  <li>6 4 11 3 4 3</li>
  <li>4 2 5 4 7 2</li>
  <li>4 8'1 4 6 4</li>
  <li>4 3 6 2 4 6</li>
  <li>6 4 4 7 6</li>
  <li>7 4 2 4 10</li>
  <li>4 5 9'1 7</li>
  <li>3 4 6 2 4 3'1 4</li>
  <li>4 8 8'1 4</li>
  <li>4-4 9 8 4 3</li>
  <li>3 6 4 2 4 5 4 5</li>
  </ol>
  <hr>
  <p>
  A / A / L / L / M / S
  <p>
  CA / CO / EL / IC / NE / NS / RO
  <p>
  AME / AME / ANI / ATM / EWI / FIR / FYC / INE / ISE / LAR / MAL / OFT / ORS / SPA
  <p>
  AIGN / GTOT / HSTO / ISMA / LORO / MADE / OPER / PETS / ROWN / RTIN / STLE / TION /<br>
  ULNE / VILL
  <p>
  ASSET / CENON / DLENA / DOCTO / DSENS / FTHIS / HISNA / NTMAN / OFTHI / RRENT /<br>
  SBAND / SBIRT / THISB / THISC / THISD
  <p>
  AINABH / ANDSCU / BORETH / CAPITA / DIUMIS / EEHERE / HARACT / HISMAN / LMHERO /<br>
  REFORT / THEMID / THEVIL / THISFI
  <p>
  ERETHIS / ERSSURN / FIVEFIL / GESTROO / HTHISST / IRECTOR / MEOFTHI / MFRANCH /<br>
  SBYTHIS / SGHOSTW / STARRIN / THISBUF / THTHISN / VEGETAB
  <p>
  ANADIANF / ANUFACTU / BEINGSTH / BITATION / CITYINWH / GIRLWHOD / GTHISMAN /<br>
  HENALIVE / INTHISHA / LAINWHOC / LIENREPO / PRINCESS / STNAMEOF / THEMONTH /<br>
  THEMOSTF / UPTOWNWH / URSESTHI / WMANFILM
  <p>
  AMOUSOFTH / HISLEADER / RECORDLAB / RTHATTHIS
</div>
{% endblock %}
