{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}A Turn of Phrase{% endblock %}
{% block puzzle_name_block %}A Turn of Phrase{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
  }

  li {
    font-size: 20px;
    padding-top: 4px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Fighter raises her weapon and... Hey! A blushing crow!
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>Propulsion unit for an apian insect</li>
    <li>Dandy who loves doing household tasks</li>
    <li>Toss of some soft surface-ripened French cheese</li>
    <li>Military upheaval over a hard, buttery sweet</li>
    <li>Young unweaned animal from Exeter's county</li>
    <li>Open land area along the water</li>
    <li>One who puts 'have a formal meal' into the choices for voting</li>
    <li>Visualize a twisted filament for sewing</li>
    <li>Cause ennui for some lint</li>
    <li>Get former IAEA head Hans drunk</li>
    <li>"Sonnet X/Death Be Not Proud", <i>e.g.</i></li>
    <li>Tiny arachnids with an unhealthy yellow-brown complexion</li>
    <li>Clothing trend inspired by Katy Perry's jungle-themed music video</li>
    <li>Ring-shaped lattice covering a sewer</li>
    <li>Famed Roman general and leader's candy bar of biscuit and caramel</li>
    <li>Ballroom dance in 3/4 time done to the music of the "Some Nights" band</li>
    <li>Expression intending to cause injury that costs no money</li>
    <li>Way to raise money for charity by collecting cellulars from people</li>
    <li>Onion-related herb that has been placed in the proper folder</li>
  </ul>
</div>
{% endblock %}
