{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Above Your Pay Grade{% endblock %}
{% block puzzle_name_block %}Above Your Pay Grade{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content .puzzle-content-section {
  margin-bottom: 48px;
}
#puzzle-content .puzzle-content-section-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
#puzzle-content .puzzle-content-section-questioner {
  font-weight: bold;
}
#puzzle-content li {
  margin-bottom: 6px;
}
.enumeration {
  white-space: nowrap;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
A squadron of combat engineers arrives to inspect the bridge.  They bring gossip from headquarters.
{% endblock %}

{% block puzzle_content_block %}
<div class="puzzle-content-section">
  <div class="puzzle-content-section-heading">Opening statements</div>
  <div class="puzzle-content-section-questioner">&ldquo;The interservice court-martial has been called to order, TJAG MG John Doe presiding.  Defendants, please step forward and state your name, rank, and pay grade.&rdquo;</div>
  <div class="puzzle-content-section-answerer">
    <ul>
      <li>Ifeoma Ifill, US Air Force, sir. My rank, caused by brain injury, can be retrograde or anterograde <span class="enumeration">(7)</span>.</li>
      <li>Rebecca Rotifer, US Navy, sir. My rank is a lightweight craft wood <span class="enumeration">(5)</span>.</li>
      <li>Gabby Gadfly, US Navy, sir. My rank is a state formerly in Yugoslavia <span class="enumeration">(6 3 11)</span>.</li>
      <li>Norah Normalville, US Army, sir. My rank is Catshill&rsquo;s district <span class="enumeration">(10)</span>.</li>
      <li>Hermione Hyrax, US Navy, sir. My rank is element 48 <span class="enumeration">(7)</span>.</li>
      <li>Deng Dragoon, US Navy, sir. My rank is mass divided by volume <span class="enumeration">(7)</span>.</li>
      <li>McGregor Muggle, US Navy, sir. My rank is the protagonist of <i>The Crow</i> <span class="enumeration">(4 6)</span>.</li>
      <li>Olivia Omnibus, US Army, sir. My rank is a thermoplastic adhesive sold in stick form <span class="enumeration">(3 4 4)</span>.</li>
      <li>Erin Erg, US Air Force, sir. My rank is also known as German turnip <span class="enumeration">(8)</span>.</li>
      <li>Lew Liftgate, US Navy, sir. My rank is a package management system for OSX <span class="enumeration">(8)</span>.</li>
      <li>Katashi Kneecap, US Army, sir. My rank is the Honey Boo Boo matriarch <span class="enumeration">(4 4)</span>.</li>
      <li>Camryn Cheddar, US Navy, sir. My rank is various smelly compounds added to natural gas <span class="enumeration">(9)</span>. </li>
      <li>Spiros Spokane, US Air Force, sir. My rank is a philosophical principle of parsimony <span class="enumeration">(5&rsquo;1 5)</span>.</li>
      <li>Pip Primordial, US Army, sir.  My rank is a high-pitched woodwind <span class="enumeration">(7)</span>.</li>
      <li>Quint Quizbowl, US Army, sir. My rank is the one of the four fundamental states of matter <span class="enumeration">(6)</span>.</li>
      <li>Fatimah Fox, US Army, sir.  My rank is a non-SI unit of radiation exposure <span class="enumeration">(8)</span>.</li>
      <li>Blaise Barrier, US Air Force, sir. My rank has been retired, sir, but it&rsquo;s an older English beer cocktail <span class="enumeration">(10)</span>.</li>
      <li>Jerry Jetski, US Army, sir. My rank is the new thing you have after galvanization <span class="enumeration">(4 7)</span>.</li>
    </ul>
  </div>
</div>
<div class="puzzle-content-section">
  <div class="puzzle-content-section-heading">Charges</div>
  <div class="puzzle-content-section-questioner">&ldquo;You have been charged under Article 134 of the UCMJ. Prosecutor, do you have evidence for the offenses?&rdquo;</div>
  <div class="puzzle-content-section-answerer">
    <p>Yes, sir.</p>
    <ul>
      <li>First, we visit a stop on the outer half of the Craigieburn line <span class="enumeration">(12 7 7)</span>.</li>
      <li>In this exhibit, we have one of several names for Anton Chigurh&rsquo;s weapon of choice <span class="enumeration">(7 4 3)</span>.</li>
      <li>Here, we present the set of large animals whose conservation is especially popular <span class="enumeration">(11 9)</span>.</li>
      <li>Another exhibit is a common animal protein <span class="enumeration">(8)</span>.</li>
      <li>As an expert witness, we call a specialist like Dr. Douglas Filmore from <i>Bones</i> <span class="enumeration">(8 10)</span>.</li>
      <li>This is the royal we, formally <span class="enumeration">(8 6)</span>.</li>
      <li>The next witness ran Seattle&rsquo;s first brothel <span class="enumeration">(6 8)</span>.</li>
      <li>In the witness box is Mr. Mxyzptlk&rsquo;s animated girlfriend <span class="enumeration">(2. 8)</span>.</li>
      <li>Here, we have one of the three varieties of Athenian theater <span class="enumeration">(7 5)</span>.</li>
    </ul>
  </div>
  <div class="puzzle-content-section-questioner">&ldquo;How do the defendants plead?&rdquo;</div>
  <div class="puzzle-content-section-answerer">
    <p>You may already have that information, sir. To confirm, defendants Barrier, Dragoon, Hyrax, Jetski, Kneecap, Liftgate, Muggle, Quizbowl, Rotifer, and Spokane plead guilty. Defendants Cheddar, Erg, Fox, Gadfly, Ifill, Normalville, Omnibus, and Primordial admit the facts but argue that no offense was committed.</p>
  </div>
</div>
<div class="puzzle-content-section">
  <div class="puzzle-content-section-heading">Sentencing</div>
  <div class="puzzle-content-section-questioner">&ldquo;These are very serious circumstances. Your actions are connected to the sinking of one of our allies&rsquo; ships: the HMS .&nbsp;.&nbsp;. <u>what</u>? I&rsquo;m sorry, I can&rsquo;t make out what is written here. Defendants? Can you complete the ship&rsquo;s name?&rdquo;</div>
  <div class="puzzle-content-section-answerer">
    <p>We can name the highest-ranking officer lost in its sinking, sir.</p>
  </div>
</div>
{% endblock %}
