{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Back work for Zeke? Nixed{% endblock %}
{% block puzzle_name_block %}Back work for Zeke? Nixed{% endblock %}

{% block puzzle_head_block %}
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
  <style>
    div.a {
      position: relative;
    }
    p.b {
      font-family: 'Germania One', cursive;
      font-size: 22px;
      position: absolute;
      top: 300px;
      left: 200px;
      width: 100%;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Four of the singers ask for your help. "We wouldn't say we're fluent but we'll
  try our best," you all reply together.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <div class="a">
      <img src="{{ asset_url_for('back_work_for_zeke_nixed/image01.png') }}">
      <p class="b">
        All verily tag Nash &ldquo;oysters&rdquo;             <br>
        Christ, Dag's into toad-banding           <br>
        Christ, tag there the best of Belle       <br>
        Di, of well-garbed schooners              <br>
        Geez, my seals, Vonne!                    <br>
        Has Dan gotten evangelical?               <br>
        Here, Minh strafes knights in denim horns <br>
        I thank deer&mdash;oh, get Tyrone in denim      <br>
        In Ellen, my potatoes                     <br>
        It's Tommen got sun                       <br>
        No one friends you; God's kinder to Ali   <br>
        No one, Lou!  Mine seal, then herring     <br>
        Oh Walt, stay here during labor           <br>
        One is none!  Ash dies here once          <br>
        Ugh, was Moll making it sounder?          <br>
        <br>
        <br>
        <br>
        _ _ _ _ _ _ _ = _ _ _ _ _ _ _ _
      </p>
    </div>
  </div>
{% endblock %}
