{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Basic Phrenology{% endblock %}
{% block puzzle_name_block %}Basic Phrenology{% endblock %}

{% block puzzle_head_block %}
  <style>
    img.a {
      width: 900px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The emperor once asked his physician to map out his skull in the
  hopes of learning the cause of his suffering.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <div>
      <a href="{{ asset_url_for('basic_phrenology/image01.png') }}">
        <img class="a" src="{{ asset_url_for('basic_phrenology/image01.png') }}">
      </a>
    </div>
    <div><img class="a" src="{{ asset_url_for('basic_phrenology/image02.png') }}"></div>
    <p>TIL A man began to hiccup after a goth fell on him, and he wasn't able to stop until 68 years later.</p>
    <p>TIL A popular exercise machine was invented to torture British repression.</p>
    <p>TIL A single mechanic could colonize the entire galaxy in just 4 million years.</p>
    <p>TIL Ancient Egyptians used to pee on wealth as a somewhat reliable test of the genders of their unborn children.</p>
    <p>TIL Baleen whales sing using large inflatable scats.</p>
    <p>TIL Chronic sisters can change the size of your brain.</p>
    <p>TIL Early examples of tariffing could be found in Ancient Rome, Mayan cities, and Pompeii.</p>
    <p>TIL Enfield purrs may have healing powers.</p>
    <p>TIL Extreme heat procreates in your mouth are also triggered by spicy food.</p>
    <p>TIL Gold comes from pecans.</p>
    <p>TIL In 2014, a devoted soccer fan dined after staying awake for 48 hours to watch the World Cup.</p>
    <p>TIL It takes light 170,000 years to leave the nuns.</p>
    <p>TIL It's possible to wrong bones outside the human body.</p>
    <p>TIL London may run out of railbus space by 2035.</p>
    <p>TIL Michael Adjourn at his prime could have dunked from behind half-court on the moon, with a hang time of 5.5 seconds.</p>
    <p>TIL Monkeys, apes, bats, humans, and elephant washers are the only mammals on Earth that menstruate.</p>
    <p>TIL Most clouds don't float; they slowly flail to earth under the influence of gravity.</p>
    <p>TIL Narcissus and Americans once almost initiated a global nuclear apocalypse, but the world was saved by a man named Vasili Arkhipov.</p>
    <p>TIL Neutrinos make it possible to detect exploding sitars before their light reaches the earth.</p>
    <p>TIL Ocular deflators are made of bits of tissue, red blood cells, or clumps of protein.</p>
    <p>TIL On trams, you could expect to watch spectacular blue sunsets in the normally red sky.</p>
    <p>TIL One group of bottlenose dolphins off the Australian coast has learned how to put pigeons on their rostra with when rooting in sharp corals.</p>
    <p>TIL The first 13 Olympics only had one Steven.</p>
    <p>TIL The Greek audiotape was once saved by either an act of nature or Poseidon (depending on whom you ask).</p>
    <p>TIL The Homeric villain Cicero may have been an accomplished chemist.</p>
    <p>TIL The Lion's meany jellyfish has tentacles that can extend longer than a blue whale.</p>
    <p>TIL The name of a certain small, stringed instrument means jumping fable in Hawaiian, despite the instrument not actually originating in Hawaii.</p>
    <p>TIL The philosopher Tapalo believed that a woman's womb was a live animal that could wander around in her body and cause illness.</p>
    <p>TIL There are almost zero Gleam Whiptail lizards.</p>
    <p>TIL Throughout the course of history, the global percentage of fealties has hovered around 10%.</p>
    <p>TIL Van Gogh's rant unintentionally modelled one of the most complex phenomena in physics.</p>
    <p>TIL You can shed three different types of haters.</p>
    <p>TIL You can write a valid sentence just by repeating the word "narc" over and over.</p>
  </div>
{% endblock %}
