{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Big Battle{% endblock %}
{% block puzzle_name_block %}The Big Battle{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(puzzle_id) }}">Request interaction</a></div>
{% endblock %}

{% block puzzle_head_block %}
<style>

</style>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
  <p>
      <a class="standard-link" href="{{ submit_url_for(puzzle_id) }}">Contact HQ</a> to schedule your encounter.
  </p>
{% endblock %}