{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Big Bad Battle{% endblock %}
{% block puzzle_name_block %}The Big Bad Battle{% endblock %}

{% block header_content %}

{% endblock %}

{% block puzzle_head_block %}
<style>

</style>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
  <p>
      The time has come. You&rsquo;ve discovered a special ability for each of your six heroes. Now it&rsquo;s time to face Mystereo Cantos in an epic confrontation. Contact HQ to schedule your encounter. Use the word &ldquo;<b>BATTLE</b>&rdquo; as your request.
  </p>
{% endblock %}