{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Bigram Battleships{% endblock %}
{% block puzzle_name_block %}Bigram Battleships{% endblock %}

{% block puzzle_head_block %}
  <style>
    div.r {
      display: flex;
      font-size: 0.65em;
    }
    .bl, .br, .hl, .hr {
      box-sizing: border-box;
      font-family: monospace;
      border-color: #000000;
      border-style: solid;
      width: 13px;
      height: 26px;
    }
    .bl, .hl {
      border-width: 1px 0 1px 1px;
      text-align: right;
    }
    .bl {
      padding: 4px 0 4px 2px;
    }
    .br, .hr {
      border-width: 1px 1px 1px 0;
      text-align: left;
    }
    .br {
      padding: 4px 2px 4px 0;
    }
    .hl, .hr {
      padding: 0;
      vertical-align: top;
      position: relative;
      background-color: #787878;
    }
    .hl::before, .hr::before {
      position: absolute;
      left: 0;
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAaCAQAAADGMR7UAAAAFUlEQVR42mOs+M+AAzCOSo1KDW4pACVEJjHwKi+hAAAAAElFTkSuQmCC");
    }
    .g {
      border-collapse: collapse;
      margin: 1em 1em 1em 1em;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Fighter is twice as good as you are when it comes to naval battles.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      Each of the grids below contains 10 ships (1 1&times;5, 2 1&times;4, 3 1&times;3, and 4
      1&times;2). In traditional Battleship fashion, none of the ships in a grid touch
      one another, even at a corner. To help you locate them, the bigrams in
      each ship, reading left-to-right or top-to-bottom, make
      a <a class="standard-link"
      href="https://en.wikipedia.org/wiki/Collins_Scrabble_Words">SOWPODS</a>-valid
      word.
    </p>
    <div class="r">
      <table class="g">

        <tr><td class="bl">P</td><td class="br">A</td><td class="bl">F</td><td class="br">L</td><td class="bl">A</td><td class="br">V</td><td class="bl">O</td><td class="br">R</td><td class="bl">A</td><td class="br">K</td><td class="bl">E</td><td class="br">Y</td><td class="bl">R</td><td class="br">I</td><td class="bl">I</td><td class="br">D</td><td class="bl">I</td><td class="br">A</td><td class="bl">M</td><td class="br">A</td></tr>

        <tr><td class="bl">C</td><td class="br">I</td><td class="bl">A</td><td class="br">P</td><td class="bl">E</td><td class="br">N</td><td class="bl">E</td><td class="br">A</td><td class="bl">R</td><td class="br">E</td><td class="bl">T</td><td class="br">E</td><td class="bl">V</td><td class="br">I</td><td class="bl">S</td><td class="br">T</td><td class="bl">R</td><td class="br">N</td><td class="bl">I</td><td class="br">T</td></tr>

        <tr><td class="bl">T</td><td class="br">Y</td><td class="bl">P</td><td class="br">I</td><td class="bl">C</td><td class="br">A</td><td class="bl">L</td><td class="br">I</td><td class="bl">T</td><td class="br">Y</td><td class="bl">N</td><td class="br">E</td><td class="bl">O</td><td class="br">N</td><td class="bl">V</td><td class="br">O</td><td class="bl">L</td><td class="br">L</td><td class="bl">E</td><td class="br">Y</td></tr>

        <tr><td class="bl">P</td><td class="br">O</td><td class="bl">N</td><td class="br">G</td><td class="bl">M</td><td class="br">O</td><td class="bl">S</td><td class="br">M</td><td class="bl">O</td><td class="br">L</td><td class="bl">B</td><td class="br">R</td><td class="bl">U</td><td class="br">N</td><td class="bl">C</td><td class="br">H</td><td class="bl">A</td><td class="br">N</td><td class="bl">D</td><td class="br">O</td></tr>

        <tr><td class="bl">R</td><td class="br">I</td><td class="bl">S</td><td class="br">O</td><td class="bl">U</td><td class="br">F</td><td class="bl">F</td><td class="br">L</td><td class="bl">E</td><td class="br">S</td><td class="bl">A</td><td class="br">E</td><td class="bl">Q</td><td class="br">U</td><td class="bl">A</td><td class="br">R</td><td class="bl">T</td><td class="br">Z</td><td class="bl">A</td><td class="br">N</td></tr>

        <tr><td class="bl">G</td><td class="br">O</td><td class="bl">L</td><td class="br">V</td><td class="bl">L</td><td class="br">A</td><td class="bl">I</td><td class="br">V</td><td class="bl">E</td><td class="br">R</td><td class="bl">V</td><td class="br">I</td><td class="bl">E</td><td class="br">L</td><td class="bl">T</td><td class="br">R</td><td class="bl">O</td><td class="br">O</td><td class="bl">G</td><td class="br">S</td></tr>

        <tr><td class="bl">P</td><td class="br">R</td><td class="bl">E</td><td class="br">N</td><td class="bl">G</td><td class="br">E</td><td class="bl">T</td><td class="br">H</td><td class="bl">H</td><td class="br">I</td><td class="bl">L</td><td class="br">O</td><td class="bl">P</td><td class="br">H</td><td class="bl">U</td><td class="br">E</td><td class="bl">R</td><td class="br">E</td><td class="bl">H</td><td class="br">A</td></tr>

        <tr><td class="bl">I</td><td class="br">N</td><td class="bl">C</td><td class="br">Y</td><td class="bl">B</td><td class="br">O</td><td class="bl">A</td><td class="br">C</td><td class="bl">M</td><td class="br">O</td><td class="bl">N</td><td class="br">G</td><td class="bl">O</td><td class="br">O</td><td class="bl">S</td><td class="br">E</td><td class="bl">C</td><td class="br">O</td><td class="bl">N</td><td class="br">D</td></tr>

        <tr><td class="bl">D</td><td class="br">I</td><td class="bl">R</td><td class="br">I</td><td class="bl">M</td><td class="br">E</td><td class="bl">R</td><td class="br">E</td><td class="bl">L</td><td class="br">Y</td><td class="bl">P</td><td class="br">A</td><td class="bl">R</td><td class="br">O</td><td class="bl">M</td><td class="br">P</td><td class="bl">N</td><td class="br">O</td><td class="bl">D</td><td class="br">O</td></tr>

        <tr><td class="bl">E</td><td class="br">F</td><td class="bl">U</td><td class="br">M</td><td class="bl">S</td><td class="br">I</td><td class="bl">P</td><td class="br">T</td><td class="bl">N</td><td class="br">O</td><td class="bl">R</td><td class="br">M</td><td class="bl">S</td><td class="br">S</td><td class="bl">E</td><td class="br">C</td><td class="bl">Z</td><td class="br">E</td><td class="bl">M</td><td class="br">A</td></tr>

      </table>



      <table class="g">

        <tr><td class="bl">B</td><td class="br">E</td><td class="bl">D</td><td class="br">O</td><td class="bl">O</td><td class="br">G</td><td class="bl">R</td><td class="br">E</td><td class="bl">E</td><td class="br">N</td><td class="bl">C</td><td class="br">H</td><td class="bl">A</td><td class="br">N</td><td class="bl">D</td><td class="br">O</td><td class="bl">B</td><td class="br">E</td><td class="bl">A</td><td class="br">N</td></tr>

        <tr><td class="bl">G</td><td class="br">R</td><td class="bl">U</td><td class="br">B</td><td class="bl">B</td><td class="br">Y</td><td class="bl">Z</td><td class="br">E</td><td class="bl">P</td><td class="br">H</td><td class="bl">Y</td><td class="br">R</td><td class="bl">T</td><td class="br">O</td><td class="bl">U</td><td class="br">G</td><td class="bl">H</td><td class="br">O</td><td class="bl">T</td><td class="br">I</td></tr>

        <tr><td class="bl">O</td><td class="br">U</td><td class="bl">T</td><td class="br">F</td><td class="bl">I</td><td class="br">T</td><td class="bl">E</td><td class="br">M</td><td class="bl">I</td><td class="br">Z</td><td class="bl">E</td><td class="br">D</td><td class="bl">G</td><td class="br">R</td><td class="bl">M</td><td class="br">O</td><td class="bl">L</td><td class="br">D</td><td class="bl">Q</td><td class="br">U</td></tr>

        <tr><td class="bl">T</td><td class="br">E</td><td class="bl">U</td><td class="br">L</td><td class="bl">L</td><td class="br">I</td><td class="bl">N</td><td class="br">E</td><td class="bl">G</td><td class="br">I</td><td class="bl">M</td><td class="br">O</td><td class="bl">A</td><td class="br">N</td><td class="bl">T</td><td class="br">O</td><td class="bl">I</td><td class="br">N</td><td class="bl">E</td><td class="br">S</td></tr>

        <tr><td class="bl">L</td><td class="br">A</td><td class="bl">O</td><td class="br">N</td><td class="bl">S</td><td class="br">E</td><td class="bl">T</td><td class="br">T</td><td class="bl">H</td><td class="br">O</td><td class="bl">U</td><td class="br">N</td><td class="bl">D</td><td class="br">E</td><td class="bl">R</td><td class="br">W</td><td class="bl">O</td><td class="br">R</td><td class="bl">L</td><td class="br">D</td></tr>

        <tr><td class="bl">G</td><td class="br">L</td><td class="bl">A</td><td class="br">D</td><td class="bl">R</td><td class="br">I</td><td class="bl">L</td><td class="br">E</td><td class="bl">A</td><td class="br">N</td><td class="bl">T</td><td class="br">C</td><td class="bl">S</td><td class="br">T</td><td class="bl">A</td><td class="br">Y</td><td class="bl">G</td><td class="br">A</td><td class="bl">T</td><td class="br">E</td></tr>

        <tr><td class="bl">E</td><td class="br">T</td><td class="bl">R</td><td class="br">I</td><td class="bl">A</td><td class="br">D</td><td class="bl">M</td><td class="br">I</td><td class="bl">R</td><td class="br">E</td><td class="bl">L</td><td class="br">A</td><td class="bl">T</td><td class="br">I</td><td class="bl">V</td><td class="br">I</td><td class="bl">S</td><td class="br">M</td><td class="bl">N</td><td class="br">N</td></tr>

        <tr><td class="bl">M</td><td class="br">E</td><td class="bl">D</td><td class="br">I</td><td class="bl">B</td><td class="br">O</td><td class="bl">N</td><td class="br">O</td><td class="bl">T</td><td class="br">U</td><td class="bl">I</td><td class="br">R</td><td class="bl">N</td><td class="br">G</td><td class="bl">T</td><td class="br">R</td><td class="bl">O</td><td class="br">T</td><td class="bl">I</td><td class="br">O</td></tr>

        <tr><td class="bl">R</td><td class="br">R</td><td class="bl">C</td><td class="br">O</td><td class="bl">U</td><td class="br">N</td><td class="bl">T</td><td class="br">Y</td><td class="bl">R</td><td class="br">N</td><td class="bl">A</td><td class="br">T</td><td class="bl">E</td><td class="br">N</td><td class="bl">E</td><td class="br">O</td><td class="bl">H</td><td class="br">E</td><td class="bl">U</td><td class="br">S</td></tr>

        <tr><td class="bl">I</td><td class="br">O</td><td class="bl">L</td><td class="br">E</td><td class="bl">L</td><td class="br">Y</td><td class="bl">F</td><td class="br">E</td><td class="bl">L</td><td class="br">E</td><td class="bl">S</td><td class="br">O</td><td class="bl">N</td><td class="br">N</td><td class="bl">U</td><td class="br">S</td><td class="bl">R</td><td class="br">D</td><td class="bl">A</td><td class="br">W</td></tr>

      </table>



      <table class="g">

        <tr><td class="bl">T</td><td class="br">E</td><td class="bl">A</td><td class="br">C</td><td class="bl">H</td><td class="br">E</td><td class="bl">R</td><td class="br">O</td><td class="bl">L</td><td class="br">O</td><td class="bl">S</td><td class="br">O</td><td class="bl">L</td><td class="br">Y</td><td class="bl">N</td><td class="br">O</td><td class="bl">I</td><td class="br">D</td><td class="bl">R</td><td class="br">O</td></tr>

        <tr><td class="bl">R</td><td class="br">R</td><td class="bl">N</td><td class="br">E</td><td class="bl">X</td><td class="br">T</td><td class="bl">O</td><td class="br">F</td><td class="bl">K</td><td class="br">I</td><td class="bl">N</td><td class="br">N</td><td class="bl">E</td><td class="br">K</td><td class="bl">U</td><td class="br">M</td><td class="bl">D</td><td class="br">O</td><td class="bl">N</td><td class="br">K</td></tr>

        <tr><td class="bl">A</td><td class="br">T</td><td class="bl">D</td><td class="br">E</td><td class="bl">I</td><td class="br">G</td><td class="bl">N</td><td class="br">I</td><td class="bl">N</td><td class="br">G</td><td class="bl">E</td><td class="br">T</td><td class="bl">P</td><td class="br">I</td><td class="bl">E</td><td class="br">R</td><td class="bl">C</td><td class="br">E</td><td class="bl">I</td><td class="br">M</td></tr>

        <tr><td class="bl">I</td><td class="br">C</td><td class="bl">T</td><td class="br">O</td><td class="bl">U</td><td class="br">A</td><td class="bl">C</td><td class="br">A</td><td class="bl">M</td><td class="br">O</td><td class="bl">C</td><td class="br">L</td><td class="bl">A</td><td class="br">I</td><td class="bl">M</td><td class="br">A</td><td class="bl">N</td><td class="br">T</td><td class="bl">P</td><td class="br">R</td></tr>

        <tr><td class="bl">J</td><td class="br">O</td><td class="bl">U</td><td class="br">R</td><td class="bl">N</td><td class="br">A</td><td class="bl">L</td><td class="br">I</td><td class="bl">S</td><td class="br">T</td><td class="bl">O</td><td class="br">C</td><td class="bl">K</td><td class="br">A</td><td class="bl">D</td><td class="br">E</td><td class="bl">L</td><td class="br">I</td><td class="bl">E</td><td class="br">S</td></tr>

        <tr><td class="bl">D</td><td class="br">H</td><td class="bl">A</td><td class="br">R</td><td class="bl">M</td><td class="br">A</td><td class="bl">P</td><td class="br">A</td><td class="bl">R</td><td class="br">I</td><td class="bl">K</td><td class="br">W</td><td class="bl">A</td><td class="br">N</td><td class="bl">Z</td><td class="br">A</td><td class="bl">F</td><td class="br">E</td><td class="bl">S</td><td class="br">T</td></tr>

        <tr><td class="bl">P</td><td class="br">U</td><td class="bl">M</td><td class="br">P</td><td class="bl">W</td><td class="br">A</td><td class="bl">S</td><td class="br">H</td><td class="bl">P</td><td class="br">E</td><td class="bl">O</td><td class="br">R</td><td class="bl">Z</td><td class="br">O</td><td class="bl">E</td><td class="br">T</td><td class="bl">R</td><td class="br">O</td><td class="bl">P</td><td class="br">E</td></tr>

        <tr><td class="bl">R</td><td class="br">S</td><td class="bl">A</td><td class="br">D</td><td class="bl">G</td><td class="br">O</td><td class="bl">C</td><td class="br">A</td><td class="bl">A</td><td class="br">T</td><td class="bl">K</td><td class="br">S</td><td class="bl">L</td><td class="br">A</td><td class="bl">A</td><td class="br">N</td><td class="bl">S</td><td class="br">A</td><td class="bl">L</td><td class="br">S</td></tr>

        <tr><td class="bl">F</td><td class="br">O</td><td class="bl">U</td><td class="br">L</td><td class="bl">N</td><td class="br">I</td><td class="bl">N</td><td class="br">C</td><td class="bl">O</td><td class="br">M</td><td class="bl">P</td><td class="br">O</td><td class="bl">O</td><td class="br">P</td><td class="bl">I</td><td class="br">A</td><td class="bl">R</td><td class="br">Y</td><td class="bl">O</td><td class="br">N</td></tr>

        <tr><td class="bl">E</td><td class="br">R</td><td class="bl">R</td><td class="br">I</td><td class="bl">N</td><td class="br">G</td><td class="bl">E</td><td class="br">L</td><td class="bl">I</td><td class="br">C</td><td class="bl">O</td><td class="br">L</td><td class="bl">A</td><td class="br">T</td><td class="bl">E</td><td class="br">D</td><td class="bl">O</td><td class="br">R</td><td class="bl">S</td><td class="br">E</td></tr>

      </table>
    </div>

    <p>All ships, by length, A to Z:</p>
    <div class="r">
      <table class="g">

        <tr><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="hr"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="hr"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td></tr>

      </table>



      <table class="g">

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="hr"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

      </table>



      <table class="g">

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="hr"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

      </table>



      <table class="g">

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

        <tr><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="bl"></td><td class="br"></td><td class="hl"></td><td class="br"></td><td class="bl"></td><td class="br"></td></tr>

      </table>
    </div>
    <p>
      Ten ships in your fleet have developed unsightly blemishes .&nbsp;.&nbsp;. please
      present those ships in alphabetical order for inspection.
    </p>
  </div>
{% endblock %}
