{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Capital Punishment{% endblock %}
{% block puzzle_name_block %}Capital Punishment{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style: none;
    padding-left: 0px;
  }
  li {
    margin-top: 1.0em;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
With these minstrels you hear a lot of mondegreens, but eventually you get the words in the right place.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>"For makin' me run ‘round and ‘round like a caged <span class="answer-blank">_____</span> you!" cried Eliza Doolittle. (6)</li>
    <li>In <i>Alien</i>, does the android <span class="answer-blank">_____</span> at some point, or is he evil from the start? (3)</li>
    <li>Alexander Graham <span class="answer-blank">_____</span> just like any other aging man. (4)</li>
    <li>Do you prefer Rip, Laurence or <span class="answer-blank">_____</span> the role of Big Daddy? (4)</li>
    <li>When disguised as Women from U.N.C.L.E., Napoleon wears the <span class="answer-blank">_____</span> picks out for him. (3)</li>
    <li>"Stop reading! Give that <span class="answer-blank">_____</span>!” (2)</li>
    <li>Generally speaking, only a mammal <span class="answer-blank">_____</span> live offspring. (1)</li>
    <li>I love that Rasta-Disco hit, "Shake <span class="answer-blank">_____</span>." (3)</li>
    <li>“I won the bet! So there! I collect all the <span class="answer-blank">_____</span>!" (4)</li>
    <li>During a pause in the Lilliput uprising, while the leader of the <span class="answer-blank">_____</span>-bitty soldiers plot a counteroffensive. (10)</li>
    <li>Has <span class="answer-blank">_____</span> retired completely, or will Tina bring back her <i>30 Rock</i> character? (4)</li>
    <li>When things get rowdy in the perfume factory, the employees throw ambergris and <span class="answer-blank">_____</span> each other. (2)</li>
    <li>Jodie Foster wanted <i>Contact</i> to get a PG rating, so she cut all the <span class="answer-blank">_____</span> scenes. (8)</li>
    <li>If you want your hair grey, with a tinge of brown, <span class="answer-blank">_____</span> over it. (11)</li>
    <li>To <span class="answer-blank">_____</span> door open, use a crowbar. (1)</li>
    <li>For breakdowns south of Ramrod <span class="answer-blank">_____</span> trucks won't bring you back to Miami. (4)</li>
    <li>That club is a real meat market, where the guys just wanna <span class="answer-blank">_____</span> out. (1)</li>
    <li>Congweve is cwedited wiv writing, "Music has charms to <span class="answer-blank">_____</span> savage bwest." (4)</li>
    <li>For my new reggae-rap single, I'm sampling Peter <span class="answer-blank">_____</span> Jones, and, of course, Bob Marley. (1)</li>
    <li>“Don't bogart that joint, homie! Gimme another <span class="answer-blank">_____</span>!” (1)</li>
    <li>Seychelles and Greece are the only <span class="answer-blank">_____</span> countries. (3)</li>
  </ul>
</div>
{% endblock %}
