{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Capital Punishment{% endblock %}
{% block puzzle_name_block %}Capital Punishment{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style: none;
  }
  li {
    padding-top: 0.5em;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
With these minstrels, you hear a lot of mondegreens, but eventually you get the words in the right place.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>"For makin' me run ‘round and ‘round like a caged ____ you!" cried Eliza Doolittle. (6)</li>
    <li>In Alien, does the android _____ at some point, or is he evil from the start? (3)</li>
    <li>Alexander Graham ___ just like any other aging man. (4)</li>
    <li>Do you prefer Rip, Laurence or ____ the role of Big Daddy? (4)</li>
    <li>When disguised as Women from U.N.C.L.E., Napoleon wears the _____ picks out for him. (3)</li>
    <li>"Stop reading! Give that _____!” (2)</li>
    <li>Generally speaking, only a mammal ____ live offspring. (1)</li>
    <li>I love that Rasta-Disco hit, "Shake _____". (3)</li>
    <li>“I won the bet! So there! I collect all the ___!" (4)</li>
    <li>During a pause in the Lilliput uprising, while the leader of the _____-bitty soliders plot a counteroffensive. (10)</li>
    <li>Has ____ retired completely, or will Tina bring back her "30 Rock" character? (4)</li>
    <li>When things get rowdy in the perfume factory, the employees throw ambergris and ___ each other. (2)</li>
    <li>Jodie Foster wanted Contact to get a PG rating, so she cut all the _____ scenes. (8)</li>
    <li>If you want your hair grey, with a tinge of brown, _____ over it. (11)</li>
    <li>To ___ door open, use a crowbar. (1)</li>
    <li>For breakdowns south of Ramrod _____ trucks won't bring you back to Miami. (4)</li>
    <li>That club is a real meat market, where the guys just wanna _____ out. (1)</li>
    <li>Congweve is cwedited wiv writing, "Music has charms to ____ savage bwest". (4)</li>
    <li>For my new reggae-rap single, I'm sampling Peter ___ Jones, and, of course, Bob Marley. (1)</li>
    <li>“Don't bogart that joint, homie! Gimme another _____!” (1)</li>
    <li>Seychelles and Greece are the only _____ countries. (3)</li>
  </ul>
</div>
{% endblock %}
