{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Chaser{% endblock %}
{% block puzzle_name_block %}Chaser{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content td {
    font-family: monospace;
    width: 2em;
    height: 2em;
    text-align: center;
  }

  #puzzle-content table {
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Linguist enjoys a spirited argument about morphemes as much as the next person.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <table>
  <tr><td>C</td><td>C</td><td>N</td><td>O</td><td>W</td><td>M</td><td>B</td><td>E</td><td>E</td><td>R</td></tr>
  <tr><td>E</td><td>I</td><td>A</td><td>X</td><td>A</td><td>C</td><td>U</td><td>N</td><td>Y</td><td>B</td></tr>
  <tr><td>S</td><td>G</td><td>I</td><td>N</td><td>A</td><td>L</td><td>I</td><td>O</td><td>E</td><td>B</td></tr>
  <tr><td>E</td><td>R</td><td>R</td><td>E</td><td>G</td><td>S</td><td>I</td><td>M</td><td>K</td><td>D</td></tr>
  <tr><td>L</td><td>E</td><td>A</td><td>C</td><td>A</td><td>O</td><td>R</td><td>E</td><td>S</td><td>B</td></tr>
  <tr><td>P</td><td>O</td><td>P</td><td>I</td><td>L</td><td>L</td><td>C</td><td>L</td><td>I</td><td>E</td></tr>
  <tr><td>I</td><td>R</td><td>M</td><td>M</td><td>A</td><td>O</td><td>I</td><td>K</td><td>H</td><td>E</td></tr>
  <tr><td>R</td><td>R</td><td>A</td><td>A</td><td>L</td><td>R</td><td>U</td><td>M</td><td>W</td><td>N</td></tr>
  <tr><td>T</td><td>D</td><td>C</td><td>A</td><td>N</td><td>E</td><td>G</td><td>R</td><td>E</td><td>O</td></tr>
  <tr><td>H</td><td>T</td><td>U</td><td>O</td><td>M</td><td>R</td><td>E</td><td>V</td><td>N</td><td>I</td></tr>
  </table>
</div>
{% endblock %}
