{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Checkpoint{% endblock %}
{% block puzzle_name_block %}Checkpoint{% endblock %}

{% block puzzle_flavortext_block %}
  You&rsquo;ve gotten past tougher obstacles than this cube before.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    This puzzle relied on server resources that are no longer available. A staticly hosted version may be available soon.
  </p>
</div>
{#
  <div>
    <iframe
       src="{{ config.CHECKPOINT_URL }}"
       width="900"
       height="1000"
       frameBorder="0"
    >
    </iframe>
  </div>
#}
{% endblock %}
