{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}CHINA KILNS{% endblock %}
{% block puzzle_name_block %}CHINA KILNS{% endblock %}

{% block puzzle_head_block %}
  <style>
    span.no-italic {
      font-style: normal;
    }
    td.y {
      width: 250px;
      text-align: right;
      padding-right: 25px;
    }
    td.x {
      width: 25px;
      text-align: center;
    }
    td.z {
      width: 25px;
      color: red;
      text-align: center;
    }
    tr.s {
      height: 10px;
      line-height: 10px;
      color: red;
      transform: translate(0px,-3px);
      font-size: 60%;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Cleric wakes up as <span class="no-italic">A PREDAWN ACE</span>, but after
  a series of rituals he turns into a <span class="no-italic">MYSTICAL
  ACE</span>.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <table>
      <tr>
        <td class="y">ETHYNE INFIDELS</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">TIGER BASKET</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">GIRL'S POTENTIAL</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span>'</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">BIDDIES FOR SURE</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">USE SCORN</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">-2</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">GIVE SACKCLOTH</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">ANTI-POSITRONS</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">TIP-TOP CEREAL</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">POLLOCK TECHNIQUE</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x">+1</td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">NEUTRON BARD</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
      </tr>
      <tr class="s">
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
        <td class="x"></td>
      </tr>
      <tr>
        <td class="y">HASTEN ELECTRIC EYE</td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="z"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <td class="x"><span class="answer-blank">__</span></td>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">RAVI SHANKAR</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">PLUNDER A BOAT</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x">+1</td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">DRUNKEN PONTIAC</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">SOL CENTER</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span>'</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x">+2</td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">AIMS AT CYCLE</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x">-1</td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">CIGAR NAME</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x">&mdash;</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">ANAGRAM</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">CITY VOLE</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">IS SPEED</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x">-2</td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
        <tr>
          <td class="y">A TOME</td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="z"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
          <td class="x"><span class="answer-blank">__</span></td>
        </tr>
        <tr class="s">
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
          <td class="x"></td>
        </tr>
    </table>
  </div>
{% endblock %}
