{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Corporate Chains{% endblock %}
{% block puzzle_name_block %}Corporate Chains{% endblock %}

{% block puzzle_flavortext_block %}
  The Linguist sure has a way with words - she should consider writing copy.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>The original celebrated curiously strong appendages</p>
    <p>A little appliance'll do ya</p>
    <p>Probably the best picture in the world</p>
    <p>Exceed your future</p>
    <p>Put a dollop in your tank</p>
    <p>First man, then brewski</p>
    <p>Solutions for a small replacement</p>
    <p>At the heart of the world</p>
    <p>There is no candy</p>
    <p>It gives you sight</p>
    <p>In touch with emotion</p>
    <p>Oh, what a cat!</p>
  </div>
{% endblock %}
