{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Corporate Chains{% endblock %}
{% block puzzle_name_block %}Corporate Chains{% endblock %}

{% block puzzle_head_block %}
  <style>
    p.m {
      font-family: "monospace";
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Linguist sure has a way with words - they should consider writing copy.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p class="m">The original celebrated curiously strong appendages</p>
    <p class="m">A little appliance'll do ya</p>
    <p class="m">Probably the best picture in the world</p>
    <p class="m">Exceed your future</p>
    <p class="m">Put a dollop in your tank</p>
    <p class="m">First man, then brewski</p>
    <p class="m">Solutions for a small replacement</p>
    <p class="m">At the heart of the world</p>
    <p class="m">There is no candy</p>
    <p class="m">It gives you sight</p>
    <p class="m">In touch with emotion</p>
    <p class="m">Oh, what a cat!</p>
  </div>
{% endblock %}
