{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Cutting Room Floor{% endblock %}
{% block puzzle_name_block %}Cutting Room Floor{% endblock %}

{% block puzzle_head_block %}
<style>
  .puzzle-body {
    text-align: center;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Wizard sometimes catches glimpses of that which is yet to come.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <div class='puzzle-body'>
    S &#11034; &#11034; &#9711; &#11034;
    <br/> &#11034; &#11034; N &#9711; Y
    <br/> &#11034; &#11034; &#11034; &#11034; &#11034; &#11034; I &#9711;
    <br/> G O &#9711; F A &#11034; &#11034; &#11034; R
    <br/> &#9711; I S E R A B &#11034; &#11034; &#11034;
    <br/> K &#11034; R E &#11034; &#9711; &#11034; &#11034;
    <br/> P R &#11034; &#9711; &#11034; &#11034; S S
    <br/> E &#9711; U C &#11034; T I O &#11034;
    <br/> &#9711; &#11034; &#11034; &#11034; S
  </div>
</div>
{% endblock %}
