{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Dispatches from the Foreign Service Units{% endblock %}
{% block puzzle_name_block %}Dispatches from the Foreign Service Units{% endblock %}

{% block puzzle_head_block %}
<style>
@font-face {
    font-family: 'Everson Mono';
    src: url("{{ asset_url_for('dispatches_from_the_foreign_service_units/EversonMono.ttf')|safe }}") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Everson Mono';
    src: url("{{ asset_url_for('dispatches_from_the_foreign_service_units/EversonMonoBold.ttf')|safe }}") format('truetype');
    font-weight: bold;
    font-style: normal;
}
#puzzle-container table {
    width: 660px;
    font-family: 'Everson Mono';
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
#puzzle-container th, #puzzle-container td {
    height: 100px;
    background-color: rgb(255,255,255);
}
#dispatches-image img {
  width: 700px;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The warlord has military intelligence agents all over the world. The typists in the code room had a hell of a time with their latest dispatch.
{% endblock %}

{% block puzzle_content_block %}
<table border=1>
<tr>
<td>&#16;<br>&#1024;<br>&#912;<br>&#1456;<br>&#304;<br>&#12432;<br>&#65952;</td>
<td>&#17;<br>&#1025;<br>&#913;<br>&#1457;<br>&#305;<br>&#12433;<br>&#65953;</td>
<td>&#18;<br>&#1026;<br>&#914;<br>&#1458;<br>&#306;<br>&#12434;<br>&#65954;</td>
<td>&#19;<br>&#1027;<br>&#915;<br>&#1459;<br>&#307;<br>&#12435;<br>&#65955;</td>
<td>&#20;<br>&#1028;<br>&#916;<br>&#1460;<br>&#308;<br>&#12436;<br>&#65956;</td>
<td>&#21;<br>&#1029;<br>&#917;<br>&#1461;<br>&#309;<br>&#12437;<br>&#65957;</td>
<td>&#22;<br>&#1030;<br>&#918;<br>&#1462;<br>&#310;<br>&#12438;<br>&#65958;</td>
<td>&#23;<br>&#1031;<br>&#919;<br>&#1463;<br>&#311;<br>&#12439;<br>&#65959;</td>
<td>&#24;<br>&#1032;<br>&#920;<br>&#1464;<br>&#312;<br>&#12440;<br>&#65960;</td>
<td>&#25;<br>&#1033;<br>&#921;<br>&#1465;<br>&#313;<br>&#12441;<br>&#65961;</td>
<td>&#26;<br>&#1034;<br>&#922;<br>&#1466;<br>&#314;<br>&#12442;<br>&#65962;</td>
<td>&#27;<br>&#1035;<br>&#923;<br>&#1467;<br>&#315;<br>&#12443;<br>&#65963;</td>
<td>&#28;<br>&#1036;<br>&#924;<br>&#1468;<br>&#316;<br>&#12444;<br>&#65964;</td>
<td>&#29;<br>&#1037;<br>&#925;<br>&#1469;<br>&#317;<br>&#12445;<br>&#65965;</td>
<td>&#30;<br>&#1038;<br>&#926;<br>&#1470;<br>&#318;<br>&#12446;<br>&#65966;</td>
<td>&#31;<br>&#1039;<br>&#927;<br>&#1471;<br>&#319;<br>&#12447;<br>&#65967;</td>
</tr>
<tr><td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr><td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr><td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<td>&#80;<br>&#1088;<br>&#976;<br>&#1520;<br>&#368;<br>&#12496;<br>&#66016;</td>
<td>&#81;<br>&#1089;<br>&#977;<br>&#1521;<br>&#369;<br>&#12497;<br>&#66017;</td>
<td>&#82;<br>&#1090;<br>&#978;<br>&#1522;<br>&#370;<br>&#12498;<br>&#66018;</td>
<td>&#83;<br>&#1091;<br>&#979;<br>&#1523;<br>&#371;<br>&#12499;<br>&#66019;</td>
<td>&#84;<br>&#1092;<br>&#980;<br>&#1524;<br>&#372;<br>&#12500;<br>&#66020;</td>
<td>&#85;<br>&#1093;<br>&#981;<br>&#1525;<br>&#373;<br>&#12501;<br>&#66021;</td>
<td>&#86;<br>&#1094;<br>&#982;<br>&#1526;<br>&#374;<br>&#12502;<br>&#66022;</td>
<td>&#87;<br>&#1095;<br>&#983;<br>&#1527;<br>&#375;<br>&#12503;<br>&#66023;</td>
<td>&#88;<br>&#1096;<br>&#984;<br>&#1528;<br>&#376;<br>&#12504;<br>&#66024;</td>
<td>&#89;<br>&#1097;<br>&#985;<br>&#1529;<br>&#377;<br>&#12505;<br>&#66025;</td>
<td>&#90;<br>&#1098;<br>&#986;<br>&#1530;<br>&#378;<br>&#12506;<br>&#66026;</td>
<td>&#91;<br>&#1099;<br>&#987;<br>&#1531;<br>&#379;<br>&#12507;<br>&#66027;</td>
<td>&#92;<br>&#1100;<br>&#988;<br>&#1532;<br>&#380;<br>&#12508;<br>&#66028;</td>
<td>&#93;<br>&#1101;<br>&#989;<br>&#1533;<br>&#381;<br>&#12509;<br>&#66029;</td>
<td>&#94;<br>&#1102;<br>&#990;<br>&#1534;<br>&#382;<br>&#12510;<br>&#66030;</td>
<td>&#95;<br>&#1103;<br>&#991;<br>&#1535;<br>&#383;<br>&#12511;<br>&#66031;</td>
</tr>
</table>
<div id="dispatches-image">
  <div><a class="standard-link" href="{{ asset_url_for('dispatches_from_the_foreign_service_units/image01.png') }}">(Click to enlarge)</a></div>
  <div><a href="{{ asset_url_for('dispatches_from_the_foreign_service_units/image01.png') }}"><img src="{{ asset_url_for('dispatches_from_the_foreign_service_units/image01.png') }}"/></a></div>
</div>
{% endblock %}
