{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Dot Matrix{% endblock %}
{% block puzzle_name_block %}Dot Matrix{% endblock %}

{% block puzzle_head_block %}
  <style>
    .page {
      width: 900px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  When you free the Linguist from her peril, she hands you this thin stack of paper.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    This puzzle was handed to teams when they completed Rescue the Linguist.
  </p>
</div>
<div>
  <a href="{{ asset_url_for('dot_matrix/image01.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image01.jpg') }}">
  </a>
  <a href="{{ asset_url_for('dot_matrix/image02.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image02.jpg') }}">
  </a>
  <a href="{{ asset_url_for('dot_matrix/image03.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image03.jpg') }}">
  </a>
</div>
  
{% endblock %}
