{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Dot Matrix{% endblock %}
{% block puzzle_name_block %}Dot Matrix{% endblock %}

{% block puzzle_head_block %}
  <style>
    .page {
      width: 900px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  When you free the Linguist from her peril, she hands you this thin stack of paper.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    This puzzle is handed to you when you complete Rescue the Linguist.
  </p>
</div>
{% endblock %}
