{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Dot Matrix{% endblock %}
{% block puzzle_name_block %}Dot Matrix{% endblock %}

{% block puzzle_head_block %}
  <style>
    .page {
      width: 900px;
    }
  </style>
{% endblock %}

{% block puzzle_content_block %}
  <div>
  <p>
    Once you persuaded the Linguist to join your party, she handed you this
    puzzle.
  </p>
  <p>
    <i>Note: to be distributed as physical printouts during the actual hunt.</i>
  </p>
  <a href="{{ asset_url_for('dot_matrix/image01.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image01.jpg') }}">
  </a>
  <a href="{{ asset_url_for('dot_matrix/image02.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image02.jpg') }}">
  </a>
  <a href="{{ asset_url_for('dot_matrix/image03.jpg') }}">
    <img class="page" src="{{ asset_url_for('dot_matrix/image03.jpg') }}">
  </a>
  </div>
{% endblock %}
