{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Double-Crosser{% endblock %}
{% block puzzle_name_block %}Double-Crosser{% endblock %}

{% block puzzle_head_block %}
  <style>
    div.r {
      display: flex;
      align-items: center;
    }
    div.c {
      margin-left: 40px;
      margin-right: 40px;
      flex: 1 0;
    }
    div.tc {
      margin-left: 40px;
      margin-right: 40px;
    }
    #puzzle-content ul {
      padding: 0;
    }
    @media print {
      div.r {
        page-break-after: always;
      }
      div.c {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.8em;
      }
      #puzzle-content ul {
        padding: 10px;
      }
    }
    table.g {
      border: 2px solid black;
      border-collapse: collapse;
    }
    table.g td {
      border: 1px solid black;
      padding: 0;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      vertical-align: top;
      position: relative;
    }
    table.g td.b::before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAAHklEQVR42mNk+M9ANmAc1TyqeVTzqOZRzaOah7NmAJ7UHgH+uhixAAAAAElFTkSuQmCC");
      position: absolute;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Fighter had a blank look about her after being hit twice.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <div class="r">
      <div class="c">
        <ul>
          <li>1889 painting</li>
          <li>Aaron Nicholson’s secret identity</li>
          <li><span class="answer-blank">_____</span> Accord (1987 G7 agreement)</li>
          <li>Alexander Ovechkin, for one</li>
          <li>Coin</li>
          <li>Cop/cabbie duo in a classic 1946 movie</li>
          <li>Gambit whose moves are<br>1. e4 e5 2. Nf3 Nc6 3. Bc4 Bc5 4. b4</li>
          <li>Gin cocktail</li>
          <li>Great Sioux War historian Paul</li>
          <li>Hyacinth’s mother</li>
          <li>It can be partial, full, express, or implied</li>
          <li>Light source</li>
          <li>Luther Vandross’s band, once</li>
          <li>Moon of Saturn</li>
          <li>Richie Rich’s dog</li>
          <li>R in NRSV</li>
          <li>Safor municipality</li>
          <li>Six-volume Korean manhwa series</li>
          <li>TAFKAP part</li>
          <li>Ted Danson sitcom</li>
          <li>Women’s clothing chain</li>
        </ul>
      </div>
      <div class="tc">
        <table class="g">
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="r">
      <div class="tc">
        <table class="g">
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
            <td></td>
            <td class="b"></td>
          </tr>
        </table>
      </div>
      <div class="c">
        <ul>
          <li><span class="answer-blank">_____</span> Africa offering</li>
          <li>Dutch alternatives to <span class="answer-blank">_____</span></li>
          <li>Fail, like a Roman <span class="answer-blank">_____</span></li>
          <li><span class="answer-blank">_____</span> film of 1996</li>
          <li>General term for <span class="answer-blank">_____</span>s, in Spanish</li>
          <li>Hugo or <span class="answer-blank">_____</span>, e.g.</li>
          <li>Movie starring Connery and <span class="answer-blank">_____</span></li>
          <li><span class="answer-blank">_____</span> Neuwirth’s birthplace</li>
          <li>Rival of <span class="answer-blank">_____</span></li>
          <li>She played Mrs. <span class="answer-blank">_____</span> on a 1970s sitcom</li>
          <li>Sister of <span class="answer-blank">_____</span>, on TV</li>
          <li>Southwestern <span class="answer-blank">_____</span></li>
          <li>Symbols that denote <span class="answer-blank">_____</span></li>
          <li><span class="answer-blank">_____</span> text</li>
          <li>Things a government might <span class="answer-blank">_____</span></li>
          <li>Tony <span class="answer-blank">_____</span> had 220 of them</li>
          <li>Venue for 2011’s <i>The</i> <span class="answer-blank">_____</span></li>
          <li>Website where you could read “10 <span class="answer-blank">_____</span> Movie Characters”</li>
          <li>What <span class="answer-blank">_____</span> are made of</li>
          <li>Where the hero of a 2003 novel that begins at the <span class="answer-blank">_____</span> was born</li>
          <li>Your <span class="answer-blank">_____</span></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
