{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fashionable Friends{% endblock %}
{% block puzzle_name_block %}Fashionable Friends{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
While the fashion industry can be skittish, it&rsquo;s a good bet that the Economist will make their mark predicting cute trends.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    &ldquo;Hello all, and welcome to our faaaabulous runway fashion extravaganza! All of your favorite models will be participating, trotting out outfits designed by yours truly, handmade in my boutique.&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;First up on stage we have my friend&rsquo;s brother. Hark, a sentinel appears! His jacket is a trendy length 6, held in place by some extremely elegant buttons. And never fear, dear fashion lovers, his wife will also be mounting this stage very soon.&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Our second fashionista is our favorite musical genius&mdash;those sunglasses really complement your miniskirt, darling, which incidentally has a length of 5. But don&rsquo;t you feel a little out of place with those headphones on? No? You have nothing to say?
    Fabulous.&rdquo;
  </p>
  <hr>
  <p>
    &ldquo;Up third in our show is a model who often blends into the background .&nbsp;.&nbsp;. but today is her time to shine! Sporting an even shorter length 4 miniskirt, she surely will tug on your&mdash;what&rsquo;s that? Oh yes, of course, I mustn&rsquo;t get distracted, my apologies.&rdquo;
  </p>
  <hr>
  <p>
    &ldquo;On to our fourth participant, our glittering literary friend, also modeling a length 4 dress. That length really is quite fashionable this season.&rdquo;
  </p>
  <p>
    &ldquo;Thank you so much, I think it&rsquo;s really great to be part of this fashion extravaganza. Hey, big brother, loved your canter down the aisle just now&mdash;that was a big win for our family!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;With our fifth runway model, we have living proof that fashion defies age. Miniskirts are for everyone who is chomping at the bit to show off their lovely gams! With a skirt length of 3, this audacious white haired dame is putting all those youngsters&mdash;including her own granddaughter, who will be joining us later&mdash;to shame!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Up sixth, we have&mdash;&rdquo;
  </p>
  <p>
    &ldquo;Is it my turn?&rdquo; &lt;bounce bounce bounce&gt; &ldquo;Is it? IS IT?&rdquo; &lt;bounce bounce bounce&gt;
  </p>
  <p>
    &ldquo;You are hot to trot, aren&rsquo;t you, darling? Goodness, you&rsquo;re so vibrant you look almost magenta today!&rdquo;
  </p>
  <p>
    &ldquo;I know, I know, I know! Isn&rsquo;t it GREAT?&rdquo;
  </p>
  <p>
    &ldquo;Yes, dear, well, flaunt your lovely length 8 dress&mdash;a definite win for tea-length styles&mdash;to the crowd. They will be so excited to see something mid-range after all the miniskirts we&rsquo;ve seen so far!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Coming up seventh, we have&mdash;&rdquo;
  </p>
  <p>
    &ldquo;Jumpin&rsquo; jalopies, took you long enough to get to me! I&rsquo;ve been so excited to get on stage I almost galloped on before I finished my bowl of cereal! My granny had to restrain me!&rdquo;
  </p>
  <p>
    &ldquo;Oh darling, I&rsquo;m so glad you waited. But it&rsquo;s lovely to have you here now. And that outfit is a winning combination for working professionals everywhere&mdash;with a mid-length skirt of 6 it can be worn as a cocktail dress or as a work ensemble. It&rsquo;s your
    choice!&rdquo;
  </p>
  <p>
    &ldquo;Darn tootin&rsquo;! I&rsquo;m so happy I could jump and whinny at the same time!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Number eight is our favorite adventurer, dressed as always for a safari. That length 7 skirt will be a win for your travels, dear. You can be simultaneously fashionable and adventurous!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;For this show&rsquo;s ninth runway model we have my bouncy friend&rsquo;s sweet employer, clad in a fashionably short jacket of length 4 that pairs extremely well with his trademark bowtie.&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Up tenth is an honest-to-goodness celebrity! His extremely stylish suit jacket of length 6 is complemented nicely by the placement of his monocle. What a trendsetter&mdash;no wonder he has an entourage!
  </p>

  <hr>
  <p>
    &ldquo;For our eleventh model we have your favorite high-flyer, sporting a dress of length 9 with a trademark prismatic look to match her lovely hair. How do you keep that mane in place, my dear?&rdquo;
  </p>
  <p>
    &ldquo;Years of practice! You try clearing clouds with flyaway hair!&rdquo;
  </p>
  <p>
    &ldquo;Fantastic, darling, absolutely marvelous!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Oh, number twelve is me, how wonderful! This uncommon outfit suits me to a T, and my dress is an extremely flattering length 8. My winning smile and my unbridled enthusiasm complete the outfit, if I do say so myself.&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Your Royal Highness, welcome to the stage! Your length 5 skirt really does become you, but next time we&rsquo;ll have to have you step out with your husband instead of prancing on last. What&rsquo;s that? And your baby? Of course, the darling little one will always
    have a place here!&rdquo;
  </p>

  <hr>
  <p>
    &ldquo;Well, everyone, thank you so-oo-oo much for coming to our fashion catwalk. I do hope you enjoyed it, we had such fun putting it on! How about a big round of applause for our participants! You all did great, whether you came in first, second, or third!
    Thank you, thank you, thank you!&rdquo;
  </p>

</div>
{% endblock %}
