{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fashionable Friends{% endblock %}
{% block puzzle_name_block %}Fashionable Friends{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
While the fashion industry can be skittish, it's a good bet that the Economist will make his mark predicting cute trends.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    “Hello all, and welcome to our faaaabulous runway fashion extravaganza! All of your favorite models will be participating, trotting out outfits designed by yours truly, handmade in my boutique.”
  </p>

  <hr>
  <p>
    “First up on stage we have my friend’s brother. Hark, a sentinel appears! His jacket is a trendy length 6, held in place by some extremely elegant buttons. And never fear, dear fashion lovers, his wife will also be mounting this stage very soon.”
  </p>

  <hr>
  <p>
    “Our second fashionista is our favorite musical genius – those sunglasses really complement your miniskirt, darling, which incidentally has a length of 5. But don’t you feel a little out of place with those headphones on? No? You have nothing to say?
    Fabulous.”
  </p>
  <hr>
  <p>
    “Up third in our show is a model who often blends into the background... but today is her time to shine! Sporting an even shorter length 4 miniskirt, she surely will tug on your – what’s that? Oh yes, of course, I mustn’t get distracted, my apologies.”
  </p>
  <hr>
  <p>
    “On to our fourth participant, our glittering literary friend, also modeling a length 4 dress. That length really is quite fashionable this season.”
  </p>
  <p>
    “Thank you so much, I think it’s really great to be part of this fashion extravaganza. Hey, big brother, loved your canter down the aisle just now – that was a big win for our family!”
  </p>

  <hr>
  <p>
    “With our fifth runway model, we have living proof that fashion defies age. Mini skirts are for everyone who is chomping at the bit to show off their lovely gams! With a skirt length of 3, this audacious white haired dame is putting all those youngsters
    – including her own granddaughter, who will be joining us later – to shame!”
  </p>

  <hr>
  <p>
    “Up sixth, we have—
  </p>
  <p>
    “Is it my turn?” &lt;bounce bounce bounce&gt; “Is it? IS IT?” &lt;bounce bounce bounce&gt;
  </p>
  <p>
    “You are hot to trot, aren’t you, darling? Goodness, you’re so vibrant you look almost magenta today!”
  </p>
  <p>
    “I know, I know, I know! Isn’t it GREAT?”
  </p>
  <p>
    “Yes, dear, well, flaunt your lovely length 8 dress – a definite win for tea length styles – to the crowd. They will be so excited to see something mid-range after all the miniskirts we’ve seen so far!”
  </p>

  <hr>
  <p>
    “Coming up seventh , we have–”
  </p>
  <p>
    “Jumpin’ jalopies, took you long enough to get to me! I’ve been so excited to get on stage I almost galloped on before I finished my bowl of cereal! My granny had to restrain me!”
  </p>
  <p>
    “Oh darling, I’m so glad you waited. But it’s lovely to have you here now. And that outfit is a winning combination for working professionals everywhere – with a mid-length skirt of 6 it can be worn as a cocktail dress or as a work ensemble. It’s your
    choice!”
  </p>
  <p>
    “Darn tootin’! I’m so happy I could jump and whinny at the same time!”
  </p>

  <hr>
  <p>
    “Number eight is our favorite adventurer, dressed as always for a safari. That length 7 skirt will be a win for your travels, dear. You can be simultaneously fashionable and adventurous!”
  </p>

  <hr>
  <p>
    “For this show’s ninth runway model we have my bouncy friend’s sweet employer, clad in a fashionably short jacket of length 4 that pairs extremely well with his trademark bowtie.”
  </p>

  <hr>
  <p>
    “Up tenth is an honest-to-goodness celebrity! His extremely stylish suit jacket of length 6 is complemented nicely by the placement of his monocle. What a trend-setter – no wonder he has an entourage!
  </p>

  <hr>
  <p>
    “For our eleventh model we have your favorite high flyer, sporting a dress of length 9 with a trademark prismatic look to match her lovely hair. How do you keep that mane in place, my dear?”
  </p>
  <p>
    “Years of practice! You try clearing clouds with flyaway hair!”
  </p>
  <p>
    “Fantastic, darling, absolutely marvelous!”
  </p>

  <hr>
  <p>
    “Oh, number twelve is me, how wonderful! This uncommon outfit suits me to a T, and my dress is an extremely flattering length 8. My winning smile and my unbridled enthusiasm complete the outfit, if I do say so myself.”
  </p>

  <hr>
  <p>
    “Your Royal Highness, welcome to the stage! Your length 5 skirt really does become you, but next time we’ll have to have you step out with your husband instead of prancing on last. What’s that? And your baby? Of course, the darling little one will always
    have a place here!”
  </p>

  <hr>
  <p>
    “Well, everyone, thank you so-oo-oo much for coming to our fashion catwalk. I do hope you enjoyed it, we had such fun putting it on! How about a big round of applause for our participants! You all did great, whether you came in first, second, or third!
    Thank you, thank you, thank you!”
  </p>

</div>
{% endblock %}
