{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fill in the ______{% endblock %}
{% block puzzle_name_block %}Fill in the <span class="answer-blank">______</span>{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      margin-bottom: 1em;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The crafty criminal considers classical curiosities and also mod minutiae.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>(Use surnames unless directed otherwise.)</p>
    <ul>
      <li>AL division in which each <span class="answer-blank">________</span>, including <span class="answer-blank">________</span> <span class="answer-blank">________</span> and <span class="answer-blank">________</span> <span class="answer-blank">________</span>, has won at least <span class="answer-blank">________</span> championship <span class="answer-blank">________</span>.</li>
      <li><span class="answer-blank">________</span> & <span class="answer-blank">________</span> 5th Edition monster created from a <span class="answer-blank">________</span> wizard.</li>
      <li>Cartridge that goes "<span class="answer-blank">________</span>!", <span class="answer-blank">________</span> contains no <span class="answer-blank">________</span>.</li>
      <li>Direction in which the <span class="answer-blank">________</span> River, which forms part of the border between <span class="answer-blank">________</span> and <span class="answer-blank">________</span>, flows.</li>
      <li>Fictional <span class="answer-blank">________</span> Island town in the title of two novels by the author of <i><span class="answer-blank">________</span>, <span class="answer-blank">________</span></i>,  <i><span class="answer-blank">________</span> <span class="answer-blank">________</span></i>,  <i><span class="answer-blank">________</span> is <span class="answer-blank">________</span></i>, and <i><span class="answer-blank">________</span> at <span class="answer-blank">________</span></i>.</li>
      <li>First name of the brother of <span class="answer-blank">________</span>, <span class="answer-blank">________</span>, and <span class="answer-blank">________</span> <span class="answer-blank">________</span> (and step-brother to <span class="answer-blank">________</span> and <span class="answer-blank">________</span>).</li>
      <li>First name shared by the author who created Captain <span class="answer-blank">________</span> and the one who created the harpooner <span class="answer-blank">________</span>.</li>
      <li>Ghostbuster who delivered a humorous paraphrase of the classical quote "<span class="answer-blank">________</span>, <span class="answer-blank">________</span>, <span class="answer-blank">________</span>".</li>
      <li>Group of undead led by Sylvanas <span class="answer-blank">________</span> in <i><span class="answer-blank">________</span> of <span class="answer-blank">________</span></i>.</li>
      <li>He <span class="answer-blank">________</span> the <i><span class="answer-blank">________</span> of <span class="answer-blank">________</span> <span class="answer-blank">________</span> III</i> in 1543.</li>
      <li><span class="answer-blank">________</span> Howe <span class="answer-blank">________</span> one of the people <span class="answer-blank">________</span> <span class="answer-blank">________</span> this mockumentary from the director of <i><span class="answer-blank">________</span></i> and <i><span class="answer-blank">________</span> Man</i>.</li>
      <li>In part an account of the <span class="answer-blank">________</span> <span class="answer-blank">________</span>, this book is said to have been translated into Latin by <span class="answer-blank">________</span> Wormius.</li>
      <li>John Cusack's title character in the film directed by George <span class="answer-blank">________</span>, co-starring <span class="answer-blank">________</span> <span class="answer-blank">________</span> <span class="answer-blank">________</span> Dan <span class="answer-blank">________</span>.</li>
      <li><span class="answer-blank">________</span>-letter adjective describing the square root of any <span class="answer-blank">________</span> <span class="answer-blank">________</span>.</li>
      <li>Modern-day name of the country formerly ruled by <span class="answer-blank">________</span> I and II, Arsaces <span class="answer-blank">________</span>, Arsaces <span class="answer-blank">________</span>, Arsaces <span class="answer-blank">________</span>, ... , and many others.</li>
      <li><span class="answer-blank">________</span> of length <span class="answer-blank">________</span> in the <span class="answer-blank">________</span> States whose name comes from the Latin "<span class="answer-blank">________</span>".</li>
      <li>State whose largest <span class="answer-blank">________</span> are, in order, <span class="answer-blank">________</span> (its <span class="answer-blank">________</span>), <span class="answer-blank">________</span> and <span class="answer-blank">________</span>.</li>
      <li>State whose slogan is "<span class="answer-blank">________</span> of <span class="answer-blank">________</span>".</li>
      <li>State with a former governor who received his BA degree from <span class="answer-blank">________</span> University in Connecticut and his MD from <span class="answer-blank">________</span> University in New <span class="answer-blank">________</span>.</li>
      <li><span class="answer-blank">________</span> succeeded <span class="answer-blank">________</span> <span class="answer-blank">________</span> <span class="answer-blank">________</span> as Vice President.</li>
      <li>The <span class="answer-blank">________</span> abundant <span class="answer-blank">________</span> element in the earth's crust, it follows <span class="answer-blank">________</span> in the periodic table.</li>
      <li>The primary followers of <span class="answer-blank">________</span>, this group includes <span class="answer-blank">________</span>, his brother <span class="answer-blank">________</span>, another <span class="answer-blank">________</span>, and <span class="answer-blank">________</span>.</li>
      <li>Tile in <span class="answer-blank">________</span> that can <span class="answer-blank">________</span> for any other, but <span class="answer-blank">________</span> zero.</li>
      <li><span class="answer-blank">________</span> who directed <i><span class="answer-blank">________</span> of <span class="answer-blank">________</span></i> in 1955.</li>
      <li><span class="answer-blank">________</span> <span class="answer-blank">________</span> whose <span class="answer-blank">________</span> is on the ten.</li>
    </ul>
  </div>
{% endblock %}
