{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fleshed Out{% endblock %}
{% block puzzle_name_block %}Fleshed Out{% endblock %}

{% block puzzle_head_block %}
  <style>
    img.a {
      width: 900px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  You can&rsquo;t help but think that if you were able to slay the cube, it would
  taste delicious.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <img class="a" src="{{ asset_url_for('fleshed_out/image01.gif') }}">
    <p>
      <b>ACROSS</b><br>
      <br>
      1. Rolling back lame beach party<br>
      10. Edited several shows<br>
      17. Substitution turning a mop into a top post on a ship?<br>
      18. White beast in belt with no shirt at school in Athens <br>
      19. Listener&rsquo;s uninviting collector of fairy tales<br>
      22. One of three equal parts of miserable period of time<br>
      23. Two tree creatures start to establish alliance<br>
      25. Blood enemy&rsquo;s cold epitaph<br>
      26. KFC used to give you these birds, making team leader quiet<br>
      28. Lucky place where you&rsquo;ll find soldiers vomited??<br>
      29. Princess and king of Spain sent back person who repairs their own stuff<br>
      31. Announced work to obtain pottery<br>
      33. Inept cartel stumbling toward the middle<br>
      36. Dog abandoning first part of wedding (that might make people cry)<br>
      37. <i>Broken Age</i> features no Italian city<br>
      41. Roy&rsquo;s album provoked grins, boos<br>
      45. Puzzle contest includes revolutionary mathematical computation<br>
      46. Heading to win a room in the tropics?<br>
      48. Wrestler John is living in my excellent old city<br>
      50. Djokovic peeled eggs<br>
      53. Cars from Riyadh, perhaps, shifting left to right<br>
      54. Misanthropes breaking hearts<br>
      55. Leaving emergency room, Beatrix flipped over car roof<br>
      56. Clutching musician's equipment, get rid of hair product<br>
      57. Business distributing cold cuts with pretty distribution<br>
      <br>
      <b>DOWN</b><br>
      <br>
      2. Rule northern area where there&rsquo;s grass<br>
      3 & 7. Hunk actor&rsquo;s the unconventional lead in <i>Jobs</i><br>
      4. Brit who creates a cryptic street novel<br>
      5. Ask for Em&rsquo;s notes<br>
      6. Veep to Bill: &ldquo;That is no foreigner&rdquo;<br>
      8. City in Hungary or East Germany<br>
      9. Thanks to the British, assault one Polynesian island<br>
      11. Baseball team enters before strike<br>
      12. Six-minute energy<br>
      13. Meathead MacGregor, for one, in uprising<br>
      14. Stipe&rsquo;s group caught in lie about celebrity chef<br>
      15. A group of eighties kids circling around insurance office<br>
      16. Places to relax endless cramp<br>
      18. Last of plan is in, except for strategic baseball play<br>
      19. Close to executing primate stare<br>
      20. Exasperated klutz initially embroiled in dire arrangement<br>
      21. Remove errors in drafts, excising blunders undermining great openings<br>
      24. Third Day briefly embraces new melodies<br>
      27. Brady's team may back sucker<br>
      30. Watch <i>Maker, Part Ten</i><br>
      32. First lady succeeds with regard to Superman actor<br>
      33. Tool for navigation companies receiving awkward spam<br>
      34. Fish in a Harp cocktail<br>
      35. Reorder rum strained into Red Rose<br>
      36. Kindle design: it exhibits content<br>
      38. Where you&rsquo;ll find Reno and Eva dancing<br>
      39. Bureau rumblings involving ancient gold<br>
      40. That guy lifted stuff used to lubricate network operator<br>
      41. Cockney makes noises like wolves and birds<br>
      42. Force Green Building architect up to the fourth and long<br>
      43. Protest singer&rsquo;s &ldquo;Trees&rdquo; on the radio<br>
      44. The gods consume this ten-car pileup<br>
      45. Times Square&rsquo;s capital bringing in old and young men<br>
      47. Reportedly took a ferry where cars go<br>
      49. A heart from Comet or Cupid<br>
      51. Doctor gets down economic stat<br>
      52. <i>Exodus</i> character saw ruin, defying the odds?
    </p>
  </div>
{% endblock %}
