{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Final Fortress{% endblock %}
{% block puzzle_name_block %}The Final Fortress{% endblock %}

{% block puzzle_head_block %}
<style>

</style>
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(puzzle_id) }}">Request interaction</a></div>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
  <p>
    Okay, now the time has actually come. For reals this time. You&rsquo;ve leveled up your heroes, you&rsquo;ve completed quests throughout the realm, and you&rsquo;ve picked up some useful items at the market. It&rsquo;s time for your last showdown with Mystereo Cantos, and your chance to locate the two-sided die. <a class="standard-link" href="{{ submit_url_for(puzzle_id) }}">Contact HQ</a> to schedule your final showdown with the villain. Use the word &ldquo<b>FORTRESS</b>&rdquo; as your request.
  </p>
{% endblock %}