{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Final Fortress{% endblock %}
{% block puzzle_name_block %}The Final Fortress{% endblock %}

{% block puzzle_head_block %}
<style>

</style>
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(puzzle_id) }}">Request interaction</a></div>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
  {% if core_display_data['merchants_solved'] and core_display_data['battle_solved'] %}
    <p>
      <a class="standard-link" href="{{ submit_url_for(puzzle_id) }}">Contact HQ</a> to schedule your final showdown with the villain.
    </p>
  {% elif not core_display_data['battle_solved'] %}
    <p>
      The villian is not at the fortress. You&rsquo;ll need to find him out in the world first.
    </p>
  {% elif not core_display_data['merchants_solved'] %}
    <p>
      You can&rsquo;t take on the villain with the equipment you have now. You&rsquo;ll need to find better equipment first.
    </p>
  {% endif %}
{% endblock %}