{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Four by Four{% endblock %}
{% block puzzle_name_block %}Four by Four{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content ul {
      list-style-type: none;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The chemist would go off-roading to find cool mineral samples.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>Abbr. for <i>c</i> over &#955;</li>
    <li>Asian desert</li>
    <li>Mistress of Zeus</li>
    <li>Stench</li>
  </ul>
  <ul>
    <li>Albanian patriot Lef</li>
    <li>Hawkeye&rsquo;s home</li>
    <li>Omidyar creation </li>
    <li>Shakespearean king</li>
  </ul>
  <ul>
    <li><i><span class="answer-blank">_____</span> and Lovers</i></li>
    <li>Concerning</li>
    <li>Roswell sightings</li>
    <li>Type of helmet</li>
  </ul>
  <ul>
    <li>Biblical twin</li>
    <li>Hill in <i>The West Wing</i></li>
    <li>Nut&rsquo;s offspring</li>
    <li>Silica-based gem</li>
  </ul>
  <ul>
    <li>Bread with dinner</li>
    <li>Hat for de Gaulle</li>
    <li>Home of the Prancing Pony</li>
    <li>Lev. preceder</li>
  </ul>
  <ul>
    <li>Brendon of Panic!</li>
    <li>Flanders of literature</li>
    <li>Magical sound</li>
    <li>Minus</li>
  </ul>
  <ul>
    <li>Bubbly beverage</li>
    <li>Cold, in Spanish</li>
    <li>Dialogue of Plato</li>
    <li>Epps or Sharif, e.g.</li>
  </ul>
  <ul>
    <li>Color of linen</li>
    <li>Family consisting of Daza and Teda</li>
    <li>&ldquo;<span class="answer-blank">_____</span> not a Jew eyes?&rdquo;</li>
    <li>Seed coating</li>
  </ul>
  <ul>
    <li>Designer from France</li>
    <li>President Coin</li>
    <li>S-shaped molding</li>
    <li>Van Halen hit</li>
  </ul>
  <ul>
    <li>Disney parrot</li>
    <li>Eastern European</li>
    <li>Picked a card</li>
    <li>Yield by treaty</li>
  </ul>
  <ul>
    <li>Divisive preposition?</li>
    <li>New Mexican locale</li>
    <li>Papal tribunal</li>
    <li>Tarot card, with &ldquo;The&rdquo;</li>
  </ul>
  <ul>
    <li>Dull, persistent pain</li>
    <li>Per <span class="answer-blank">_____</span></li>
    <li>Peruse</li>
    <li>Spanish cookware</li>
  </ul>
  <ul>
    <li>Egyptian cat goddess</li>
    <li>European volcano</li>
    <li>Roman wear</li>
    <li>Sirius, e.g.</li>
  </ul>
  <ul>
    <li>Former stadium</li>
    <li>Old Roman road</li>
    <li>Scintilla</li>
    <li>Sharp projection</li>
  </ul>
  <ul>
    <li>Get new decor</li>
    <li>Mimic</li>
    <li>Canterbury pilgrim</li>
    <li>Street reputation</li>
  </ul>
  <ul>
    <li>He &ldquo;wore a diamond&rdquo;</li>
    <li>Massive in scope</li>
    <li>Molecular unit</li>
    <li>Power consumed by spells</li>
  </ul>
  <ul>
    </ul>
    <ul>
    <li>Precursor to Alakazam</li>
    <li>43,560 square feet</li>
    <li>Maeby on TV</li>
    <li>Yankee who retired in 2016</li>
    <li>Quintillionth prefix</li>
    <li>Early Beatle</li>
    <li>Fortell</li>
    <li>He played Largo</li>
    <li>Robin Cook novel</li>
    <li>Study hard</li>
    <li>Record</li>
    <li>Geek</li>
    <li>Type of cheese</li>
    <li>Jeannie portrayer</li>
    <li>Old interjection</li>
    <li>Islamic ruler</li>
    <li>Non sum qualis <span class="answer-blank">_____</span></li>
    <li>Slangy suffix</li>
    <li>Fiat owner</li>
    <li>Porous glass used as a filter</li>
    <li>Volkswagen model</li>
    <li>Grumby portrayer</li>
    <li>In thermodynamics, it is <i>q</i></li>
    <li>Oil company with toy trucks</li>
    <li>TV streaming service</li>
    <li>Long-legged wading bird</li>
    <li>File folder or trash can, e.g.</li>
    <li>Comic Eric</li>
    <li>Data</li>
    <li>Country bordering Syria</li>
    <li>Hebrew month</li>
    <li>Rose of Sharon, for one</li>
    <li>Side of a UK road</li>
    <li>Country with the kip</li>
    <li>People of New Ireland</li>
    <li>Sugar cube</li>
    <li>Note at the office</li>
    <li>Grand <span class="answer-blank">_____</span> Tarkin</li>
    <li>German party during WWII</li>
    <li>Young or Diamond, e.g.</li>
    <li>Craft pizza chain</li>
    <li>Woodwind</li>
    <li>River that begins in Czechia</li>
    <li>Garfield&rsquo;s foil</li>
    <li>Geraldine&rsquo;s mother</li>
    <li>Rice-shaped pasta</li>
    <li>Bart&rsquo;s bus driver</li>
    <li>Bartlett, e.g.</li>
    <li>Falafel holder</li>
    <li>One of 12 popes</li>
    <li>Marie Curie, e.g.</li>
    <li>Cat in boots?</li>
    <li>Abnormal breath</li>
    <li>1984&rsquo;s <i><span class="answer-blank">_____</span> Man</i></li>
    <li>Actor Devon</li>
    <li>Women's magazine</li>
    <li>Home to a missile</li>
    <li>Catch, as clothing on a nail</li>
    <li>O&rsquo;Hara estate</li>
    <li>Elder, e.g.</li>
    <li>Chicago paper, for short</li>
    <li>1982 Disney film</li>
    <li>Type of tangelo</li>
    <li>Used a loom</li>
  </ul>
</div>
{% endblock %}
