{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Four-Part Harmony{% endblock %}
{% block puzzle_name_block %}Four-Part Harmony{% endblock %}

{% block puzzle_flavortext_block %}
  Since he started writing his own hymns, the Cleric has been having the time of
  his life.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    Swedish meatballs? Say no more!<br>
    Pop Tarts? How can I refuse?<br>
    Four course meals? I have to lose<br>
    Some weight&mdash;it’s like I’m in a war!<br>
    <br>
    Each platter that they bring my way&mdash;<br>
    Four courses, flowing like a river&mdash;<br>
    Lines my stomach till I shiver,<br>
    Indicates, as you might say,<br>
    <br>
    One way to make my diet fail.<br>
    Of all the things that trouble me,<br>
    Their ministration, don’t you see,<br>
    Hits me hardest. Hear my tale:<br>
    <br>
    Look at me. Although I try<br>
    At every turn to toe the line,<br>
    Last night I kind of lost my mind.<br>
    Words fail me, and I cannot lie.<br>
    <br>
    Find a chair and sit a spell<br>
    Where I can tell you everything:<br>
    They’re racks of rib and chicken wing<br>
    From kitchen tales too sad to tell.<br>
    <br>
    What’s ailing me? It isn’t right:<br>
    The total lack of what they call<br>
    Rhyme or reason, for they all<br>
    Scheme to make me eat all night.<br>
    <br>
    That servile bunch again draws near,<br>
    Gives me, as you’ve understood,<br>
    The works. I curse you, you no good<br>
    Group of people that I fear!<br>
  </div>
{% endblock %}
