{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fruitless{% endblock %}
{% block puzzle_name_block %}Fruitless{% endblock %}

{% block puzzle_head_block %}
<style>
  #puzzle-content ul {
    list-style-type: none;
    padding-left: 0px;
  }
  #puzzle-content li {
    padding-bottom: 12px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Economist considered investing in a food service company, but they didn&rsquo;t find their products very appetizing.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>Fiona looked up from cleaning the bakeshop to see Henry, the hapless cobbler who lived down the lane.</li>
    <li>&ldquo;What brings you by, Henry?&rdquo;</li>
    <li>&ldquo;I thought you .&nbsp;.&nbsp;. I wondered if .&nbsp;.&nbsp;. er .&nbsp;.&nbsp;. I .&nbsp;.&nbsp;.&rdquo; He trailed off into an odd grunt.</li>
    <li>Fiona raised an eyebrow. Henry dropped his shoulders in a nervous slump.</li>
    <li>She took pity. &ldquo;Well, I&rsquo;d enjoy the company while I finish. I don&rsquo;t suppose you&rsquo;d like to do a bit of scouring? All I have is this execrable sponge, and I&rsquo;m about fed up.&rdquo;</li>
    <li>Just then, in came Smug Betty, the gossip, who looked knowingly from Henry to Fiona and back again. &ldquo;Why Fiona, you reprehensible tart,&rdquo; she said.</li>
    <li>&ldquo;Pish tosh,&rdquo; said Fiona, adjusting her apron&rsquo;s crooked buckle. &ldquo;I don&rsquo;t know what you&rsquo;re talking about.&rdquo;</li>
    <li>Henry finally found his tongue. &ldquo;Even an officious fool like you should know that I only came here to order dessert.&rdquo;</li>
  </ul>
</div>
{% endblock %}
