{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Fruitless{% endblock %}
{% block puzzle_name_block %}Fruitless{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  li {
    padding-bottom: 12px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Economist considered investing in a food service company, but they didn't find their products very appetizing.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>Fiona looked up from cleaning the bakeshop to see Henry, the hapless cobbler who lived down the lane.</li>
    <li>&ldquo;What brings you by, Henry?&rdquo;</li>
    <li>&ldquo;I thought you... I wondered if... er... I ...&rdquo; He trailed off into an odd grunt.</li>
    <li>Fiona raised an eyebrow. Henry dropped his shoulders in a nervous slump.</li>
    <li>She took pity. &ldquo;Well, I'll be glad of the company while I finish. I don't suppose you'd like to do some scouring? All I have is this execrable sponge and I'm about fed up.&rdquo;</li>
    <li>Just then, in came Smug Betty, the gossip, who looked knowingly from Henry to Fiona and back again. &ldquo;Why Fiona, you reprehensible tart,&rdquo; she said.</li>
    <li>&ldquo;Pish tosh," said Fiona, adjusting her apron's crooked buckle. &ldquo;I don't know what you're talking about.&rdquo;</li>
    <li>Henry finally found his tongue. &ldquo;Even an officious fool like you should know that I only came here to order dessert.&rdquo;</li>
  </ul>
</div>
{% endblock %}
