{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Get Her! Together!{% endblock %}
{% block puzzle_name_block %}Get Her! Together!{% endblock %}

{% block puzzle_flavortext_block %}
  To defeat this foe, the Fighter and her party use their +2 weapons.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      Crullers for the farmhands, chicken feed, Dorothy's washing, etc.<br>
      It can turn a frown upside-down<br>
      Fusion of elements 65 and 70<br>
      Electrical circuit in a boxing arena<br>
      Right-angled thymic lymphocyte<br>
      Subject of the song &ldquo;Don't Cry for Me, Types of Baryons&rdquo;<br>
      Hat adorned with an Explorer<br>
      Small Croatian island &ldquo;King&rdquo;<br>
      Downpayment on an alb, e.g.<br>
      AFL-CIO member who spawns by moonlight<br>
      The sounds of a garden implement being thrown into a canyon<br>
      Where some leafy greens are grown<br>
      Problem with a supporting theorem<br>
      Tiny Zambian coin<br>
      Secrets of a Biblical wedding<br>
      A little break for oneself<br>
      14 pounds
    </p>
  </div>
{% endblock %}
