{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Getting Digits{% endblock %}
{% block puzzle_name_block %}Getting Digits{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 3em;
}
#puzzle-content ul li {
  margin-bottom: 0.5em;
}
#puzzle-content #end-display {
  font-size: 2.5em;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Looking at your watch, you realize you&rsquo;ve spent hours walking through this segment of the dungeon.
{% endblock %}

{% block puzzle_content_block %}
<div>
	<ul>
		<li>1a. First place to be represented by a &ldquo;D&rdquo; mintmark in the US</li>
		<li>1b. Long-running game show that premiered in 1975 with an Alan Thicke-penned theme song</li>
		<li>1c. Academy Award nominee for playing Tybalt</li>
		<li>1d. It goes with The Angel, Islington and Pentonville Road </li>
		<li>1e. The capital of Benin</li>
		<li>1f. Flannery or Carroll, e.g.</li>
		<li>1g. The southernmost US state capital that is ten letters long</li>
  </ul>
  <ul>
		<li>2a. Show with &ldquo;Team Logan&rdquo; or &ldquo;Team Duncan&rdquo;</li>
		<li>2b. Source of Fred&rsquo;s ribs that tip over the car in the closing segment </li>
		<li>2c. Fashion icon portrayed on <i>SNL</i> by Maya Rudolph</li>
		<li>2d. Sculptor of <i>Seated Woman on a Bench</i></li>
		<li>2e. Pennsylvania, Virginia, Massachusetts, or Kentucky, e.g.</li>
		<li>2f. Prefabricated structure of corrugated steel with a semicircular cross-section</li>
		<li>2g. Australian film featuring Kenneth Branagh</li>
  </ul>
  <ul>
		<li>3a. Largest Japanese island</li>
		<li>3b. Comic strip with a character that lead to an eponymous multi-layered sandwich</li>
		<li>3c. Home to Drake, Butler, Marist, and Stetson</li>
		<li>3d. Capital of Ontario</li>
		<li>3e. Actor whose real-life wife played one of his ex-wives on an NBC comedy</li>
		<li>3f. Beverly Cleary character with glow-in-the-dark shoelaces</li>
		<li>3g. Sri Lankan-born, Canadian author who won the Booker Prize</li>
  </ul>
  <ul>
		<li>4a. She portrayed both Ophelia and Olivia in movie adaptations</li>
		<li>4b. Host city of the Miss United States Pageant the year Rhode Island won</li>
		<li>4c. Jiang Qing, Zhang Chunqiao, Yao Wenyuan, and Wang Hongwen</li>
		<li>4d. Whip made of several knotted cords fastened to a handle</li>
		<li>4e. Movie featuring &ldquo;The Bonnie Situation&rdquo;</li>
		<li>4f. The open architectural space like that under a stairwell or between a set of cabinets and the ceiling</li>
		<li>4g. He spent 7 years on <i>The Carol Burnett Show</i></li>
  </ul>
  <ul>
		<li>5a. Singer of the song the dinner party dance is coordinated to in <i>Beetlejuice</i></li>
		<li>5b. Theatre of the Absurd Romanian-French playwright</li>
		<li>5c. Short-lived NBC medical drama with a recurring role for Lin-Manuel Miranda</li>
		<li>5d. Movie title parodied by a 2000 Jackie Chan film</li>
		<li>5e. He wrote most of <i>Coupling</i> and much of <i>Sherlock</i></li>
		<li>5f. Country featured in <i>Duck Soup</i></li>
		<li>5g. NH<sub>3</sub></li>
  </ul>
  <ul>
		<li>6a. Son of Amittai</li>
		<li>6b. <i>Arabica</i> and <i>canephora</i> account for most of the world&rsquo;s production of this</li>
		<li>6c. Role played by Robert De Niro, Ben Gazzara, and Rod Steiger</li>
		<li>6d. Boston landmark wth &ldquo;salt and pepper&rdquo; towers</li>
		<li>6e. Subject of the film <i>The Wizard of Lies</i></li>
		<li>6f. Person Kramer impersonates when he gets wrong numbers</li>
		<li>6g. Sheppard Hot 100 Billboard song </li>
  </ul>
  <ul>
		<li>7a. Film for which John Malkovich lost an Oscar to an American-born actor </li>
		<li>7b. Acton Bell, actually</li>
		<li>7c. Artist with 12 #1 Billboard Hot 100 hits from 1984 to 2000</li>
		<li>7d. The second band to have a Hot 100 hit song that began with the same 4 gibberish German words</li>
		<li>7e. Actor who played the same role in a 1970 movie and the hit TV show based on it</li>
		<li>7f. &ldquo;Floatation device&rdquo; that allows Ishmael alone to survive</li>
		<li>7g. This composer&rsquo;s opera lent the music to the popular French can-can dance</li>
	</ul>
</div>
<div id="end-display">
  (123) 445-6622 x1767
</div>
{% endblock %}
