{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% block title_block %}Half and Half{% endblock %}
{% block puzzle_name_block %}Half and Half{% endblock %}

{% block puzzle_head_block %}
<style>
  table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
  }

  td {
    border: 1px solid black;
    width: 20px;
  }

  .p {
    font-size:18px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Linguist sometimes gets the itch to talk with those who don't speak her language.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <table>
    <tr>
      <td>G</td>
      <td>L</td>
      <td>O</td>
      <td>M</td>
      <td>M</td>
      <td>A</td>
      <td>S</td>
      <td></td>
      <td>Y</td>
      <td>R</td>
      <td>A</td>
      <td>T</td>
      <td>I</td>
      <td>U</td>
      <td>S</td>
    </tr>
    <tr>
      <td>O</td>
      <td>R</td>
      <td>V</td>
      <td>I</td>
      <td>N</td>
      <td>E</td>
      <td>D</td>
      <td></td>
      <td>A</td>
      <td>L</td>
      <td>A</td>
      <td>N</td>
      <td>E</td>
      <td>S</td>
      <td>E</td>
    </tr>
    <tr>
      <td>T</td>
      <td>A</td>
      <td>B</td>
      <td>O</td>
      <td>U</td>
      <td>B</td>
      <td>E</td>
      <td></td>
      <td>M</td>
      <td>A</td>
      <td>N</td>
      <td>G</td>
      <td>E</td>
      <td>L</td>
      <td>E</td>
    </tr>
    <tr>
      <td>O</td>
      <td>M</td>
      <td>M</td>
      <td>A</td>
      <td>L</td>
      <td>A</td>
      <td>N</td>
      <td></td>
      <td>E</td>
      <td>S</td>
      <td>C</td>
      <td>H</td>
      <td>A</td>
      <td>N</td>
      <td>T</td>
    </tr>
    <tr>
      <td>D</td>
      <td>A</td>
      <td>S</td>
      <td>H</td>
      <td>E</td>
      <td>D</td>
      <td>O</td>
      <td></td>
      <td>E</td>
      <td>R</td>
      <td>D</td>
      <td>A</td>
      <td>N</td>
      <td>E</td>
      <td>H</td>
    </tr>
    <tr>
      <td>O</td>
      <td>X</td>
      <td>W</td>
      <td>E</td>
      <td>I</td>
      <td>M</td>
      <td>A</td>
      <td></td>
      <td>R</td>
      <td>O</td>
      <td>T</td>
      <td>T</td>
      <td>A</td>
      <td>C</td>
      <td>E</td>
    </tr>
    <tr>
      <td>G</td>
      <td>A</td>
      <td>P</td>
      <td>O</td>
      <td>O</td>
      <td>D</td>
      <td>L</td>
      <td></td>
      <td>F</td>
      <td>F</td>
      <td>I</td>
      <td>A</td>
      <td>N</td>
      <td>O</td>
      <td>L</td>
    </tr>
    <tr>
      <td>B</td>
      <td>L</td>
      <td>A</td>
      <td>W</td>
      <td>O</td>
      <td>L</td>
      <td>A</td>
      <td></td>
      <td>O</td>
      <td>R</td>
      <td>R</td>
      <td>E</td>
      <td>C</td>
      <td>K</td>
      <td>I</td>
    </tr>
    <tr>
      <td>R</td>
      <td>H</td>
      <td>O</td>
      <td>B</td>
      <td>R</td>
      <td>U</td>
      <td>S</td>
      <td></td>
      <td>A</td>
      <td>L</td>
      <td>I</td>
      <td>E</td>
      <td>R</td>
      <td>U</td>
      <td>S</td>
    </tr>
    <tr>
      <td>E</td>
      <td>S</td>
      <td>T</td>
      <td>O</td>
      <td>C</td>
      <td>A</td>
      <td>R</td>
      <td></td>
      <td>I</td>
      <td>B</td>
      <td>E</td>
      <td>C</td>
      <td>O</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <td>E</td>
      <td>M</td>
      <td>P</td>
      <td>L</td>
      <td>A</td>
      <td>N</td>
      <td>C</td>
      <td></td>
      <td>V</td>
      <td>A</td>
      <td>P</td>
      <td>O</td>
      <td>M</td>
      <td>P</td>
      <td>O</td>
    </tr>
    <tr>
      <td>D</td>
      <td>E</td>
      <td>L</td>
      <td>A</td>
      <td>B</td>
      <td>M</td>
      <td>A</td>
      <td></td>
      <td>A</td>
      <td>N</td>
      <td>E</td>
      <td>R</td>
      <td>G</td>
      <td>E</td>
      <td>F</td>
    </tr>
    <tr>
      <td>I</td>
      <td>A</td>
      <td>N</td>
      <td>K</td>
      <td>O</td>
      <td>B</td>
      <td>E</td>
      <td></td>
      <td>A</td>
      <td>N</td>
      <td>C</td>
      <td>A</td>
      <td>R</td>
      <td>T</td>
      <td>H</td>
    </tr>
    <tr>
      <td>N</td>
      <td>A</td>
      <td>B</td>
      <td>B</td>
      <td>L</td>
      <td>I</td>
      <td>E</td>
      <td></td>
      <td>K</td>
      <td>I</td>
      <td>F</td>
      <td>O</td>
      <td>N</td>
      <td>N</td>
      <td>Y</td>
    </tr>
    <tr>
      <td>F</td>
      <td>W</td>
      <td>O</td>
      <td>L</td>
      <td>A</td>
      <td>M</td>
      <td>U</td>
      <td></td>
      <td>E</td>
      <td>R</td>
      <td>I</td>
      <td>T</td>
      <td>E</td>
      <td>R</td>
      <td>B</td>
    </tr>
    <tr>
      <td>O</td>
      <td>G</td>
      <td>O</td>
      <td>G</td>
      <td>L</td>
      <td>E</td>
      <td>C</td>
      <td></td>
      <td>O</td>
      <td>N</td>
      <td>C</td>
      <td>O</td>
      <td>G</td>
      <td>E</td>
      <td>R</td>
    </tr>
    <tr>
      <td>D</td>
      <td>V</td>
      <td>O</td>
      <td>R</td>
      <td>I</td>
      <td>S</td>
      <td>S</td>
      <td></td>
      <td>W</td>
      <td>O</td>
      <td>K</td>
      <td>I</td>
      <td>A</td>
      <td>N</td>
      <td>I</td>
    </tr>
    <tr>
      <td>O</td>
      <td>M</td>
      <td>B</td>
      <td>O</td>
      <td>L</td>
      <td>O</td>
      <td>G</td>
      <td></td>
      <td>O</td>
      <td>V</td>
      <td>I</td>
      <td>T</td>
      <td>A</td>
      <td>R</td>
      <td>D</td>
    </tr>
    <tr>
      <td>T</td>
      <td>H</td>
      <td>E</td>
      <td>M</td>
      <td>B</td>
      <td>I</td>
      <td>C</td>
      <td></td>
      <td>O</td>
      <td>M</td>
      <td>O</td>
      <td>T</td>
      <td>T</td>
      <td>A</td>
      <td>D</td>
    </tr>
    <tr>
      <td>C</td>
      <td>L</td>
      <td>U</td>
      <td>P</td>
      <td>P</td>
      <td>R</td>
      <td>E</td>
      <td></td>
      <td>G</td>
      <td>L</td>
      <td>E</td>
      <td>A</td>
      <td>N</td>
      <td>T</td>
      <td>O</td>
    </tr>
    <tr>
      <td>O</td>
      <td>P</td>
      <td>T</td>
      <td>I</td>
      <td>D</td>
      <td>A</td>
      <td>N</td>
      <td></td>
      <td>F</td>
      <td>F</td>
      <td>L</td>
      <td>E</td>
      <td>D</td>
      <td>U</td>
      <td>G</td>
    </tr>
    <tr>
      <td>M</td>
      <td>I</td>
      <td>N</td>
      <td>A</td>
      <td>F</td>
      <td>L</td>
      <td>A</td>
      <td></td>
      <td>D</td>
      <td>O</td>
      <td>O</td>
      <td>D</td>
      <td>L</td>
      <td>E</td>
      <td>S</td>
    </tr>
  </table>
  <p class="p">
    _ 3 _ 8 _ 3 _ 1 _ 9 _ 1 _ 6 _ 6 _ 7 _ 5 _ 4
  </p>
</div>
{% endblock %}
