{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Heirplay{% endblock %}
{% block puzzle_name_block %}Heirplay{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content ul {
  list-style-type: none;
  padding-left: 0px;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The emperor listens to radio stations that remind him of his departed son, but he'd like to say goodbye to the songs he doesn&rsquo;t like.
{% endblock %}

{% block puzzle_content_block %}
<div>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Night Owls&rdquo; - Whitehorse</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Theory of the Crows&rdquo; - The National</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Where Eagles Dare&rdquo; - Iron Maiden</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Bashful&rdquo; - Kwes.&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Marry Me&rdquo; - Jason Derulo&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Sing My Song&rdquo; - Dennis Landry&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Cheddar&rdquo; - H.A.W.K.</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Milk&rdquo; - Kings of Leon</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Yoghurt&rdquo; - Ylvis</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Study Hard&rdquo; - Count Bass D&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;The Firebird&rdquo; - Priestess</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Mustang Sally&rdquo; - Wilson Pickett</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Pit Viper&rdquo; - 10,000 Maniacs</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Bank Job&rdquo; - Barenaked Ladies&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Disturbing the Peace&rdquo; - Pentagram&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Sense&rdquo; - Pete Yorn&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Flip Your Lid&rdquo; - Phantom Tollbooth</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;I'm Gonna Lose It&rdquo; - Matt Lonsdale</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Sometimes I Just Freak Out&rdquo; - Diana Krall</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;The Polish Money Dance&rdquo; - Traditional&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Rugged Rock&rdquo; - Steve Gibbons Band&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;In Love With a Bowler&rdquo; - O.J.R.</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Me &amp; Stetson&rdquo; - Tom McRae</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Queen of the Roller Derby&rdquo; - Leon Russell</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;The Ballad of Sweeney Todd&rdquo; - Ensemble&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Blue Spruce&rdquo; - B&eacute;la Fleck and Edgar Meyer&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Secret Agent Man&rdquo; - Johnny Rivers&nbsp;&nbsp;&nbsp;_ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Big Sis&rdquo; - Sales</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Bro Dependent&rdquo; - Lagwagon</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Mom&rdquo; - Garth Brooks</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Crude&rdquo; - Hogwash&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Energy&rdquo; - Alexandra Stan&nbsp;&nbsp;&nbsp;_ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Blood of Emeralds&rdquo; - Gary Moore</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Bombay Sapphires&rdquo; - Stevie Nicks</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Top Tim Rubies&rdquo; - Deerhoof</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Daddy Was a Navy Man&rdquo; - Kevin Denney &nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Desert Ground&rdquo; - The Western Den &nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Go Shopping&rdquo; - Bran Van 3000 &nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Hail, Hail&rdquo; - Pearl Jam</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Riders on the Storm&rdquo; - The Doors</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;White as Snow&rdquo; - U2</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;About the Moon&rdquo; - Rilo Kiley&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Smoke It&rdquo; - The Dandy Warhols&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Dark Globe&rdquo; - Placebo</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Hark the Herald Angels Sing&rdquo; - Carrie Underwood</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Whipping Post&rdquo; - The Allman Brothers Band</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Envy&rdquo; - Chevelle&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Leave It Out&rdquo; - The Specials&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;On My Bed&rdquo; - Shut Up Stella&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Acids and Bases&rdquo; - Vectro Electro</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Kitchen Mitts&rdquo; - Disco Biscuit</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Wrecking Ball&rdquo; - Miley Cyrus</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Feline&rdquo; - Ella Eyre&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;The Rockers&rdquo; - Action Bronson&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Dirty Blvd.&rdquo; - Lou Reed</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Glenwood Ave.&rdquo; - Algernon Cadwallader</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Zzyzx Rd.&rdquo; - Stone Sour</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Dish of the Day&rdquo; - Gare Du Nord&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;One Big Party&rdquo; - The Bellrays&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Mosque of Love&rdquo; - The Adams</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Spirit Shrine&rdquo; - Bad Religion</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Take Me to Church&rdquo; - Hozier</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;The Guests&rdquo; - Leonard Cohen &nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Lend a Hand&rdquo; - Jakob Dylan &nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Molars&rdquo; - Cinema Strange &nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Cool Runnings&rdquo; - Bunny Wailer</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;The Great Outdoors&rdquo; - Depeche Mode</li>
<li><span class="fa fa-thumbs-o-up"></span>  &ldquo;Volunteers&rdquo; - Jefferson Airplane</li>
</font>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;Pump Up the Volume&rdquo; - M&vert;A&vert;R&vert;R&vert;S&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><span class="fa fa-thumbs-o-down"></span>  &ldquo;In Your Eyes&rdquo; - Peter Gabriel&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
</div>
{% endblock %}