{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Hopping Lock{% endblock %}
{% block puzzle_name_block %}Hopping Lock{% endblock %}

{% block puzzle_flavortext_block %}
  The warlord has a plan for prosecuting war crimes, and he intends to execute
  it.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>heltered hristian riest. (ive)</p>
    <p>illed is arty uest ith iece f irch irewood. (ight)</p>
    <p>urned eople o tone. (ix)</p>
    <p>old dulterated obacco. (ine)</p>
    <p>ried o ill rew ember ith agazine. (hree)</p>
    <p>istributed nti-ar eaflets ith er rother ans. (ix)</p>
    <p>ebuked erod or arrying erodias. (our hree even)</p>
    <p>harged ith reason or aming tannis s eir. (ive)</p>
    <p>e as bout o estroy ethulia. (en)</p>
    <p>osthumously onvicted f he egicide hat ade im ord rotector. (ight)</p>
    <p>ed easant prising f 525. (even)</p>
    <p>onk, e pposed eyasu n 600. (our)</p>
    <p>ought ace indu n he attle f eonosis. (our)</p>
  </div>
{% endblock %}
