{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Horse Code{% endblock %}
{% block puzzle_name_block %}Horse Code{% endblock %}

{% block puzzle_head_block %}
  <style>
    div.a {
      font-size: 0.7em;
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The ominous silence of the cube&rsquo;s lair is interrupted by a series of unusual
  sounds that seem to shed light on an ancient mystery. What do they say? Will
  we ever know?
{% endblock %}

{% block puzzle_content_block %}
  <div class="a">
    <p>
      ------....--....-.-.---....--....-.-.---....--....-.-.---....--....-.-.---....--.-------....--.-.-.---....--.-.--
      <br>..--.-------....--....-.-.---....--....-.-.---....--....-.-.---....--....-.-.---....--.-------....--.-.-.---....--.-.--
      <br>..--.-------....--....-.-.---....--....-.-.---....--....-.-.---....--....-.-.---....--.-------....--.-.-.---....--.-.--
    </p>

    <p>
      .......-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-.-.--
      <br>.......-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-.-.--
      <br>.......-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-....--.-.....-.-.--
    </p>

    <p>
      -.......-.---.--.--....--.......-.---.--.--....--.......-.---.--.--....--....-.-.--
      <br>-.......-.---.--.--....--.......-.---.--.--....--.......-.---.--.--....--....-.-.--
      <br>-.......-.---.--.--....--.......-.---.--.--....--.......-.---.--.--....--....-.-.--
    </p>

    <p>
      ...--..--..-....--.--.--....--..--..-....--.--.--....--..--...-....--.--.--....--..--...-....--.--.--....--..--..-.-.--
      <br>-.--.--....--..--..-....--.--.--....--..--..-....--.--.--....--..--...-....--.--.--....--..--...-....--.--.--....--..--..-.-.--
      <br>...--..--..-....--.--.--....--..--..-....--.--.--....--..--...-....--.--.--....--..--...-....--.--.--....--..--..-.-.--
    </p>

    <p>
      .......--.......-....-.--........--.......-....-.--........--.......-....-.--.......-.-.--
      <br>.--........--.......-....-.--........--.......-....-.--........--.......-....-.--.......-.-.--
      <br>.--........--.......-....-.--........--.......-....-.--........--.......-....-.--.......-.-.--
    </p>

    <p>
      --..---....-....-....--....-....-....--....-....-....--....-....-....--....-.-.--
      <br>--..---....-....-....--....-....-....--....-....-....--....-....-....--....-.-.--
      <br>--..---....-....-....--....-....-....--....-....-....--....-....-....--....-.-.--
    </p>

    <p>
      ....-....--...-.--.--....-....-...-.--.- -.......-....--...-.--.--.-.--
      <br>....-....--...-.--.--....-....-...-.--.- -.......-....--...-.--.--.-.--
      <br>....-....--...-.--.--....-....-...-.--.- -.......-....--...-.--.--.-.--
    </p>

    <p>
      ....-....-..-....-..-....-..-....-...-.-.--
      <br>.....-....-..-....-..-....-...-.-.--
    </p>
  </div>
{% endblock %}
