{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}How I Spent My Pre/Post-Apocalyptic Vacation{% endblock %}
{% block puzzle_name_block %}How I Spent My Pre/Post-Apocalyptic Vacation{% endblock %}

{% block puzzle_head_block %}
<style>
  .standard-horizontal-scroll {
    font-size: 40px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
You decide to keep a journal of your journey through the dungeon. If you never escape, people should know where (and when) you were.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    I was stuck at MIT over this past holiday break, and I don&rsquo;t get off campus much, so on New Year&rsquo;s Day I decided to take a special trip around the good old Commonwealth of Massachusetts. I started where the Mystery Hunt used to kick off (before it became
    too big) and then walked down a hall that seemed to go on forever. At the end I was about to go outside, but it was too cold, so I hung a left and then a right, then walked straight until I reached a triangular building. At that point I bit the bullet
    and went outside, but I was getting tired of walking so I proceeded to the nearest subway station. I took the train two stops outbound, emerged from the station, and seeing the sun made me sneeze.
  </p>
  <p>I probably should have mentioned that I have a weird condition; when I sneeze, I teleport to roughly the same location 98910 days into the future, and then when I sneeze again, I teleport back. It&rsquo;s pretty inconvenient. This part of town looked a lot
    different in the future; the name was more generic, the stores were all closed, and there were significantly more radioactive zombies trying to murder me. So I ran southward to a barricaded building where it seemed likely I&rsquo;d find trained people to
    help. I didn&rsquo;t get the best response (one of the people inside tried to recruit me to kill the zombies myself), but I did meet my ninth-best friend, who was reading an article titled &ldquo;Not the Soldiers You&rsquo;re Looking For.&rdquo; I left the building and went
    north (walking a bit west first to get around the zombies), passing under a high overpass before I reached a large automobile factory. I made my way around the factory and continued to a town. It was pretty quiet, but at least they had a big store.
    Rummaging through the foodstuffs, I stirred up some pepper and sneezed.
  </p>
  <p>
    Back in the present, I was still in a grocery store in the same town, though it had a different name (albeit one that started with the same letter). I went out the front door and jacked a car. You know, like in Grand Theft Auto. I&rsquo;m kind of into video
    games. Anyway, I left the parking lot, turned left onto the road, and immediately passed a restaurant on my left with a name starting with Q. I drove in that direction for about three and a half miles, passing up a chance to get onto I-95, and then
    found myself in another town. I guess given the name of the street I was on, my destination shouldn&rsquo;t have been surprising. And then I sneezed.
  </p>
  <p>
    Finding myself in the same town (though it seemed significantly smaller now) but no longer in a car, I started trudging west, reaching another town boasting a sense of history and a charming museum. It also boasted a gang of violent bandits; I did my
    best to avoid them, but they looked kind of jittery, as if there had been a terrifying beast in this town not long ago. In the distance I could see a futuristic-looking red tower, so I followed the main road out of town toward it. I was disappointed
    to find the tower was just a gimmicky sign for a gas station, though I did meet my fourth-best friend here, who was reading an article titled &ldquo;Flame Job!&rdquo; I kept going in the same general direction, passing a statue of a colonial soldier and crossing
    a stream to reach a suburban ruin inhabited by, among other people, a kindly old drug-addicted psychic. This is where I met my number-one best friend, who was reading an article titled &ldquo;Welcome Home.&rdquo; There was another fellow there also willing to
    be my friend, but he wouldn&rsquo;t stop asking me to check on settlements for him, so eventually I got exasperated and ventured south. After a while, I saw a large body of water ahead to the left and a smaller one ahead to the right. The radioactive water
    I&rsquo;d previously waded through wasn&rsquo;t treating me well, so I headed for the smaller body and was about to check out the cabin near the water when I sneezed.
  </p>
  <p>
    Now instead of a cabin there were a bunch of stones noting where a cabin used to be, which seemed kind of backwards, but okay. I hiked north until I reached a major road, borrowed another car (which was challenging) and headed eastward, following signs
    mentioning the city in which I began my journey. I went almost five miles and then took an exit onto a major southbound highway. After another six and a half miles of travel, I came very close to a river and the highway intersected a toll road. I
    was trying to decide which direction to go, and my stress over making the decision caused me to sneeze right where one road passed over the other.
  </p>
  <p>
    I was very high above the ground now, and there were a bunch of hostile people with guns nearby (they even had a name to reflect that .&nbsp;.&nbsp;. gun guys, or something like that) and an aggressive robot lady. I wanted nothing to do with any of that, so I found
    an elevator and took it to ground level, and then I headed east, staying under the shade of the broken highway overhead. I crossed some water, and when I reached a set of railroad tracks that pointed northwest, I went north instead. I found a gateway
    leading underground. I would have needed a wrist device to enter, but that&rsquo;s where I once met my eighth-best friend, who was reading an article titled &ldquo;Hot Pink!&rdquo; I headed east, making my way around a small body of water (given its purpose I expected
    it to be clean, but nope, more radioactivity) and then on the other side, I briefly navigated a much more urban area, passing below a rooftop firefight on the top of an apartment complex to reach a large building. This appeared to be a major settlement,
    patrolled by armed guards in weird outfits. I was getting a closer look at some graffiti on the outer wall, appropriately extolling the protection of &ldquo;the wall,&rdquo; when I remembered I&rsquo;m allergic to paint.
  </p>
  <p>
    Finding myself at a corner of the building where two roads with seven-letter names intersected, I set off in the direction that took me past a bowling alley before the road curved to the right. I took a left when the name of the road I was following was
    about to change, and then continued for a little over half a mile, taking a solemn moment to pay my respects. Shortly after that I turned right to reach the front of the stately building that had been to my right for some time. On the front I could
    see a collection of American flags. Ah, patriotism. It tickles my nose.
  </p>
  <p>
    I looked inside the building briefly, but since I didn&rsquo;t have any of the items the machine was bribing me to return, I left and headed east. I stopped once there was a tall building on my right, which had been taken over by humans mutated by some sort
    of virus. That building was where I met my sixth-best friend, who was reading an article titled &ldquo;Facepaint Fundamentals.&rdquo; I continued in the opposite direction of the building and then took my first right, passing a specialty bookstore on my left.
    Ahead and to the left was a park which looked pretty peaceful, despite all of the scrawled messages urging people to stay away. I shrugged, approached the pond to get a closer look, and OH MY GOD WHAT IS THAT THING?!
  </p>
  <p>
    I didn&rsquo;t know until just then that I could will myself to sneeze out of pure fear, but I guess you learn something new every day. I stopped cowering and found I was still knee-deep in a pond, although things were a bit awkward now because the pond was
    covered in ice and I was surrounded by recreational skaters. I pulled myself out, slid to shore, and walked northward to an intersection of a major road and a road named for a tree. If I had gone one way on the major road, I would have encountered
    another road named for a tree, but instead I went the other direction toward a much happier-sounding street. I turned left when I reached a chapel (as the name of the street I was following was about to change) and then took my next right. After about 28%
    of a mile, I turned left, passing a business with a name reminiscent of about 37% of the length of my time jumps. I cut through a commercial building in front of me and beheld a historic building on the other side, and that&rsquo;s right around when I realized
    I might be catching a cold.
  </p>
  <p>
    I headed directly north toward an art gallery, but before I found the entrance I remembered that I don&rsquo;t find art very interesting. So I turned right and approached the tall building in front of me, but then I remembered I don&rsquo;t find religion very interesting.
    (Though I remembered from another occasion that there was a lot more space in there than it appeared from the outside, and that deep within I&rsquo;d met my fifth-best friend, who was reading an article titled &ldquo;Modern Hearth.&rdquo;) So I proceeded in the direction
    implied by the name of that building and swam across the water to a financial building. Exploring the building, since money is something I do find interesting, I found myself in a vessel that wasn&rsquo;t really where it should be. A craft like that is
    nothing to sneeze at, but I did anyway.
  </p>
  <p>
    Okay, this seemed like a much more reasonable setting for this thing. I disembarked and cut southwest across a park, eventually merging with a road named after the vessel I&rsquo;d just been on. The road curved around toward the water (appropriately), and I
    walked for about a mile along the water, passing through two parks and approaching a large domed building. But I figured that I learn enough when school is in session, so instead of turning left toward the building&rsquo;s entrance, I turned right and then
    left. After crossing the water, I came upon a large shopping center to my right. I was trying to remember how much cash I&rsquo;d brought with me, when I felt another sneeze coming on.
  </p>
  <p>
    I was definitely in the same part of town, but the name of the shopping center was different now (it was still two words but both had changed). I headed southeast and was thrilled that there was a bridge so I wouldn&rsquo;t have to swim again .&nbsp;.&nbsp;. then I realized
    it was an open drawbridge, and so I had to swim again. On the other side of the water, I kept heading southeast until I reached a publication&rsquo;s headquarters. From there I went south toward a building emblazoned with a science-fictiony logo and a two-letter
    abbreviation that didn&rsquo;t seem polite. I passed that building on my left, took a right when the path ended, and went through a door into what I suppose was technically a gated community? It certainly wasn&rsquo;t fancy inside, but the name was friendly enough.
    Inside I found an underground establishment that reminded me of a warning I saw on the first leg of my journey; in there I met my seventh-best friend, who was reading an article titled &ldquo;Squeaky Floorboard, Sudden Death.&rdquo; I left that place and went
    to explore the brick building directly above it. That&rsquo;s where I met my third-best friend, who was reading an article titled &ldquo;Essential Upgrades!&rdquo; Two friends in such a short period of time .&nbsp;.&nbsp;. it brings a tear to your eye. No, never mind, just allergies.
  </p>
  <p>
    I followed a street sharing its name with a US state, and after a short distance I came upon a transit station. My feet were pretty exhausted at this point, so I descended into the station and took a train one stop, and at the next station I went through
    an underground passage leading to a third station. I tried very very hard not to sneeze while I was underground, since I didn&rsquo;t want to end up in some kind of subterranean future hell. I managed to control my nose until I reached that third station,
    but then all of a sudden .&nbsp;.&nbsp;.
  </p>
  <p>
    Thankfully there was still a station here in the future (though it seemed extensively remodeled and possibly used for an entirely new purpose). I made my way to the surface and ventured southward, taking care to avoid the location I was passing on the
    right, given my terrifying experience from earlier. I didn&rsquo;t take the first road branching off to the right, and then I immediately passed a location on the right where I once met my second-best friend, who was reading an article titled &ldquo;Shark Paint
    Schemes!&rdquo; I took my next left and approached a health care facility. I&rsquo;d been doing a lot of bathing in tainted water and could use a doctor .&nbsp;.&nbsp;. but of course, this place had been taken over by the gun guys. Honestly, the future kind of sucks. It makes
    me appreciate my nine friends; they each insist on going by a one-word name, and they&rsquo;ve got their issues, but at least we all get along. I wish everyone would stop fighting, but I guess war never changes.
  </p>
</div>
{% endblock %}
