{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'dynast' %}
{% block title_block %}International Holdings{% endblock %}
{% block puzzle_name_block %}International Holdings{% endblock %}

{% block puzzle_head_block %}
<style>
img {
  max-width: 100%;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Emperor has treasure hidden all over his domain.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>Accord with; suit (5)</p>
  <p>Exclamation heard aboard a B-29, e.g. (5 4)</p>
  <p>Pasta dish made with eggs, cheese, bacon and black pepper (9)</p>
  <p>Muriel who founded MIT's Visible Language Workshop (6)</p>
  <p>Early-season "American Idol" winner (8 7)</p>
  <p>Germany's fifth-largest city (9 2 4)</p>
  <p>Transgender reality show on TLC (1 2 4)</p>
  <p>www.fueleconomy.gov, familiarly (2 3)</p>
  <p>Pagham Boxing Day tradition (4 6)</p>
  <p>Whole fish might be baked in one (4 5)</p>
  <p>Northern French town, site of a major July 1918 battle (8)</p>
  <p>It might be jib-headed, jackyard or cornish (7)</p>
  <p>Grill whose prototype was two half-spheres used in buoy making (5 6)</p>
  <div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_1.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_2.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_3.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_4.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_5.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_6.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_7.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_8.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_9.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_10.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_11.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_12.png') }}">
    </div>
    <div>
      <img src="{{ asset_url_for('international_holdings/asset_13.png') }}">
    </div>
  </div>
</div>
{% endblock %}
