{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}It Takes Two{% endblock %}
{% block puzzle_name_block %}It Takes Two{% endblock %}

{% block puzzle_head_block %}
<style>
  table.t {
    border-collapse: collapse;
  }
  table.t td {
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Fighter is an expert in the joust, where two people dash toward each other and one is injured.
{% endblock %}

{% block puzzle_content_block %}
<table class="t">
  <tr>
    <td>Capital of Okinawa</td>
    <td>Red Italian wine grape</td>
  </tr>
  <tr>
    <td>Prion disease that affects cows, for short</td>
    <td>Original surname of Albert Brooks</td>
  </tr>
  <tr>
    <td>Obese</td>
    <td>Rogers, the late MIT math professor</td>
  </tr>
  <tr>
    <td>Five-season Fox sitcom named after its title character and star</td>
    <td>Sound from a dog</td>
  </tr>
  <tr>
    <td>Cobbler</td>
    <td>Ron who played Tarzan</td>
  </tr>
  <tr>
    <td>Small upright piano</td>
    <td>Comedienne Roseanne</td>
  </tr>
  <tr>
    <td>Amber&rsquo;s <i>Glee</i> role</td>
    <td>Lasat who manned the starship <i>Ghost</i></td>
  </tr>
  <tr>
    <td>Tosses some dice</td>
    <td>Partner of terminer</td>
  </tr>
  <tr>
    <td>Cobb, &ldquo;the Georgia Peach&rdquo;</td>
    <td>Follower of Goldman in finance</td>
  </tr>
  <tr>
    <td>Namesake of Northwestern&rsquo;s Management School</td>
    <td>Afflicted with hydrophobia</td>
  </tr>
  <tr>
    <td>Hawaiian floral garlands</td>
    <td>Tree that comes as speckled, Manchurian or seaside varieties</td>
  </tr>
  <tr>
    <td>Original or recently picked</td>
    <td>The marked cost of something</td>
  </tr>
  <tr>
    <td>What R-O-L-A-I-D-S spells?</td>
    <td>Partner of arts</td>
  </tr>
  <tr>
    <td>More than half</td>
    <td>Town bordering Plainfield, Buckland, and Charlemont</td>
  </tr>
  <tr>
    <td>One who cripples or mutilates</td>
    <td>Emmanuel Lewis&rsquo;s TV series</td>
  </tr>
  <tr>
    <td>Famed race track, with &ldquo;Le&rdquo;</td>
    <td>Police Constable of Dock Green</td>
  </tr>
  <tr>
    <td>In good health and shape</td>
    <td>Style of jazz often played rapidly</td>
  </tr>
  <tr>
    <td>Barely expandable alloy of iron and nickel</td>
    <td>Prods, stirs up, and fuels a fire</td>
  </tr>
  <tr>
    <td>Blatch on <i>Sex and the City</i></td>
    <td>Sink your teeth into</td>
  </tr>
</table>
{% endblock %}
