{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}It Takes Two{% endblock %}
{% block puzzle_name_block %}It Takes Two{% endblock %}

{% block puzzle_head_block %}
<style>
  td {
    padding-right: 5em;
    padding-top: 7px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Fighter is an expert in the joust, where two people dash toward each other and one is injured.
{% endblock %}

{% block puzzle_content_block %}
<table>
  <tr>
    <td>Capital of Okinawa</td>
    <td>A red Italian wine grape</td>
  </tr>
  <tr>
    <td>Prion disease that affects cows, for short</td>
    <td>Original surname of Albert Brooks</td>
  </tr>
  <tr>
    <td>Obese</td>
    <td>Rogers, the late MIT math professor</td>
  </tr>
  <tr>
    <td>Having cut spiral grooves, like on a gun barrel</td>
    <td>Partner of arts</td>
  </tr>
  <tr>
    <td>A cobbler</td>
    <td>Ron who played Tarzan</td>
  </tr>
  <tr>
    <td>A small upright piano</td>
    <td>Comedienne Roseanne</td>
  </tr>
  <tr>
    <td>Amber on Glee</td>
    <td>Lasat who manned the starship Ghost</td>
  </tr>
  <tr>
    <td>Tosses some dice</td>
    <td>Partner of terminer</td>
  </tr>
  <tr>
    <td>Cobb, the Georgia Peach</td>
    <td>Follower of Goldman in finance</td>
  </tr>
  <tr>
    <td>Namesake of Northwestern's Management School</td>
    <td>Afflicted with hydrophobia</td>
  </tr>
  <tr>
    <td>Hawaiian floral garlands</td>
    <td>Tree that comes as speckled, Manchurian or seaside varieties</td>
  </tr>
  <tr>
    <td>Original or recently picked</td>
    <td>The marked cost of something</td>
  </tr>
  <tr>
    <td>Interjection of pain</td>
    <td>A strong desire for something, usually drugs, slangily</td>
  </tr>
  <tr>
    <td>More than half</td>
    <td>Town bordering Plainfield, Buckland, and Charlemont</td>
  </tr>
  <tr>
    <td>One who cripples or mutilates</td>
    <td>Emmanuel Lewis' TV series</td>
  </tr>
  <tr>
    <td>Famed course, with "Le"</td>
    <td>Police Constable of Dock Green</td>
  </tr>
  <tr>
    <td>In good health and shape</td>
    <td>A style of jazz often played rapidly</td>
  </tr>
  <tr>
    <td>Barely expandable alloy of iron and nickel</td>
    <td>Prods, stirs up, and fuels a fire</td>
  </tr>
  <tr>
    <td>Blatch on Sex and the City</td>
    <td>Sink your teeth into</td>
  </tr>
</table>
{% endblock %}
