{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}League of Legends &amp; Lore{% endblock %}
{% block puzzle_name_block %}League of Legends &amp; Lore{% endblock %}

{% block puzzle_head_block %}
  <style>
    .para:first-letter {
      float: left; color: #903;
      font-size: 24px;
      line-height: 16px;
      padding-top: 2px;
      padding-right: 4px;
      padding-left: 1px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  You fight the cube with all the ferocity of the Greyhawk University
  dungeonball team.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <h3>WEEK 1</h3>
    <p class="para">
      For a season opener, we probably shouldn't have scheduled a Master-level
      opponent, especially one whose home field is a whirling vortex. Those
      Alphatians are tough, but fortunately we had a trick up our sleeves. It was
      a long game, but in the 10th round, we pulled out our bits of fur and amber
      and started rubbing our glass rods. You may laugh, but the result was
      shocking: we won, 50-31.
    </p>

    <h3>WEEK 2</h3>
    <p class="para">
      I always enjoy an old-school throwdown with a sinister religious sect,
      especially one that worships ophidians. Orlane used to be a nice place, but
      it's fallen on hard times. This was a long, hard-fought game. We finally
      managed to fool them in the 12th round, using an eyelash encased in gum
      arabic to sneak into the scoring zone for a 105-97 victory.
    </p>

    <h3>WEEK 3</h3>
    <p class="para">
      Really overconfident after starting the season undefeated? Yeah, probably.
      I don't think the ancient Olmans appreciated our using their place of
      worship for a battlefield, but we were just happy we found the place! They
      expressed their displeasure with rotten eggs and skunk cabbage leaves. We
      held our noses and ran after the 4th round, suffering a 19-10 defeat.
    </p>

    <h3>WEEK 4</h3>
    <p class="para">
      So we were on our way to the game when these strange mists began rolling in.
      Our team caravan got lost, and by the time we found our way through, we
      were in some strange place called Barovia. Fortunately the local vampire
      lord sponsors a dungeonball team. They had a few "castle rules," so it took
      us until the 11th round to get the hang of things. Using a small piece of
      wood and some holly berries, we converted a torch into a fiery, flying
      vehicle and routed them 72-66.
    </p>

    <h3>WEEK 5</h3>
    <p class="para">
      Truth be told, I didn't think we could go into a place called "The Caves of
      Chaos" and come out with a W, but that's exactly what we did. The locals
      were duly impressed by our 4th-round strategy of using a drop of blood, a
      piece of human flesh, and a pinch of bone powder to convert the corpse-laden
      battlefield into an army of new allies, giving us a 36-16 triumph.
    </p>

    <h3>WEEK 6</h3>
    <p class="para">
      Everything about this game was strange. First the other team came out in
      orange uniforms, but then their school administrators decided that those were
      too sexy and made them change into green uniforms. At least their stadium is
      a beautiful argent manor. Anyway, we had a hard time getting back into our
      groove after the delayed start. In the 3rd round they tricked us -- what
      looked like a piece of string and a bit of wood turned out to be a concealed
      player who scored the deciding points. We lost 18-5.
    </p>

    <h3>WEEK 7</h3>
    <p class="para">
      Don't lose track of your coin purse in Highport -- it's a nasty place. You'd
      think they would hold their games in that nice temple, but no, we had to
      fight in the sewers under the city. It's the pits! I don't think all the
      players on the other team were there of their own free will, either. We
      decided to pull out some stones, twigs, and blades of green grass to fool
      them into thinking they were playing on a completely different field. We
      figured they'd appreciate the change of scenery, even if it wasn't real.
      From the 4th round on, we cruised to a 54-39 win.
    </p>

    <h3>WEEK 8</h3>
    <p class="para">
      It's a strange feeling to go up against the Witch-King of Vassa in a game
      of dungeonball. You can't win on the field -- you have to go into the
      Abyss, steal the Wand of Orcus, and take it to the Seven Heavens to be
      destroyed. Is that even in the rules?!? Not to mention the 100th-level
      players they have on their team. Despite the long odds, we used a humble
      legume seed at just the right moment in the 5th round and managed to breeze
      through the endgame for a 22-18 triumph.
    </p>

    <h3>WEEK 9</h3>
    <p class="para">
      There are known knowns, unknown unknowns, known unknowns, and unknown knowns.
      You're supposed to go discover the things you don't know and that's how you
      win. Or something like that -- I don't really pay attention when Coach
      Quasqueton gives her motivational speeches. In this match we had to design
      our own battlefield. I guess I should have been paying more attention during
      that speech, though: the other team hit us hard in the very first round. I
      saw a pinch of fine sand, some rose petals, and a live cricket before my
      head hit the floor. Next thing I knew we had lost the game, 77-56.
    </p>

    <h3>WEEK 10</h3>
    <p class="para">
      Inevitably, an opponent takes out a contract to have one of our players
      murdered before the game. That's what happened this week when we went to
      Restenford. I guess we should have known that a town called Garrotten
      would be, well, less than friendly. We took it out on them on the field.
      Vengeance was ours in the 6th round when we crushed a 1000 g.p. value
      black pearl. With their captain dead, we tied the rest of their team in
      knots for the 34-22 win.
    </p>

    <h3>WEEK 11</h3>
    <p class="para">
      Okay, time for a history lesson. The southlands of Eor (now part of Keoland)
      are home to Waycombe, which has one of the nicest stadiums in the league. At
      least, that's what they told us when we scheduled this game. Turns out that
      there's actually an ancient reptilian ruler buried underneath the field, and
      most visiting teams are promptly devoured. Fortunately, we did our scrying
      homework, using a bit of bat fur to get an early look around, and that set up
      a 7th-round gambit to give us the 83-78 upset.
    </p>

    <h3>WEEK 12</h3>
    <p class="para">
      Nobody on our squad likes underwater combat. We don't train for it, we don't
      recruit for it, and as a result, when we have to go to a place like Dunwater,
      we end up in great peril. It doesn't help when the other team is playing for
      keeps: in the 3rd round they used a lodestone and a pinch of dust to turn
      our star player into a pile of ash. Not only did we lose, we suffered our
      only shutout of the season: 12 to zero.
    </p>

    <h3>WEEK 13</h3>
    <p class="para">
      Seriously, who made this season's schedule? Right on the heels of a crushing
      defeat, we had to go to Inverness, where the stadium isn't even corporeal!
      Adding insult to injury, they've got this crazy piece of equipment that
      literally sucks the soul right out of you. The only time we managed to score
      was in the 9th round when we used an oaken club, mistletoe, and a shamrock
      leaf to wallop that evil artifact for a few points. It wasn't nearly enough,
      and we lost 20-15.
    </p>

    <h3>WEEK 14</h3>
    <p class="para">
      Proceeding from bad to worse, our next game took place in the hall of King
      Snurre Iron Belly, who is every bit as much of a firebrand as he sounds. We
      were already demoralized (and down a few players) from the last two games,
      so it's no surprise that in the 5th round the other team was able to put us
      into a state of suspended animation. I should have known what was coming when
      they broke out the powder composed of diamond, emerald, ruby, and sapphire
      dust. At any rate, we lost 44-24.
    </p>

    <h3>WEEK 15</h3>
    <p class="para">
      Eventually we had to snap that losing streak, right? Well, not this week. If
      we ever get invited to another game in Tanaroa, remind me to say no thanks. I
      guess the fact that we had to draw our own map of the island probably should
      have tipped us off, but we persevered anyway, thinking we were Experts so we
      didn't need to stop and ask for directions. Big mistake. When that tiny ball
      of bat guano and sulphur landed on our team's bench in the 5th round it
      brought the game to an explosive conclusion. The scoreboard said 109-89 but
      it felt like we had been beaten by a lot more.
    </p>

    <h3>WEEK 16</h3>
    <p class="para">
      Lucky us, we had to play our next road game in the Underdark. Traveling to
      Erelhei-Cinlu is unpleasant under the best of circumstances, and the Fane
      of Lolth is about the toughest stadium to play in. At least we didn't have to
      go through the astral gate into the Demonweb! Anyway, the drow were able to
      catch us off guard. We thought they were inviting us to join a 10th-round rave
      when they started waving those glowing sticks of incense and crystal rods
      filled with phosphorescent material, but no, it was a well-choreographed
      scoring design. Score they did, beating us 67-62.
    </p>

    <h3>WEEK 17</h3>
    <p class="para">
      Let's be honest, by now the season was a bit of a shambles. The frights were
      not over yet, though. Finding the stadium for this game was hard enough,
      what with all the false entrances and deathtraps, but when we finally got to
      the field and discovered that the other team's coach was a demilich, that was
      the last straw. We wanted to just hand the game to the other team, but rules
      are rules, so we had to play it out. We were almost relieved when they
      produced a glove of snake skin and the shell of an egg to grab and squeeze
      us out of our misery in the 7th round. The final score was 30-12.
    </p>

    <h3>WEEK 18</h3>
    <p class="para">
      Somehow we made it to the end of the season. Our final game was in a burg
      called Cynidecia. We had to dig out the field, since for some reason it
      had been buried beneath the desert. The other team had been pulling a lot
      of all-nighters, studying for final exams. I hear that Professor Zargon
      is the worst. He doesn't give failing grades, he just eats everybody who
      doesn't get a perfect score. Since it was the last game, we thought it
      would be fun to get the team mascot involved. In the 7th round we used a
      tiny silver whistle, a piece of bone, and a thread to summon our canine
      pal. The resulting 129-110 win allowed us to end the year on a high note.
    </p>
  </div>
{% endblock %}
