{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'fighter' %}
{% block title_block %}Let's Get Physical!{% endblock %}
{% block puzzle_name_block %}Let's Get Physical!{% endblock %}

{% block puzzle_head_block %}
  <style>
    .content {
      margin-right: 100px;
    }
    .line {
      display: flex;
      margin-bottom: 1em;
    }
    .leaders {
      margin-left: 4px;
      margin-right: 4px;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Fighter undertakes a rigorous training regimen.
{% endblock %}

{% block puzzle_content_block %}
  <div class="content">
    <div class="line">
      <span>Cartilaginous fish, in the middle? (5, 12)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 612 = </span>
    </div>
    <div class="line">
      <span>Oscillating playground apparatus (5)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 303 = </span>
    </div>
    <div class="line">
      <span>Unification of rhythmic movement? (5 6)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 299 = </span>
    </div>
    <div class="line">
      <span>Rummage (through) (5)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 603 = </span>
    </div>
    <div class="line">
      <span>Spherical fermented vegetable? (10)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 641 = </span>
    </div>
    <div class="line">
      <span>European Car of the Year in 1992 and 2013 (4)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 586 = </span>
    </div>
    <div class="line">
      <span>Net travel metasearch site (5)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 898 = </span>
    </div>
    <div class="line">
      <span>Unrepresented legal response AWESOME? (4-7 3)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 592 = </span>
    </div>
    <div class="line">
      <span>Mexican condiment (5)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 296 = </span>
    </div>
    <div class="line">
      <span>Bahraini or Israeli, e.g. (6 7)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 291 = </span>
    </div>
    <div class="line">
      <span>Elongated starchy vegetable, as a starter? (6, 8)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 604 = </span>
    </div>
    <div class="line">
      <span>Reselling stolen goods, like food wrap? (7, 4)</span>
      <span class="leaders">
        ................................................................................................................................................................
      </span>
      <span>minus 590 = </span>
    </div>
  </div>
{% endblock %}
