{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Long Time No See{% endblock %}
{% block puzzle_name_block %}Long Time No See{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style: none;
    padding-left: 0px;
    padding-bottom: 12px;
  }

  .blank {
    text-decoration: underline;
    white-space: pre;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Using a map to explore the ground floor of its lair, you find that the monster has hidden its treasure in the usually-marked spot, on top of a pile of heads.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>West to East</li>
    <li>1 Gives up under oath</li>
    <li>8 Former name of Da Nang</li>
    <li>9 Short TV program summary</li>
    <li>10 21A star</li>
    <li>11 Game where you take things from heaps</li>
    <li>12 Gluttony, e.g.</li>
    <li>13 Its address is 1 Einstein Dr.</li>
    <li>14 Museum guide</li>
    <li>19 Ford flop, famously</li>
    <li>21 1997 10A film</li>
    <li>26 Role on "Prison Break", probably</li>
    <li>28 Abbr. after Bering or Denmark</li>
    <li>29 Town due east of Pigra, Italy</li>
    <li>30 With "A", George Joseph book about medieval Indian math</li>
    <li>33 First responder, often</li>
    <li>34 <span class="blank">        </span> odoratissima: wild vanilla</li>
    <li>35 Word in a Latin admission of guilt</li>
    <li>36 Indy 500 or Preakness, e.g.</li>
    <li>37 Namesake of an Irish Red lager</li>
    <li>38 Sandburg or Lewis</li>
    <li>39 16-in. (or less) firearm, for short</li>
    <li>40 GM engine, forerunner to the LDK and LHU</li>
    <li>41 Hunter's quest</li>
    <li>42 Term of endearment in a 2014 Pharrell song</li>
    <li>43 Japanese video-sharing platform operated by Dwango, for short</li>
    <li>44 "Treasure Island" auth.</li>
    <li>45 Brother to Billy, Stephen and Daniel</li>
    <li>46 It's observed at MIT from Mar.-Nov.</li>
    <li>47 <span class="blank">        </span> Vegas</li>
    <li>48 Idle, e.g.</li>
    <li>49 Not in Alaska or Hawaii</li>
    <li>55 The Yongala, Great Blue Hole, and Thistlegorm are among the world's best</li>
    <li>62 Marie Kondo, among others</li>
    <li>63 Without being forthright</li>
    <li>64 Regulation (obs.)</li>
    <li>65 Diazepam and metaxalone, et al.</li>
    <li>66 Ballad ending?</li>
    <li>67 Thames islet</li>
    <li>68 Signing Day fax to a university, often (abbr.)</li>
    <li>69 Developer of nylon, Teflon and Mylar</li>
    <li>75 Observatory from where Tombaugh first spotted Pluto</li>
    <li>81 Airport in the Fergana Valley, Uzbekistan (abbr.)</li>
    <li>82 Medieval assault platform</li>
    <li>84 Mixed with element 51, like some lead</li>
    <li>86 Pasty white D&amp;D monsters that absorb the abilities of their prey</li>
    <li>87 Most phantasmal</li>
    <li>88 Items in Maslow's pyramid</li>
    <li>89 Withstanding the test of time, like a book or song</li>
  </ul>
  <ul>
    <li>North to South</li>
    <li>1 Ayn Rand title Titan</li>
    <li>2 <span class="blank">        </span> Nights</li>
    <li>3 German style parallel to Art Nouveau</li>
    <li>4 Shirley Temple hair feature</li>
    <li>5 56-year Monégasque ruler</li>
    <li>6 Suffix meaning "at intervals of (so many) years"</li>
    <li>7 Appears</li>
    <li>14 Make less human</li>
    <li>15 Terrorist shot in Abbottabad</li>
    <li>16 Area of the Sahara between the Nile and the Red Sea</li>
    <li>17 Its first dir. was Stephen Mather</li>
    <li>18 Legend says it grew from Bodhidharma's eyelids</li>
    <li>20 Dr. Goodweather portrayer</li>
    <li>21 It keep a baby's parents up all night, sometimes</li>
    <li>22 Not Y, in Nyon!</li>
    <li>23 Robert Bakewell, generally and notably</li>
    <li>24 Where many files are stored</li>
    <li>25 <span class="blank">        </span> Hall, Southbank's largest performing venue</li>
    <li>27 Indigenous Bolivian guerilla mvmt.</li>
    <li>29 End-era linkage</li>
    <li>31 Divine king of the Igbo</li>
    <li>32 Org. formed by Truman in 1952</li>
    <li>49 Illustrator Jen seen on Daily Kos</li>
    <li>50 Tundra boundary</li>
    <li>51 Distress, give trouble to</li>
    <li>52 It has Mohs value one</li>
    <li>53 Dir. from Wellesley to MIT</li>
    <li>54 Will Wright's virtual individual</li>
    <li>56 Org. with a major port in Kourou</li>
    <li>57 Number of letters in this puzzle's answer</li>
    <li>58 A Snyder on "As The World Turns"</li>
    <li>59 Periods of possession of an estate</li>
    <li>60 Liturgy in Middle-Age Ireland</li>
    <li>61 Pulsing, like the heart</li>
    <li>69 Singer Shannon, et al.</li>
    <li>70 Väståboland lighthouse</li>
    <li>71 Weasel sound</li>
    <li>72 Have debts</li>
    <li>73 Information subtask that identifies persons, orgs., times, et al.</li>
    <li>74 Aeroporto Friuli Venezia Giulia S.p.A. runs it</li>
    <li>75 Video-game player's frustration, at times </li>
    <li>76 Popular West Indian shellfish</li>
    <li>77 Battle of Seattle target</li>
    <li>78 J, to the Goths</li>
    <li>79 F-35 maker, on the NYSE</li>
    <li>80 Hang loosely</li>
    <li>83 A Wizard of Earthsea protagonist</li>
    <li>85 Long or Vardalos</li>
  </ul>
</div>
{% endblock %}
