{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Matchbox Twenty{% endblock %}
{% block puzzle_name_block %}Matchbox Twenty{% endblock %}

{% block puzzle_head_block %}
<style>
audio {
  min-width: 400px;
}

@media print {
  #img-container {
    page-break-before: always;
  }
  #img-container img {
    max-height: 8.5in;    
  }
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The troupe&rsquo;s director is very particular about how the productions&rsquo; musical selections match up.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <div id="audio-container">
    <audio controls>
      <source src="{{ asset_url_for('matchbox_twenty/audio01.mp3') }}" type="audio/mp3"/>
      <a href="{{ asset_url_for('matchbox_twenty/audio01.mp3') }}">Audio link</a>
    </audio>
  </div>
  <div id="img-container">
    <img src="{{ asset_url_for('matchbox_twenty/image01.png') }}"/>
  </div>
</div>
{% endblock %}