{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Mentally Stimulating Diversion{% endblock %}
{% block puzzle_name_block %}Mentally Stimulating Diversion{% endblock %}

{% block puzzle_head_block %}
<style>
  .g {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
Even the craftiest criminal will find this challenge to be trivial.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <div class="g">
    <img src="{{ asset_url_for('mentally_stimulating_diversion/Grid1.png') }}" width='600' /><br/>
  </div>
  <div class="g">
    <img src="{{ asset_url_for('mentally_stimulating_diversion/Grid2.png') }}" width='680' /><br/>
  </div>
</div>
{% endblock %}
