{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Maniacal Merchants{% endblock %}
{% block puzzle_name_block %}The Maniacal Merchants{% endblock %}

{% block puzzle_head_block %}
<style>
#merchants {
  display: flex;
  flex-wrap: wrap;
  justify-content space-between;
}
.merchant {
  width: 225px;
}
.merchant-image-container {
  position: relative;
}
.merchant-image {
  width: 225px;
}
.merchant-number {
  position: absolute;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  vertical-align: center;
  top: 88px;
  font-size: 24px;
}
.merchant-label {
  position: absolute;
  top: 275px;
  left: 40px;
  width: 129px;
  padding: 5px;
  border: 3px #665F4F solid;
  border-radius: 5px;
  font-size: 20px;
  background-color: #D1B780;
  text-align: center;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
{% endblock %}

{% block puzzle_content_block %}
<div id="merchants">
  {% for merchant_data in [
      (1, 'Facetious Frank', 7, 8, 3, 5, 5),
      (2, 'Suitable Sarah', 1, 5, 5, 11, 1),
      (3, 'Little Larry', 10, 3, 3, 6, 3),
      (4, 'Star-Crossed Steve', 9, 3, 1, 4, 5),
      (5, 'Holy Hannah', 7, 13, 13, 2, 1),
      (6, 'Mourning Mike', 3, 7, 15, 18, 18),
      (7, 'Flag-Bearing Flo', 14, 3, 2, 3, 10),
      (8, 'Musical Maria', 5, 4, 10, 4, 6)
    ] %}
    <div class="merchant">
      <div class="merchant-image-container">
        {% for numeric_index in range(2,7) %}
          <div class="merchant-number" style="left: {{ -30 + numeric_index * 32 }}px;">{{merchant_data[numeric_index]}}</div>
        {% endfor %}
        <div class="merchant-label scroll-color-background">
          {{ merchant_data[1] }}
        </div>
        <img src="{{ asset_url_for('merchants/merchant-image0%s.png' % merchant_data[0])}}" class="merchant-image"/>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}