{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Merriweather Post Pavilion{% endblock %}
{% block puzzle_name_block %}Merriweather Post Pavilion{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
The Chemist insists that zoology is just applied chemistry.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <p>
    Navigation Controls: Use gear icon in bottom right corner to switch.<br/>
    First Person: Click and drag mouse to look around, arrow keys or WASD to move.<br/>
    Orbit: Left click and drag to look around, right click and drag to pan.<br/>
  </p>
  <div>
    <iframe width="900" height="633" src="https://sketchfab.com/models/60f63eeb48924bccb8ebad563dd243f0/embed?autostart=1&amp;camera=0&amp;navigation=fps&amp;preload=1" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
        onmousewheel=""></iframe>
  </div>
</div>
{% endblock %}
