{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Modern Journalism{% endblock %}
{% block puzzle_name_block %}Modern Journalism{% endblock %}

{% block puzzle_head_block %}
  <style>
    .cv {
      margin: 10px 10px 10px 10px;
      width: 120px;
      border: 1px solid #000000;
    }

    .rc {
      padding: 2px 4px 2px 4px;
      border: 1px dashed #000000;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  You notice some of the bridge&rsquo;s cracks have been papered over&mdash;no
  one appreciates this sort of niche journalism anymore.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <a href="{{ asset_url_for('modern_journalism/img-01.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-01.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-02.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-02.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-03.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-03.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-04.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-04.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-05.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-05.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-06.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-06.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-07.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-07.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-08.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-08.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-09.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-09.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-10.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-10.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-11.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-11.png') }}"></a>
    <a href="{{ asset_url_for('modern_journalism/img-12.png') }}"><img class="cv" src="{{ asset_url_for('modern_journalism/img-12.png') }}"></a>
    <p class="rc">
      We hear .&nbsp;.&nbsp;. that reality TV is getting <em>too</em> real over
      at a certain midtown plaza. For one executive, his own network may be
      hitting a little close to home as he waits to hear from the boss whether
      he&rsquo;s kept it tight or whether they no longer wanna hit that. But
      with his latest show a huge hit among all the most profitable
      demographics&mdash;soccer moms, NASCAR dads, white-collar pervs, and the
      obese&mdash;we have a feeling things will work out well.
    </p>
    <p class="rc">
      Delivery androids never took over the office, with email replacing the
      messenger boy for routine internal communication, but they&rsquo;re still
      a technology worth looking back on. Roaming the halls in a preplanned
      route with sensors to prevent them from running into people and other
      obstacles, these devices were the forerunners of the robotic vacuum
      cleaners and warehouse workers used by companies like Amazon. But they
      also had their dark side, like when Soviet spies hid a bug in a top-secret
      device used in the FBI headquarters.
    </p>
    <p class="rc">
      Pomeranians are an intelligent and perceptive breed, so it&rsquo;s not a
      surprise to see them play such a key role here. They&rsquo;re clearly the
      brains behind the monkish matchmaker who takes all the credit for bringing
      together two rival crime families. It&rsquo;s just his luck that the
      Romeo-and-Juliet scheme left a body count the last time he tried it. But
      with the fate of our masterminds left unresolved, we&rsquo;re confident
      the gifted pups will find a way to keep the enterprise going.
    </p>
    <p class="rc">
      The second startup bubble has seen its share of derivative social-media
      plays, but every now and then something truly innovative emerges. When
      software can take everything subjective and unspoken about human
      interactions and reduce it to explicit, objective numbers, then a truly
      transparent social economy can finally emerge. Here we see the
      transformational results. Exponentially weighted ratings reveal an innate
      social hierarchy: fours and fives running the place; threes and twos
      hoping to move up; a Colosseum-cum-<em>America&rsquo;s Got Talent</em> to
      entertain the elite.  If only they hadn&rsquo;t run out of apples to keep
      the twos in check, we might have seen the future of higher education in
      the form of a remarkable new social tool.
    </p>
    <p class="rc">
      Mysterious tv doc&rsquo;s hospital visit revealed! Evan&rsquo;s recent
      absence from the set has soap fans buzzing&mdash;and now we know how close
      he was to death. The fake doc&rsquo;s real-life medical scare is the stuff
      of his own soap. From vision loss to inability to walk to low libido to
      heart and kidney failure and finally coma, it seems like nothing would go
      right, at least until the end of the episode. But will there be a
      cliffhanger&mdash;a new baby Sterling, just like the last time the hunky
      doc was in a coma?
    </p>
    <p class="rc">
      Dusty old theory is out and practice-based learning is in. That&rsquo;s
      especially true in a field like architecture that is heavy on lab and
      studio work. But it&rsquo;s possible to take the trend too far, and when
      that happens, it&rsquo;s time for the university to step in and right the
      ship. Columbia is a school in turmoil, with the latest shenanigans in its
      architecture department the talk of the academy. First they hire a
      tenure-track professor with no academic experience and no clear ideas or
      research agenda without even doing a national search. But now it turns out
      he&rsquo;s not much of an architect&mdash;or a teacher&mdash;either. All
      his buildings are failures, and he can&rsquo;t even find the right
      classroom. It&rsquo;s no wonder enrollment in departments like economics
      are spiking while enrollments in the architecture program are in
      free-fall.
    </p>
    <p class="rc">
      It&rsquo;s great to see some mainstream respectability for the adult
      entertainment industry, but the days are long since gone when a single new
      performer, even one with a giant and distinctive feature, would be enough
      to interest Korean investors. And no male performer could earn enough in
      three months to buy a Soup &rsquo;R Crackers franchise. When the new
      performer is as shy and awkward as Ron Don? Forget about it.
    </p>
    <p class="rc">
      Richie was a promising comedian whose career, like so many before him, was
      derailed by drugs. Drug dependency is the health crisis of our time, but
      experiments with new treatment methods are providing promising insights
      into potential cures. Interventions have been part of the treatment
      landscape for decades, and therapists have long used objects to overcome
      patients&rsquo; inhibitions. Pairing these techniques in a
      nonconfrontational setting, though, was able to help Richie when nothing
      else could. Of course, not everyone will respond to candy toy
      therapy&mdash;different addictions have different causes&mdash;but finding
      the right pairing of patient and object may be the treatment plan of the
      future.
    </p>
    <p class="rc">
      Ask any guy for his fantasies, and you&rsquo;ll probably hear about having
      a threesome. What&rsquo;s the appeal? Is there something sexy about a
      first-timer? Were we always meant to bring in a special guest star? Can
      they bring people closer together? Maybe all of that; but maybe we just
      want something easy. After all, we don&rsquo;t really know the people we
      sleep with; intimacy&rsquo;s the real bitch.
    </p>
    <p class="rc">
      The collapse of the Obama coalition and the election of Donald Trump is
      the latest reminder that labor unions are some of last obstacles left
      standing in the way of the total destruction of progressivism.  But the
      way forward requires organization, concrete goals, and some old-fashioned
      activism. When workers rally for for fair working conditions and health
      benefits in the face of Big Nuclear and literal hired goons, the
      short-term result may be painful blackouts, but in the long term, the
      organized workers of the International Brotherhood of Jazz Dancers, Pastry
      Chefs and Nuclear Technicians can show that labor isn&rsquo;t the
      lumbering dinosaur the media portrays it to be.
    </p>
    <p class="rc">
      These days, it&rsquo;s laughable to think that the biggest secrets the
      government covers up are about a boxcar full of alien corpses. The idea,
      though, that the government would kill to keep its secrets and look far
      and wide for new ways to hide those secrets is all too real. Nothing in
      the Snowden papers talks about using Navajo code talkers to hide
      secrets&mdash;but some secrets are too secret to keep on even a top-secret
      computer network, and secrets about a shadowy global cabal are among
      them. You would think that a cabal big enough to poison the water and have
      gunmen all over the place would leak eventually, but maybe it&rsquo;s
      finally being exposed. Kind of cruel of the producers to make us wait all
      summer to find out though.
    </p>
    <p class="rc">
      Count us among fans of Sam&rsquo;s &ldquo;courageously headachey&rdquo;
      personal style, and we&rsquo;re still hoping the trio gets back together
      soon. But if a little mocking leads to more classic dis tracks like
      &ldquo;New Phone Who Dis?,&rdquo; we&rsquo;re all ears.
    </p>
  </div>
{% endblock %}
