{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'minstrels' %}
{% block title_block %}More Merry Wives: Beyond Windsor{% endblock %}
{% block puzzle_name_block %}More Merry Wives: Beyond Windsor{% endblock %}

{% block puzzle_flavortext_block %}
  The minstrels perform a brief dramatic interlude featuring characters they
  describe as "ladies the Bard would write about, were he alive today." It's
  horrendous, yet the crowd keeps cheering "Bravo!"
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      CHORUS: We merry wives do hail from sea to sea,<br>
      now shall we introduce ourselves to thee!
    </p>
    <p>
      AULA: How now, I have returned to share enlight-<br>
      enment. Kind greetings, common wenches all!
    </p>
    <p>
      BLOVIET: Thou mustn't loathe me for that I am fair;<br>
      and yet, as I keep hither, do despise.
    </p>
    <p>
      CYUNA: Me, once I was a beggar, thence found wealth<br>
      thence fell to beggary once more; 'tis true<br>
      wealth brings facility.
    </p>
    <p>
      DOSY: Forsooth I earn-<br>
      eth not my wage, though riches I do heart-<br>
      ily dispense.
    </p>
    <p>
      ELYRDA: Though once I served encouragement<br>
      to herdsmen, in this Meadow Town,<br>
      aside the field I doth not tarry.
    </p>
    <p>
      FLIASTA: Yea,<br>
      t'were I a spade, mine edge indeed may lack<br>
      acuity, yet bonny still I be.
    </p>
    <p>
      GLIELE: Most verily, attractiveness is might,<br>
      but one must wield it with ability.
    </p>
    <p>
      HANNORY: But above all: do proffer prettily<br>
      your truth, and tote accessories in style.
    </p>
    <p>
      ISLIDA: And yet, to cast this young fowl to a lair<br>
      of catamounts, such thing would make great sport.
    </p>
    <p>
      CHORUS: Thou finds't our homes arranged from A to P,<br>
      And learn another wife's identity!
    </p>
  </div>
{% endblock %}
