{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Motion Picture{% endblock %}
{% block puzzle_name_block %}Motion Picture{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
The emperor shows you a silent film he&rsquo;s been working on.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <video src="{{ asset_url_for('motion_picture/puzzle.mp4') }}" width="900" controls>
    Your browser does not support HTML5 video.
    <a href="{{ asset_url_for('motion_picture/puzzle.mp4') }}">Download Video</a>
  </video>
</div>
{% endblock %}
