{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Non-Local Anesthetic{% endblock %}
{% block puzzle_name_block %}Non-Local Anesthetic{% endblock %}

{% block puzzle_head_block %}
  <style>
    ul {
      list-style-type: none;
      margin-bottom: 3em;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Economist knows that imported anesthetics are the most cost-effective way
  to make something numb.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <ul>
      <li>9-11 terrorist Mohamed</li>
      <li>Animal in the title of a Strauss operetta</li>
      <li>Take a nap or demolish a building</li>
      <li>Legolas or Galadriel, e.g.</li>
      <li>Bambi's aunt</li>
      <li>Microscale sheet of film used for storing rows of images of pages</li>
      <li>Ponyta is this type</li>
      <li>Sombrero, beret, or kepi, e.g.</li>
      <li>South American capital that's the same length as its country name</li>
      <li>Darling dog</li>
      <li>Kevin Kline in <i>A Fish Called Wanda</i></li>
      <li>Album with “Love in an Elevator”</li>
      <li>Fruit that shares its name with a Shakespearean character</li>
      <li>Capture or take possession of, usually with force</li>
      <li>IRA plan used by small businesses</li>
      <li>Plantation of the O'Hara family</li>
      <li>Duo that sang “All the Things She Said”</li>
      <li>Excessively cute</li>
      <li>Untouchable Marvel character</li>
    </ul>
    <ul>
      <li>Lingua latīna</li>
      <li>Esperanto and Nihongo</li>
      <li>Dansk and Español</li>
      <li>Gaeilge and Swahili</li>
      <li>Cymraeg</li>
      <li>Magyar and Português</li>
      <li>Harshen Hausa</li>
      <li>Deutsch and Italiano</li>
      <li>Français</li>
      <li>Bahasa Indonesia</li>
      <li>Euskara</li>
      <li>Afrikaans and Slovenščina</li>
      <li>Íslenska</li>
    </ul>
  </div>
{% endblock %}
