{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}On Numbers and Games{% endblock %}
{% block puzzle_name_block %}On Numbers and Games{% endblock %}

{% block puzzle_head_block %}
  <style>
  #puzzle-content img {
    width: 900px;
  }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  In an attempt to relieve his sadness, you get the emperor to try out a number of amusing games. Heaps of them, in fact.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <img src="{{ asset_url_for('on_numbers_and_games/image01.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image02.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image03.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image04.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image05.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image06.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image07.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image08.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image09.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image10.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image11.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image12.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image13.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image14.png') }}"/>
  <img src="{{ asset_url_for('on_numbers_and_games/image15.png') }}"/>
</div>
{% endblock %}
