{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Out of the Mouths of Babes{% endblock %}
{% block puzzle_name_block %}Out of the Mouths of Babes{% endblock %}

{% block puzzle_head_block %}
  <style>
    button {
      width: 75px;
      background-color: grey;
      border: 1px solid black;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 6px;
      -webkit-transition-duration: 0.25s;
      transition-duration: 0.25s;
    }
    button:hover {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }
    .buttons {
      height: 540px;
      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .blanks {
      font-size: 13px;
      font-weight: bold;
      line-height: 200%;
      text-align: center;
    }
    span.highlight-blank {
      color: #ff3333;
      outline: #ff3333 2px solid;
    }
  </style>
  <script>
    function playVid(v) {
      var vid = document.getElementById("vid");
      vid.src = v;
      vid.play();
    }
  </script>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Chemist&rsquo;s research is her baby; she has no use for any other kind.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <table>
      <tr>
        <td class="buttons" width="85">
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip01.mp4') }}")'>Clip 1</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip02.mp4') }}")'>Clip 2</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip03.mp4') }}")'>Clip 3</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip04.mp4') }}")'>Clip 4</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip05.mp4') }}")'>Clip 5</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip06.mp4') }}")'>Clip 6</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip07.mp4') }}")'>Clip 7</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip08.mp4') }}")'>Clip 8</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip09.mp4') }}")'>Clip 9</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip10.mp4') }}")'>Clip 10</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip11.mp4') }}")'>Clip 11</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip12.mp4') }}")'>Clip 12</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip13.mp4') }}")'>Clip 13</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip14.mp4') }}")'>Clip 14</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip15.mp4') }}")'>Clip 15</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip16.mp4') }}")'>Clip 16</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip17.mp4') }}")'>Clip 17</button>
          <button onclick='playVid("{{ asset_url_for('out_of_the_mouths_of_babes/clip18.mp4') }}")'>Clip 18</button>
        </td>
        <td>
          <video width="320" height="576" id="vid" controls>
            <source src="{{ asset_url_for('out_of_the_mouths_of_babes/clip01.mp4') }}" type="video/mp4"> Your browser does not support HTML5 video.
          </video>
        </td>
        <td width="20px"> </td>
        <td class="blanks">
          <span class="highlight-blank">_</span> _ _ _ _ _ &nbsp; &nbsp; _ _ &nbsp; &nbsp; _ _<br>
          _ _ _&rsquo;_ &nbsp; &nbsp; <span class="highlight-blank">_</span> _ _ _ _ _ &nbsp; &nbsp; _ _ &nbsp; &nbsp; _ _ _ _ _ _<br>
          _ _ _ &nbsp; &nbsp; _ <span class="highlight-blank">_</span> _ _<br>
          _ &nbsp; &nbsp; <span class="highlight-blank">_</span> _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ _<br>
          _ &nbsp; &nbsp;  _ _ _ _ &nbsp; &nbsp; <span class="highlight-blank">_</span> _ _ _ &nbsp; &nbsp; _ _ _ _ _&rsquo;<br>
          _ _&rsquo;_ &nbsp; &nbsp; _ _ <span class="highlight-blank">_</span> _ &nbsp; &nbsp; _ _ _ _ _ _ _<br>
          <span class="highlight-blank">_</span> _ _ _<br>
          _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; <span class="highlight-blank">_</span> _ _ _<br>
          _ _ _&rsquo;_ &nbsp; &nbsp; _ _ _ &nbsp; &nbsp; _ _ _ _ _ _ &nbsp; &nbsp; _ <span class="highlight-blank">_</span> &nbsp; &nbsp; _ _ _<br>
          _ _ _ _ _ _ _ _ <span class="highlight-blank">_</span> &nbsp; &nbsp; ( _ _ _ _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ _ _ )<br>
          _ _ <span class="highlight-blank">_</span> _ &nbsp; &nbsp; _ _ _ _<br>
          _ _ _ <span class="highlight-blank">_</span> &nbsp; &nbsp; _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; ( _ _ _ &nbsp; &nbsp; _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ &nbsp; &nbsp; _ _ _ )<br>
          <span class="highlight-blank">_</span> _ _ &nbsp; &nbsp; _ _ _<br>
          _&rsquo;_ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ _ <span class="highlight-blank">_</span> _ _ _<br>
          _ _ _ _ &nbsp; &nbsp; _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ <span class="highlight-blank">_</span><br>
          <span class="highlight-blank">_</span> _ _ _ _<br>
          _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ _ _ _ &nbsp; &nbsp; _ &nbsp; &nbsp; _ _ _ _ _ _ <span class="highlight-blank">_</span> _ _<br>
          ( _ _ _&rsquo;_ _ ) &nbsp; &nbsp; _ _ _ _ <span class="highlight-blank">_</span> _ &nbsp; &nbsp; _ _<br>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
