{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Precipice{% endblock %}
{% block puzzle_name_block %}Precipice{% endblock %}

{% block puzzle_head_block %}
  <style>
    p {
      font-family: monospace;
      font-size: 10pt;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Linguist can become very animated when talking about letters.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <hr>
    <p>!?????: Hello, friend! Do you enjoy death-defying feats and triumphs of the insect and arachnid spirit?</p>
    <p>S: Yeah, sure.</p>
    <p>!?????: Then make your way into this tent, where my talented troupe will perform life-threatening leaps and lunges, all in less than fifteen seconds!</p>
    <p>S: Oh, whoa, whoa, wait a second, wait a second. How much more time you got out here?</p>
    <p>!?????: Well, since we've been talking, now about five seconds to go.</p>
    <p>S: I'm sorry, buddy, I can't do it. She'd have me standing right out here next to you.</p>
    <p>!?????: That's a fair point. Once the blindfolds go on, you never know if the spectators will end up being part of the show.</p>
    <hr>
    <p>?!??: Welcome to the Himalayas! Hey, is your little green Cyclops friend still pining after ol' snake-hair?</p>
    <p>F: Indeed, he is. There's nothing like wedded bliss.</p>
    <p>?!??: I bet. It's tough to find love yourself when everybody calls you abominable.</p>
    <p>N: Please, it's an old wives' tale.</p>
    <p>?!??: Thank you! I'm just glad they gave me a shorter credit in the prequel.</p>
    <hr>
    <p>R: Who put a quarter in this bar that I just finished varnishing?</p>
    <p>!?????????: Behold my latest feat of subterranean sinisterness! Do you dare to lift the coin?</p>
    <p>R: Well, I can't. It's stuck in the varnish.</p>
    <p>!?????????: That's right! It will lie beneath the surface forever! And there's nothing you or that family of superheroes can do to stop it!</p>
    <hr>
    <p>??!????: Zis job as a waiter is so, how do you say, exhausting. I long to be somewhere more peaceful and isolated.</p>
    <p>N: What the heck's the Eco pod?</p>
    <p>??!????: I hope it is a place where I will be safe from ze stress of ze kitchen and ze terrifying restaurant critics.</p>
    <p>C: They're gonna have a zoo in there, too?</p>
    <p>??!????: If so, count me out. I have dealt with enough rodents for a lifetime.</p>
    <hr>
    <p>?!??: You can't be up here chasing after a seedling! You're supposed to be on Earth cleaning up all of the garbage!</p>
    <p>S: ?!??, I don't think he wants to.</p>
    <p>F: No, S, you know, I want to hear this. Maybe it's time somebody did splash the cold water of reality in my face. On the other hand, at least I'm not a career-stagnant, middle-aged mama's boy with little or no sexual experience.</p>
    <p>?!??: You forgot fat. I am very very fat from living on this spaceship.</p>
    <hr>
    <p>!??: Boss, I asked the old man again if he'd sell you the house, and he's still not interested.</p>
    <p>S: Why not?</p>
    <p>!??: I think it reminds him of his wife. But trust me, construction guys like me can tell when a man doesn't want to leave.</p>
    <p>S: Remind me again how studs know.</p>
    <p>!??: Well, just for example, sometimes he fires a leaf blower into your face.</p>
    <hr>
    <p>!?????: We've got to slay that bear before the Queen finds out it was in the castle!</p>
    <p>N: She'll never know.</p>
    <p>!?????: I'm not so sure about that. It's quite the sizeable beast.</p>
    <p>N: She's a big girl.</p>
    <p>!?????: I wish the princess were here. She'd fire an arrow right between its eyes.</p>
    <p>N: Okay, just don't slam the door when you get out. And remember to crack a window.</p>
    <p>!?????: I dinna wanna talk about slammin' doors.</p>
    <hr>
    <p>?!???: All right! This brand new console should allow you to cooperate in managing Riley's emotions.</p>
    <p>T: I like that. You're smart.</p>
    <p>?!???: I think that's to be expected from someone who works in the mind.</p>
    <p>T: No, that's your new nickname. Get it? I made a joke.</p>
    <p>?!???: You might want to leave the comedy to Joy.</p>
    <hr>
    <p>!???: ...</p>
    <p>N: !???, I'm not gonna play this stupid game anymore. Hitler does not live in your apartment building.</p>
    <p>!???: ...</p>
    <p>N: Instead of Gilligan's Island? Well, he is a mad man.</p>
    <p>!???: Sorry I'm so quiet today... my boss does mosta the talkin'. I just tag along and help poach longhorns from the tyrannosaurs. Hey you! Stay up on that rock!</p>
    <p>N: This is the guy you thought was Hitler?</p>
    <p>!???: No, worse. It's a trespasser!</p>
    <hr>
  </div>
{% endblock %}
