{% extends "overall_layout.html" %}

{% macro generate_background(round_id) %}
  {% set character_colors = {'fighter': '#b49674', 'wizard': '#3079bd', 'cleric': '#853e3e',
          'linguist': '#594366', 'chemist': '#8ac664', 'economist':'#696969' } %}
  {% if round_id in ['fighter','wizard','cleric','linguist','chemist','economist'] %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/map/repeating-fog.png')|safe }}");
      background-color: {{ character_colors.get(round_id) }};
      background-blend-mode: overlay;
    }
    </style>
    <!--[if IE]>
    <style>
            body:before {
                 content: "";
                 position: fixed;
                 top: 0;
                 left: 0;
                 height: 100%;
                 min-height: 100vh;
                 width: 100%;
                 min-width: 100vw;
                 background: {{ character_colors.get(round_id) }};
                 opacity: 0.5;
                 z-index: -3000;
             }
     </style>
    <![endif]-->
  {% elif round_id in ['dynast','dungeon','thespians','bridge','criminal','minstrels','cube','warlord'] %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/quests/%s-background.png' % round_id)|safe }}");
    }
    </style>
  {% else %}
    <style>
    body {
      background-color: navajowhite;
    }
    </style>
  {% endif %}
{% endmacro %}

{% macro generate_reward(round_id, puzzle_id) %}
  {% if puzzle_id in ['rescue_the_linguist','rescue_the_chemist','rescue_the_economist'] %}
    <div id="reward">
      <span>Reward: New member of your party</span>
    </div>
  {% elif round_id in ['fighter','wizard','cleric','linguist','chemist','economist'] %}
    <div id="reward">
      <span class="puzzle-reward-solution-label">Reward:</span> <span class="puzzle-reward-solution"><img src="{{ asset_url_for('general/characters/%s-logo.png' % round_id) }}" style="width:30px;height:30px;vertical-align:middle;"/> The {{ round_id|capitalize }} levels up!</span>
    </div>
  {% elif round_id in ['dynast','dungeon','thespians','bridge','criminal','minstrels','cube','warlord'] %}
    <div id="reward">
      <span>Reward: <img src="{{ asset_url_for('general/icons/chest.png') }}" style="width:40px;height:40px;vertical-align:middle;"/> Item or Gold!</span>
    </div>
  {% endif %}
{% endmacro %}

{% block styling_block %}
    {{ generate_background(puzzle_round_id) }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puzzle.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(puzzle_id) }}">Check answer</a></div>
{% endblock %}

{% block overall_layout_body %}
  <div id="puzzle-container">
    <div id="header" class="standard-horizontal-scroll">
      {% block puzzle_name_block %}{% endblock %}
    </div>
    {% if puzzle_visibility and puzzle_visibility.status == 'SOLVED' %}
      <div id="answers">
        <img src="{{ asset_url_for('general/icons/completion-logo.png') }}" style="width:30px;height:30px;vertical-align:middle;"/>
        <span class="puzzle-reward-solution-label">
          Solved:
        </span>
        <span class="puzzle-reward-solution">
          {% for answer in puzzle_visibility.solvedAnswers %}
              {{ answer }}
          {% endfor %}
        </span>
      </div>
    {% else %}
      {{ generate_reward(puzzle_round_id, puzzle_id) }}
    {% endif %}
    <div id="flavortext">
      {% block puzzle_flavortext_block %}{% endblock %}
    </div>
    <div id="puzzle-content">
      {% block puzzle_content_block %}{% endblock %}
    </div>
  </div>
{% endblock %}