{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Puzzling Is My Middle Name{% endblock %}
{% block puzzle_name_block %}Puzzling Is My Middle Name{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
  The Wizard's favorite source of magical inspiration
  is <span style="font-style: normal">A Wizard of Earthsea</span>, by his
  favorite author.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <img src="{{ asset_url_for('puzzling_is_my_middle_name/image01.png') }}"/>
</div>
{% endblock %}
