{% extends "overall_layout.html" %}
{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puzzle.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}

{% block header_content %}
  <div id="submit"><a href="{{ submit_url_for(puzzle_id) }}">Check answer</a></div>
{% endblock %}

{% block overall_layout_body %}
  <div id="puzzle-container">
    <div id="header">
      <span class="enscrolled-90px-before"></span><span class="enscrolled-90px"><span>{% block puzzle_name_block %}{% endblock %}</span></span><span class="enscrolled-90px-after"></span>
    </div>
    <div id="flavortext">
      {% block puzzle_flavortext_block %}{% endblock %}
    </div>
    <div id="puzzle-content">
      {% block puzzle_content_block %}{% endblock %}
    </div>
  </div>
{% endblock %}