{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'linguist' %}
{% set suppress_display_solution = True %}
{% block title_block %}Rescue the Linguist{% endblock %}
{% block puzzle_name_block %}Rescue the Linguist{% endblock %}
{% block header_content %}{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}{% endblock %}

{% block puzzle_content_block %}
  <p>
      <a class="standard-link" href="{{ submit_url_for(puzzle_id) }}">Contact HQ</a> to schedule the rescue.
  </p>
{% endblock %}