{% extends "puzzles/puzzle_layout.html" %}
{% set puzzle_round_id = 'thespians' %}
{% block title_block %}Screen Test{% endblock %}
{% block puzzle_name_block %}Screen Test{% endblock %}

{% block puzzle_head_block %}
  <style>
    .mono {
      font-family: "Roboto Mono", Monaco, monospace;
      font-weight: 400;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The casting director of the troupe gives you this test, which he says he uses
  to screen out bad actors.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <div class="mono">
      DF = 0<sub>S</sub> 9 in a 5<br>
      WF = 5 2<sub>C</sub> at which 3 2<br>
      T = 8<sub>H</sub> of the 1<br>
      WB = 0 3 by 3 6<sub>D</sub><br>
      CC = 7<sub>F</sub> of 7 on the 3<br>
      BS = 4<sub>B</sub> that led the 7 0<br>
      APPP = 3 that a 0<sub>B</sub> is 3<br>
      AW = 7 5<sub>W</sub><br>
      B = 3 of the 1<sub>D</sub> 3<br>
      FT = 7<sub>H</sub> 7 in a 0<br>
      S = 5 of 6<sub>C</sub><br>
      B = 5<sub>D</sub> in 6 3<br>
      ASH = 8<sub>F</sub> in a 3<br>
      FH = 5 in 2<sub>D</sub><br>
      ST = 6 on a 9 7<sub>T</sub><br>
      C = 0<sub>T</sub> in the 6 6 (including 0!)<br>
      B = 7<sub>W</sub> for B 7<br>
      AW = 6 on the 1<sub>H</sub> 2<br>
      APP = 9 (or 0<sub>F</sub>) in a 5<br>
      B = 5 in a 3 (or H, in the 7<sub>F</sub> 6)<br>
      AF = 5 of 9<sub>T</sub><br>
      AHP = 5 in a 4<sub>S</sub><br>
      FW = 0 of 9<sub>F</sub> in the 8 7<br>
      APA = 5<sub>S</sub><br>
      AA = 0 on a 2<sub>F</sub> 4<br>
      T = 3 and a 2<sub>W</sub><br>
      A = 0 for a 2 4 in 7<sub>D</sub><br>
    </div>
  </div>
{% endblock %}
