{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Snap Story{% endblock %}
{% block puzzle_name_block %}Snap Story{% endblock %}

{% block puzzle_head_block %}
  <style>
    img.s {
      width: 142px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Several groups of men are joining together for the repair effort. Hopefully
  some of them can bridge the gaps.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <img class="s" src="{{ asset_url_for('snap_story/01.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/02.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/03.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/04.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/05.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/06.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/07.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/08.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/09.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/10.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/11.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/12.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/13.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/14.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/15.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/16.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/17.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/18.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/19.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/20.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/21.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/22.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/23.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/24.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/25.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/26.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/27.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/28.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/29.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/30.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/31.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/32.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/33.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/34.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/35.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/36.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/37.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/38.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/39.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/40.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/41.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/42.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/43.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/44.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/45.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/46.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/47.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/48.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/49.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/50.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/51.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/52.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/53.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/54.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/55.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/56.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/57.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/58.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/59.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/60.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/61.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/62.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/63.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/64.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/65.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/66.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/67.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/68.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/69.JPG') }}">
    <img class="s" src="{{ asset_url_for('snap_story/70.JPG') }}">
  </div>
{% endblock %}
