{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Sooner or Later{% endblock %}
{% block puzzle_name_block %}Sooner or Later{% endblock %}

{% block puzzle_head_block %}
<style>
  table {
    font-size: 20px;
  }
  td {
    padding-top: 5px;
    padding-right: 15px;
  }

  span.red-text {
    color: #D16A6A;
  }
  span.blue-text {
    color: #76A1E8;
  }
  span.red {
    background-color: #D16A6A;
    font-size: 28px;
  }
  span.blue {
    background-color: #76A1E8;
    font-size: 28px;
  }
  @media print {
    span.red {
      box-shadow: inset 0 0 0 1000px #D16A6A;
    }
    span.blue {
      box-shadow: inset 0 0 0 1000px #76A1E8;
    }
  }
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Linguist always splits words and phrases, <span class="blue-text">sooner</span> or <span class="red-text">later</span>.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <table>
    <tr>
      <td>Mountain pass on Interstate 90 (10)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>City on the Nidelva (9)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Winter visitor (4 5)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>1996 Natalie Merchant hit (8)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Disease usually contracted by children (7 3)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Not coniferous (9)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Open to interpretation (9)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>With "modern," a design movement (3-7)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>American Chinese pre-meal selection (3 4 4)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Answer lake in 2002 Hunt (8)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Tom who played Loki (10)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Hydrogen cyanide (7 4)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Catch-y team-building activity (5 4)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Pok&eacute;mon #069 (10)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>February subject of study (5 7)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Cavalier's opponent (9)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Louis Gossett Jr. boxing flop (9)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Can't be halted (11)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Olympic racquet sport (9)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td><i>Family Ties</i> actor (7 5)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Old receptacle for waste (10)</td>
      <td><span class="blue">________________</span><span class="red">________________</span></td>
    </tr>
    <tr>
      <td>Cruise ship stop (4 2 4)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>Four-ingredient dessert (5 4)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>(5)</td>
      <td><span class="red">________________</span><span class="blue">________________</span></td>
    </tr>
  </table>
</div>
{% endblock %}
