{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Spontaneous Reactions{% endblock %}
{% block puzzle_name_block %}Spontaneous Reactions{% endblock %}

{% block puzzle_head_block %}
<style>
  .puz {
    font-size: 22px;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Chemist used to make up her formulas on the spot, which led to some amusing episodes.{% endblock %}

{% block puzzle_content_block %}
<div>
  <div class='puz'>
    <ul>
      <li>F + G + H = Lowest point in North America (5 6)</li>
      <li>F + N + R = Chamber where Vlad the Impaler sleeps (7&rsquo;1 7)</li>
      <li> B + J + K = Fifteenth birthday party for volleyball player Reece (9&rsquo;1 11)</li>
      <li> A + F + R = Biblical location painted by Thomas Cole in 1828 (6 2 4)</li>
      <li> A + T + U = Swedish furniture store where Aslan reigns (4 2 6)</li>
      <li> B + F + J = Halloween incarnation of a theme park in Buena Park, California (5&rsquo;1 5 4)</li>
      <li> B + S + V = Defender, Discovery, or Freelander, e.g. (4 5)</li>
      <li> E + G + Q = Where you wash your whites for a price (10)</li>
      <li> H + I + V = Song about searching for a lost shaker of salt (14)</li>
      <li> C + P + U = Second character to be murdered by Romeo (5)</li>
      <li> D + Q + U = Indoor place to store your car (7 6)</li>
      <li> A + O + S = <i>Midnight in the Garden of Good and Evil</i> setting (8, 7)</li>
      <li> C + L + T = Competition featuring baking soda volcanoes and potato batteries (7 4)</li>
      <li> M + S + V = European athletic society (or pitching wedge?) (5 4)</li>
      <li> A + L + U = Tunnel that carries away excess rainwater (5 5)</li>
      <li> A + E + T = Opportunity to sample merlot (4 7)</li>
    </ul>
    <p>A<sub>2</sub>B<sub>7</sub>C<sub>4</sub>D<sub>4</sub>E<sub>2</sub>F<sub>4</sub>G<sub>6</sub>H<sub>1</sub>I<sub>6</sub>J<sub>5</sub>F<sub>5</sub>K<sub>2</sub>H<sub>4</sub>L<sub>6</sub>M<sub>1</sub>N<sub>3</sub>O<sub>4</sub>P<sub>3</sub>Q<sub>7</sub>R<sub>2</sub>C<sub>3</sub>S<sub>4</sub>T<sub>4</sub>L<sub>4</sub>U<sub>6</sub>V<sub>6</sub>A<sub>3</sub> = ?</p>
  </div>
</div>
{% endblock %}
