{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}State Dinners{% endblock %}
{% block puzzle_name_block %}State Dinners{% endblock %}

{% block puzzle_flavortext_block %}
  The Cleric recognizes the healing power of a satisfying meal.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      A good place to get a square meal.  Thirty seven of them, in fact.<br>
      ⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$4/$6/$5
    </p>
    <p>
      As I dined, I felt like I was on a plane coming in to Sky Harbor airport.<br>
      ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$3/$7/$7
    </p>
    <p>
      Be sure to come back often. The menu is always evolving.<br>
      ⭐&nbsp;&nbsp;&nbsp;&nbsp;$6.01/$3
    </p>
    <p>
      Chef Andhrimnir's place is heavenly. Try the Saehrimnir.<br>
      ⭐⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$6/$5/$3/$1/$10
    </p>
    <p>
      Given the chef, I expected to see whale on the menu. Or Cylon.<br>
      ⭐&nbsp;&nbsp;&nbsp;&nbsp;$9
    </p>
    <p>
      Here every table is a chef's table, since she cooks right in the middle of the restaurant.<br>
      ⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$7/$7
    </p>
    <p>
      The drinks were K is for Killer! I got totally W is for Wasted.<br>
      ⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$7/$6
    </p>
    <p>
      The Mexican food here is so inauthentic, even the word "burrito" is Americanized.<br>
      ⭐&nbsp;&nbsp;&nbsp;&nbsp;$6/$6
    </p>
    <p>
      Their signature dessert is the "Blueberry Hill." It was so big, I almost toppled over into the person next to me when I was done!<br>
      ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$6.01/$5
    </p>
    <p>
      They accept many alternative forms of payments, even those things you pull to open a soda.<br>
      ⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$3/$6/$6
    </p>
    <p>
      They served me an intriguing mix of wine and beer. (I would have called it a Heinfandel, but their name for it was good too.)<br>
      ⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$8.01
    </p>
    <p>This place goes far beyond molecular gastronomy, and into biological gastronomy, physical gastronomy, geological gastronomy, and astronomical gastronomy.  Hallelujah!<br>
      ⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$7/$2/$7
    </p>
    <p>
      This restaurant is truly farm-to-table -- the waiter kept disappearing to till the fields out back. Apparently a lot of celebrities eat here, too.<br>
      ⭐⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$3/$6/$3/$5
    </p>
    <p>
      While you dine, you are entertained by the finest aquatic jazz.<br>
      ⭐⭐⭐⭐⭐&nbsp;&nbsp;&nbsp;&nbsp;$10/$8
    </p>
  </div>
{% endblock %}
