{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Stick the Landing{% endblock %}
{% block puzzle_name_block %}Stick the Landing{% endblock %}

{% block puzzle_head_block %}
  <style>
    #puzzle-content ul {
      font-size: 0.85em;
      list-style-type: none;
      white-space: nowrap;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  Some of these actors really like to chew the scenery.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <img src="{{ asset_url_for('stick_the_landing/image01.gif') }}" width="800">
    <ul>
      <li>ADDAAMSBOONNETHHAATTUURRNEDINNTTOEVVEE</li>
      <li>APPERHOECORDEDHEONGHOTOOPIED</li>
      <li>CAPITACITOTHUNITEKINGDO</li>
      <li>COBEPOBEATIONADVEBETISEDASTHESUPEBESTABEINBEENTACABE</li>
      <li>COOTBALLMLAYERTHOPHARESEISEOMEPTADIUMTITHQHEXTHLETICS</li>
      <li>EERFORMERHHOOOESNTPPEAKUUCHSSAARCELAARCEAU</li>
      <li>FNLOURBNASEDBNAKEDGNOODONRSNLANGTNERMFNORMNONEY</li>
      <li>FUNALWORDUNTHETUTLEOFTHEFUFTHBONDFULM</li>
      <li>INUONESIANSOUPRUDUCTTRUDITIONALLYWRUPPEDWIUHBAUANALEUVES</li>
      <li>JEEEMAAAIIINEEESPAAARTNEEERIIINFLIIIGHTOOOFTHEEECOOONCHOOORDS</li>
      <li>LFREITCHCOCILHAOESICTUR</li>
      <li>PROFEASIONALGRAAPLERMARTYWHOBEATDRAGONLAEANDWIALOSPREAYATFINALBAATLE</li>
      <li>RFRIDAYIRNIGHTIRBLOCKIRONIRABCIRINIRTHEIRNINETIESI</li>
      <li>SQUIRRILWIOSTARRIDINHISOINADUITORIENTIDVIDIOGAIE</li>
      <li>STTICKEMPLYEDBYANRCHESTTRACNDUCTTR</li>
      <li>TAEMTAHTSISTAHWROFRENNIDGNIDROCCAOTNADANGIAPMAC</li>
      <li>TEMMEVISIONOSIUUCOMNFEBBTURINGHLAUUKABGRBBVAST</li>
      <li>THEEWHELEDCOVEYANCESFOCHLDRENFOSHRT</li>
      <li>TILLEINIIANACIYYWHRREMASSHALLTELLERLIEES</li>
      <li>TLEJOLNTWHLRELHULANTYPILALLYWELRSLWALCH</li>
      <li>UBEXXCOMPETITOIIKNOWXFOVCARIIWITXXIIPINXVMUSTACHEXII</li>
    </ul>
  </div>
{% endblock %}
