{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Subservient Chicken vs Tim the Beaver{% endblock %}
{% block puzzle_name_block %}Subservient Chicken vs Tim the Beaver{% endblock %}

{% block puzzle_head_block %}
  <style>
    div.video-container {
      margin-top: 5em;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The warlord warns you that someday you may have to fight .&nbsp;.&nbsp;. for
  your life. So don&rsquo;t mess it up.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      As we learned in <a class="standard-link"
      href="http://web.mit.edu/puzzle/www/2008/subservient_chicken/">2008</a>,
      Chuckie Chicken has had a long and distinguished career in the
      entertainment field, even aside from his time as Burger
      King&rsquo;s <a class="standard-link"
      href="http://oneweakness.com/subservient-chicken">Subservient Chicken</a>.
      In particular, the grace and artistry of his dancing simply could not be
      matched.
    </p>
    <p>
      Or&nbsp;.&nbsp;.&nbsp;. could it??
    </p>
    <p>
      As it turns out, one of Chuckie&rsquo;s closest friends is MIT&rsquo;s own
      Tim the Beaver, who is no slouch in the moves department himself.  The two
      of them competed in dance competitions on many occasions.  As in the 2008
      videos, these performances no longer exist in their entirety. Sadly the
      audio was lost, but Chuckie kindly volunteered to record the audio for us.
    </p>
    <p>
      Enjoy, once again, the charisma and talent of Chuckie Chicken!
    </p>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip1.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip1.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Winner: 1<br>
        Loser: 4<br>
        Singer: 4
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip2.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip2.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Singer: 11<br>
        Loser: 6<br>
        Winner: 12
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip3.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip3.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Winner: 11<br>
        Singer: 6<br>
        Loser: 3
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip4.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip4.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Loser: 13<br>
        Singer: 11<br>
        Winner: 13
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip5.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip5.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Singer: 7<br>
        Loser: 4<br>
        Winner: 6
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip6.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip6.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Singer: 4<br>
        Winner: 4<br>
        Loser: 8
      </p>
    </div>
    <div class="video-container">
      <video width="720" height="405" controls="">
        <source src="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip7.mp4') }}" type="video/mp4">
          <a href="{{ asset_url_for('subservient_chicken_vs_tim_the_beaver/Clip7.mp4') }}">Download</a><!-- This is a fallback for old browsers-->
      </video>
      <p>
        Loser: 2<br>
        Winner: 12<br>
        Singer: 1
      </p>
    </div>
  </div>
{% endblock %}
