{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Swedish Strivers{% endblock %}
{% block puzzle_name_block %}Swedish Strivers{% endblock %}

{% block puzzle_flavortext_block %}
  The emperor can&rsquo;t seem to get out of this cycle. Despite how far he has come,
  he can&rsquo;t understand that it really doesn't matter who the Queen or King of
  this mountain is.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p><img src="{{ asset_url_for('swedish_strivers/01.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/02.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/03.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/04.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/05.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/06.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/07.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/08.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/09.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/10.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/11.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/12.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/13.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/14.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/15.jpg') }}"></p>
    <p><img src="{{ asset_url_for('swedish_strivers/16.jpg') }}"></p>
  </div>
{% endblock %}
