{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Swifties{% endblock %}
{% block puzzle_name_block %}Swifties{% endblock %}

{% block puzzle_head_block %}
  <style>
    .box {
      margin: 1px;
      outline: #000000 1px solid;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The mean, fearless Fighter rides a red and white horse.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p class="l">&ldquo;_ _ <span class="box">_</span> _ _ _ _ <span class="box">_</span> _&rdquo; she sang, like a man of faith.</p>
    <p class="l">&ldquo;_ _ _ _ <span class="box">_</span> _ _ _ _ <span class="box">_</span>&rdquo; she sang, vacuously.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> _ <span class="box">_</span>&rdquo; she sang, unselfishly.</p>
    <p class="l">&ldquo;_ _ <span class="box">_</span> _ _ _ _ _ _ _ _ <span class="box">_</span> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _&rdquo; she sang, irreconcilably.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> _ <span class="box">_</span> _ _ _ _ _ _ _ _ _&rdquo; she sang, most fantastically.</p>
    <p class="l">&ldquo;_ _ _ <span class="box">_</span> _ _ <span class="box">_</span> _ _&rdquo; she sang, romantically.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> _ _ _ _ _ _ _ <span class="box">_</span> _ _ _ _ _ _ _ _&rdquo; she sang, once upon a time.</p>
    <p class="l">&ldquo;<span class="box">_</span> _ _ _ _ _ <span class="box">_</span> _ _ _ _ _ _ _ _&rdquo; she sang, correspondingly.</p>
    <p class="l">&ldquo;_ _ _ _ _ _ _ <span class="box">_</span> _ _ _ _ _ <span class="box">_</span> _ _ _ _ _&rdquo; she sang, forebodingly.</p>
    <p class="l">&ldquo;_ _ _ _ <span class="box">_</span> _ _ <span class="box">_</span> _ _ _ _ _ _&rdquo; she sang, on New Year&rsquo;s Eve.</p>
    <p class="l">&ldquo;_ _ <span class="box">_</span> _ _ _ _ _ _ _ _ <span class="box">_</span> _ _ _ _ _ _ _&rdquo; she sang, bluesily.</p>
    <p class="l">&ldquo;<span class="box">_</span> <span class="box">_</span> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _&rdquo; she sang, scrumdiddlyumptiously.</p>
    <p class="l">&ldquo;_ _ _ _ _ <span class="box">_</span> _ _ _ <span class="box">_</span>&rdquo; she sang, taillessly.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> _ <span class="box">_</span> _&rdquo; she sang, fashionably.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> _ <span class="box">_</span> _ _ _ _&rdquo; she sang, alertly.</p>
    <p class="l">&ldquo;_ <span class="box">_</span> <span class="box">_</span> _&rdquo; she sang, selfishly.</p>
    <p class="l">&ldquo;_ _ <span class="box">_</span> _ _ _ _ _ <span class="box">_</span> _&rdquo; she sang, from the top.</p>
    <p class="l">&ldquo;_ _ _ <span class="box">_</span> <span class="box">_</span> _&rdquo; she sang, inconsistently.</p>
  </div>
{% endblock %}
