{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Most Interesting Puzzle in the World{% endblock %}
{% block puzzle_name_block %}The Most Interesting Puzzle in the World{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 36px;
    }

    .image {
      page-break-inside: avoid;
      width: 550px;
      height: 300px;
      margin: 20px;
    }

    .middle {
      height: 90px;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Chemist hopes her scientific career will be as fascinating as her Dad&rsquo;s.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    {% for i in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14'] %}
      <div class="image top"><img src="{{ asset_url_for('the_most_interesting_puzzle_in_the_world/top%s.png' % i) }}"/></div>
    {% endfor %}
    <div class="image middle"><img src="{{ asset_url_for('the_most_interesting_puzzle_in_the_world/middle.png') }}"/></div>
    {% for i in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14'] %}
      <div class="image top"><img src="{{ asset_url_for('the_most_interesting_puzzle_in_the_world/bottom%s.png' % i) }}"/></div>
    {% endfor %}
  </div>
{% endblock %}
