{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Sacred and the Mundane{% endblock %}
{% block puzzle_name_block %}The Sacred and the Mundane{% endblock %}

{% block puzzle_head_block %}
<style>
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Cleric knows that sometimes the line between a prayer and a curse is a thin one.
{% endblock %}

{% block puzzle_content_block %}
<div>
  <ul>
    <li>Type of mushroom (2/8)</li>
    <li>Planet in our Solar System (3/6)</li>
    <li>Hershey Cubs player (3/9)</li>
    <li>Seabird (2/5)</li>
    <li>Town in Warren County, New Jersey (8/10)</li>
    <li>Chicago Bears Hall of Famer (1/10)</li>
    <li>Banking family (6/6)</li>
    <li>Toilet component (6/8)</li>
    <li>Bird (that's not a rodent) (4/8)</li>
    <li>Human ancestor (5/11)</li>
    <li>Small citrus fruit (3/7)</li>
    <li>American Chinese appetizer sampler (2/11)</li>
    <li>Neckwear (2/5)</li>
    <li>German conglomerate (2/7)</li>
    <li>Member of the subfamily Melolonthinae (1/10)</li>
    <li>Orkney village (3/5)</li>
    <li>Related to punishment (5/5)</li>
  </ul>
</div>
{% endblock %}