{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}The Gods Must Be Crazy{% endblock %}
{% block puzzle_name_block %}The Gods Must Be Crazy{% endblock %}

{% block puzzle_head_block %}
<style>
#puzzle-content ul {
  list-style-type: none;
  margin-bottom: 30px;
}
#puzzle-content li.highlighted-entry {
  font-weight: bold;
}
</style>
{% endblock %}

{% block puzzle_flavortext_block %}
The Linguist feels that the Language of the Gods sounds like English with a Jersey accent.
{% endblock %}

{% block puzzle_content_block %}
<div>
    <ul>
        <li>Joaqu&#237;n Phoenix, formerly</li>
        <li>Language spoken in Riga, or a person who lives there</li>
        <li>Short, trilled insect sound, like that of a cicada</li>
        <li class="highlighted-entry">Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> ion</li>
    </ul>
    <ul>
        <li>It borders Galway, Tipperary, and Limerick</li>
        <li>Second oldest of Lois and Hal</li>
        <li>Disparaging remark, often racially tinged</li>
        <li>Cooked mixture of flour and butter for thickening</li>
        <li class="highlighted-entry">Introductory talk given by Fallon or Letterman at the start of his show</li>
    </ul>
    <ul>
        <li>Horizontal shelf at the bottom of a window</li>
        <li>What Jack Sprat&rsquo;s wife avoided</li>
        <li>Lump or something small and imperfectly formed</li>
        <li>Bauxite or hematite, e.g.</li>
      	<li>Pay attention to or hold in high esteem</li>
        <li class="highlighted-entry">#</li>
    </ul>
    <ul>
        <li>Son of Ector and foster brother to Arthur</li>
        <li>Jeff the Pacer who used to be a Hawk</li>
        <li>Difficult</li>
        <li>Evening meal</li>
        <li class="highlighted-entry">Platonic solid with the fewest faces</li>
    </ul>
    <ul>
        <li>Foe in <i>Star Trek II</i></li>
        <li>Mythology with Odin and Thor</li>
        <li>Tin sheet metal that is often elaborately decorated</li>
        <li class="highlighted-entry">Valve between the right atrium and right ventricle</li>
    </ul>
    <ul>
        <li>Apian insect</li>
        <li>Egyptian symbol for life</li>
        <li>Carrier for bricks</li>
        <li>Fleming who created <i>Chitty Chitty Bang Bang</i></li>
        <li>Brand used to make &ldquo;shots&rdquo; and instant pudding</li>
        <li class="highlighted-entry">Building where the US Department of Defense is located</li>
    </ul>
    <ul>
        <li>Happy sound from a cat</li>
        <li>Military blockade of a city to get it to surrender</li>
        <li>Tree-chopping tool</li>
        <li>Currently running, like a refrigerator</li>
        <li class="highlighted-entry">Current Olympic Event featuring the 800 meters and the shot put</li>
    </ul>
    <ul>
        <li>Limit of (1+1/<i>n</i>)<sup><i>n</i></sup> as <i>n</i> approaches infinity</li>
        <li>Slender</li>
        <li>Rap on the door</li>
        <li>Defunct GM brand from 1992 to 2010 based on a military vehicle</li>
        <li>Egyptian sun god</li>
        <li class="highlighted-entry">Board game featuring Marvin Gardens</li>
    </ul>
</div>
{% endblock %}
