{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Trips{% endblock %}
{% block puzzle_name_block %}Trips{% endblock %}

{% block puzzle_flavortext_block %}
  The criminal&rsquo;s associates appear to be passing suspicious-looking packages from location to location. Where in the world are they coming from? Where are they going? When were they sent? Who&rsquo;s responsible?
{% endblock %}

{% block puzzle_content_block %}
  <div>
    Download <a class="standard-link" href="{{ asset_url_for('trips/trips.pcap') }}">trips.pcap</a>.
  </div>
{% endblock %}
