{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Ye Olde Seventhe Duck Konundrum: The Cones of Duckshire{% endblock %}
{% block puzzle_name_block %}Ye Olde Seventhe Duck Konundrum: The Cones of Duckshire{% endblock %}

{% block puzzle_head_block %}
  <style>
    .standard-horizontal-scroll {
      font-size: 32px;
    }
    ul {
      list-style-type: none;
    }
    li {
      margin-bottom: 0.5em;
    }
  </style>
{% endblock %}

{% block puzzle_flavortext_block %}
  The Economist spent some time between government jobs developing an intricate
  board game.
{% endblock %}

{% block puzzle_content_block %}
  <div>
    <p>
      <i>The Cones of Duckshire</i> is a game intended for eight players
      (although the sample game presented here will be played by four). Each
      player has an infinite supply of tokens of their color, as well as four
      cones of their color. There is also a bank with an infinite supply of
      dollarbucks. The players sit in the eight chairs around the game board as
      shown below:
    </p>
    <p><img src="{{ asset_url_for('ye_olde_seventhe_duck_konundrum_the_cones_of_duckshire/dk7-board.png') }}" width=400></p>
    <p><a class="standard-link" href="{{ asset_url_for('ye_olde_seventhe_duck_konundrum_the_cones_of_duckshire/dk7-printable-board.pdf') }}">[Printable PDF version of board]</a></p>
    <p>
      The lettered hexagonal spaces on the board will be referred to as "hexes."
      Each of the six sides of a hex is an "edge," and each point at the end of
      each edge is a "vertex." Two different hexes are adjacent if they share an
      edge; two vertices are adjacent if they are connected by an edge.  A
      vertex is considered internal if it touches three different hexes (in
      other words, an internal vertex is one that is not on the edge of the
      board).
    </p>
    <p>
      When it is a player's turn, the player begins by placing three of their
      tokens in three different hexes. (A hex may never contain two tokens of
      the same color, but it can contain tokens of different colors.) The player
      may then carry out up to two <b>different</b> actions from the following
      list of four:
    </p>
    <ul>
      <li>
        Sell: Remove two of your tokens from non-adjacent hexes, and take one
        dollarbuck from the bank.
      </li>
      <li>
        Relocate: Move one of your tokens from one hex to an adjacent hex.
      </li>
      <li>
        Build: Spend two dollarbucks (returning them to the bank) and place one
        of your cones at an internal vertex.  You must have tokens of your color
        at all three hexes meeting at the vertex, and two cones may not be
        adjacent.
      </li>
      <li>
        Use your special ability (see below).
      </li>
    </ul>
    <p>
      In a game where eight players are not available, a duck may be used (duck
      sold separately) to keep track of turn order. The duck begins in front of
      Chair 1, indicating that the player in Chair 1 should go first. When that
      player's turn is over, the duck walks clockwise, skipping any empty
      chairs, until it arrives at an occupied chair; the player in that chair
      has the next turn, and so forth.
    </p>
    <p>
      The sample game below features the following four players and special
      abilities:
    </p>
    <ul>
      <li>
        The Arbiter (orange, begins in Seat 1): Choose another player. On that
        player's next turn, when they place their tokens, no two of the three
        hexes they choose can be adjacent.
      </li>
      <li>
        The Maverick (purple, begins in Seat 3): Switch the positions of any two
        tokens on the board. (This may not result in a hex containing multiple
        tokens of the same color.)
      </li>
      <li>
        The Ledgerman (green, begins in Seat 5): Choose another player. Take a
        dollarbuck from that player.
      </li>
      <li>
        The Corporal (red, begins in Seat 7): Remove one token from any single
        hex that contains multiple tokens.
      </li>
    </ul>
    <p>
      Just to keep you on your toes, the turn descriptions are given out of
      order. (Instructions use male pronouns by default in order to obfuscate
      rather than to exclude.) During each turn, note which three hexes the
      player placed tokens in (ignoring the actions afterward); that set of
      three letters will indicate the next turn.
    </p>
    <p>
      The first player to have all four of their cones on the board wins! At
      that point, the players, ordered by seat number, should each survey the
      board from left to right and admire the areas in front of their own cones
      (from their vantage point, of course).
    </p>
    <ul>
      <li><b>Start:</b> Place your tokens in the three hexes that come last alphabetically. Then sell the two tokens that are farthest apart on the board. There's nothing obvious to do with your second action, so use your special ability on the player across the table from you, for no particular reason.</li>
      <li><b>ABD:</b> That's one gullible duck. Place your tokens in the three unoccupied hexes marked with letters spelling an abbreviation for the most common type of doctoral degree. Then use your special ability on the tokens closest to your side of the table (though not necessarily closest to your seat) and build a cone. Winning!</li>
      <li><b>AFX:</b> You? Take a bribe? Absolutely! Take the dollarbuck off the table. Find a set of three mutually adjacent hexes, none of which contain your tokens, such that exactly four hexes that do contain your tokens are each adjacent to at least one of those three hexes. Place tokens in each of those three hexes. Of all the hexes containing your tokens, sell tokens from the two that are closest to the center of the board, and then build a cone. Victory! Life is good. Say, what's that thing from under the table that just rolled under your seat?</li>
      <li><b>AGU:</b> Place tokens in the three alphabetically-earliest hexes (not counting ones in which you already have tokens) that are not adjacent to the M hex. (No two of these three hexes are found in the same row in any of the three directions.) Two of these hexes contain tokens owned by the same player. Idly threaten to remove both of that player's tokens, then shrug, instead sell your tokens in those two hexes, and build a cone. As you prepare to take the seat to your left, the two next players in line each move one seat to their right, and the player to your right runs over and takes the seat directly across the table from you. So you take the next available seat, despite its incendiary status. You can take it. You were in the war.</li>
      <li><b>APS:</b> Okay, now that that money-grubber's attention is on someone else, maybe you can refill the coffers. Place tokens in the two hexes on your side of the table that are unoccupied, and another in the hex on the opposite side of the table that is adjacent to two hexes containing your tokens. This would be a pretty strong position if you had any money... Two of your tokens are in hexes on opposite ends of a straight line of four hexes that contain six tokens representing all four colors. Sell these two tokens, and then relocate one of your tokens to a hex marked with a letter exactly ten positions earlier in the alphabet than its current hex letter.</li>
      <li><b>BMU:</b> Did nobody else bring a flamethrower to this game? Amateurs. Place your tokens on the three hexes marked with the three letters on the upper-left key on your computer keyboard (at least until you get one of those fancy new MacBooks). Then sell tokens in two of those hexes, and use your special ability on the third hex (not on your token, of course). Glare menacingly at the closest player to your left until he returns to the seat in which he started the game... then move to the seat that player just vacated.</li>
      <li><b>BVX:</b> The area of the board near you is getting pretty crowded, and unlike these other chumps, you intend to think long-term. Place a token in the unoccupied hex closest to your seat (no, not the one with the W, the other one), and also in the two hexes adjacent to that hex which do not contain orange tokens. Since those three new tokens are mutually adjacent, use them to build a cone. If you had more money you could build another, so use your special ability on the only valid target.</li>
      <li><b>BWY:</b> That cheating bastard. He steals from the bank, runs away, and thinks he'll get to take another turn right after you? Priority one: Destroy him. Priority two: Win this game. Priority three: Get these burns treated. Toss a live grenade into the first non-ignited seat to your left (the number of which matches the number of cones the cheater has on the board). It's well known that when ducks reach seats with grenades on them, they turn around and begin walking in the opposite direction. Place your tokens on three hexes whose letters are frequently written after politician Peter King's name; then use your special ability on the two of those three hexes that are closest to you, leaving the cheater with only five tokens on the board. No, you're not supposed to be able to do that twice in one turn, but chalk it up as karma.</li>
      <li><b>CEH:</b> Place your tokens on three hexes that contain purple tokens and are marked with letters that spell a form of transportation. There are exactly two hexes on the board that contain exactly two tokens; use your special ability on these two hexes (targeting two tokens of different colors in the only way that's legal). Then relocate one of your tokens from one of those hexes to a hex marked with a vowel. That relocate action isn't particularly useful, is it? It seemed like a good idea when the author started writing the puzzle...</li>
      <li><b>CES:</b> Place tokens in the hexes marked with letters that spell the abbreviation for the Nth month, where of the two chairs currently on fire, N is the number of the higher-numbered chair. Actually, all of these tokens might attract attention, and the guy with the flamethrower was giving you a pretty hostile look. Sell two tokens on hexes marked with vowels so that you no longer have any set of three tokens in mutually adjacent hexes. You have one token that could be removed by the next player; to avoid that situation, use your special ability on that token and a token of a different color from the second half of the alphabet.</li>
      <li><b>CHS:</b> You? Take a bribe? That's insulting. You wouldn't touch that dollarbuck with a ten-foot pole. You'd like to spend some actions obliterating some more of that guy's tokens, but you need to begin your miraculous comeback. Place a token in each of the three hexes that only contain orange tokens. Four hexes with your tokens are marked with letters that appear at least once in your military rank; sell the two tokens corresponding to the letters that appear earliest in the rank. Then build a cone (using the other two).</li>
      <li><b>DEG:</b> It's so novel to actually start a turn with money. There are three hexes where you could place a token to complete a set of three mutually adjacent tokens of your color; do so in the one that is closest to your seat. Also place tokens on the two unoccupied hexes that are equidistant from your side of the table and the opposite side of the table. Not that it matters that much where you put those, since you sell them immediately and build a cone. Four-way tie! Anybody's game!</li>
      <li><b>DHP:</b> Tied for last place?! That won't do at all. Place tokens in three mutually adjacent hexes, each of which contains a token that is not yours, and none of which is adjacent to a cone. Then use your special ability on the only valid target. Finally, build a cone as close to your side of the table as possible. You're about to try the Maverick's move to get two turns in a row, but a player from across the table (not the one you just targeted) runs over and takes the seat to your left. So take the seat to his left, around the corner of the table.</li>
      <li><b>DJK:</b> You? Take a bribe? Not under any circumstances. You leave the dollarbuck on the table and survey the board. There are two hexes that don't contain your tokens but are each adjacent to three hexes that do. Place tokens in these two hexes and a hex that is adjacent to both of them. Sell two tokens in hexes marked with letters that are consecutive in the alphabet and are drawn without curved lines (when capitalized). Finally, build a cone at the intersection of three hexes that are all even letters of the alphabet (B, D, F, and so forth).</li>
      <li><b>EGN:</b> If the Moon Counter is currently set to New Moon, move Captain Blastoid and Scotchy to the Lazyr Zone, where they will win the annual Zyzzlvaria Dance Marathon Championship. Otherwise, move Ernie to the Core Reactor and skip your next three turns. In either scenario, throw Algernon out the window. That guy is such a dweeb.</li>
      <li><b>EHN:</b> Place your tokens in three of the five hexes marked by vowels (no, you don't consider Y a vowel). Which three? Well, that jerk across the table didn't give you much choice. Use your special ability on him, and then relocate one of your tokens so that all three are adjacent to the same vowel hex.</li>
      <li><b>EHU:</b> Wait, can he do that? You're not sure if the rulebook addressed it. Anyway, you're already broke, so it might not have been a good idea to antagonize the guy who can take your money. Place tokens in the hexes of letters that spell a knight's title (they form the vertices of an equilateral triangle). Don't sell anything (your dollarbuck would probably just get taken away again) but use your special ability on the player that just circumvented the rules.</li>
      <li><b>EOU:</b> Finally! Those guys took forever. Place two tokens in hexes that are each adjacent to both a hex containing a purple token and a hex containing a green token. Then place your third token in the only hex that contains a token and isn't adjacent to any other token-containing hex. Now use your special ability and then sell so that your remaining token is on a hex marked with a vowel. Yeesh, only one of your tokens is on the board? This game takes forever. Go sit in Chair 2 to see if that speeds things up. </li>
      <li><b>ETV:</b> Place tokens on the three corner hexes of the board (the hexes that are each only adjacent to three other hexes) that do not contain any tokens. Thanks to the player to your right, you can't afford to build a cone. Or can you? Very quietly and subtly while no one is looking, reach into the bank and steal an extra dollarbuck. Then sell the two tokens marked with the letters that are also Roman numerals; that's technically not allowed either, but it's a victimless crime. Now build a cone, and then nonchalantly move to the chair diagonally opposite your current seat (the number of which is half the number of cones on the board). It's okay. Nobody saw you. You got away with it.</li>
      <li><b>FLY:</b> Place one token to complete a set of three tokens you could legally use to build a cone (if you had enough money). Place your other two tokens on the two letters that immediately precede the letter you just placed a token on in the alphabet. Sell two tokens on letters that form the abbreviation of a US state bordering the Atlantic Ocean. You notice that on the other side of the table, the object on one chair has just rolled under the table, and the other chair is no longer aflame (though it's more of a bench now, really). Realizing an opportunity to take an earlier future turn, you use your special ability on the only target you haven't previously used it on, and then you make a beeline for the benchlike chair.</li>
      <li><b>GHI:</b> Place tokens on the three unoccupied hexes with letters that come earliest alphabetically. These three hexes form the vertices of a right triangle; sell the two tokens corresponding to 45-degree angles, and use your special ability on the third so that you have two tokens in adjacent hexes. You're so close to being able to build a cone. You wonder... As your turn ends, shift one seat to your left.</li>
      <li><b>IRS:</b> You can't believe that actually worked! Though now you're limited in what you can do this turn. Place a token in the only hex adjacent to tokens of all four colors, and also place tokens on the letters adjacent in the alphabet to that hex's letter. Then sell the two of those three tokens that are each alone on their hex. You consider using your special ability on the hex containing the third token, but that token's owner already seems annoyed at you, so you skip your second action.</li>
      <li><b>JLW:</b> Place tokens in three mutually adjacent empty hexes that CANNOT be arranged to spell a word meaning "listening device." Sell tokens in hexes marked with letters that form the symbol for a chemical element with an atomic number divisible by 17, and then use your special ability on a player who has a token in the same hex as one of your tokens. You're on the verge of being able to build a cone, so maybe it's time to move to... wait a second. Why are the two chairs to your left on fire?</li>
      <li><b>LWY:</b> The seat to your right contains a notebook with three letters written on it. Place your tokens on the hexes marked with those letters. The former owner of the notebook is looking at you expectantly, so use your special ability on him and then place a cone. Then, since it's Treat Yo Self Day, take all the money from the bank and invest in a poorly conceived entertainment company. That'll show those Eagletonians.</li>
      <li><b>NOP:</b> You're starting to feel really anxious about this whole bending the rules thing. People are looking at you funny, and that judge guy just singled you out... they must all know. First, you place your tokens on the only three hexes that don't currently contain any tokens. Then, instead of taking any actions, grab another three dollarbucks from the bank, and place one of them in front of each of the other players as a peace offering. Come on, guys! It's just a game!</li>
      <li><b>NPT:</b> Place tokens on the three corner hexes closest to your seat. As you complete the token pattern, the entire board emits a glorious ray of light and forms a portal you and the other players are able to walk through. You find yourself on the peaceful and beautiful planet Ultima, where you will spend the rest of your lives. Congratulations on escaping from UFO 54-40. </li>
      <li><b>NRY:</b> That's a good predictable duck. Place your tokens on three hexes marked with letters that spell an abbreviation for a measurement (or for an American time zone if you read the letters in reverse order). There is only one other letter on the board that falls between two of those three letters in the alphabet; use your special ability on another player's token on the hex with that letter. As much as you enjoy messing with that guy, you need some money, so sell your two tokens that are on hexes that also contain orange tokens. </li>
      <li><b>OPS:</b> Place one token on the hex marked with the first letter of the role of the player to your left, place one token on the hex marked with the second letter of the role of the player to your right, and place one token on the hex marked with the third letter of the role of the player across the table. Now sell the tokens corresponding to the two players who have not tried to harm you so far this game. Give the dollarbuck you made from the sale to the duck, because no one ever tips the duck! It's doing its job! Come on, people.</li>
      <li><b>PST:</b> Place your tokens on the three of the four hexes closest to the opposite side of the table, leaving out the one that is unoccupied. Of the hex letters on which you have tokens, sell the tokens on the alphabetically first consonant and the alphabetically first vowel (together these two letters form a word representing a musical note). You can afford to build a cone now, so do that, in the only place you can. One to go!</li>
      <li><b>WXY:</b> Begin by placing tokens in three mutually adjacent hexes that spell the name of a female animal. Now just build a cone and... wait, you need money to do that? You really should have read the rules before you started. Relocate one of those three tokens so that their locations spell the name of a currency (which rhymes with the female animal), and then sell the only tokens you can sell.</li>
    </ul>
  </div>
{% endblock %}
