{% extends "puzzles/solution_layout.html" %}
{% block title_block %}Heirplay: Solution{% endblock %}
{% block puzzle_name_block %}Heirplay: Solution{% endblock %}

{% block solution_content_block %}
<div>
<p>Each of the radio stations has three songs given a thumbs up, and one to three songs given a thumbs down. The set of thumbs-up songs have a theme indicating what the emperor really wants to hear; the purple text and references to the emperor's son/heir who is "departed" are intended to help the solver notice that the themes also fit hit songs by the late Prince.</p>

<p>The thumbs-down songs each hint (by definition or association) at an answer word of the given length. The letters in these answers can be deleted from the name of the Prince song (since they're unwanted) so that a single letter remains. These thirteen leftover letters, in order, spell NEVER FORGET ME, the surprisingly creepy answer to this puzzle.</p>

<p><hr><p>

"Night Owls" - Whitehorse<br>
"Theory of the Crows" - The National<br>
"Where Eagles Dare" - Iron Maiden<br>
Theme: Birds => WHEN DOVES CRY<br>
<p>
"Bashful" - Kwes. => SHY<br>
"Marry Me" - Jason Derulo => WED<br>
"Sing My Song" - Dennis Landry => COVER<br>
WHENDOVESCRY - SHYWEDCOVER = N<br>

<p><hr><p>

"Cheddar" - H.A.W.K.<br>
"Milk" - Kings of Leon<br>
"Yoghurt" - Ylvis<br>
Theme: Dairy products => CREAM<br>
<p>
"Study Hard" - Count Bass D => CRAM<br>
CREAM - CRAM = E<br>

<p><hr><p>

"The Firebird" - Priestess<br>
"Mustang Sally" - Wilson Pickett<br>
"Pit Viper" - 10,000 Maniacs<br>
Theme: Car models => LITTLE RED CORVETTE<br>
<p>
"Bank Job" - Barenaked Ladies => TELLER<br>
"Disturbing the Peace" - Pentagram => RIOT<br>
"Sense" - Pete Yorn => DETECT<br>
LITTLEREDCORVETTE - TELLERRIOTDETECT = V<br>

<p><hr><p>

"Flip Your Lid" - Phantom Tollbooth<br>
"I'm Gonna Lose It" - Matt Lonsdale<br>
"Sometimes I Just Freak Out" - Diana Krall<br>
Theme: Phrases synonymous with "go crazy" => LET'S GO CRAZY<br>
<p>
"The Polish Money Dance" - Pani Mloda => ZLOTYS<br>
"Rugged Rock" - Steve Gibbons Band => CRAG<br>
LETSGOCRAZY - ZLOTYSCRAG = E<br>

<p><hr><p>

"In Love With a Bowler" - O.J.R.<br>
"Me and Stetson" - Tom McRae<br>
"Queen of the Roller Derby" - Leon Russell<br>
Theme: Hats => RASPBERRY BERET<br>
<p>
"The Ballad of Sweeney Todd" - Ensemble => BARBER<br>
"Blue Spruce" - Bela Fleck and Edgar Meyer => TREE<br>
"Secret Agent Man" - Johnny Rivers => SPY<br>
RASPBERRYBERET - BARBERTREESPY = R<br>

<p><hr><p>

"Big Sis" - Sales<br>
"Bro Dependent" - Lagwagon<br>
"Meet Your Mom" - Garth Brooks<br>
Theme: Nicknames for relatives => POP LIFE<br>
<p>
"Crude" - Hogwash => OIL<br>
"Energy" - Alexandra Stan => PEP<br>
POPLIFE - PEPOIL = F<br>

<p><hr><p>

"Blood of Emeralds" - Gary Moore<br>
"Bombay Sapphires" - Stevie Nicks<br>
"Top Tim Rubies" - Deerhoof<br>
Theme: Birthstones => DIAMONDS AND PEARLS<br>
<p>
"Daddy Was a Navy Man" - Kevin Denney => ADMIRAL<br>
"Desert Ground" - The Western Den => SAND<br>
"Go Shopping" - Bran Van 3000 => SPEND<br>
DIAMONDSANDPEARLS - ADMIRALSANDSPEND = O<br>

<p><hr><p>

"Hail, Hail" - Pearl Jam<br>
"Riders on the Storm" - The Doors<br>
"White as Snow" - U2<br>
Theme: Precipitation => PURPLE RAIN<br>
<p>
"About the Moon" - Rilo Kiley => LUNAR<br>
"Smoke It" - The Dandy Warhols => PIPE<br>
PURPLERAIN - PIPELUNAR = R

<p><hr><p>

"Dark Globe" - Placebo<br>
"Hark the Herald Angels Sing" - Carrie Underwood<br>
"Whipping Post" - Allman Brothers Band<br>
Theme: Newspapers => SIGN O' THE TIMES<br>
<p>
"Envy" - Chevelle => SIN<br>
"Leave It Out" - The Specials => OMIT<br>
"On My Bed" - Shut Up Stella => SHEET<br>
SIGNOTHETIMES - SINOMITSHEET = G<br>

<p><hr><p>

"Acids and Bases" - Vectro Electro<br>
"Kitchen Mitts" - Disco Biscuit<br>
"Wrecking Ball" - Miley Cyrus<br>
Theme: Baseball equipment => BATDANCE<br>
<p>
"Feline" - Ella Eyre => CAT<br>
"The Rockers" - Action Bronson => BAND<br>
BATDANCE - CATBAND = E<br>

<p><hr><p>

"Dirty Blvd." - Lou Reed<br>
"Glenwood Ave." - Algernon Cadwallader<br>
"Zzyzx Rd." - Stone Sour<br>
Theme: Abbreviated roads => ALPHABET ST.<br>
<p>
"Dish of the Day" - Gare Du Nord => PLATE<br>
"One Big Party" - The Bellrays => BASH<br>
ALPHABETST - PLATEBASH = T<br>

<p><hr><p>

"Mosque of Love" - The Adams<br>
"Spirit Shrine" - Bad Religion<br>
"Take Me to Church" - Hozier<br>
Theme: Houses of worship => THIEVES IN THE TEMPLE<br>
<p>
"The Guests" - Leonard Cohen => INVITEES<br>
"Lend a Hand" - Jakob Dylan => HELP<br>
"Molars" - Cinema Strange => TEETH<br>
THIEVESINTHETEMPLE - INVITEESHELPTEETH = M<br>

<p><hr><p>

"Cool Runnings" - Bunny Wailer<br>
"The Great Outdoors" - Depeche Mode<br>
"Volunteers" - Jefferson Airplane<br>
Theme: John Candy movies => DELIRIOUS<br>
<p>
"Pump Up the Volume" - M/A/R/R/S => LOUD<br>
"In Your Eyes" - Peter Gabriel => IRIS<br>
DELIRIOUS - LOUDIRIS = E<br>

<p><hr><p></div>
{% endblock %}