{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Heirplay{% endblock %}
{% block puzzle_name_block %}Heirplay{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% block puzzle_flavortext_block %}
The emperor listens to radio stations that remind him of his departed son, but he'd like to say goodbye to the songs he doesn't like.
{% endblock %}

{% block puzzle_content_block %}
<div>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Night Owls" - Whitehorse</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Theory of the Crows" - The National</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Where Eagles Dare" - Iron Maiden</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Bashful" - Kwes.&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Marry Me" - Jason Derulo&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Sing My Song" - Dennis Landry&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Cheddar" - H.A.W.K.</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Milk" - Kings of Leon</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Yoghurt" - Ylvis</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Study Hard" - Count Bass D&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "The Firebird" - Priestess</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Mustang Sally" - Wilson Pickett</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Pit Viper" - 10,000 Maniacs</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Bank Job" - Barenaked Ladies&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Disturbing the Peace" - Pentagram&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Sense" - Pete Yorn&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Flip Your Lid" - Phantom Tollbooth</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "I'm Gonna Lose It" - Matt Lonsdale</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Sometimes I Just Freak Out" - Diana Krall</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "The Polish Money Dance" - Pani Mloda&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Rugged Rock" - Steve Gibbons Band&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "In Love With a Bowler" - O.J.R.</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Me and Stetson" - Tom McRae</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Queen of the Roller Derby" - Leon Russell</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "The Ballad of Sweeney Todd" - Ensemble&nbsp;&nbsp;&nbsp;_ _ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Blue Spruce" - Bela Fleck and Edgar Meyer&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Secret Agent Man" - Johnny Rivers&nbsp;&nbsp;&nbsp;_ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Big Sis" - Sales</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Bro Dependent" - Lagwagon</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Meet Your Mom" - Garth Brooks</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Crude" - Hogwash&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Energy" - Alexandra Stan&nbsp;&nbsp;&nbsp;_ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Blood of Emeralds" - Gary Moore</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Bombay Sapphires" - Stevie Nicks</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Top Tim Rubies" - Deerhoof</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Daddy Was a Navy Man" - Kevin Denney &nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Desert Ground" - The Western Den &nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Go Shopping" - Bran Van 3000 &nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Hail, Hail" - Pearl Jam</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Riders on the Storm" - The Doors</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "White as Snow" - U2</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "About the Moon" - Rilo Kiley&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Smoke It" - The Dandy Warhols&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Dark Globe" - Placebo</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Hark the Herald Angels Sing" - Carrie Underwood</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Whipping Post" - Allman Brothers Band</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Envy" - Chevelle&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Leave It Out" - The Specials&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "On My Bed" - Shut Up Stella&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Acids and Bases" - Vectro Electro</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Kitchen Mitts" - Disco Biscuit</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Wrecking Ball" - Miley Cyrus</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Feline" - Ella Eyre&nbsp;&nbsp;&nbsp;_ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "The Rockers" - Action Bronson&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Dirty Blvd." - Lou Reed</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Glenwood Ave." - Algernon Cadwallader</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Zzyzx Rd." - Stone Sour</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Dish of the Day" - Gare Du Nord&nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "One Big Party" - The Bellrays&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Mosque of Love" - The Adams</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Spirit Shrine" - Bad Religion</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Take Me to Church" - Hozier</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "The Guests" - Leonard Cohen &nbsp;&nbsp;&nbsp;_ _ _ _ _ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Lend a Hand" - Jakob Dylan &nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Molars" - Cinema Strange &nbsp;&nbsp;&nbsp;_ _ _ _ _</li>
</ul>
<hr>
<ul>
<font color="purple">
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Cool Runnings" - Bunny Wailer</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "The Great Outdoors" - Depeche Mode</li>
<li><img src="{{ asset_url_for('heirplay/up.png') }}" height=20>  "Volunteers" - Jefferson Airplane</li>
</font>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "Pump Up the Volume" - M/A/R/R/S&nbsp;&nbsp;&nbsp;_ _ _ _</li>
<li><img src="{{ asset_url_for('heirplay/down.png') }}" height=20>  "In Your Eyes" - Peter Gabriel&nbsp;&nbsp;&nbsp;_ _ _ _</li>
</ul>
<hr>
</div>
{% endblock %}