<html>
  <head>
    <title>Submit</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='submit.css') }}">
    <script src="https://use.fontawesome.com/7e30e2e185.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('.submission-section-header').click(function(e) {
          $(this).closest('.submission-section').toggleClass('submission-section-open');
          $(this).closest('.submission-section').toggleClass('submission-section-closed');
        });
      });
    </script>
  </head>
  <body>
    <div id="overall-layout-header">
      <div id="header-link"><a href="{{ puzzle_url_for(puzzle_id) }}">Return to Puzzle</a></div>
    </div>
    <div id="forms">
      <div id="title-header" class="small-horizontal-scroll">{{ puzzle.get('puzzleProperties',{}).get('DisplayNameProperty',{}).get('displayName',puzzle_id) }}</div>

      {% if puzzle_id not in ['rescue_the_chemist','rescue_the_linguist','rescue_the_economist','encounter','fortress'] %}
        <div class="submission-section">
          <div class="submission-section-header">Submissions</div>
          {% if visibility['status'] != 'SOLVED' %}
          <div class="submission-section-form">
            <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
              <span>Submit an answer:</span>
              <input type="text" name="submission">
              <input type="submit" value="Submit">
            </form>
          </div>
          {% endif %}
          {% if submissions %}
            <div class="submission-section-previous-subsection">
              <div class="submission-section-previous-header">Previous Submissions</div>
              <div class="submission-section-previous-listing">
                <ul>
                  {% for submission in submissions %}
                  <li>{{ submission.submission }} at {{ submission.timestamp | datetime }} - {{ submission.status }}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="submission-section{% if puzzle_id not in ['rescue_the_chemist','rescue_the_linguist','rescue_the_economist','encounter','fortress'] %} submission-section-closed{% else %} submission-section-open{% endif %}">
        <div class="submission-section-header use-pointer"><span class="submission-section-closed-content"><a class="fa fa-caret-right" aria-hidden="true"></a></span><span class="submission-section-open-content"><a class="fa fa-caret-down" aria-hidden="true"></a></span>Requests</div>
        <div class="submission-section-open-content">
          <div class="submission-section-explanation">
            <p>Requests are your way to communicate with us about a particular puzzle. Examples include scheduling a time to give us something or reporting an erratum.</p>
            <p>If you have found a message in a puzzle directing you to interact with us, please <b>include the message</b> from the puzzle in your request.</p>
          </div>
          <div class="submission-section-form">
            <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
              <span>Request an interaction or report a problem:</span>
              <input type="text" name="interactionrequest">
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
        {% if interactions %}
        <div class="submission-section-previous-subsection">
          <div class="submission-section-previous-header">Previous Requests</div>
          <div class="submission-section-previous-listing">
            <ul>
              {% for interaction in interactions %}
              <li>{{ interaction.request }} at {{ interaction.timestamp | datetime }} - {{ interaction.status }}
                {% if interaction.response %}<br>{{ interaction.response }}{% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="submission-section submission-section-closed">
        <div class="submission-section-header use-pointer"><span class="submission-section-closed-content"><a class="fa fa-caret-right" aria-hidden="true"></a></span><span class="submission-section-open-content"><a class="fa fa-caret-down" aria-hidden="true"></a></span>Hints</div>
        <div class="submission-section-open-content">
          <div class="submission-section-explanation">
            With hints, you may ask a yes/no question about the puzzle. <b>Hints cost 100 Gold.</b>
          </div>
          {% if visibility['status'] != 'SOLVED' %}
          <div class="submission-section-form">
            <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
              <span>Ask for a hint:</span>
              <input type="text" name="hintrequest">
              <input type="submit" value="Submit">
            </form>
          </div>
          {% endif %}
        </div>
        {% if hints %}
        <div class="submission-section-previous-subsection">
          <div class="submission-section-previous-header">Previous Hints</div>
          <div class="submission-section-previous-listing">
            <ul>
              {% for hint in hints %}
              <li>{{ hint.request }} at {{ hint.timestamp | datetime }} - {{ hint.status }}
                {% if hint.response %}<br>{{ hint.response }}{% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      
    </div>
  </body>
</html>