<h2>{{ visibility['puzzleDisplayName'] }}</h2>
{% if visibility['status'] != 'SOLVED' %}
<form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
  <span>Submit an answer:</span>
  <input type="text" name="submission">
  <input type="submit" value="Submit">
</form>
<form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
  <span>Ask for a hint:</span>
  <input type="text" name="hintrequest">
  <input type="submit" value="Submit">
</form>
{% endif %}
<form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
  <span>Request an interaction or report a problem:</span>
  <input type="text" name="interactionrequest">
  <input type="submit" value="Submit">
</form>
<ul>
  {% for submission in submissions %}
  <li>{{ submission.submission }} at {{ submission.timestamp | datetime }} - {{ submission.status }}
  {% endfor %}
</ul>
{% if hints %}
<h3>Hints</h3>
<ul>
  {% for hint in hints %}
  <li>{{ hint.request }} at {{ hint.timestamp | datetime }} - {{ hint.status }}
    {% if hint.response %}<br>{{ hint.response }}{% endif %}
  {% endfor %}
</ul>
{% endif %}
{% if interactions %}
<h3>Requests</h3>
<ul>
  {% for interaction in interactions %}
  <li>{{ interaction.request }} at {{ interaction.timestamp | datetime }} - {{ interaction.status }}
    {% if interaction.response %}<br>{{ interaction.response }}{% endif %}
  {% endfor %}
</ul>
{% endif %}
