<html>
  <head>
    <title>Submit</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='submit.css') }}">
    <script src="https://use.fontawesome.com/7e30e2e185.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('.submission-section-header').click(function(e) {
          $(this).closest('.submission-section').toggleClass('submission-section-open');
          $(this).closest('.submission-section').toggleClass('submission-section-closed');
        });
        $('input.form-buttom').attr('disabled',true);
        $('input.entry-field').keyup(function(e) {
          var $relatedButton = $(this).siblings('input.form-button');
          if ($(this).val().length > 0) {
            $relatedButton.removeAttr('disabled');
          } else {
            $relatedButton.attr('disabled',true)
          }
        });
      });
    </script>
  </head>
  <body>
    <div id="overall-layout-header">
      <div id="header-link"><a href="{{ puzzle_url_for(puzzle_id) }}">Return to Puzzle</a></div>
    </div>
    <div id="forms">
      <div id="title-header" class="small-horizontal-scroll">{{ pretty_title(puzzle.get('puzzleProperties',{}).get('DisplayNameProperty',{}).get('displayName',puzzle_id))|safe }}</div>

      {% if puzzle_id not in ['rescue_the_chemist','rescue_the_linguist','rescue_the_economist','battle','fortress'] %}
        <div class="submission-section">
          <div class="submission-section-header">Submissions</div>
          {% if visibility['status'] != 'SOLVED' %}
          <div class="submission-section-form">
            <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
              <span>Submit an answer:</span>
              <input type="text" name="submission" class="entry-field">
              <input type="submit" value="Submit" class="form-button" disabled/>
            </form>
          </div>
          {% endif %}
          {% if submissions %}
            <div class="submission-section-previous-subsection">
              <div class="submission-section-previous-header">Previous Submissions</div>
              <div class="submission-section-previous-listing">
                <ul>
                  {% for submission in submissions %}
                  <li>{{ submission.submission }} at {{ submission.timestamp | datetime }} - {{ submission.status }}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="submission-section">
        <div class="submission-section-header">Requests</div>
        <div class="submission-section-explanation">
          <p>
            This is the option you should use to ask HQ to do something or schedule something. If you want to bring us something, have us judge something, or want to schedule an activity, this is how to do it. [<b>IMPORTANT</b>: If you are contacting HQ to carry out an instruction that was revealed by a puzzle, you should submit <b>that exact instruction</b> as a request.] You can also report errata here. HQ will contact you to discuss the request and will then schedule or close the request as appropriate.
          </p>
        </div>
        <div class="submission-section-form">
          <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
            <span>Request an interaction or report a problem:</span>
            <input type="text" name="interactionrequest" size="100" class="entry-field"/>
            <input type="submit" value="Submit" class="form-button" disabled/>
          </form>
        </div>
        {% if interactions %}
        <div class="submission-section-previous-subsection">
          <div class="submission-section-previous-header">Previous Requests</div>
          <div class="submission-section-previous-listing">
            <ul>
              {% for interaction in interactions %}
              <li>{{ interaction.request }} at {{ interaction.timestamp | datetime }} - {{ interaction.status }}
                {% if interaction.response %}<br>{{ interaction.response }}{% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="submission-section submission-section-closed">
        <div class="submission-section-header use-pointer"><span class="submission-section-closed-content"><a class="fa fa-caret-right" aria-hidden="true"></a></span><span class="submission-section-open-content"><a class="fa fa-caret-down" aria-hidden="true"></a></span>Hints</div>
        <div class="submission-section-open-content">
          <div class="submission-section-explanation">
            This is the option you should use to spend 100 gold to ask a yes/no question about a puzzle. Hints are nonrefundable, so make sure your team is in agreement before asking a hint question! <b>Hints cost 100 Gold.</b> You currently have {{ team_properties.get('teamProperties',{}).get('GoldProperty',{}).get('gold',0) }} Gold.
          </div>
          {% if visibility['status'] != 'SOLVED' and team_properties.get('teamProperties',{}).get('GoldProperty',{}).get('gold',0) >= 100 %}
          <div class="submission-section-form">
            <form action="{{ url_for('puzzle', puzzle_id=puzzle_id) }}" method="post">
              <span>Ask for a hint:</span>
              <input type="text" name="hintrequest" class="entry-field" size="100">
              <input type="submit" value="Submit and PAY 100 GOLD" class="form-button" disabled/>
            </form>
          </div>
          {% endif %}
        </div>
        {% if hints %}
        <div class="submission-section-previous-subsection">
          <div class="submission-section-previous-header">Previous Hints</div>
          <div class="submission-section-previous-listing">
            <ul>
              {% for hint in hints %}
              <li>{{ hint.request }} at {{ hint.timestamp | datetime }} - {{ hint.status }}
                {% if hint.response %}<br>{{ hint.response }}{% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      
    </div>
  </body>
</html>