<!doctype html>
<html>
  <head>
    <title>Monsters et Manus - Error</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reduced.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hunt.css') }}">
  </head>
  <body>
    <div style="margin-top: 3em">
      <div class="small-horizontal-scroll">
        Monsters et Manus
      </div>
    </div>
    <p>
      You died while exploring beyond safe territory.
      <a class="standard-link" href="{{ url_for('index') }}">Return to your adventure</a>.
    </p>
    <p style="font-size: 0.75em">Error detail: {{ error }}</p>
  </body>
</html>
