{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Full Index{% endblock %}
{% block puzzle_name_block %}Full Index{% endblock %}

{% block puzzle_head_block %}
{% endblock %}

{% macro round_listing(round_id, round_name) %}
<li><a href="{{ url_for('full_round', round_id=round_id) }}">{{ round_name }}</a> (<a href="{{ url_for('full_solution', puzzle_id=round_id) }}">solution</a>)</li>
{% endmacro %}

{% macro puzzle_listing(puzzle_id, puzzle_name) %}
<li><a href="{{ url_for('full_puzzle', puzzle_id=puzzle_id) }}">{{ puzzle_name }}</a> (<a href="{{ url_for('full_solution', puzzle_id=puzzle_id) }}">solution</a>)</li>
{% endmacro %}

{% block puzzle_content_block %}
<div>
  <h2>Rounds</h2>
  <ul>
    {% for round_id in ['fighter','wizard','cleric','linguist','economist','chemist',
                        'dynast','dungeon','thespians',
                        'bridge','criminal','minstrels',
                        'cube','warlord'] %}
      {{ round_listing(round_id, round_id) }}
    {% endfor %}
  </ul>
  <h2>Puzzles</h2>
  <ul>
    {% for puzzle_id in puzzle_ids %}
      {{ puzzle_listing(puzzle_id, puzzle_id) }}
    {% endfor %}
  </ul>
</div>
{% endblock %}