{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Player Handbook{% endblock %}
{% block puzzle_name_block %}Player Handbook{% endblock %}
{% block header_content %}{% endblock %}

{% block styling_block %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/wooden-background.png')|safe }}");
    }
    #puzzle-container {
      text-align: center;
    }
    #puzzle-content #headings {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    #puzzle-content .handbook-section {
      text-align: left;
      margin-top: 2em;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puzzle.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}


{% block puzzle_content_block %}
<div id="headings">
  <div style='font-family:"Deutsche Uncialis",serif; font-size: 3em;'>Monsters et Manus</div>
  <div>
    <p><i>The role-playing game of elves and engineers.</i></p>
    <p>Copyright, Setec Astronomy, 2017. Cambridge, Massachussetts, Be Noisy Productions.</p>
  </div>
</div>
<div class="handbook-section" id="character-rules">
  <div class="small-horizontal-scroll">Contacting Headquarters</div>
  <p>
    The &ldquo;Check Answer&rdquo; page for each puzzle has three ways to send information or requests to HQ.
  </p>
  <ul>
    <li><b>Submissions</b> are what you will use most often. This is where you should submit answers for puzzles. HQ will call you to confirm or reject your answer.</li>
    <li><b>Requests</b> are for asking HQ to do something or schedule something. If you want to bring us something, have us judge something, or want to schedule an activity, this is how to do it. You can also report errata here. HQ will contact you to discuss the request and schedule or close the request as appropriate.</li>
    <li><b>Hints</b> are for asking HQ a yes/no question about the puzzle. Hints costs 100 gold (see below for how to earn gold). Be sure you want to pay the gold before submitting a hint question!</li>
  </ul>
  <p>If you need to contact HQ about an issue not connected to a puzzle, call 617-324-7732. Please also refer to the <a class="standard-link" href="{{ url_for('safety') }}">health and safety information</a>.
</div>
<div class="handbook-section" id="character-rules">
  <div class="small-horizontal-scroll">Character Puzzles</div>
  <p>
    In order to fight the game&rsquo;s most dangerous enemies, your characters will have to be at a high level. You can achieve this by solving puzzles. Solving a character&rsquo;s puzzles increases the level of that character. For example, whenever you solve a Cleric puzzle, your Cleric will gain a level.
  </p>
  <p>
    Each puzzle requires a minimum level to view, so solving character puzzles may unlock more character puzzles. When all of a character&rsquo;s puzzle answers are combined, they form a metapuzzle that can be solved to reveal that character’s special ability. Once you have revealed all of your party&rsquo;s special abilities, you can confront the sorcerer.
  </p>
</div>
<div class="handbook-section" id="quest-rules">
  <div class="small-horizontal-scroll">Quest Puzzles</div>
  <p>
    Once your party has a high enough total level, you will unlock quests. Each quest consists of puzzles and a metapuzzle. Quest puzzles also have a required character level for viewing.
  </p>
  <p>
    Solving a quest puzzle will give you loot in the form of gold or items. Gold can be exchanged for puzzle hints.
  </p>
  <p>
    When all of a quest&rsquo;s puzzle answers are combined, they form a metapuzzle that can be solved that answers the question posed in the quest&rsquo;s text. Solving a quest metapuzzle will level up all of your characters.
  </p>
</div>
<div class="handbook-section" id="event-rules">
  <div class="small-horizontal-scroll">Events</div>
  <p>
    There will be four training events while you solve. Each event levels up all of your characters. The first two events will each earn your characters one level each, while the last two will each earn your characters two levels each.
  </p>
  <p>
    <ul>
      <li><b>Friday, 7pm: Super-Speed Dating</b> - Lobdell</li>
      <li><b>Saturday, 8:30am: Running Techies</b> - Rockwell</li>
      <li><b>Saturday, 1:30pm: Hungry Hungry Humans</b> - Walker</li>
      <li><b>Saturday, 6:30pm: Quizardry</b> - Lobdell</li>
    </ul>
</div>
<div class="handbook-section" id="item-rules">
  <div class="small-horizontal-scroll">Items</div>
  <p>
    Items earned from quest puzzles will show up in your inventory. The items you acquire .&nbsp;.&nbsp;. [<i>manuscript cuts off</i>]
  </p>
</div>
{% endblock %}
