{% extends "puzzles/puzzle_layout.html" %}
{% block title_block %}Player Handbook{% endblock %}
{% block puzzle_name_block %}Player Handbook{% endblock %}
{% block header_content %}{% endblock %}

{% block styling_block %}
    <style>
    body {
      background-image: url("{{ asset_url_for('general/wooden-background.png')|safe }}");
    }
    #puzzle-container {
      text-align: center;
    }
    #puzzle-content #headings {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    #puzzle-content .handbook-section {
      text-align: left;
      margin-top: 2em;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puzzle.css') }}">
    {% block puzzle_head_block %}{% endblock %}
{% endblock %}


{% block puzzle_content_block %}
<div id="headings">
  <div style='font-family:"Deutsche Uncialis",serif; font-size: 3em;'>Monsters et Manus</div>
  <div>
    <p><i>The role-playing game of elves and engineers.</i></p>
    <p>Copyright, Setec Astronomy, 2017. Cambridge, Massachussetts, Be Noisy Productions.</p>
  </div>
</div>
<div class="handbook-section" id="character-rules">
  <div class="small-horizontal-scroll">Contacting Headquarters</div>
  <p>
    The &ldquo;Check Answer&rdquo; page for each puzzle has three ways to send information or requests to HQ.
  </p>
  <ul>
    <li><b>&ldquo;Submissions&rdquo;</b> is the option you will use most often. This is how you should submit answers for puzzles. HQ will call you to confirm or reject your answer.</li>
    <li><b>&ldquo;Requests&rdquo;</b> is the option you should use to ask HQ to do something or schedule something. If you want to bring us something, have us judge something, or want to schedule an activity, this is how to do it. [<b>IMPORTANT</b>: If you are contacting HQ to carry out an instruction that was revealed by a puzzle, you should submit <b>that exact instruction</b> as a request.] You can also report errata here. HQ will contact you to discuss the request and will then schedule or close the request as appropriate.</li>
    <li><b>&ldquo;Hints&rdquo;</b> is the option you should use to spend 100 gold to ask a yes/no question about a puzzle. There is more information about hints and gold below, but remember that hints are nonrefundable, so make sure your team is in agreement before asking a hint question!</li>
  </ul>
  <p>If you need to contact HQ about an issue not connected to a puzzle, call 617-324-7732. Please also refer to the <a class="standard-link" href="{{ url_for('safety') }}">health and safety information</a>.
</div>
<div class="handbook-section" id="character-rules">
  <div class="small-horizontal-scroll">Character Puzzles</div>
  <p>
    In order to fight the game&rsquo;s most dangerous enemies, your characters will have to be at a high level. You can achieve this by solving puzzles. Solving a character&rsquo;s puzzles increases the level of that character. For example, whenever you solve a Cleric puzzle, your Cleric will gain a level.
  </p>
  <p>
    Each puzzle requires a minimum level to view, so solving character puzzles may unlock more character puzzles. When all of a character&rsquo;s puzzle answers are combined, they form a metapuzzle that can be solved to reveal that character&rsquo;s special ability. (You can submit the answer to a character metapuzzle on the character&rsquo;s main page.) Once you have revealed all of your party&rsquo;s special abilities, you can confront the sorcerer, Mystereo Cantos.
  </p>
</div>
<div class="handbook-section" id="quest-rules">
  <div class="small-horizontal-scroll">Quest Puzzles</div>
  <p>
    Once your party level (the total level of your characters) is high enough, you will unlock quests. Each quest consists of a set of puzzles and a metapuzzle. Like character puzzles, each quest puzzle has a required character level for viewing.
  </p>
  <p>
    Unlike character puzzles, solving quest puzzles does NOT level up your characters, and thus will not unlock any new puzzles. However, the answers to a quest&rsquo;s puzzles can be combined to help you solve the quest&rsquo;s metapuzzle (by answering a question posed on the quest page), and solving a quest metapuzzle will level up ALL characters. (You can submit the answer to a quest metapuzzle on the quest&rsquo;s main page.)
  </p>
  <p>
    In addition, each time you solve a quest puzzle, you will either receive a unique item or some gold. Gold can be spent to ask hint questions as described below, and items, which can be viewed in your inventory, can be used for [this portion of the player handbook is smudged and illegible].
  </p>
</div>
<div class="handbook-section" id="event-rules">
  <div class="small-horizontal-scroll">Events</div>
  <p>
    During the heroes&rsquo; adventures, you will have the opportunity to attend four training events oriented around particular skills. Participating in any event will level up all characters. Completing the first and second events will each increase all character levels by one, while the third and fourth events will increase all character levels by two. Additional gold will be available at some events as well.
  </p>
  <p>
    <ul>
      <li><b>Friday, 7pm: Test your CHARISMA</b> - Lobdell. Send two CHARISMATIC team members to Lobdell at 7:30 P.M. on FRIDAY, January 13 to level your party.</li>
      <li><b>Saturday, 8:30am: Test your CONSTITUTION</b> - Rockwell. Send two WELL-CONSTITUTED team members to Rockwell Cage at 8:30 A.M. on SATURDAY, January 14 to level your party.</li>
      <li><b>Saturday, 1:30pm: Test your STRENGTH and DEXTERITY</b> - Walker. Send one STRONG and one DEXTROUS team member to Walker Memorial, Morss Hall at 1:30 P.M. on SATURDAY, January 14 to level your party. <i>Please note that this event involves physical activity. While the activity is not dangerous, each participant will be asked to sign a waiver acknowledging the risk of injury before participating.</i></li>
      <li><b>Saturday, 6:30pm: Test your WISDOM and INTELLIGENCE</b> - Lobdell. Send two WISE and INTELLIGENT team members to Lobdell at 6:30 P.M. on SATURDAY, January 14 to level your party.</li>
    </ul>
</div>
<div class="handbook-section" id="item-rules">
  <div class="small-horizontal-scroll">Hints</div>
  <p>
    You can spend 100 gold to ask a hint question about any quest or character puzzle (but not a metapuzzle). This question must be a yes/no question with an objective answer. If the question is valid, you will receive an answer and we will keep your 100 gold (which is nonrefundable!). If the question is invalid, you will be told this and your gold will be returned to you.
  </p>
  <p>
    Examples of acceptable hint questions:
    <ul>
      <li>&ldquo;Do the clues in &lsquo;Hypothetical Puzzle&rsquo; need to be re-ordered based on their answers?&rdquo;</li>
      <li>&ldquo;Should I be extracting a phrase from &lsquo;Hypothetical Puzzle&rsquo; that contains the word PARTNER?&rdquo;</li>
      <li>&ldquo;Does solving &lsquo;Hypothetical Puzzle&rsquo; involve the list of properties on a Monopoly board?&rdquo;</li>
      <li>&ldquo;Does the answer to &lsquo;Hypothetical Puzzle&rsquo; have eight letters?&rsquo;</li>
    </ul>

    Examples of unacceptable hint questions:
    <ul>
      <li>&ldquo;What is the answer to the third clue in &lsquo;Hypothetical Puzzle&rsquo;?&rdquo; [not a yes/no question]</li>
      <li>&ldquo;I&rsquo;ve been focusing on the vowel sounds in &lsquo;Hypothetical Puzzle.&rsquo; Am I on the right track?&rdquo; [subjective]</li>
      <li>&ldquo;Is one of the answers in this round GORDON GANO?&rdquo; [not about a specific puzzle]</li>
    </ul>
  </p>
</div>
<div class="handbook-section" id="quest-rules">
  <div class="small-horizontal-scroll">Unlocking New Puzzles</div>
  <p>
    To summarize the information above, if you want to unlock new puzzles, you need to level up characters, and there are three ways to do this:
  </p>
  <ol>
    <li>Solve a character puzzle (levels up one character)</li>
    <li>Solve a quest metapuzzle (levels up all characters)</li>
    <li>Complete an event (levels up all characters)</li>
  </ol>
  <p>
    Events are scheduled fairly regularly, so if you&rsquo;re stuck, keep trying the puzzles you have available, and after the next event occurs, you should get a bit of a boost.
  </p>
</div>
{% endblock %}
