{% extends "overall_layout.html" %}

{% block styling_block %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css') }}">
{% endblock %}

{% block overall_layout_body %}
<div id="main-page-content">
  <div id="left-sidebar">
    <div id="characters">
      <div id="character-header"><span class="enscrolled"><span>Characters</span></span></div>
      <div id="character-total">
        <div>
          Total party level: <span class="level-number">{{ team_properties.get('teamProperties',{}).get('CharacterLevelsProperty',{}).get('levels',{}).values()|sum }}</span>
        </div>
      </div>
    
      {% for character_class in ['fighter','wizard','cleric','linguist','chemist','economist'] if character_class in visible_puzzle_ids %}
          <a href="{{ url_for('round', round_id = character_class) }}">
            <div id="character-{{ character_class }}" class="individual-character">
              <img src="{{ url_for('static', filename='temp/art/Characters/%s-head.png' % character_class) }}" style="width:60px;height:60px;">
              <div class="individual-character-status-container">
                <span class="individual-character-class">{{ character_class.capitalize() }}</span>
                <img src="{{ url_for('static', filename='temp/art/Characters/%s-logo-color.png' % character_class) }}" style="width:30px;height:30px;vertical-align:middle;"/>
                <span class="individual-character-level">{{ team_properties.teamProperties.CharacterLevelsProperty.levels[character_class.upper()]|default(0) }}</span>
              </div>
            </div>
          </a>
      {% endfor %}
    
    </div>
  </div>

  <div id="world-map-container">
    <div id="world-map-header"><span class="enscrolled"><span>World Map</span></span></div>
    <div id="world-map" style="content: url({{ url_for('static', filename='temp/art/Maps/map.png') }})">
        {% for quest in [('dynast',50,50),('dungeon',50,290),('thespians',225,410),('bridge',225,170),('criminal',225,50),('minstrels',400,50),('cube',400,170),('warlord',400,290)] if quest[0] in visible_puzzle_ids %}
          <a href="{{ url_for('round', round_id = quest[0]) }}">
            <div id="quest-map-{{ quest[0] }}" class="individual-quest" style="width:100px; height: 100px; position:absolute; top:{{ quest[1] }}px; left:{{ quest[2] }}px; z-index:200; background-image: url({{ asset_url_for('general/stock-%s-icon.jpg' % quest[0]) }}); background-size:100%;">
            </div>
          </a>
        {% endfor %}
        {% for recruitment in [('linguist',50,170),('chemist',50,410),('economist',225,290)] if False%}
          <a href="{{ url_for('round', round_id = recruitment[0]) }}">
            <div id="recruitment-map-{{ recruitment[0] }}" class="individual-quest" style="width:60px; height: 60px; position:absolute; top:{{ recruitment[1] }}px; left:{{ recruitment[2] }}px; z-index:200; background-image: url({{ asset_url_for('general/stock-%s.jpg' % recruitment[0]) }}); background-size:100%;">
            </div>
          </a>
        {% endfor %}
        {% if False %}
          <a href="{{ url_for('puzzle', puzzle_id = 'merchants') }}">
            <div class="individual-quest" style="width:100px; height:100px; position:absolute; top:400px; left:410px; z-index:200; background-image: url({{ asset_url_for('general/stock-merchant-icon.jpg') }}); background-size:100%;">
            </div>
          </a>
        {% endif %}
    </div>
  </div>

  <div id="right-sidebar">
    <div id="events">
      <div class="events-header"><span class="enscrolled"><span>Events</span></span></div>
      <div class="event-entry">
        <div class="event-name">Event the First</div>
        <div class="event-time">Friday 6pm</div>
      </div>
      <div class="event-entry">
        <div class="event-name">Event the Second</div>
        <div class="event-time">Friday 10pm</div>
      </div>
      <div class="event-entry">
        <div class="event-name">Event the Third</div>
        <div class="event-time">Saturday 10am</div>
      </div>
      <div class="event-entry">
        <div class="event-name">Event the Fourth</div>
        <div class="event-time">Saturday 2pm</div>
      </div>
    </div>
  </div>
  
  <br class="clear-both"/>
</div>
{% endblock %}
