{% macro filled_inventory_grid_space(item_id, item_name, asset_url_for) %}
    <div class="inventory-grid-cell-content">
      <div class="inventory-grid-caption" id="inventory-grid-caption-{{ item_id }}">{{ item_name }}</div>
      <div class="inventory-grid-thumb-image" style="width: 60px; height: 60px;"><img src="{{ asset_url_for('items/' + item_id + '.png') }}" style="width: 60px; height: 60px;"/></div>
    </div>
{% endmacro %}

{% macro empty_inventory_grid_space() %}
    <div class="inventory-grid-cell-content">
      <div class="inventory-grid-thumb-image" style="width: 60px; height: 60px;"></div>
    </div>
{% endmacro %}

{% macro inventory_grid(inv_complete, team_inventory_items, asset_url_for) %}
  {% if inv_complete %}
    {% set item_names = [
          ('F00','Wicked Cursed Broadsword -7','character-items/WickedCursedBroadsword'),
          ('F01','Wand of Vanishing +9','character-items/WandOfVanishing'),
          ('F02','Holy Water of Blessing +7','character-items/HolyWaterOfBlessing'),
          ('F03','Dictionary of Translating +3','character-items/DictionaryOfTranslating'),
          ('F04','Cursed Bunsen Burner -1','character-items/CursedBunsenBurner'),
          ('F05','Calculator of Extrapolating +16','character-items/CalculatorOfExtrapolating')
          ] %}
    <table>
      {% for row_number in range(2) %}
        <tr>
        {% for column_number in range(3) %}
          <td>
            {{ filled_inventory_grid_space(item_names[row_number * 3 + column_number][2], item_names[row_number * 3 + column_number][1], asset_url_for) }}
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      <tr>
        <td colspan="3" id="printable-link-cell"><a href="{{ url_for('inventory') }}">Printable Inventory</a></td>
      </tr>
    </table>
  {% else %}
    {% set item_names = [
          ('00','Acceptance Letter to MIT','AcceptanceLetterToMIT'),
          ('01','Anger Management Book','AngerManagementBook'),
          ('02','Architect\'s Compass','ArchitectsCompass'),
          ('03','Bargaining Chips','BargainingChips'),
          ('04','Broken Twig','BrokenTwig'),
          ('05','Burnt Sulfur Lugnut','BurntSulfurLugnut'),
          ('06','Cardiac Devices','CardiacDevices'),
          ('07','Denial of Service Attack Plan','DenialOfServiceAttackPlan'),
          ('08','Depression-Era Clothing','DepressionEraClothing'),
          ('09','Domestic Avocado','DomesticAvocado'),
          ('10','Faded Sofa','FadedSofa'),
          ('11','Fancy Pocketwatch','FancyPocketwatch'),
          ('12','Harlequin Doll','HarlequinDoll'),
          ('13','Iron Shovels','IronShovels'),
          ('14','Leviticus Single','LeviticusSingle'),
          ('15','Lil\' String Bikini','LilStringBikini'),
          ('16','Little Statue of Liberty','LittleStatueOfLiberty'),
          ('17','Lottery Numbers','LotteryNumbers'),
          ('18','Madman\'s Jackal Mask','MadmansJackalMask'),
          ('19','Mint-Flavored Salami','MintFlavoredSalami'),
          ('20','Mississippi Collectible','MississippiCollectable'),
          ('21','Nebular Gloves','NebularGloves'),
          ('22','Neural Blade','NeuralBlade'),
          ('23','Officer\'s Truncheons','OfficersTruncheons'),
          ('24','Old Deuteronomy Sheet Music','OldDeuteronomySheetMusic'),
          ('25','Polyatomic Robot','PolyatomicRobot'),
          ('26','Red Pinafore','RedPinafore'),
          ('27','Sega Genesis','SegaGenesis'),
          ('28','Severe Beret','SevereBeret'),
          ('29','Shield of Judgement','ShieldOfJudgement'),
          ('30','Sienna Notebook','SiennaNotebook'),
          ('31','Soldierly Parasol','SoldierlyParasol'),
          ('32','Sparkling Necklace','SparklingNecklace'),
          ('33','Super-Accurate Tri-Square','SuperAccurateTriSquare'),
          ('34','Tacky Jeweled Helm','TackyJeweledHelm'),
          ('35','Tamil Liqueur','TamilLiqueur'),
          ('36','Ultima III: Exodus','UltimaIIIExodus'),
          ('37','Ultrasonic Boots','UltrasonicBoots'),
          ('38','Unsafe Mtorolite','UnsafeMtorolite'),
          ('39','Worn Loop of Gold','WornLoopOfGold')
          ] %}
    <table>
      {% for row_number in range(5) %}
        <tr>
        {% for column_number in range(8) %}
          <td>
            {% if ('ITEM' + item_names[row_number * 8 + column_number][0]) in team_inventory_items %}
              {{ filled_inventory_grid_space(item_names[row_number * 8 + column_number][2], item_names[row_number * 8 + column_number][1], asset_url_for) }}
            {% else %}
              {{ empty_inventory_grid_space() }}
            {% endif %}
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      <tr>
        <td colspan="8" id="printable-link-cell"><a href="{{ url_for('inventory') }}">Printable Inventory</a></td>
      </tr>
    </table>
  {% endif %}
{% endmacro %}

{% macro inventory_individual_listing(item_id, item_name, asset_url_for) %}
  <div style="font-size: 24px; margin-right: 20px; margin-bottom: 30px; text-align:center; display: inline-block; width: 200px;">
    <img src="{{ asset_url_for('items/' + item_id + '.png') }}" style="width: 200px"/><br/>
    {{ item_name }}
  </div>
{% endmacro %}

{% macro inventory_listing(inv_complete, team_inventory_items, asset_url_for) %}
  {% if inv_complete %}
    {% set item_names = [
          ('F00','Wicked Cursed Broadsword -7','character-items/WickedCursedBroadsword'),
          ('F01','Wand of Vanishing +9','character-items/WandOfVanishing'),
          ('F02','Holy Water of Blessing +7','character-items/HolyWaterOfBlessing'),
          ('F03','Dictionary of Translating +3','character-items/DictionaryOfTranslating'),
          ('F04','Cursed Bunsen Burner -1','character-items/CursedBunsenBurner'),
          ('F05','Calculator of Extrapolating +16','character-items/CalculatorOfExtrapolating')
          ] %}

    {% for item_number in range(6) %}
      {{ inventory_individual_listing(item_names[item_number][2], item_names[item_number][1], asset_url_for) }}
    {% endfor %}
  {% elif team_inventory.get('inventoryItems',[])|length <= 0 %}
    There is nothing in your inventory.
  {% else %}
    {% set item_names = [
          ('00','Acceptance Letter to MIT','AcceptanceLetterToMIT'),
          ('01','Anger Management Book','AngerManagementBook'),
          ('02','Architect\'s Compass','ArchitectsCompass'),
          ('03','Bargaining Chips','BargainingChips'),
          ('04','Broken Twig','BrokenTwig'),
          ('05','Burnt Sulfur Lugnut','BurntSulfurLugnut'),
          ('06','Cardiac Devices','CardiacDevices'),
          ('07','Denial of Service Attack Plan','DenialOfServiceAttackPlan'),
          ('08','Depression-Era Clothing','DepressionEraClothing'),
          ('09','Domestic Avocado','DomesticAvocado'),
          ('10','Faded Sofa','FadedSofa'),
          ('11','Fancy Pocketwatch','FancyPocketwatch'),
          ('12','Harlequin Doll','HarlequinDoll'),
          ('13','Iron Shovels','IronShovels'),
          ('14','Leviticus Single','LeviticusSingle'),
          ('15','Lil\' String Bikini','LilStringBikini'),
          ('16','Little Statue of Liberty','LittleStatueOfLiberty'),
          ('17','Lottery Numbers','LotteryNumbers'),
          ('18','Madman\'s Jackal Mask','MadmansJackalMask'),
          ('19','Mint-Flavored Salami','MintFlavoredSalami'),
          ('20','Mississippi Collectible','MississippiCollectable'),
          ('21','Nebular Gloves','NebularGloves'),
          ('22','Neural Blade','NeuralBlade'),
          ('23','Officer\'s Truncheons','OfficersTruncheons'),
          ('24','Old Deuteronomy Sheet Music','OldDeuteronomySheetMusic'),
          ('25','Polyatomic Robot','PolyatomicRobot'),
          ('26','Red Pinafore','RedPinafore'),
          ('27','Sega Genesis','SegaGenesis'),
          ('28','Severe Beret','SevereBeret'),
          ('29','Shield of Judgement','ShieldOfJudgement'),
          ('30','Sienna Notebook','SiennaNotebook'),
          ('31','Soldierly Parasol','SoldierlyParasol'),
          ('32','Sparkling Necklace','SparklingNecklace'),
          ('33','Super-Accurate Tri-Square','SuperAccurateTriSquare'),
          ('34','Tacky Jeweled Helm','TackyJeweledHelm'),
          ('35','Tamil Liqueur','TamilLiqueur'),
          ('36','Ultima III: Exodus','UltimaIIIExodus'),
          ('37','Ultrasonic Boots','UltrasonicBoots'),
          ('38','Unsafe Mtorolite','UnsafeMtorolite'),
          ('39','Worn Loop of Gold','WornLoopOfGold')
          ] %}

    {% for item_number in range(40) %}
      {% if ('ITEM' + item_names[item_number][0]) in team_inventory_items %}
        {{ inventory_individual_listing(item_names[item_number][2], item_names[item_number][1], asset_url_for) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}