{% import 'inventory_macros.html' as inventory %}

<!doctype html>
<html>
  <head>
    <title>{% block title_block %}{% endblock %}</title>
    <script src="https://use.fontawesome.com/7e30e2e185.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='hunt.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="https://assets-open.monsters-et-manus.com/open/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reduced.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hunt.css') }}">
    {% block styling_block %}{% endblock %}
  </head>
  <body>
    {% if core_display_data %}
      <div id="header-navigation" class="modal fade" role="dialog" aria-labelledby="navigationModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="small-horizontal-scroll">
                Links
              </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="navigation-column">
                <div class="navigation-column-header">General</div>
                <ul>
                  <li><a href="{{ url_for('index') }}">World Map</a></li>
                  <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
                  <li><a href="{{ url_for('handbook') }}">Player Handbook</a></li>
                  <li><a href="{{ url_for('safety') }}">Health &amp; Safety</a></li>
                  <li><a href="{{ url_for('puzzle_list') }}">List of Puzzles</a></li>
                  <li><a href="{{ url_for('activity_log') }}">Activity Log</a></li>
                </ul>
              </div>
              <div class="navigation-column">
                <div class="navigation-column-header">Characters</div>
                <ul>
                  {% for character_id in core_display_data.visible_characters %}
                    <li><a href="{{ url_for('round', round_id=character_id) }}">The {{ character_id|capitalize }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="navigation-column">
                <div class="navigation-column-header">Quests</div>
                <ul>
                  {% set quest_displays = {'dynast':'The Despondent Dynast','dungeon':'The Dismal Dungeon','thespians':'The Thrilling Thespians','bridge':'The Broken Bridge','criminal':'The Crafty Criminal','minstrels':'The Modest Minstrels','cube':'The Curious Cube','warlord':'The Woeful Warlord'} %}
                  {% for quest_id in core_display_data.visible_quests %}
                    <li><a href="{{ url_for('round', round_id=quest_id) }}">{{ quest_displays[quest_id] }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="header-inventory-grid" class="modal fade" role="dialog" aria-labelledby="inventoryModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img src="{{ asset_url_for('general/icons/backpack.png') }}" style="width:50px;height:50px;vertical-align:middle;"/>
              <div class="small-horizontal-scroll">
                Inventory
              </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              {{ inventory.inventory_grid(core_display_data.merchants_solved, core_display_data.inventory_items, asset_url_for) }}
            </div>
          </div>
        </div>
      </div>

      <div id="header-change-contact-info" class="modal fade" role="dialog" aria-labelledby="changeContactInfoModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="small-horizontal-scroll">
                Change Team Contact Info
              </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('change_contact_info') }}" method="post">
                <table class="centered">
                  <tr>
                    <td class="text-align-right">Email</td>
                    <td><input type="text" name="email" value="{{ core_display_data.email }}"></td>
                  </tr>
                  <tr>
                    <td class="text-align-right">Primary Phone</td>
                    <td><input type="text" name="primaryPhone" value="{{ core_display_data.primaryPhone }}"></td>
                  </tr>
                  <tr>
                    <td class="text-align-right">Secondary Phone</td>
                    <td><input type="text" name="secondaryPhone" value="{{ core_display_data.secondaryPhone }}"></td>
                  </tr>
                </table>
                <p>
                  Clicking the button below will change the contact
                  information used for answer confirmation for your
                  entire team. Please double-check the information
                  entered before submitting a change.
                </p>
                <input type="submit" value="Change Team Contact Info">
              </form>
            </div>
          </div>
        </div>
      </div>
    
      <div id="overall-layout-header">
        <div id="header-navigation-links">
          <div id="header-index-link"><a href="{{ url_for('index') }}">Map</a></div>
          <div id="header-general-navigation-link" data-toggle="modal" data-target="#header-navigation"><a href="#">Links</a></div>
        </div>
        <div id="header-statuses">
          {% for character_class in core_display_data['visible_characters'] %}
            <a href="{{ url_for('round', round_id = character_class) }}">
              <div id="header-status-{{ character_class }}" class="individual-header-status" data-toggle="tooltip" data-placement="bottom" title="{{ character_class|capitalize }}">
                  <img src="{{ asset_url_for('general/characters/%s-logo.png' % character_class) }}" style="width:30px;height:30px;vertical-align:middle;"/>
                  <span class="individual-header-status-level">{{ core_display_data.character_levels[character_class] }}</span>
              </div>
            </a>
          {% endfor %}
      
          <div id="header-inventory" data-toggle="modal" data-target="#header-inventory-grid">
            <a href="#" id="header-inventory-control" data-toggle="tooltip" data-placement="bottom" title="Inventory">
              <div id="header-inventory-status">
                <img src="{{ asset_url_for('general/icons/backpack.png') }}" style="width:30px;height:30px;vertical-align:middle;padding-right:3px;"/>
                {%- if core_display_data.merchants_solved -%}
                  6/6
                {%- else -%}
                  {{ core_display_data.inventory_items|length }}/40
                {%- endif -%}
              </div>
            </a>
          </div>
          <div id="header-gold" data-toggle="tooltip" data-placement="bottom" title="Gold"><img src="{{ asset_url_for('general/icons/coin.png') }}" style="width:30px;height:30px;vertical-align:middle;"/>&nbsp;{{ core_display_data.gold}}
          </div>
        </div>

        {% block header_content %}
        {% endblock %}
      
        <div id="header-session-control">
          {% if session["username"] %}
            {{ pretty_truncate(session["username"],15) }}
            <a href="#" data-toggle="modal" data-target="#header-change-contact-info">
              <span class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom" title="Change Contact Info"></span>
            </a>
            <a href="{{ url_for('login.logout') }}">
              <span class="fa fa-sign-out" data-toggle="tooltip" data-placement="bottom" title="Logout"></span>
            </a>
          {% else %}
            Not logged in (<a href="{{ url_for('login.login') }}">login</a>)
          {% endif %}
        </div>
      
      </div>
    {% endif %}
    <div id="overall-layout-body">
      {% block overall_layout_body %}{% endblock %}
    </div>
  </body>
</html>
