#round-container {
  width: 900px;
  margin: 20px auto;
  border: tan solid 5px;
  background-color: white;
  padding: 20px 20px;
}

#header {
  margin-left: 320px;
  font-size: 48px;
}

#left-sidebar {
  width: 300px;
  float: left;
}

#character-display {
  width: 300px;
  height: 419px;
  position: relative;
}

#character-level-container {
  position: absolute;
  left: 55%;
  top: 75%;
  width: auto;
  height: 85px;
  border: 2px solid black;
  padding: 5px 5px;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  color: black;
  background-color: white;
  vertical-align: bottom;
}

#character-level-container img {
  vertical-align: middle;
}

span#character-level-value {
  vertical-align: middle;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

#puzzle-list {
  margin-left: 320px;
  padding-top: 10px;
}

.puzzle-entry {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  min-height: 20px;
}

span.puzzle-name {
  font-size: 20px;
}

span.puzzle-solution {
  padding-left: 5px;
  font-size: 12px;
}