#character-display {
  min-width: 25%;
  max-height: 500px;
  position: relative;
  flex: 1 100px;
}

#character-level-container {
  position: absolute;
  top: 75%;
  left: 50%;
}

img#character-image {
  max-width: 100%;
  max-height: 100%;
}

#character-level-container {
  width: 150px;
  height: 85px;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  color: black;
  vertical-align: bottom;
  border-radius: 15px;
  background: linear-gradient(to right, rgba(255,255,255,0) 30%, rgba(255,255,255,0.9) 50%);
}

#character-level-container img {
  vertical-align: middle;
}

span#character-level-value {
  vertical-align: middle;
}