body {
  background: inherit;
}

#round-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: url('PNG-export/map/repeating-fog.png');
  z-index: -2000;
}

#round-background-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.5;
  z-index: -1000;
}

#header {
  display: inline-block;
}

#character-level-container {
  display: inline-block;
}

#character-display {
  width: 40%;
  display: inline-block;
}

img#character-image {
  width: 100%;
}

#puzzle-list {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('PNG-export/scroll/parchment-square.png');
  background-size: 100% 100%;
}

#character-level-container {
  width: 150px;
  height: 85px;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  color: black;
  vertical-align: bottom;
  margin: 0 auto;
}

#character-level-container img {
  vertical-align: middle;
}

span#character-level-value {
  vertical-align: middle;
}