@font-face {
  font-family: 'Black Chancery';
  src: url("BLKCHCRY.TTF");
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: url('temp/not-ours/background-wood.jpg');
}

.panel {
  background-color: #D1B780;
  border: 3px #665F4F solid;
}

.panel-white {
  background-color: white;
  border: 3px #665F4F solid;
}

.enscrolled {
  background-image: url("horizontal-scroll-45px-base.png");
  background-repeat: repeat-x;
  height: 45px;
  line-height: 45px;
  vertical-align: top;
  display: inline-block;
  font-family: 'Black Chancery', 'Georgia', serif;
  font-size: 20px;
}

.enscrolled span {
  vertical-align: top;
}

.enscrolled-before {
  content: url("horizontal-scroll-45px-left.png");
  width: 15px;
  height: 45px;
}

.enscrolled-after {
  content: url("horizontal-scroll-45px-right.png");
  width: 15px;
  height: 45px;
}

.enscrolled-90px {
  background-image: url("horizontal-scroll-90px-base.png");
  background-repeat: repeat-x;
  height: 90px;
  line-height: 90px;
  vertical-align: top;
  display: inline-block;
  font-family: 'Black Chancery', 'Georgia', serif;
}

.enscrolled-90px span {
  vertical-align: top;
}

.enscrolled-90px-before {
  content: url("horizontal-scroll-90px-left.png");
  width: 29px;
  height: 90px;
}

.enscrolled-90px-after {
  content: url("horizontal-scroll-90px-right.png");
  width: 29px;
  height: 90px;
}

.vertically-enscrolled, .vertically-enscrolled-before, .vertically-enscrolled-after {
  margin-top: 0px;
  margin-bottom: 0px;
}

.vertically-enscrolled {
  background-image: url("vertical-scroll-base.png");
  background-repeat: repeat-y;
  position: relative;
  width: 280px;
  z-index: 100;
}

.vertically-enscrolled-before {
  background-image: url("vertical-scroll-top.png");
  content: " ";
  width: 280px;
  height: 78px;
  z-index: 100;
}

.vertically-enscrolled-after {
  content: url("vertical-scroll-bottom.png");
  width: 280px;
  height: 84px;
  z-index: 100;
}

@media screen {
  #overall-layout-body {
    margin-top: 50px;
  }
}

@media print {
  #overall-layout-header {
    display: none;
  }
  
  .enscrolled-before {
    display: none;
  }
  
  .enscrolled-after {
    display: none;
  }
  
  .enscrolled-90px-before {
    display: none;
  }
  
  .enscrolled-90px-after {
    display: none;
  }
  
  .vertically-enscrolled-before {
    display: none;
  }
  
  .vertically-enscrolled-after {
    display: none;
  }
  
  #overall-layout-body {
    margin-top: 0px;
  }
}

#overall-layout-header {
  background-color: #D1B780;
  border-bottom: 2px #665F4F solid;
  min-height: 30px;
  color: black;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#overall-layout-header div {
  height: 100%;
  padding: 5px 5px;
}

#overall-layout-header a:link {
  color: black;
  text-decoration: none;
}

#overall-layout-header a:visited {
  color: black;
}

#header-index-link, .individual-header-status, #header-inventory, #header-gold {
  float: left;
  margin-left: 20px;
}

#header-session-control {
  float: right;
  margin-right: 20px;
}

#header-inventory {
  position: relative;
}

#header-inventory-grid {
  position: absolute;
  color: black;
  left: 0;
  top: 30px;
  z-index: 1000;
}

#header-inventory-grid table {
  border-collapse: collapse;
}

#header-inventory-grid td {
  border: 3px solid #665F4F;
  background-color: white;
  padding: 0px 0px;
  text-align: center;
  vertical-align: bottom;
}

#header-inventory-grid td div {
  position: relative;
  padding: 0px 0px;
}

#header-inventory-grid .inventory-grid-cell-content:hover .inventory-grid-caption {
  display: block;
}

#header-inventory-grid .inventory-grid-caption {
  text-align: initial;
  display: none;
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 1200;
  padding: 3px 3px;
  border: 3px solid black;
  background-color: white;
  min-width: initial;
  min-height: initial;
  width: auto;
  height: auto;
  white-space: nowrap;
}

#header-inventory-grid .inventory-grid-cell-content:hover .inventory-grid-full-image {
  display: block;
}

#header-inventory-grid .inventory-grid-full-image {
  display: none;
  position: absolute;
  top: 80px;
  left: 45px;
  border: 3px solid black;
  background-color: white;
}

#header-inventory-grid td a {
  color: black;
}

#header-inventory-grid td a:hover {
  color: black;
}

#header-inventory-grid td a:visited {
  color: black;
}

#header-inventory-grid td#printable-link-cell {
  padding: 5px 5px;
}

#main-page-content {
  clear: both;
}

.clear-both {
  clear: both;
}