body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: papayawhip;
}

.enscrolled {
  background-image: url("scroll-banner-center.png");
  background-repeat: repeat-x;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  display: inline-block;
}

.enscrolled span {
  vertical-align: top;
}

.enscrolled:before {
  background-image: url("scroll-banner-left.png");
  content: "";
  width: 9px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
}

.enscrolled:after {
  background-image: url("scroll-banner-right.png");
  content: "";
  width: 9px;
  height: 50px;
  margin-left: 10px;
  display: inline-block;
}

@media print {
  #overall-layout-header {
    display: none;
  }
  
  .enscrolled:before {
    display: none;
  }
  
  .enscrolled:after {
    display: none;
  }
}

#overall-layout-header {
  background-color: sienna;
  min-height: 30px;
  color: white;
  font-family: sans-serif;
}

#overall-layout-header div {
  height: 100%;
  padding: 5px 5px;
}


#overall-layout-header a {
  border: 2px solid white;
  padding: 2px 2px;
}

#overall-layout-header a:link {
  color: white;
  text-decoration: none;
}

#overall-layout-header a:visited {
  color: white;
}

#header-identity {
  float: left;
}

#main-page-content {
  clear: both;
}