body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: papayawhip;
}

.enscrolled {
  background-image: url("scroll-banner-center.png");
  background-repeat: repeat-x;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  display: inline-block;
}

.enscrolled span {
  vertical-align: top;
}

.enscrolled:before {
  background-image: url("scroll-banner-left.png");
  content: "";
  width: 9px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
}

.enscrolled:after {
  background-image: url("scroll-banner-right.png");
  content: "";
  width: 9px;
  height: 50px;
  margin-left: 10px;
  display: inline-block;
}

@media print {
  #overall-layout-header {
    display: none;
  }
  
  .enscrolled:before {
    display: none;
  }
  
  .enscrolled:after {
    display: none;
  }
}

#overall-layout-header {
  background-color: sienna;
  min-height: 30px;
  color: white;
  font-family: sans-serif;
}

#overall-layout-header div {
  height: 100%;
  padding: 5px 5px;
}

#overall-layout-header a:link {
  color: white;
  text-decoration: none;
}

#overall-layout-header a:visited {
  color: white;
}

#header-identity {
  float: left;
}

#header-inventory, #header-gold {
  float: right;
  margin-right: 20px;
  position: relative;
}

#header-inventory-grid {
  position: absolute;
  color: black;
  right: 0;
  top: 30px;
}

#header-inventory-grid table {
  border-collapse: collapse;
}

#header-inventory-grid td {
  border: 3px solid sienna;
  background-color: white;
  padding: 0px;
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
}

#main-page-content {
  clear: both;
}

.clear-both {
  clear: both;
}