@media all and (max-width: 1190px) {
  #main-page-content {
    max-height: 1000px;
  }
  
  #characters {
    order: 1;
  }
  
  #events {
    width: 320px;
    order: 2;
  }
  
  #world-map-container {
    order: 3;
  }
}

@media all and (min-width: 1190px){
  #main-page-content {
    max-height: 700px;
  }
  
  #events {
    width: 250px;
  }
}

#main-page-content {
  width: 100%;
  margin: 0px auto;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

#world-map-container {
  width: 620px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#world-map {
  height: 600px;
  width: 600px;
  background-size: 100%;
  position: relative;
}

#fog-overlay {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 4px;
  z-index: 150;
}

#world-map-background {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 4px;
  z-index: 100;
}

#characters {
  width: 320px;
}

#character-displays {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.individual-character {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.individual-character-status-container {
  height: 40px;
  line-height: 40px;
}

.individual-character-status-container {
  height: 40px;
  line-height: 40px;
  margin-top: -22px;
}

#inventory-gold-display {
  display: flex;
  justify-content: center;
}

.individual-inventory-gold {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-entry {
  margin-top: 15px;
}

.event-name, .event-time {
  font-size: 18px;
}