body {
  background-image: url('https://assets-open.monsters-et-manus.com/general/wooden-background.png');
}

#main-page-content {
  max-width: 1200px;
  margin: 0px auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#characters {
  width: 320px;
}

#events {
  width: 250px;
}

#world-map-container {
  width: 620px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#world-map {
  height: 600px;
  width: 600px;
  background-size: 100%;
  position: relative;
}

#fog-overlay {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 4px;
  z-index: 150;
}

#world-map-background {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 4px;
  z-index: 100;
}

#total-character-level {
  margin-bottom: 10px;
}

#character-displays {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.individual-character {
  width: 120px;
  height: 116px;
  margin-bottom: 10px;
  position:relative;
}

.individual-character > img {
  width: 100px;
  z-index: 10;
  position: absolute;
  left: 10px;
  top: 0px;
}

.individual-character-class {
  font-size: 16px;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.individual-character-status-container {
  height: 40px;
  line-height: 40px;
  z-index: 20;
  position: absolute;
  white-space: nowrap;
  top: 65px;
  left: 65px;
}

.individual-character-status-container img {
  height: 35px;
  width: 35px;
  vertical-align: middle;
}

.individual-character-solve-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  left: 10px;
  top: 25px;
  z-index: 20;
}

.individual-character-solve-icon img {
  height: 100%;
  width: 100%;
}

#inventory-gold-display {
  display: flex;
  justify-content: center;
}

.individual-inventory-gold {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quest-solve-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  left: 0px;
  top: 0px;
  z-index: 20;
}

.quest-solve-icon img {
  height: 100%;
  width: 100%;
}

.rescue-solve-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  left: -25px;
  top: 0px;
  z-index: 20;
}

.rescue-solve-icon img {
  height: 100%;
  width: 100%;
}

.event-entry {
  margin-top: 15px;
  font-size: 16px;
}

.event-name {
  font-weight: bold;
}

.event-name, .event-time {
  font-size: 20px;
}

.individual-quest img {
  width: 100%;
  height: 100%;
}

.individual-rescue img {
  height: 100%;
}

#fog-reveal-label {
  position:absolute;
  z-index:300;
}