#main-page-content {
  width: 900px;
  margin: 20px auto;
  border: tan solid 5px;
  background-color: white;
  padding: 20px 20px;
}

#left-sidebar {
  float: left;
  width: 290px;
}

#world-map-container {
  float: left;
  width: 570px;
  margin: 0 20px;
}

#world-map {
  height: 570px;
  width: 570px;
  background-size: 100%;
  position: relative;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.individual-character {
  margin-top: 10px;
  display: inline-block;
  width: 40%;
}

.individual-character-status-container {
  height: 40px;
  line-height: 40px;
}

.individual-character-status-container {
  height: 40px;
  line-height: 40px;
  margin-top: -15px;
}

.event-entry {
  margin-top: 15px;
}

.event-name, .event-time {
  font-size: 18px;
}