body {
  text-align: inherit;
}

#overall-layout-body {
  clear: both;
}

@media print {
  #puzzle-container {
    border: white none 0px;
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen {
  #puzzle-container {
    margin: 20px auto;
    width: 900px;
    min-width: 900px;
    border: 3px #665F4F solid;
    background-color: white;
    padding: 59px;
  }
}

#flavortext {
  font-style: italic;
  margin-top: 30px;
}

#puzzle-content {
  margin-top: 40px;
}

span.puzzle-solution-label {
  padding-left: 5px;
  font-family: 'Deutsche Uncialis', 'Georgia', serif;
}

#byline {
  font-family: 'Deutsche Uncialis', 'Georgia', serif;
  font-size: 28px;
}