body {
  text-align: inherit;
  background: inherit;
}

#submit {
  float: right;
}

#overall-layout-body {
  clear: both;
}

#character-round-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: url('temp/art/Maps/fog-repeat.png');
  z-index: -2000;
}

#quest-round-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: papayawhip;
  z-index: -2000;
}

#character-round-background-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.5;
  z-index: -1000;
}

@media print {
  #puzzle-container {
    border: white none 0px;
    margin-top: 0;
    padding-top: 0;
  }
  
  #character-round-background-container {
    display: none;
  }

  #character-round-background-overlay-container {
    display: none;
  }
}

@media screen {
  #puzzle-container {
    margin: 20px auto;
    width: 900px;
    border: 3px #665F4F solid;
  }
}

#puzzle-container {
  background-color: white;
  padding: 20px 20px;
}

#flavortext {
  font-style: italic;
  margin-top: 30px;
}

#puzzle-content {
  margin-top: 20px;
}

span.puzzle-solution-label {
  padding-left: 5px;
  font-family: 'Black Chancery', 'Georgia', serif;
}

#answers {
  font-size: 24px;
  margin-left: 20px;
}

#reward {
  font-family: 'Black Chancery', 'Georgia', serif;
  font-size: 24px;
  margin-left: 20px;
}