#left-sidebar {
  width: 280px;
  padding-right: 20px;
}

#puzzle-content {
  margin-left: 320px;
  padding: 10px;
}

#round-text {
  margin-left: 52px;
  margin-right: 13px;
  z-index: 200;
}

#round-text p:first-child {
  margin-top: 0;
}

#round-text p:last-child {
  margin-bottom: 0;
}

span.round_question {
  font-weight: bold;
}