span.round_question {
  font-weight: bold;
}

#round-text {
  flex: 1 100px;
}

#header {
  margin-bottom: 10px;
}

.vertically-enscrolled {
  width: 100%;
  background-image: url('PNG-export/scroll/vertical-scroll.png');
  background-size: 100% 100%;
}

.vertically-enscrolled-text {
  margin-left: 11%;
  margin-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 84%;
}