span.round_question {
  font-weight: bold;
}

#round-information {
  flex: 1 100px;
}

#header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

img.quest-scene {
  max-height: 150px;
}