{% macro prettyPuzzleIdentifier(puzzle_id) %}
  {% set puzzle = puzzle_id_to_puzzle[puzzle_id] %}
  {% if 'puzzleProperties' in puzzle %}
    {% set puzzleProperties = puzzle.puzzleProperties %}
    {% if 'DisplayNameProperty' in puzzleProperties %}
      {{ puzzleProperties.DisplayNameProperty.displayName }}
    {% elif 'DisplayIdProperty' in puzzleProperties %}
      {{ puzzleProperties.DisplayIdProperty.displayId }}
    {% else %}
      {{ puzzle_id }}
    {% endif %}
  {% else %}
    {{ puzzle_id }}
  {% endif %}
{% endmacro %}
<!doctype html>
<html>
  <head>
    <title>Hunt Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='huntadmin.css') }}">
  </head>
  <body>
    <div class="ha-navbar">
      {% macro link(route, title) %}
      <a href="{{ url_for(route) }}" class="{{ 'active' if route in request.url_rule.rule }}">
	{{ title }}
      </a>
      {% endmacro %}

      {{ link('callqueue', 'Call Queue') }}
      {{ link('interactionqueue', 'Interaction Queue') }}
      {{ link('teams', 'Teams') }}
      {{ link('users', 'Users') }}
      {% if is_authorized('events:create:*') %}
      {{ link('admintools', 'Admin Tools') }}
      {% endif %}

      <div class="ha-navbar-title">
        {{ session["username"] }} -<a href="{{ url_for('login.logout') }}">Log Out</a>
      </div>
    </div>
    {% block page_body %}{% endblock %}
  </body>
</html>
