<h2>Call Queue</h2>
<table>
  <thead>
    <tr>
      <th>Submission Time</th>
      <th>Team</th>
      <th>Puzzle</th>
      <th>Answer</th>
      <th>Caller</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for s in pending_submissions %}
    <tr>
      <td>{{ s.timestamp | datetime }}</td>
      <td>{{ s.teamId }}</td>
      <td>{{ s.puzzleId }}</td>
      <td>{{ s.submission }}</td>
      <td>{{ s.callerUsername }}</td>
      <td>{{ s.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
