{% extends "base.html" %}
{% block page_body %}
<div class="ha-page-section">
  <table>
    <tr>
      <td>Request Time</td>
      <td>{{ interaction_request.timestamp | datetime }}</td>
    </tr>
    <tr>
      <td>Team ID</td>
      <td>{{ interaction_request.teamId }}</td>
    </tr>
    <tr>
      <td>Team Name</td>
      <td>{{ team.teamName }}</td>
    </tr>
    <tr>
      <td>Team Primary Phone</td>
      <td>{{ team.primaryPhone }}</td>
    </tr>
    <tr>
      <td>Team Secondary Phone</td>
      <td>{{ team.secondaryPhone }}</td>
    </tr>
    <tr>
      <td>Team Email</td>
      <td>{{ team.email }}</td>
    </tr>
    <tr>
      <td>Team Headquarters</td>
      <td>{{ team.headquarters }}</td>
    </tr>
    <tr>
      <td>Puzzle ID</td>
      <td>{{ interaction_request.puzzleId }}</td>
    </tr>
    <tr>
      <td>Puzzle Name</td>
      <td>
        {% if 'puzzleProperties' in puzzle and 'DisplayNameProperty' in puzzle.puzzleProperties %}
          {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}
        {% else %}
          unknown
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Request</td>
      <td>{{ interaction_request.request }}</td>
    </tr>
    <tr>
      <td>Assigned to Caller</td>
      <td>{{ interaction_request.callerUsername }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ interaction_request.status }}</td>
    </tr>
    <tr>
      <td>Response</td>
      <td>{{ interaction_request.response }}</td>
    </tr>
  </table>
  {% if interaction_request.status == 'REQUESTED' %}
  <form action="{{ url_for('interactionrequest', interaction_request_id=interaction_request.interactionRequestId) }}" method="post">
    <input type="hidden" name="status" value="ASSIGNED">
    <input type="submit" value="Assign to Me">
  </form>
  {% elif interaction_request.status in ['ASSIGNED', 'SCHEDULED'] %}
  {% if interaction_request.callerUsername == session['username'] %}
  {% if interaction_request.status == 'ASSIGNED' %}
    <h3>The team {{ team.teamName }} has primary contact number {{ team.primaryPhone }}.</h3>
    <p>
      If there's no answer, try their secondary phone number
      {{ team.secondaryPhone }} or e-mail them at {{ team.email }} to try to get
      updated contact info.
    </p>
    <p>
      <b>The team's request is &ldquo;{{ interaction_request.request }}&rdquo;</b>.
    </p>
    <div class="line" style="width:100%; border-bottom: 1px solid black; margin: 1em auto;"></div>
    {% if puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Swifties' %}
      <h3>Instructions for Swifties</h3>
      <p>
        We are expecting the phrase <b>MAKE US A VIDEO OF YOUR TEAM SWIFTLY SINGING</b>. If the team provides that phrase, instruct them on the phone to upload their video via the Dropbox link you provide and to include their team name as the first name and their email as the email. Paste this into the response box and mark the request as scheduled:
        <blockquote>
          Upload your video to https://www.dropbox.com/request/s6NuHOcWgaiVADqtpAEb
        </blockquote>
      </p>
      <p>
        Our setec2017@gmail email will receive a notification when their video is uploaded, which is the prompt to start the process of completing this request.
      </p>
      <p>
        If this request is attempting to request about the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Elf/Dwarf Brawl' %}
      <h4>Instructions for Elf/Dwarf Brawl</h4>
      <p>
        We are expecting the phrase <b>SEND TWO CLIPS USE MIT AND OLIN COLLEGE</b>. If the team provides that phrase, instruct them on the phone to upload their videos via the Dropbox link you provide and to include their team name as the first name and their email as the email. Paste this into the response box and mark the request as scheduled:
        <blockquote>
          Upload your videos to https://www.dropbox.com/request/bWZ5mVmJBQfQUJKs16OS<br/><br/>
        </blockquote>
      </p>
      <p>
        Our setec2017@gmail email will receive notifications when their videos are uploaded, which is the prompt to start the process of completing this request.
      </p>
      <p>
        If this request is attempting to input the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'The Most Interesting Puzzle in the World' %}
      <h4>Instructions for The Most Interesting Puzzle in the World</h4>
      <p>
        We are expecting the phrase <b>YOUR JOB BRING ME ROOT BEER AT ONCE</b>. If the team provides that phrase, call them and schedule their delivery of root beer. Put the time and location in the response box. Mark the request as scheduled.
      </p>
      <p>
        If this request is attempting to input the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Stick the Landing' %}
      <h4>Instructions for Stick the Landing</h4>
      <p>
        We are expecting the phrase <b>BRING US GUM DROPS</b>. If the team provides that phrase, call them and schedule their delivery of gum drops. They will be receiving an item from us in exchange for the gum drops, so be sure that the time and location matches where those items are. Put the time and location in the response box. Mark the request as scheduled.
      </p>
      <p>
        If this request is attempting to input the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Hamiltonian Path' %}
      <h4>Instructions for Hamiltonian Path</h4>
      <p>
        We are expecting the phrase <b>GIVE US A VERSE</b>. If the team provides that phrase, call them and schedule them to come to us to deliver or demonstrate a verse. They will be receiving an item from us in exchange for the verse, so be sure that the time and location matches where those items are. Put the time and location in the response box. Mark the request as scheduled.
      </p>
      <p>
        If this request is attempting to input the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Four by Four' %}
      <h4>Instructions for Four by Four</h4>
      <p>
        We are expecting the phrase <b>MAKE A SQUARE FOR US</b>. If the team provides that phrase, call them and schedule them to come to us to deliver a square. Put the time and location in the response box. Mark the request as scheduled.
      </p>
      <p>
        If this request is attempting to input the instruction (as opposed to report an erratum or ask a question) but has the instruction incorrect, call the team and tell them they have submitted an incorrect instruction. Put "Incorrect instruction" in the response box and mark this request as complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Replenish the Treasury' %}
      <h4>Instructions for Replenish the Treasury</h4>
      <p>
        We are expecting the word <b>JUDGE</b>. If the team provides that word, call them and schedule a time with them for us to judge their items in their headquarters. Put the time in the response box. Mark the request as scheduled.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'SeaTac Gastronomy' %}
      <h4>Instructions for SeaTac Gastronomy</h4>
      <p>
        We are expecting the word <b>JUDGE</b>. If the team provides that word, call them and schedule them to come to us to deliver food and have it judged. Put the time and location in the response box. Mark the request as scheduled.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'You Blew It!' %}
      <h4>Instructions for You Blew It!</h4>
      <p>
        We are expecting the word <b>JUDGE</b>. If the team provides that word, call them and schedule a time with them for us to judge their volcano in their headquarters. Put the time in the response box. Mark the request as scheduled.
      </p>
    {% elif interaction_request.puzzleId == 'rescue_the_linguist' %}
      <h4>Instructions for Rescue the Linguist</h4>
      <p>
        We are expecting the word <b>RESCUE</b>. If the team provides that word, check with dispatch to determine the time and location. Then call them and follow this script:
      </p>
      <blockquote>
        On your quest, your party has encountered the LINGUIST. You can train her by solving puzzles just like your other characters, and she will help you unlock new Quest puzzles. You will have access to her puzzles at the end of this call. However, in order to use her full abilities, you need to rescue her first.<br/><br/>
        Send <b>TWO TEAM MEMBERS</b> to <b>[LOCATION]</b> at <b>[TIME]</b> and meet a member of our team, who will show you where the LINGUIST is imprisoned. Use the code word <b>PHONETICS</b>.
      </blockquote>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Unlock Character Round > Unlock Linguist Round.
        </p>
      {% else %}
        <p>You can't unlock the round for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
      <p>
        When you are done with the call, put the location and time in the response box. Mark the request as scheduled.
      </p>
    {% elif interaction_request.puzzleId == 'rescue_the_chemist' %}
      <h4>Instructions for Rescue the Chemist</h4>
      <p>
        We are expecting the word <b>RESCUE</b>. If the team provides that word, call them and follow this script:
      </p>
      <blockquote>
        On your quest your party has encountered the CHEMIST. You can train her by solving puzzles just like your other characters, and she will help you unlock new Quest puzzles. You will have access to her puzzles at the end of this call. However, she is still under Mystereo Cantos’s evil spell, which you need to break in order to use her full abilities.<br/><br/>
        Send <b>TWO TEAM MEMBERS</b> without allergies to <b>ROOM 32-D463</b>. We recommend sending people who are good at mixing potable potions. Use the code word <b>PHENOL</b>.
      </blockquote>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Unlock Character Round > Unlock Chemist Round.
        </p>
      {% else %}
        <p>You can't unlock the round for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
      <p>
        When you are done with the call, put "ROOM 32-D463" in the response box. Mark the request as scheduled.
      </p>
    {% elif interaction_request.puzzleId == 'rescue_the_economist' %}
      <h4>Instructions for Rescue the Economist</h4>
      <p>
        We are expecting the word <b>RESCUE</b>. If the team provides that word, follow this script:
      </p>
      <blockquote>
        On your quest your party has encountered the ECONOMIST. You can train them by solving puzzles just like your other characters, and they will help you unlock new Quest puzzles. You will have access to their puzzles at the end of this call. However, they are still under Mystereo Cantos’s evil spell, which you need to break in order to use their full abilities.<br/><br/>
        The ECONOMIST and a member of our team will be arriving at your team’s base shortly. <b>Be prepared to let them in</b>. When they arrive, the member of our team will explain what the Sorcerer has done and see if your team can break the spell.
      </blockquote>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Unlock Character Round > Unlock Economist Round.
        </p>
      {% else %}
        <p>You can't unlock the round for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
      <p>
        When you are done with the call, put "At your headquarters" in the response box. Mark the request as scheduled.
      </p>
    {% elif interaction_request.puzzleId == 'battle' %}
      <h4>Instructions for The Big Bad Battle</h4>
      <p>
        We are expecting the word <b>BATTLE</b>. If the team provides that word, figure out what time we will schedule them for. Call them and follow this script:
      </p>
      <blockquote>
        You have initiated the Big Bad Battle, a confrontation with the evil sorcerer Mystereo Cantos. Mystereo will arrive at your headquarters at [TIME]. Please make sure you have six team members ready to participate in the battle, and all six of your character tokens.
      </blockquote>
      <p>
        When you are done with the call, put "At your headquarters at [TIME]" in the response box. Mark the request as scheduled.
      </p>
    {% elif interaction_request.puzzleId == 'fortress' %}
      <h4>Instructions for The Foreboding Final Fortress</h4>
      <p>
        We are expecting the word <b>FORTRESS</b>. If the team provides that word, figure out what time we will schedule them for. Call them and follow this script:
      </p>
      <blockquote>
        You have reached the Foreboding Final Fortress! Please send six team members, along with any other teammates who would like to observe, to [ROOM] at [TIME] to face Mystereo Cantos. And this is important: you should bring any information and equipment you have gathered during your adventures. Good luck!
      </blockquote>
      <p>
        If the team says they need more time to make equipment, tell them they do not need to make equipment.
      </p>
      <p>
        When you are done with the call, put the location and time in the response box. Mark the request as scheduled.
      </p>
    {% else %}
      <h4>General instructions</h4>
      <p>There is no planned interaction for this puzzle. This request is likely to be an incorrect instruction.
      </p>
      <p>
        If this request seems to be the team solving to get an instruction (e.g., bring us stuff), call the team. Tell them they have submitted an incorrect instruction. Then mark this request as Complete.
      </p>
      <p>
        If this request is about something else&mdash;errata or some sort of question&mdash;you will probably need to get advice from Puzzle Watch.
      </p>
    {% endif %}
  {% endif %}

  {% if interaction_request.status == 'SCHEDULED' %}
    <h3>An interaction is currently scheduled.</h3>
    <p>
      Details: &ldquo;{{ interaction_request.response }}&rdquo;
    </p>
    <p>
      If you need to make changes to this scheduled interaction, call the team at
      {{ team.primaryPhone }} to inform them of the change, then use the form
      below to make the change. You may change this interaction request to
      Assigned if you are not currently able to schedule it.
    </p>
    {% if interaction_request.puzzleId == 'rescue_the_linguist' %}
      <h4>Instructions for completing Rescue the Linguist</h4>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Complete Character Rescue > Rescue the Linguist.
        </p>
        <p>
          Use the form below to mark this interaction complete.
        </p>
      {% else %}
        <p>You can't complete the rescue for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
    {% elif interaction_request.puzzleId == 'rescue_the_chemist' %}
      <h4>Instructions for completing Rescue the Chemist</h4>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Complete Character Rescue > Rescue the Chemist.
        </p>
        <p>
          Use the form below to mark this interaction complete.
        </p>
      {% else %}
        <p>You can't complete the rescue for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
    {% elif interaction_request.puzzleId == 'rescue_the_econmist' %}
      <h4>Instructions for completing Rescue the Economist</h4>
      {% if is_authorized('visibilities:update:%s' % team.teamId) %}
        <p>
          Opens in a new tab: <a target="_blank" href="{{ url_for('team', team_id=interaction_request.teamId) }}">team page</a><br/>
          Then Complete Character Rescue > Rescue the Economist.
        </p>
        <p>
          Use the form below to mark this interaction complete.
        </p>
      {% else %}
        <p>You can't complete the rescue for them, so what are you doing here? Get real Dispatch to do this.</p>
      {% endif %}
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Stick the Landing' %}
      <h4>Instructions for completing Stick the Landing</h4>
      <p>
        Teams should receive a pack of gum upon bringing us gum drops. If this interaction is now over, use the form below to mark this interaction as Complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Hamiltonian Path' %}
      <h4>Instructions for completing Hamiltonian Path</h4>
      <p>
        Teams should receive a CD upon giving us a verse. If this interaction is now over, use the form below to mark this interaction as Complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'The Most Interesting Puzzle in the World' %}
      <h4>Instructions for completing The Most Interesting Puzzle in the World</h4>
      <p>
        Teams should receive the answer CROC upon bringing us root beer. They will need to submit it themselves. If this interaction is now over, use the form below to mark this interaction as Complete.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Swifties' %}
      <h4>Instructions for completing Swifties</h4>
      <p>
        When the team has uploaded a video and meets the criteria of Swiftly singing, call them at {{ team.primaryPhone }} to tell them the answer is OBSESS. They will need to submit it themselves. Use the form below to mark this interaction as Complete.
      </p>
      <p>
        If the team's video does not meet the criteria (but be generous), call them to ask them to reshoot it. This interaction should remain in Scheduled.
      </p>
    {% elif puzzle.puzzleProperties.DisplayNameProperty.displayName == 'Elf/Dwarf Brawl' %}
      <h4>Instructions for completing Swifties</h4>
      <p>
        When the team has uploaded their videos and meets the criteria of using MIT and Olin appropriately, call them at {{ team.primaryPhone }} to tell them the answer is SWALLOW. They will need to submit it themselves. Use the form below to mark this interaction as Complete.
      </p>
      <p>
        If the team's videos do not meet the criteria (but be generous), call them to ask them to reshoot them. This interaction should remain in Scheduled.
      </p>
    {% else %}
      <p>
        If this interaction is now over, use the form below to mark this interaction
        as Complete.
      </p>
    {% endif %}
  {% endif %}

  <div class="line" style="width:100%; border-bottom: 1px solid black; margin: 1em auto;"></div>
  <form action="{{ url_for('interactionrequest', interaction_request_id=interaction_request.interactionRequestId) }}" method="post">
    <p>
      Response to the team (may include scheduling details like time and place):
      <input type="text" name="response" size="100" value="{{ interaction_request.response }}">
    </p>
    <select name="status">
      <option value="ASSIGNED" {% if interaction_request.status == 'ASSIGNED' %}selected{% endif %}>Assigned</option>
      <option value="SCHEDULED" {% if interaction_request.status == 'SCHEDULED' %}selected{% endif %}>Scheduled</option>
      <option value="COMPLETE" {% if interaction_request.status == 'COMPLETE' %}selected{% endif %}>Complete</option>
    </select>
    <input type="submit" value="Respond">
  </form>
  {% endif %}
  <form action="{{ url_for('interactionrequest', interaction_request_id=interaction_request.interactionRequestId) }}" method="post">
    <input type="hidden" name="status" value="REQUESTED">
    <p>
      If the assigned user is no longer able to handle this interaction request, please click
      <input type="submit" value="Unassign">.
    </p>
  </form>
  {% endif %}
</div>
{% endblock %}
