{% extends "base.html" %}
{% block page_body %}
<div class="ha-page-section">
  <div class="ha-section-row">
    <table class="ha-section-row-box">
      <tr>
        <td>Submission Time</td>
        <td>{{ submission.timestamp | datetime }}</td>
      </tr>
      <tr>
        <td>Team ID</td>
        <td>{{ submission.teamId }}</td>
      </tr>
      <tr>
        <td>Team Name</td>
        <td>{{ team.teamName }}</td>
      </tr>
      <tr>
        <td>Team Primary Phone</td>
        <td>{{ team.primaryPhone }}</td>
      </tr>
      <tr>
        <td>Team Secondary Phone</td>
        <td>{{ team.secondaryPhone }}</td>
      </tr>
      <tr>
        <td>Team Email</td>
        <td>{{ team.email }}</td>
      </tr>
      <tr>
        <td>Team Headquarters</td>
        <td>{{ team.headquarters }}</td>
      </tr>
      <tr>
        <td>Puzzle ID</td>
        <td>{{ submission.puzzleId }}</td>
      </tr>
      <tr>
        <td>Puzzle Name</td>
        <td>
          {% if 'puzzleProperties' in puzzle and 'DisplayNameProperty' in puzzle.puzzleProperties %}
          {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}
          {% else %}
          unknown
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Submitted Answer</td>
        <td>{{ submission.submission }}</td>
      </tr>
      <tr>
        <td>Correct Answer</td>
        <td>{{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}</td>
      </tr>
      <tr>
        <td>Assigned to Caller</td>
        <td>{{ submission.callerUsername }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ submission.status }}</td>
      </tr>
    </table>
    {% if past_submissions %}
    <div class="ha-section-row-box">
      <h3 class="ha-section-row-heading">Previous Submissions</h3>
      <ul>
        {% for s in past_submissions %}
        <li>
          {{ s.timestamp | datetime }} - {{ s.status }} - {{ s.submission }} - handled by {{ s.callerUsername }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
<div class="ha-page-section">
  {% if submission.status == 'SUBMITTED' %}
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="ASSIGNED">
    <input type="submit" value="Assign to Me">
  </form>
  {% elif submission.status == 'ASSIGNED' %}
  {% if submission.callerUsername == session['username'] %}
  <h3>Step 0: Figure out if the answer is correct or incorrect.</h3>
  <p>
    Differences in spacing, casing, and punctuation are allowed.
  </p>
  <table id="submission-comparison">
    <tr>
      <td>Submission</td>
      <td class="submission-entry">{{ submission.submission }}</td>
    </tr>
    <tr>
      <td>Answer</td>
      <td class="submission-entry">{{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}</td>
    </tr>
  </table>
  <h3>Step 1: Call {{ team.teamName }} at {{ team.primaryPhone }}.</h3>
  <p>
    If there's no answer, try their secondary phone number
    {{ team.secondaryPhone }} or e-mail them at {{ team.email }} to try to get
    updated contact info.
  </p>
  <p>
    Make sure you are talking to the correct team.
  </p>
  <p>
    <b>Do not say either the team&rsquo;s submission or the answer</b>. Tell the team, &ldquo;I&rsquo;m calling about your submission for the puzzle {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}. [Break for acknowledgement.] Your answer to the puzzle {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }} is [correct/incorrect].&rdquo;
  </p>
  {% if puzzle.puzzleProperties %}
    <p>
      If the team is correct, congratulate them on 
      {% if puzzle.puzzleProperties.get('SolveRewardProperty',{}).get('characterLevels',{})|length > 0 %}
      leveling up!
      {% endif %}
      {% if puzzle.puzzleProperties.get('SolveRewardProperty',{}).get('inventoryItem',None) %}
      finding an item!
      {% endif %}
      {% if puzzle.puzzleProperties.get('SolveRewardProperty',{}).get('gold',0) > 0 %}
      finding gold!
      {% endif %}
    </p>
  {% endif %}
  <h3>Step 2: After the call, mark this submission as either Correct or Incorrect.</h3>
  <script>
    function cleanAnswer(answer) {
      return answer.toLowerCase().replace(/[^a-z0-9]/g,'');
    }
    function checkCorrect(expectCorrect) {
      var submittedAnswer = cleanAnswer("{{ submission.submission }}");
      var canonicalAnswer = cleanAnswer("{{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}");
      if (expectCorrect && submittedAnswer != canonicalAnswer) {
        return confirm("Please DOUBLE CHECK that {{ submission.submission }} actually matches {{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}! If it doesn't, press cancel.");
      }
      if (!expectCorrect && submittedAnswer == canonicalAnswer) {
        return confirm("Please DOUBLE CHECK that {{ submission.submission }} does NOT MATCH {{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}! If it DOES MATCH, press cancel.");
      }
      return true;
    }
  </script>
  <form
     action="{{ url_for('submission', submission_id=submission.submissionId) }}"
     method="post"
     onsubmit="return checkCorrect(true);"
  >
    <input type="hidden" name="status" value="CORRECT">
    <input type="submit" value="Correct">
  </form>
  <form
     action="{{ url_for('submission', submission_id=submission.submissionId) }}"
     method="post"
     onsubmit="return checkCorrect(false);"
  >
    <input type="hidden" name="status" value="INCORRECT">
    <input type="submit" value="Incorrect">
  </form>
  {% endif %}
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="SUBMITTED">
    <p>
      If the assigned user is no longer able to handle this submission, please click
      <input type="submit" value="Unassign">.
    </p>
  </form>
  {% endif %}
</div>
{% endblock %}
