{% extends "base.html" %}
{% block page_body %}
<div class="ha-page-section">
  <table>
    <tr>
      <td>Submission Time</td>
      <td>{{ submission.timestamp | datetime }}</td>
    </tr>
    <tr>
      <td>Team</td>
      <td>{{ submission.teamId }}</td>
    </tr>
    <tr>
      <td>Team Primary Phone</td>
      <td>{{ team.primaryPhone }}</td>
    </tr>
    <tr>
      <td>Team Secondary Phone</td>
      <td>{{ team.secondaryPhone }}</td>
    </tr>
    <tr>
      <td>Team Email</td>
      <td>{{ team.email }}</td>
    </tr>
    <tr>
      <td>Puzzle</td>
      <td>{{ submission.puzzleId }}</td>
    </tr>
    <tr>
      <td>Submitted Answer</td>
      <td>{{ submission.submission }}</td>
    </tr>
    <tr>
      <td>Correct Answer</td>
      <td>{{ puzzle.puzzleProperties.AnswersProperty.answers[0].canonicalAnswer }}</td>
    </tr>
    <tr>
      <td>Assigned to Caller</td>
      <td>{{ submission.callerUsername }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ submission.status }}</td>
    </tr>
  </table>
  {% if submission.status == 'SUBMITTED' %}
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="ASSIGNED">
    <input type="submit" value="Claim">
  </form>
  {% elif submission.status == 'ASSIGNED' %}
  {% if submission.callerUsername == session['username'] %}
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="CORRECT">
    <input type="submit" value="Correct">
  </form>
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="INCORRECT">
    <input type="submit" value="Incorrect">
  </form>
  {% endif %}
  <form action="{{ url_for('submission', submission_id=submission.submissionId) }}" method="post">
    <input type="hidden" name="status" value="SUBMITTED">
    <input type="submit" value="Unassign">
  </form>
  {% endif %}
</div>
{% endblock %}
