{% extends "base.html" %}
{% block page_body %}
{% set editable = is_authorized('teams:update:%s' % team.teamId) %}
<div class="ha-control-boxes-container">
  <form class="ha-column-control-box" action="{{ url_for('team', team_id=team.teamId) }}" method="post">
    <span class="ha-control-box-title">
      Change Contact Info
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Team ID
        <span>{{ team.teamId }}</span>
      </label>
      <label>
        Email
        <input type="text" name="email" value="{{ team.email }}" {% if not editable %}disabled{% endif %}>
      </label>
      <label>
        Primary Phone
        <input type="text" name="primaryPhone" value="{{ team.primaryPhone }}" {% if not editable %}disabled{% endif %}>
      </label>
      <label>
        Secondary Phone
        <input type="text" name="secondaryPhone" value="{{ team.secondaryPhone }}" {% if not editable %}disabled{% endif %}>
      </label>
    </div>
    <input type="hidden" name="action" value="ChangeContactInfo">
    <input type="submit" value="Change Contact Info" {% if not editable %}disabled{% endif %}>
  </form>
  {% if is_authorized('visibilities:update:%s' % team.teamId) %}
  <form class="ha-column-control-box" action="{{ url_for('team', team_id=team.teamId) }}" method="post">
    <span class="ha-control-box-title">
      Complete Character Rescue
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Team ID
        <span>{{ team.teamId }}</span>
      </label>
    </div>
    {% for character in ['linguist', 'economist', 'chemist'] %}
    <div>
      {% set rescued = rescue_visibilities.get(character, {}).get('status', 'INVISIBLE') != 'INVISIBLE' %}
      <button type="submit" name="character" value="{{ character }}" {% if rescued %}disabled{% endif %}>Rescue the {{ character | capitalize }}</button>
    </div>
    {% endfor %}
    <input type="hidden" name="action" value="RescueCharacter">
  </form>
  <form class="ha-column-control-box" action="{{ url_for('team', team_id=team.teamId) }}" method="post">
    <span class="ha-control-box-title">
      Set Puzzle Status
    </span>
    <div class="ha-labeled-input-form">
      <label>
        Team ID
        <span>{{ team.teamId }}</span>
      </label>
      <label>
        Puzzle
        <select name="puzzleId">
          {% for puzzle in puzzles %}
          <option value="{{ puzzle.puzzleId }}">
            {% if puzzle.puzzleProperties.DisplayNameProperty %}
            {{ puzzle.puzzleProperties.DisplayNameProperty.displayName }}
            {% else %}
            {{ puzzle.puzzleId }}
            {% endif %}
          </option>
          {% endfor %}
        </select>
      </label>
    </div>
    <input type="hidden" name="action" value="SetPuzzleStatus">
    <div>
      <input type="button" value="Yes, I'm sure" onclick="document.getElementById('unlockButton').removeAttribute('disabled')">
      <input id="unlockButton" type="submit" name="actionType" value="Unlock" disabled>
    </div>
    <div>
      <input type="button" value="Yes, I'm sure" onclick="document.getElementById('solveButton').removeAttribute('disabled')">
      <input id="solveButton" type="submit" name="actionType" value="Solve" disabled>
    </div>
  </form>
  {% endif %}
</div>
{% if team.teamProperties %}
<div class="ha-page-section">
  <h3>Team Properties</h3>
  <pre>{{ team.teamProperties | tojson(indent=2) }}</pre>
</div>
{% endif %}
{% endblock %}
